/* buttons*/
a [class*="btn-"]{
	text-decoration: none;
}

[class*="btn-"] {
	display: inline-block;
	text-align: center;
	// margin: 10px 0 0;
	text-decoration: none;
	// border: 0 !important;
	// border-width: 2px;
	// border-style: solid;
}

[class*="btn-medium"] {
	width: 165px;
	font-size: 17px;
	line-height: 40px;
}

[class*="btn-large"] {
	width: 255px;
	font-size: 20px;
	line-height: 55px;
	margin-right: 20px;
	font-weight: 400;
}

[class*="btn-"][class*="-black"] {
	color: #fff !important;
	.rgba(@color-black, @color-black-transparency)
}

[class*="btn-"][class*="-white"] {
	color: #000 !important;
	.rgba(@color-white, @color-white-transparency)
}

[class*="btn-"][class*="-gray"] {
	color: #fff !important;
	.rgba(@color-gray, @color-gray-transparency)
}

[class*="btn-"][class*="-inverse"] {
	color: #000 !important;
	.rgba(@color-inverse, @color-inverse-transparency)
}

[class*="btn-"][class*="-red"] {
	color: #fff !important;
	.rgba(@color-red, @color-red-transparency)
}

[class*="btn-"][class*="-firm"] {
	color: #fff !important;
	.rgba(@color-firm, @color-firm-transparency)
}

[class*="btn-"][class*="-orange"] {
	color: #fff !important;
	.rgba(@color-orange, @color-orange-transparency)
}

[class*="btn-"][class*="-danger"] {
	color: #fff !important;
	.rgba(@color-danger, @color-danger-transparency)
}



[class*="btn-"][class*="-success"] {
	color: #fff !important;
	.rgba(@color-success, @color-success-transparency)
}

[class*="btn-"][class*="-warning"] {
	color: #fff !important;
	.rgba(@color-warning, @color-warning-transparency)
}

[class*="btn-"][class*="-violet"] {
	color: #fff !important;
	.rgba(@color-violet, @color-violet-transparency)
}

[class*="btn-"][class*="-info"] {
	color: #fff !important;
	.rgba(@color-info, @color-info-transparency)
}

[class*="btn-"][class*="-yellow"] {
	color: #fff !important;
	.rgba(@color-yellow, @color-yellow-transparency)
}

[class*="btn-"][class*="-blue"] {
	color: #fff !important;
	.rgba(@color-blue, @color-blue-transparency)
}

[class*="btn-"][class*="-green"] {
	color: #fff !important;
	.rgba(@color-green, @color-green-transparency)
}