hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

// @font-face {
//     font-family: 'Montserrat';
//     font-style: normal;
//     font-weight: 200;
//     src: url('./fonts/Montserrat-Hairline.eot');
//     src: url('./fonts/Montserrat-Hairline.eot?#iefix') format('embedded-opentype'),
// 		url('./fonts/Montserrat-Hairline.svg#MontserratHairline') format('svg'),
// 		url('./fonts/Montserrat-Hairline.woff2') format('woff2'),
// 		url('./fonts/Montserrat-Hairline.woff') format('woff'),
// 		url('./fonts/Montserrat-Hairline.ttf') format('truetype');
// }

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    src: url('./fonts/Montserrat-Light.eot');
    src: url('./fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
         url('./fonts/Montserrat-Light.svg#MontserratLight') format('svg'),
         url('./fonts/Montserrat-Light.woff2') format('woff2'),
         url('./fonts/Montserrat-Light.woff') format('woff'),
         url('./fonts/Montserrat-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/Montserrat-Regular.eot');
    src: url('./fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Montserrat-Regular.svg#Montserratregular') format('svg'),
         url('./fonts/Montserrat-Regular.woff2') format('woff2'),
         url('./fonts/Montserrat-Regular.woff') format('woff'),
         url('./fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 600;
    font-style: normal;
    src: url('./fonts/Montserrat-Bold.eot');
    src: url('./fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
         url('./fonts/Montserrat-Bold.svg#MontserratBold') format('svg'),
         url('./fonts/Montserrat-Bold.woff2') format('woff2'),
         url('./fonts/Montserrat-Bold.woff') format('woff'),
         url('./fonts/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('./fonts/Montserrat-Black.eot');
    src: url('./fonts/Montserrat-Black.eot?#iefix') format('embedded-opentype'),
         url('./fonts/Montserrat-Black.svg#MontserratBlack') format('svg'),
         url('./fonts/Montserrat-Black.woff2') format('woff2'),
         url('./fonts/Montserrat-Black.woff') format('woff'),
         url('./fonts/Montserrat-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'encode_sans_condensed';
    src: url('./fonts/encodesanscondensed-300-light.eot');
    src: url('./fonts/encodesanscondensed-300-light.eot?#iefix') format('embedded-opentype'),
         url('./fonts/encodesanscondensed-300-light.woff') format('woff'),
         url('./fonts/encodesanscondensed-300-light.ttf') format('truetype'),
         url('./fonts/encodesanscondensed-300-light.svg#encode_sans_condensedlight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'encode_sans_condensed';
    src: url('./fonts/encodesanscondensed-400-regular.eot');
    src: url('./fonts/encodesanscondensed-400-regular.eot?#iefix') format('embedded-opentype'),
         url('./fonts/encodesanscondensed-400-regular.woff') format('woff'),
         url('./fonts/encodesanscondensed-400-regular.ttf') format('truetype'),
         url('./fonts/encodesanscondensed-400-regular.svg#encode_sans_condensedregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'encode_sans_condensed';
    src: url('./fonts/encodesanscondensed-700-bold.eot');
    src: url('./fonts/encodesanscondensed-700-bold.eot?#iefix') format('embedded-opentype'),
         url('./fonts/encodesanscondensed-700-bold.woff') format('woff'),
         url('./fonts/encodesanscondensed-700-bold.ttf') format('truetype'),
         url('./fonts/encodesanscondensed-700-bold.svg#encode_sans_condensedbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'encode_sans_narrow';
    src: url('./fonts/encodesansnarrow-700-bold.eot');
    src: url('./fonts/encodesansnarrow-700-bold.eot?#iefix') format('embedded-opentype'),
         url('./fonts/encodesansnarrow-700-bold.woff') format('woff'),
         url('./fonts/encodesansnarrow-700-bold.ttf') format('truetype'),
         url('./fonts/encodesansnarrow-700-bold.svg#encode_sans_narrowbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'encode_sans_narrow';
    src: url('./fonts/encodesansnarrow-300-light.eot');
    src: url('./fonts/encodesansnarrow-300-light.eot?#iefix') format('embedded-opentype'),
         url('./fonts/encodesansnarrow-300-light.woff') format('woff'),
         url('./fonts/encodesansnarrow-300-light.ttf') format('truetype'),
         url('./fonts/encodesansnarrow-300-light.svg#encode_sans_narrowlight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'encode_sans_narrow';
    src: url('./fonts/encodesansnarrow-400-regular.eot');
    src: url('./fonts/encodesansnarrow-400-regular.eot?#iefix') format('embedded-opentype'),
         url('./fonts/encodesansnarrow-400-regular.woff') format('woff'),
         url('./fonts/encodesansnarrow-400-regular.ttf') format('truetype'),
         url('./fonts/encodesansnarrow-400-regular.svg#encode_sans_narrowregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'encode_sans_normal';
    src: url('./fonts/encodesansnormal-700-bold.eot');
    src: url('./fonts/encodesansnormal-700-bold.eot?#iefix') format('embedded-opentype'),
         url('./fonts/encodesansnormal-700-bold.woff') format('woff'),
         url('./fonts/encodesansnormal-700-bold.ttf') format('truetype'),
         url('./fonts/encodesansnormal-700-bold.svg#encode_sans_normalbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'encode_sans_normal';
    src: url('./fonts/encodesansnormal-300-light.eot');
    src: url('./fonts/encodesansnormal-300-light.eot?#iefix') format('embedded-opentype'),
         url('./fonts/encodesansnormal-300-light.woff') format('woff'),
         url('./fonts/encodesansnormal-300-light.ttf') format('truetype'),
         url('./fonts/encodesansnormal-300-light.svg#encode_sans_normallight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'encode_sans_normal';
    src: url('./fonts/encodesansnormal-400-regular.eot');
    src: url('./fonts/encodesansnormal-400-regular.eot?#iefix') format('embedded-opentype'),
         url('./fonts/encodesansnormal-400-regular.woff') format('woff'),
         url('./fonts/encodesansnormal-400-regular.ttf') format('truetype'),
         url('./fonts/encodesansnormal-400-regular.svg#encode_sans_normalregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

