/**

DEFAULT OPT
po nastaveni redux pojde do zlvast / aby mohlo v pripade dojebania less

**/
@opt-font-size: 18px;

@opt-font-weight-regular: 	 400;
@opt-font-weight-bold: 		 700;
@opt-font-weight-black: 	 900;

@opt-color-base:  #000;
// @opt-color-white: #fff;
// @opt-color-black: #000;
// @opt-color-firm: #3399ff;
// @opt-color-gray: #666;
@opt-color-light-gray: #666;


// @opt-color-inverse: #fff;
// @opt-color-inverse-transparency: 0.7;



//@opt-color-success: darkgreen; /* For success messaging/notifications */
//@opt-color-success-transparency: 0.7;

//@opt-color-danger: red; /* For negative messaging/notificatin */
//@opt-color-danger-transparency: 0.7; /* For negative messaging/notificatin */

// @opt-color-warning: yellow; /* For warnings */
// @opt-color-warning-transparency: 0.7; /* For warnings */

// @opt-color-info: lightblue; /* For notifications */
@opt-color-link-text: blue; /* Default link color */
@opt-color-link-text-hover: navy; /* Link color on hover */

// @opt-color-orange: #ff441f;
// @opt-color-orange-transparency: 0.7;

// @color-orange-lighter:;
// @color-orange-darker:;

// @opt-color-yellow:#ffd933;
// @opt-color-yellow-transparency: 0.7;
// @color-yellow-lighter:;
// @color-yellow-darker:;

// @opt-color-red: red;
// @opt-color-red-transparency: 0.7;

// @opt-color-blue: #0000ff;
// @opt-color-blue-transparency: 0.7;

// @color-blue-lighter:;
// @color-blue-darker:;

// @opt-color-green:#00eb56;
// @opt-color-green-transparency: 0.7;

// @color-green-lighter:;
// @color-green-darker:;

// @opt-color-violet: #c83891;
// @opt-color-violet-transparency: 0.7;

// @opt-color-violet-lighter: #c83891;
// @opt-color-violet-transparency: 0.7;
// @color-violet-darker:;
/**
---------
**/
@color-base: @opt-color-base; /* Base color(used for the default text color) */
@color-white-transparency: @opt-color-white-transparency;

@color-white: @opt-color-white;
@color-white-transparency: @opt-color-white-transparency;

@color-black: @opt-color-black;
@color-black-transparency: @opt-color-black-transparency;

@color-firm: @opt-color-firm; /* Used for highlighting */
@color-firm-transparency: @opt-color-firm-transparency; /* Used for highlighting */

@color-gray: @opt-color-gray; /* Just a shade of gray */
@color-gray-transparency: @opt-color-gray-transparency; /* Just a shade of gray */

// @color-light-gray: @opt-color-light-gray; /* Another shade of gray */
// @color-light-gray-transparency: @opt-color-light-gray-transparency; /* Just a shade of gray */

@color-inverse: @opt-color-inverse; /* For highlighting when background color is @base for example */
@color-inverse-transparency: @opt-color-inverse-transparency; /* For highlighting when background color is @base for example */

@color-success: @opt-color-success; /* For success messaging/notifications */
@color-success-transparency: @opt-color-success-transparency; /* For success messaging/notifications */

@color-danger: @opt-color-danger; /* For negative messaging/notificatin */
@color-danger-transparency: @opt-color-danger-transparency; /* For negative messaging/notificatin */

@color-warning: @opt-color-warning; /* For warnings */
@color-warning-transparency: @opt-color-warning-transparency; /* For warnings */

@color-info: @opt-color-info; /* For notifications */
@color-info-transparency: @opt-color-info-transparency; /* For notifications */

@color-link-text: @opt-color-link-text; /* Default link color */
@color-link-text-hover: @opt-color-link-text-hover; /* Link color on hover */

@color-orange: @opt-color-orange;
@color-orange-transparency: @opt-color-orange-transparency;

@color-yellow: @opt-color-yellow;
@color-yellow-transparency: @opt-color-yellow-transparency;

@color-red: @opt-color-red;
@color-red-transparency: @opt-color-red-transparency;

@color-blue: @opt-color-blue;
@color-blue-transparency: @opt-color-blue-transparency;

@color-green: @opt-color-green;
@color-green-transparency: @opt-color-green-transparency;

@color-violet: @opt-color-violet;
@color-violet-transparency: @opt-color-violet-transparency;

// @color-violet-lighter: @opt-color-violet-lighter;
// @color-violet-lighter-transparency: @opt-color-violet-lighter-transparency;

// Typography
@font-size-base:			@opt-font-size;
@font-line-height-base:		@opt-font-size * 1.55;
@font-line-height-prop:		1.5em;

// Font Weight
@font-weight-regular: 	@opt-font-weight-regular;
@font-weight-bold: 		@opt-font-weight-bold;
@font-weight-black: 	@opt-font-weight-black;

// Font Family
@font-default:        	"Open Sans", "Helvetica Neue", "Helvetica", Arial, serif;
@font-code:        		Menlo, Monaco, "Courier New", monospace;

// Font sizing
// Based on XXpx font-size and XXpx line-height
@font-size-large:		@font-size-base * 1.25; // ~18px
@font-size-small:		@font-size-base * 0.85; // ~12px
@font-size-mini:		@font-size-base * 0.75; // ~11px

@h1-size:          		@font-size-base * 2.8;
@h2-size:          		@font-size-base * 2.4;
@h3-size:          		@font-size-base * 1.8;
@h4-size:          		@font-size-base * 1.4;
@h5-size:          		@font-size-base * 1.1;
@h6-size:          		@font-size-base;

// Link
// @link-text
// @link-text-active:
