[class*="wrapper-"][class*="-black"] {
	color: #fff !important;
	.rgba(@color-black, @color-black-transparency)
}

[class*="wrapper-"][class*="-black"] {
	color: #fff !important;
	.rgba(@color-black, @color-black-transparency)
}

[class*="wrapper-"][class*="-white"] {
	color: #000 !important;
	.rgba(@color-white, @color-white-transparency)
}

[class*="wrapper-"][class*="-gray"] {
	color: #fff !important;
	.rgba(@color-gray, @color-gray-transparency)
}

[class*="wrapper-"][class*="-inverse"] {
	color: #000 !important;
	.rgba(@color-inverse, @color-inverse-transparency)
}

[class*="wrapper-"][class*="-red"] {
	color: #fff !important;
	.rgba(@color-red, @color-red-transparency)
}

[class*="wrapper-"][class*="-firm"] {
	color: #fff !important;
	.rgba(@color-firm, @color-firm-transparency)
}

[class*="wrapper-"][class*="-orange"] {
	color: #fff !important;
	.rgba(@color-orange, @color-orange-transparency)
}

[class*="wrapper-"][class*="-danger"] {
	color: #fff !important;
	.rgba(@color-danger, @color-danger-transparency)
}

[class*="wrapper-"][class*="-success"] {
	color: #fff !important;
	.rgba(@color-success, @color-success-transparency)
}

[class*="wrapper-"][class*="-warning"] {
	color: #fff !important;
	.rgba(@color-warning, @color-warning-transparency)
}

[class*="wrapper-"][class*="-violet"] {
	color: #fff !important;
	.rgba(@color-violet, @color-violet-transparency)
}

[class*="wrapper-"][class*="-info"] {
	color: @color-blue;
	.rgba(@color-info, @color-info-transparency)
}

[class*="wrapper-"][class*="-yellow"] {
	color: #fff !important;
	.rgba(@color-yellow, @color-yellow-transparency)
}

[class*="wrapper-"][class*="-blue"] {
	color: #fff !important;
	.rgba(@color-blue, @color-blue-transparency)
}

[class*="wrapper-"][class*="-green"] {
	color: #fff !important;
	.rgba(@color-green, @color-green-transparency)
}