@import multiple '../../theme.config';
.ui.button {
  cursor: pointer;
  display: inline-block;
  min-height: 1em;
  outline: none;
  border: none;
  vertical-align: ;
  background: ;
  color: ;
  font-family: ;
  margin: 0em   0em;
  padding:   ;
  text-transform: ;
  text-shadow: ;
  font-weight: ;
  line-height: ;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  border-radius: ;
  box-shadow: ;
  user-select: none;
  transition: ;
  will-change: ;
  -webkit-tap-highlight-color: ;
}
.ui.button:hover {
  background-color: ;
  background-image: ;
  box-shadow: ;
  color: ;
}
.ui.button:hover .icon {
  opacity: ;
}
.ui.button:focus {
  background-color: ;
  color: ;
  background-image:  !important;
  box-shadow:  !important;
}
.ui.button:focus .icon {
  opacity: ;
}
.ui.button:active,
.ui.active.button:active {
  background-color: ;
  background-image: ;
  color: ;
  box-shadow: ;
}
.ui.active.button {
  background-color: ;
  background-image: ;
  box-shadow: ;
  color: ;
}
.ui.active.button:hover {
  background-color: ;
  background-image: ;
  color: ;
}
.ui.active.button:active {
  background-color: ;
  background-image: ;
}
.ui.loading.loading.loading.loading.loading.loading.button {
  position: relative;
  cursor: default;
  text-shadow: none !important;
  color: transparent !important;
  opacity: ;
  pointer-events: ;
  transition: ;
}
.ui.loading.button:before {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  margin: ;
  width: ;
  height: ;
  border-radius: ;
  border:  solid ;
}
.ui.loading.button:after {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  margin: ;
  width: ;
  height: ;
  animation: button-spin  linear;
  animation-iteration-count: infinite;
  border-radius: ;
  border-color:  transparent transparent;
  border-style: solid;
  border-width: ;
  box-shadow: 0px 0px 0px 1px transparent;
}
.ui.labeled.icon.loading.button .icon {
  background-color: transparent;
  box-shadow: none;
}
@keyframes button-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.ui.basic.loading.button:not(.inverted):before {
  border-color: ;
}
.ui.basic.loading.button:not(.inverted):after {
  border-top-color: ;
}
.ui.buttons .disabled.button,
.ui.disabled.button,
.ui.button:disabled,
.ui.disabled.button:hover,
.ui.disabled.active.button {
  cursor: default;
  opacity:  !important;
  background-image: none !important;
  box-shadow: none !important;
  pointer-events: none;
}
.ui.basic.buttons .ui.disabled.button {
  border-color: ;
}
.ui.animated.button {
  position: relative;
  overflow: hidden;
  padding-right: 0em !important;
  vertical-align: ;
  z-index: ;
}
.ui.animated.button .content {
  will-change: transform, opacity;
}
.ui.animated.button .visible.content {
  position: relative;
  margin-right: ;
}
.ui.animated.button .hidden.content {
  position: absolute;
  width: 100%;
}
.ui.animated.button .visible.content,
.ui.animated.button .hidden.content {
  transition: right   0s;
}
.ui.animated.button .visible.content {
  left: auto;
  right: 0%;
}
.ui.animated.button .hidden.content {
  top: 50%;
  left: auto;
  right: -100%;
  margin-top: - / 2;
}
.ui.animated.button:focus .visible.content,
.ui.animated.button:hover .visible.content {
  left: auto;
  right: 200%;
}
.ui.animated.button:focus .hidden.content,
.ui.animated.button:hover .hidden.content {
  left: auto;
  right: 0%;
}
.ui.vertical.animated.button .visible.content,
.ui.vertical.animated.button .hidden.content {
  transition: top  , transform  ;
}
.ui.vertical.animated.button .visible.content {
  transform: translateY(0%);
  right: auto;
}
.ui.vertical.animated.button .hidden.content {
  top: -50%;
  left: 0%;
  right: auto;
}
.ui.vertical.animated.button:focus .visible.content,
.ui.vertical.animated.button:hover .visible.content {
  transform: translateY(200%);
  right: auto;
}
.ui.vertical.animated.button:focus .hidden.content,
.ui.vertical.animated.button:hover .hidden.content {
  top: 50%;
  right: auto;
}
.ui.fade.animated.button .visible.content,
.ui.fade.animated.button .hidden.content {
  transition: opacity  , transform  ;
}
.ui.fade.animated.button .visible.content {
  left: auto;
  right: auto;
  opacity: 1;
  transform: scale(1);
}
.ui.fade.animated.button .hidden.content {
  opacity: 0;
  left: 0%;
  right: auto;
  transform: scale();
}
.ui.fade.animated.button:focus .visible.content,
.ui.fade.animated.button:hover .visible.content {
  left: auto;
  right: auto;
  opacity: 0;
  transform: scale();
}
.ui.fade.animated.button:focus .hidden.content,
.ui.fade.animated.button:hover .hidden.content {
  left: 0%;
  right: auto;
  opacity: 1;
  transform: scale(1);
}
.ui.inverted.button {
  box-shadow: 0px 0px 0px   inset !important;
  background: transparent none;
  color: ;
  text-shadow: none !important;
}
.ui.inverted.buttons .button {
  margin: ;
}
.ui.inverted.buttons .button:first-child {
  margin-left: 0em;
}
.ui.inverted.vertical.buttons .button {
  margin: ;
}
.ui.inverted.vertical.buttons .button:first-child {
  margin-top: 0em;
}
.ui.inverted.button:hover {
  background: ;
  box-shadow: 0px 0px 0px   inset !important;
  color: ;
}
.ui.inverted.button:focus,
.ui.inverted.button.active {
  background: ;
  box-shadow: 0px 0px 0px   inset !important;
  color: ;
}
.ui.inverted.button.active:focus {
  background: ;
  box-shadow: 0px 0px 0px   inset !important;
  color: ;
}
.ui.labeled.button:not(.icon) {
  display: inline-flex;
  flex-direction: row;
  background: none !important;
  padding: 0px !important;
  border: none !important;
  box-shadow: none !important;
}
.ui.labeled.button > .button {
  margin: 0px;
}
.ui.labeled.button > .label {
  display: flex;
  align-items: ;
  margin: 0px 0px 0px  !important;
  font-size: ;
  padding: ;
  border-color: ;
}
.ui.labeled.button > .tag.label:before {
  width: ;
  height: ;
}
.ui.labeled.button:not([class*="left labeled"]) > .button {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.ui.labeled.button:not([class*="left labeled"]) > .label {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.ui[class*="left labeled"].button > .button {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.ui[class*="left labeled"].button > .label {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.ui.facebook.button {
  background-color: ;
  color: ;
  text-shadow: ;
  background-image: ;
  box-shadow: ;
}
.ui.facebook.button:hover {
  background-color: ;
  color: ;
  text-shadow: ;
}
.ui.facebook.button:active {
  background-color: ;
  color: ;
  text-shadow: ;
}
.ui.twitter.button {
  background-color: ;
  color: ;
  text-shadow: ;
  background-image: ;
  box-shadow: ;
}
.ui.twitter.button:hover {
  background-color: ;
  color: ;
  text-shadow: ;
}
.ui.twitter.button:active {
  background-color: ;
  color: ;
  text-shadow: ;
}
.ui.google.plus.button {
  background-color: ;
  color: ;
  text-shadow: ;
  background-image: ;
  box-shadow: ;
}
.ui.google.plus.button:hover {
  background-color: ;
  color: ;
  text-shadow: ;
}
.ui.google.plus.button:active {
  background-color: ;
  color: ;
  text-shadow: ;
}
.ui.linkedin.button {
  background-color: ;
  color: ;
  text-shadow: ;
}
.ui.linkedin.button:hover {
  background-color: ;
  color: ;
  text-shadow: ;
}
.ui.linkedin.button:active {
  background-color: ;
  color: ;
  text-shadow: ;
}
.ui.youtube.button {
  background-color: ;
  color: ;
  text-shadow: ;
  background-image: ;
  box-shadow: ;
}
.ui.youtube.button:hover {
  background-color: ;
  color: ;
  text-shadow: ;
}
.ui.youtube.button:active {
  background-color: ;
  color: ;
  text-shadow: ;
}
.ui.instagram.button {
  background-color: ;
  color: ;
  text-shadow: ;
  background-image: ;
  box-shadow: ;
}
.ui.instagram.button:hover {
  background-color: ;
  color: ;
  text-shadow: ;
}
.ui.instagram.button:active {
  background-color: ;
  color: ;
  text-shadow: ;
}
.ui.pinterest.button {
  background-color: ;
  color: ;
  text-shadow: ;
  background-image: ;
  box-shadow: ;
}
.ui.pinterest.button:hover {
  background-color: ;
  color: ;
  text-shadow: ;
}
.ui.pinterest.button:active {
  background-color: ;
  color: ;
  text-shadow: ;
}
.ui.vk.button {
  background-color: #4D7198;
  color: ;
  background-image: ;
  box-shadow: ;
}
.ui.vk.button:hover {
  background-color: ;
  color: ;
}
.ui.vk.button:active {
  background-color: ;
  color: ;
}
.ui.button > .icon:not(.button) {
  height: ;
  opacity: ;
  margin: ;
  transition: ;
  vertical-align: ;
  color: ;
}
.ui.button > .right.icon:not(.button) {
  margin: ;
}
.ui[class*="left floated"].buttons,
.ui[class*="left floated"].button {
  float: left;
  margin-left: 0em;
  margin-right: ;
}
.ui[class*="right floated"].buttons,
.ui[class*="right floated"].button {
  float: right;
  margin-right: 0em;
  margin-left: ;
}
.ui.compact.buttons .button,
.ui.compact.button {
  padding:   ;
}
.ui.compact.icon.buttons .button,
.ui.compact.icon.button {
  padding:   ;
}
.ui.compact.labeled.icon.buttons .button,
.ui.compact.labeled.icon.button {
  padding:   ;
}
.ui.mini.buttons .button,
.ui.mini.buttons .or,
.ui.mini.button {
  font-size: ;
}
.ui.tiny.buttons .button,
.ui.tiny.buttons .or,
.ui.tiny.button {
  font-size: ;
}
.ui.small.buttons .button,
.ui.small.buttons .or,
.ui.small.button {
  font-size: ;
}
.ui.buttons .button,
.ui.buttons .or,
.ui.button {
  font-size: ;
}
.ui.large.buttons .button,
.ui.large.buttons .or,
.ui.large.button {
  font-size: ;
}
.ui.big.buttons .button,
.ui.big.buttons .or,
.ui.big.button {
  font-size: ;
}
.ui.huge.buttons .button,
.ui.huge.buttons .or,
.ui.huge.button {
  font-size: ;
}
.ui.massive.buttons .button,
.ui.massive.buttons .or,
.ui.massive.button {
  font-size: ;
}
.ui.icon.buttons .button,
.ui.icon.button {
  padding:   ;
}
.ui.icon.buttons .button > .icon,
.ui.icon.button > .icon {
  opacity: ;
  margin: 0em;
  vertical-align: top;
}
.ui.basic.buttons .button,
.ui.basic.button {
  background:  !important;
  color:  !important;
  font-weight: ;
  border-radius: ;
  text-transform: ;
  text-shadow: none !important;
  box-shadow: ;
}
.ui.basic.buttons {
  box-shadow: ;
  border: ;
  border-radius: ;
}
.ui.basic.buttons .button {
  border-radius: 0em;
}
.ui.basic.buttons .button:hover,
.ui.basic.button:hover {
  background:  !important;
  color:  !important;
  box-shadow: ;
}
.ui.basic.buttons .button:focus,
.ui.basic.button:focus {
  background:  !important;
  color:  !important;
  box-shadow: ;
}
.ui.basic.buttons .button:active,
.ui.basic.button:active {
  background:  !important;
  color:  !important;
  box-shadow: ;
}
.ui.basic.buttons .active.button,
.ui.basic.active.button {
  background:  !important;
  box-shadow:  !important;
  color: ;
  box-shadow: ;
}
.ui.basic.buttons .active.button:hover,
.ui.basic.active.button:hover {
  background-color: ;
}
.ui.basic.buttons .button:hover {
  box-shadow:  inset;
}
.ui.basic.buttons .button:active {
  box-shadow:  inset;
}
.ui.basic.buttons .active.button {
  box-shadow:  inset;
}
.ui.basic.inverted.buttons .button,
.ui.basic.inverted.button {
  background-color: transparent !important;
  color:  !important;
  box-shadow:  !important;
}
.ui.basic.inverted.buttons .button:hover,
.ui.basic.inverted.button:hover {
  color:  !important;
  box-shadow:  !important;
}
.ui.basic.inverted.buttons .button:focus,
.ui.basic.inverted.button:focus {
  color:  !important;
  box-shadow:  !important;
}
.ui.basic.inverted.buttons .button:active,
.ui.basic.inverted.button:active {
  background-color:  !important;
  color:  !important;
  box-shadow:  !important;
}
.ui.basic.inverted.buttons .active.button,
.ui.basic.inverted.active.button {
  background-color: ;
  color: ;
  text-shadow: ;
  box-shadow: ;
}
.ui.basic.inverted.buttons .active.button:hover,
.ui.basic.inverted.active.button:hover {
  background-color: ;
  box-shadow:  !important;
}
.ui.basic.buttons .button {
  border-left: ;
  box-shadow: none;
}
.ui.basic.vertical.buttons .button {
  border-left: none;
}
.ui.basic.vertical.buttons .button {
  border-left-width: 0px;
  border-top: ;
}
.ui.basic.vertical.buttons .button:first-child {
  border-top-width: 0px;
}
.ui.labeled.icon.buttons .button,
.ui.labeled.icon.button {
  position: relative;
  padding-left:  !important;
  padding-right:  !important;
}
.ui.labeled.icon.buttons > .button > .icon,
.ui.labeled.icon.button > .icon {
  position: absolute;
  height: 100%;
  line-height: 1;
  border-radius: 0px;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
  text-align: center;
  margin: ;
  width: ;
  background-color: ;
  color: ;
  box-shadow: ;
}
.ui.labeled.icon.buttons > .button > .icon,
.ui.labeled.icon.button > .icon {
  top: 0em;
  left: 0em;
}
.ui[class*="right labeled"].icon.button {
  padding-right:  !important;
  padding-left:  !important;
}
.ui[class*="right labeled"].icon.button > .icon {
  left: auto;
  right: 0em;
  border-radius: 0px;
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
  box-shadow: ;
}
.ui.labeled.icon.buttons > .button > .icon:before,
.ui.labeled.icon.button > .icon:before,
.ui.labeled.icon.buttons > .button > .icon:after,
.ui.labeled.icon.button > .icon:after {
  display: block;
  position: absolute;
  width: 100%;
  top: 50%;
  text-align: center;
  transform: translateY(-50%);
}
.ui.labeled.icon.buttons .button > .icon {
  border-radius: 0em;
}
.ui.labeled.icon.buttons .button:first-child > .icon {
  border-top-left-radius: ;
  border-bottom-left-radius: ;
}
.ui.labeled.icon.buttons .button:last-child > .icon {
  border-top-right-radius: ;
  border-bottom-right-radius: ;
}
.ui.vertical.labeled.icon.buttons .button:first-child > .icon {
  border-radius: 0em;
  border-top-left-radius: ;
}
.ui.vertical.labeled.icon.buttons .button:last-child > .icon {
  border-radius: 0em;
  border-bottom-left-radius: ;
}
.ui.fluid[class*="left labeled"].icon.button,
.ui.fluid[class*="right labeled"].icon.button {
  padding-left:  !important;
  padding-right:  !important;
}
.ui.toggle.buttons .active.button,
.ui.buttons .button.toggle.active,
.ui.button.toggle.active {
  background-color:  !important;
  box-shadow: none !important;
  text-shadow: ;
  color:  !important;
}
.ui.button.toggle.active:hover {
  background-color:  !important;
  text-shadow: ;
  color:  !important;
}
.ui.circular.button {
  border-radius: 10em;
}
.ui.circular.button > .icon {
  width: 1em;
  vertical-align: baseline;
}
.ui.buttons .or {
  position: relative;
  width: ;
  height: ;
  z-index: ;
}
.ui.buttons .or:before {
  position: absolute;
  text-align: center;
  border-radius: ;
  content: ;
  top: 50%;
  left: 50%;
  background-color: ;
  text-shadow: ;
  margin-top: ;
  margin-left: ;
  width: ;
  height: ;
  line-height: ;
  color: ;
  font-style: ;
  font-weight: ;
  box-shadow: ;
}
.ui.buttons .or[data-text]:before {
  content: attr(data-text);
}
.ui.fluid.buttons .or {
  width: 0em !important;
}
.ui.fluid.buttons .or:after {
  display: none;
}
.ui.attached.button {
  position: relative;
  display: block;
  margin: 0em;
  border-radius: 0em;
  box-shadow:  !important;
}
.ui.attached.top.button {
  border-radius:   0em 0em;
}
.ui.attached.bottom.button {
  border-radius: 0em 0em  ;
}
.ui.left.attached.button {
  display: inline-block;
  border-left: none;
  text-align: right;
  padding-right: ;
  border-radius:  0em 0em ;
}
.ui.right.attached.button {
  display: inline-block;
  text-align: left;
  padding-left: ;
  border-radius: 0em   0em;
}
.ui.attached.buttons {
  position: relative;
  display: flex;
  border-radius: 0em;
  width: auto !important;
  z-index: ;
  margin-left: ;
  margin-right: ;
}
.ui.attached.buttons .button {
  margin: 0em;
}
.ui.attached.buttons .button:first-child {
  border-radius: 0em;
}
.ui.attached.buttons .button:last-child {
  border-radius: 0em;
}
.ui[class*="top attached"].buttons {
  margin-bottom: ;
  border-radius:   0em 0em;
}
.ui[class*="top attached"].buttons .button:first-child {
  border-radius:  0em 0em 0em;
}
.ui[class*="top attached"].buttons .button:last-child {
  border-radius: 0em  0em 0em;
}
.ui[class*="bottom attached"].buttons {
  margin-top: ;
  border-radius: 0em 0em  ;
}
.ui[class*="bottom attached"].buttons .button:first-child {
  border-radius: 0em 0em 0em ;
}
.ui[class*="bottom attached"].buttons .button:last-child {
  border-radius: 0em 0em  0em;
}
.ui[class*="left attached"].buttons {
  display: inline-flex;
  margin-right: 0em;
  margin-left: ;
  border-radius: 0em   0em;
}
.ui[class*="left attached"].buttons .button:first-child {
  margin-left: ;
  border-radius: 0em  0em 0em;
}
.ui[class*="left attached"].buttons .button:last-child {
  margin-left: ;
  border-radius: 0em 0em  0em;
}
.ui[class*="right attached"].buttons {
  display: inline-flex;
  margin-left: 0em;
  margin-right: ;
  border-radius:  0em 0em ;
}
.ui[class*="right attached"].buttons .button:first-child {
  margin-left: ;
  border-radius:  0em 0em 0em;
}
.ui[class*="right attached"].buttons .button:last-child {
  margin-left: ;
  border-radius: 0em 0em 0em ;
}
.ui.fluid.buttons,
.ui.fluid.button {
  width: 100%;
}
.ui.fluid.button {
  display: block;
}
.ui.two.buttons {
  width: 100%;
}
.ui.two.buttons > .button {
  width: 50%;
}
.ui.three.buttons {
  width: 100%;
}
.ui.three.buttons > .button {
  width: 33.333%;
}
.ui.four.buttons {
  width: 100%;
}
.ui.four.buttons > .button {
  width: 25%;
}
.ui.five.buttons {
  width: 100%;
}
.ui.five.buttons > .button {
  width: 20%;
}
.ui.six.buttons {
  width: 100%;
}
.ui.six.buttons > .button {
  width: 16.666%;
}
.ui.seven.buttons {
  width: 100%;
}
.ui.seven.buttons > .button {
  width: 14.285%;
}
.ui.eight.buttons {
  width: 100%;
}
.ui.eight.buttons > .button {
  width: 12.500%;
}
.ui.nine.buttons {
  width: 100%;
}
.ui.nine.buttons > .button {
  width: 11.11%;
}
.ui.ten.buttons {
  width: 100%;
}
.ui.ten.buttons > .button {
  width: 10%;
}
.ui.eleven.buttons {
  width: 100%;
}
.ui.eleven.buttons > .button {
  width: 9.09%;
}
.ui.twelve.buttons {
  width: 100%;
}
.ui.twelve.buttons > .button {
  width: 8.3333%;
}
.ui.fluid.vertical.buttons,
.ui.fluid.vertical.buttons > .button {
  display: flex;
  width: auto;
}
.ui.two.vertical.buttons > .button {
  height: 50%;
}
.ui.three.vertical.buttons > .button {
  height: 33.333%;
}
.ui.four.vertical.buttons > .button {
  height: 25%;
}
.ui.five.vertical.buttons > .button {
  height: 20%;
}
.ui.six.vertical.buttons > .button {
  height: 16.666%;
}
.ui.seven.vertical.buttons > .button {
  height: 14.285%;
}
.ui.eight.vertical.buttons > .button {
  height: 12.500%;
}
.ui.nine.vertical.buttons > .button {
  height: 11.11%;
}
.ui.ten.vertical.buttons > .button {
  height: 10%;
}
.ui.eleven.vertical.buttons > .button {
  height: 9.09%;
}
.ui.twelve.vertical.buttons > .button {
  height: 8.3333%;
}
.ui.black.buttons .button,
.ui.black.button {
  background-color: ;
  color: ;
  text-shadow: ;
  background-image: ;
}
.ui.black.button {
  box-shadow: ;
}
.ui.black.buttons .button:hover,
.ui.black.button:hover {
  background-color: ;
  color: ;
  text-shadow: ;
}
.ui.black.buttons .button:focus,
.ui.black.button:focus {
  background-color: ;
  color: ;
  text-shadow: ;
}
.ui.black.buttons .button:active,
.ui.black.button:active {
  background-color: ;
  color: ;
  text-shadow: ;
}
.ui.black.buttons .active.button,
.ui.black.buttons .active.button:active,
.ui.black.active.button,
.ui.black.button .active.button:active {
  background-color: ;
  color: ;
  text-shadow: ;
}
.ui.basic.black.buttons .button,
.ui.basic.black.button {
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.basic.black.buttons .button:hover,
.ui.basic.black.button:hover {
  background: transparent !important;
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.basic.black.buttons .button:focus,
.ui.basic.black.button:focus {
  background: transparent !important;
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.basic.black.buttons .active.button,
.ui.basic.black.active.button {
  background: transparent !important;
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.basic.black.buttons .button:active,
.ui.basic.black.button:active {
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.buttons:not(.vertical) > .basic.black.button:not(:first-child) {
  margin-left: -;
}
.ui.inverted.black.buttons .button,
.ui.inverted.black.button {
  background-color: transparent;
  box-shadow: 0px 0px 0px   inset !important;
  color: ;
}
.ui.inverted.black.buttons .button:hover,
.ui.inverted.black.button:hover,
.ui.inverted.black.buttons .button:focus,
.ui.inverted.black.button:focus,
.ui.inverted.black.buttons .button.active,
.ui.inverted.black.button.active,
.ui.inverted.black.buttons .button:active,
.ui.inverted.black.button:active {
  box-shadow: none !important;
  color: ;
}
.ui.inverted.black.buttons .button:hover,
.ui.inverted.black.button:hover {
  background-color: ;
}
.ui.inverted.black.buttons .button:focus,
.ui.inverted.black.button:focus {
  background-color: ;
}
.ui.inverted.black.buttons .active.button,
.ui.inverted.black.active.button {
  background-color: ;
}
.ui.inverted.black.buttons .button:active,
.ui.inverted.black.button:active {
  background-color: ;
}
.ui.inverted.black.basic.buttons .button,
.ui.inverted.black.buttons .basic.button,
.ui.inverted.black.basic.button {
  background-color: transparent;
  box-shadow:  !important;
  color:  !important;
}
.ui.inverted.black.basic.buttons .button:hover,
.ui.inverted.black.buttons .basic.button:hover,
.ui.inverted.black.basic.button:hover {
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.inverted.black.basic.buttons .button:focus,
.ui.inverted.black.basic.buttons .button:focus,
.ui.inverted.black.basic.button:focus {
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.inverted.black.basic.buttons .active.button,
.ui.inverted.black.buttons .basic.active.button,
.ui.inverted.black.basic.active.button {
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.inverted.black.basic.buttons .button:active,
.ui.inverted.black.buttons .basic.button:active,
.ui.inverted.black.basic.button:active {
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.grey.buttons .button,
.ui.grey.button {
  background-color: ;
  color: ;
  text-shadow: ;
  background-image: ;
}
.ui.grey.button {
  box-shadow: ;
}
.ui.grey.buttons .button:hover,
.ui.grey.button:hover {
  background-color: ;
  color: ;
  text-shadow: ;
}
.ui.grey.buttons .button:focus,
.ui.grey.button:focus {
  background-color: ;
  color: ;
  text-shadow: ;
}
.ui.grey.buttons .button:active,
.ui.grey.button:active {
  background-color: ;
  color: ;
  text-shadow: ;
}
.ui.grey.buttons .active.button,
.ui.grey.buttons .active.button:active,
.ui.grey.active.button,
.ui.grey.button .active.button:active {
  background-color: ;
  color: ;
  text-shadow: ;
}
.ui.basic.grey.buttons .button,
.ui.basic.grey.button {
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.basic.grey.buttons .button:hover,
.ui.basic.grey.button:hover {
  background: transparent !important;
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.basic.grey.buttons .button:focus,
.ui.basic.grey.button:focus {
  background: transparent !important;
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.basic.grey.buttons .active.button,
.ui.basic.grey.active.button {
  background: transparent !important;
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.basic.grey.buttons .button:active,
.ui.basic.grey.button:active {
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.buttons:not(.vertical) > .basic.grey.button:not(:first-child) {
  margin-left: -;
}
.ui.inverted.grey.buttons .button,
.ui.inverted.grey.button {
  background-color: transparent;
  box-shadow: 0px 0px 0px   inset !important;
  color: ;
}
.ui.inverted.grey.buttons .button:hover,
.ui.inverted.grey.button:hover,
.ui.inverted.grey.buttons .button:focus,
.ui.inverted.grey.button:focus,
.ui.inverted.grey.buttons .button.active,
.ui.inverted.grey.button.active,
.ui.inverted.grey.buttons .button:active,
.ui.inverted.grey.button:active {
  box-shadow: none !important;
  color: ;
}
.ui.inverted.grey.buttons .button:hover,
.ui.inverted.grey.button:hover {
  background-color: ;
}
.ui.inverted.grey.buttons .button:focus,
.ui.inverted.grey.button:focus {
  background-color: ;
}
.ui.inverted.grey.buttons .active.button,
.ui.inverted.grey.active.button {
  background-color: ;
}
.ui.inverted.grey.buttons .button:active,
.ui.inverted.grey.button:active {
  background-color: ;
}
.ui.inverted.grey.basic.buttons .button,
.ui.inverted.grey.buttons .basic.button,
.ui.inverted.grey.basic.button {
  background-color: transparent;
  box-shadow:  !important;
  color:  !important;
}
.ui.inverted.grey.basic.buttons .button:hover,
.ui.inverted.grey.buttons .basic.button:hover,
.ui.inverted.grey.basic.button:hover {
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.inverted.grey.basic.buttons .button:focus,
.ui.inverted.grey.basic.buttons .button:focus,
.ui.inverted.grey.basic.button:focus {
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.inverted.grey.basic.buttons .active.button,
.ui.inverted.grey.buttons .basic.active.button,
.ui.inverted.grey.basic.active.button {
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.inverted.grey.basic.buttons .button:active,
.ui.inverted.grey.buttons .basic.button:active,
.ui.inverted.grey.basic.button:active {
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.brown.buttons .button,
.ui.brown.button {
  background-color: ;
  color: ;
  text-shadow: ;
  background-image: ;
}
.ui.brown.button {
  box-shadow: ;
}
.ui.brown.buttons .button:hover,
.ui.brown.button:hover {
  background-color: ;
  color: ;
  text-shadow: ;
}
.ui.brown.buttons .button:focus,
.ui.brown.button:focus {
  background-color: ;
  color: ;
  text-shadow: ;
}
.ui.brown.buttons .button:active,
.ui.brown.button:active {
  background-color: ;
  color: ;
  text-shadow: ;
}
.ui.brown.buttons .active.button,
.ui.brown.buttons .active.button:active,
.ui.brown.active.button,
.ui.brown.button .active.button:active {
  background-color: ;
  color: ;
  text-shadow: ;
}
.ui.basic.brown.buttons .button,
.ui.basic.brown.button {
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.basic.brown.buttons .button:hover,
.ui.basic.brown.button:hover {
  background: transparent !important;
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.basic.brown.buttons .button:focus,
.ui.basic.brown.button:focus {
  background: transparent !important;
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.basic.brown.buttons .active.button,
.ui.basic.brown.active.button {
  background: transparent !important;
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.basic.brown.buttons .button:active,
.ui.basic.brown.button:active {
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.buttons:not(.vertical) > .basic.brown.button:not(:first-child) {
  margin-left: -;
}
.ui.inverted.brown.buttons .button,
.ui.inverted.brown.button {
  background-color: transparent;
  box-shadow: 0px 0px 0px   inset !important;
  color: ;
}
.ui.inverted.brown.buttons .button:hover,
.ui.inverted.brown.button:hover,
.ui.inverted.brown.buttons .button:focus,
.ui.inverted.brown.button:focus,
.ui.inverted.brown.buttons .button.active,
.ui.inverted.brown.button.active,
.ui.inverted.brown.buttons .button:active,
.ui.inverted.brown.button:active {
  box-shadow: none !important;
  color: ;
}
.ui.inverted.brown.buttons .button:hover,
.ui.inverted.brown.button:hover {
  background-color: ;
}
.ui.inverted.brown.buttons .button:focus,
.ui.inverted.brown.button:focus {
  background-color: ;
}
.ui.inverted.brown.buttons .active.button,
.ui.inverted.brown.active.button {
  background-color: ;
}
.ui.inverted.brown.buttons .button:active,
.ui.inverted.brown.button:active {
  background-color: ;
}
.ui.inverted.brown.basic.buttons .button,
.ui.inverted.brown.buttons .basic.button,
.ui.inverted.brown.basic.button {
  background-color: transparent;
  box-shadow:  !important;
  color:  !important;
}
.ui.inverted.brown.basic.buttons .button:hover,
.ui.inverted.brown.buttons .basic.button:hover,
.ui.inverted.brown.basic.button:hover {
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.inverted.brown.basic.buttons .button:focus,
.ui.inverted.brown.basic.buttons .button:focus,
.ui.inverted.brown.basic.button:focus {
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.inverted.brown.basic.buttons .active.button,
.ui.inverted.brown.buttons .basic.active.button,
.ui.inverted.brown.basic.active.button {
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.inverted.brown.basic.buttons .button:active,
.ui.inverted.brown.buttons .basic.button:active,
.ui.inverted.brown.basic.button:active {
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.blue.buttons .button,
.ui.blue.button {
  background-color: ;
  color: ;
  text-shadow: ;
  background-image: ;
}
.ui.blue.button {
  box-shadow: ;
}
.ui.blue.buttons .button:hover,
.ui.blue.button:hover {
  background-color: ;
  color: ;
  text-shadow: ;
}
.ui.blue.buttons .button:focus,
.ui.blue.button:focus {
  background-color: ;
  color: ;
  text-shadow: ;
}
.ui.blue.buttons .button:active,
.ui.blue.button:active {
  background-color: ;
  color: ;
  text-shadow: ;
}
.ui.blue.buttons .active.button,
.ui.blue.buttons .active.button:active,
.ui.blue.active.button,
.ui.blue.button .active.button:active {
  background-color: ;
  color: ;
  text-shadow: ;
}
.ui.basic.blue.buttons .button,
.ui.basic.blue.button {
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.basic.blue.buttons .button:hover,
.ui.basic.blue.button:hover {
  background: transparent !important;
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.basic.blue.buttons .button:focus,
.ui.basic.blue.button:focus {
  background: transparent !important;
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.basic.blue.buttons .active.button,
.ui.basic.blue.active.button {
  background: transparent !important;
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.basic.blue.buttons .button:active,
.ui.basic.blue.button:active {
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.buttons:not(.vertical) > .basic.blue.button:not(:first-child) {
  margin-left: -;
}
.ui.inverted.blue.buttons .button,
.ui.inverted.blue.button {
  background-color: transparent;
  box-shadow: 0px 0px 0px   inset !important;
  color: ;
}
.ui.inverted.blue.buttons .button:hover,
.ui.inverted.blue.button:hover,
.ui.inverted.blue.buttons .button:focus,
.ui.inverted.blue.button:focus,
.ui.inverted.blue.buttons .button.active,
.ui.inverted.blue.button.active,
.ui.inverted.blue.buttons .button:active,
.ui.inverted.blue.button:active {
  box-shadow: none !important;
  color: ;
}
.ui.inverted.blue.buttons .button:hover,
.ui.inverted.blue.button:hover {
  background-color: ;
}
.ui.inverted.blue.buttons .button:focus,
.ui.inverted.blue.button:focus {
  background-color: ;
}
.ui.inverted.blue.buttons .active.button,
.ui.inverted.blue.active.button {
  background-color: ;
}
.ui.inverted.blue.buttons .button:active,
.ui.inverted.blue.button:active {
  background-color: ;
}
.ui.inverted.blue.basic.buttons .button,
.ui.inverted.blue.buttons .basic.button,
.ui.inverted.blue.basic.button {
  background-color: transparent;
  box-shadow:  !important;
  color:  !important;
}
.ui.inverted.blue.basic.buttons .button:hover,
.ui.inverted.blue.buttons .basic.button:hover,
.ui.inverted.blue.basic.button:hover {
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.inverted.blue.basic.buttons .button:focus,
.ui.inverted.blue.basic.buttons .button:focus,
.ui.inverted.blue.basic.button:focus {
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.inverted.blue.basic.buttons .active.button,
.ui.inverted.blue.buttons .basic.active.button,
.ui.inverted.blue.basic.active.button {
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.inverted.blue.basic.buttons .button:active,
.ui.inverted.blue.buttons .basic.button:active,
.ui.inverted.blue.basic.button:active {
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.green.buttons .button,
.ui.green.button {
  background-color: ;
  color: ;
  text-shadow: ;
  background-image: ;
}
.ui.green.button {
  box-shadow: ;
}
.ui.green.buttons .button:hover,
.ui.green.button:hover {
  background-color: ;
  color: ;
  text-shadow: ;
}
.ui.green.buttons .button:focus,
.ui.green.button:focus {
  background-color: ;
  color: ;
  text-shadow: ;
}
.ui.green.buttons .button:active,
.ui.green.button:active {
  background-color: ;
  color: ;
  text-shadow: ;
}
.ui.green.buttons .active.button,
.ui.green.buttons .active.button:active,
.ui.green.active.button,
.ui.green.button .active.button:active {
  background-color: ;
  color: ;
  text-shadow: ;
}
.ui.basic.green.buttons .button,
.ui.basic.green.button {
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.basic.green.buttons .button:hover,
.ui.basic.green.button:hover {
  background: transparent !important;
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.basic.green.buttons .button:focus,
.ui.basic.green.button:focus {
  background: transparent !important;
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.basic.green.buttons .active.button,
.ui.basic.green.active.button {
  background: transparent !important;
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.basic.green.buttons .button:active,
.ui.basic.green.button:active {
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.buttons:not(.vertical) > .basic.green.button:not(:first-child) {
  margin-left: -;
}
.ui.inverted.green.buttons .button,
.ui.inverted.green.button {
  background-color: transparent;
  box-shadow: 0px 0px 0px   inset !important;
  color: ;
}
.ui.inverted.green.buttons .button:hover,
.ui.inverted.green.button:hover,
.ui.inverted.green.buttons .button:focus,
.ui.inverted.green.button:focus,
.ui.inverted.green.buttons .button.active,
.ui.inverted.green.button.active,
.ui.inverted.green.buttons .button:active,
.ui.inverted.green.button:active {
  box-shadlightOw: none !important;
  color: ;
}
.ui.inverted.green.buttons .button:hover,
.ui.inverted.green.button:hover {
  background-color: ;
}
.ui.inverted.green.buttons .button:focus,
.ui.inverted.green.button:focus {
  background-color: ;
}
.ui.inverted.green.buttons .active.button,
.ui.inverted.green.active.button {
  background-color: ;
}
.ui.inverted.green.buttons .button:active,
.ui.inverted.green.button:active {
  background-color: ;
}
.ui.inverted.green.basic.buttons .button,
.ui.inverted.green.buttons .basic.button,
.ui.inverted.green.basic.button {
  background-color: transparent;
  box-shadow:  !important;
  color:  !important;
}
.ui.inverted.green.basic.buttons .button:hover,
.ui.inverted.green.buttons .basic.button:hover,
.ui.inverted.green.basic.button:hover {
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.inverted.green.basic.buttons .button:focus,
.ui.inverted.green.basic.buttons .button:focus,
.ui.inverted.green.basic.button:focus {
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.inverted.green.basic.buttons .active.button,
.ui.inverted.green.buttons .basic.active.button,
.ui.inverted.green.basic.active.button {
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.inverted.green.basic.buttons .button:active,
.ui.inverted.green.buttons .basic.button:active,
.ui.inverted.green.basic.button:active {
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.orange.buttons .button,
.ui.orange.button {
  background-color: ;
  color: ;
  text-shadow: ;
  background-image: ;
}
.ui.orange.button {
  box-shadow: ;
}
.ui.orange.buttons .button:hover,
.ui.orange.button:hover {
  background-color: ;
  color: ;
  text-shadow: ;
}
.ui.orange.buttons .button:focus,
.ui.orange.button:focus {
  background-color: ;
  color: ;
  text-shadow: ;
}
.ui.orange.buttons .button:active,
.ui.orange.button:active {
  background-color: ;
  color: ;
  text-shadow: ;
}
.ui.orange.buttons .active.button,
.ui.orange.buttons .active.button:active,
.ui.orange.active.button,
.ui.orange.button .active.button:active {
  background-color: ;
  color: ;
  text-shadow: ;
}
.ui.basic.orange.buttons .button,
.ui.basic.orange.button {
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.basic.orange.buttons .button:hover,
.ui.basic.orange.button:hover {
  background: transparent !important;
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.basic.orange.buttons .button:focus,
.ui.basic.orange.button:focus {
  background: transparent !important;
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.basic.orange.buttons .active.button,
.ui.basic.orange.active.button {
  background: transparent !important;
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.basic.orange.buttons .button:active,
.ui.basic.orange.button:active {
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.buttons:not(.vertical) > .basic.orange.button:not(:first-child) {
  margin-left: -;
}
.ui.inverted.orange.buttons .button,
.ui.inverted.orange.button {
  background-color: transparent;
  box-shadow: 0px 0px 0px   inset !important;
  color: ;
}
.ui.inverted.orange.buttons .button:hover,
.ui.inverted.orange.button:hover,
.ui.inverted.orange.buttons .button:focus,
.ui.inverted.orange.button:focus,
.ui.inverted.orange.buttons .button.active,
.ui.inverted.orange.button.active,
.ui.inverted.orange.buttons .button:active,
.ui.inverted.orange.button:active {
  box-shadow: none !important;
  color: ;
}
.ui.inverted.orange.buttons .button:hover,
.ui.inverted.orange.button:hover {
  background-color: ;
}
.ui.inverted.orange.buttons .button:focus,
.ui.inverted.orange.button:focus {
  background-color: ;
}
.ui.inverted.orange.buttons .active.button,
.ui.inverted.orange.active.button {
  background-color: ;
}
.ui.inverted.orange.buttons .button:active,
.ui.inverted.orange.button:active {
  background-color: ;
}
.ui.inverted.orange.basic.buttons .button,
.ui.inverted.orange.buttons .basic.button,
.ui.inverted.orange.basic.button {
  background-color: transparent;
  box-shadow:  !important;
  color:  !important;
}
.ui.inverted.orange.basic.buttons .button:hover,
.ui.inverted.orange.buttons .basic.button:hover,
.ui.inverted.orange.basic.button:hover {
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.inverted.orange.basic.buttons .button:focus,
.ui.inverted.orange.basic.buttons .button:focus,
.ui.inverted.orange.basic.button:focus {
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.inverted.orange.basic.buttons .active.button,
.ui.inverted.orange.buttons .basic.active.button,
.ui.inverted.orange.basic.active.button {
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.inverted.orange.basic.buttons .button:active,
.ui.inverted.orange.buttons .basic.button:active,
.ui.inverted.orange.basic.button:active {
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.pink.buttons .button,
.ui.pink.button {
  background-color: ;
  color: ;
  text-shadow: ;
  background-image: ;
}
.ui.pink.button {
  box-shadow: ;
}
.ui.pink.buttons .button:hover,
.ui.pink.button:hover {
  background-color: ;
  color: ;
  text-shadow: ;
}
.ui.pink.buttons .button:focus,
.ui.pink.button:focus {
  background-color: ;
  color: ;
  text-shadow: ;
}
.ui.pink.buttons .button:active,
.ui.pink.button:active {
  background-color: ;
  color: ;
  text-shadow: ;
}
.ui.pink.buttons .active.button,
.ui.pink.buttons .active.button:active,
.ui.pink.active.button,
.ui.pink.button .active.button:active {
  background-color: ;
  color: ;
  text-shadow: ;
}
.ui.basic.pink.buttons .button,
.ui.basic.pink.button {
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.basic.pink.buttons .button:hover,
.ui.basic.pink.button:hover {
  background: transparent !important;
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.basic.pink.buttons .button:focus,
.ui.basic.pink.button:focus {
  background: transparent !important;
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.basic.pink.buttons .active.button,
.ui.basic.pink.active.button {
  background: transparent !important;
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.basic.pink.buttons .button:active,
.ui.basic.pink.button:active {
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.buttons:not(.vertical) > .basic.pink.button:not(:first-child) {
  margin-left: -;
}
.ui.inverted.pink.buttons .button,
.ui.inverted.pink.button {
  background-color: transparent;
  box-shadow: 0px 0px 0px   inset !important;
  color: ;
}
.ui.inverted.pink.buttons .button:hover,
.ui.inverted.pink.button:hover,
.ui.inverted.pink.buttons .button:focus,
.ui.inverted.pink.button:focus,
.ui.inverted.pink.buttons .button.active,
.ui.inverted.pink.button.active,
.ui.inverted.pink.buttons .button:active,
.ui.inverted.pink.button:active {
  box-shadow: none !important;
  color: ;
}
.ui.inverted.pink.buttons .button:hover,
.ui.inverted.pink.button:hover {
  background-color: ;
}
.ui.inverted.pink.buttons .button:focus,
.ui.inverted.pink.button:focus {
  background-color: ;
}
.ui.inverted.pink.buttons .active.button,
.ui.inverted.pink.active.button {
  background-color: ;
}
.ui.inverted.pink.buttons .button:active,
.ui.inverted.pink.button:active {
  background-color: ;
}
.ui.inverted.pink.basic.buttons .button,
.ui.inverted.pink.buttons .basic.button,
.ui.inverted.pink.basic.button {
  background-color: transparent;
  box-shadow:  !important;
  color:  !important;
}
.ui.inverted.pink.basic.buttons .button:hover,
.ui.inverted.pink.buttons .basic.button:hover,
.ui.inverted.pink.basic.button:hover {
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.inverted.pink.basic.buttons .button:focus,
.ui.inverted.pink.basic.buttons .button:focus,
.ui.inverted.pink.basic.button:focus {
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.inverted.pink.basic.buttons .active.button,
.ui.inverted.pink.buttons .basic.active.button,
.ui.inverted.pink.basic.active.button {
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.inverted.pink.basic.buttons .button:active,
.ui.inverted.pink.buttons .basic.button:active,
.ui.inverted.pink.basic.button:active {
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.violet.buttons .button,
.ui.violet.button {
  background-color: ;
  color: ;
  text-shadow: ;
  background-image: ;
}
.ui.violet.button {
  box-shadow: ;
}
.ui.violet.buttons .button:hover,
.ui.violet.button:hover {
  background-color: ;
  color: ;
  text-shadow: ;
}
.ui.violet.buttons .button:focus,
.ui.violet.button:focus {
  background-color: ;
  color: ;
  text-shadow: ;
}
.ui.violet.buttons .button:active,
.ui.violet.button:active {
  background-color: ;
  color: ;
  text-shadow: ;
}
.ui.violet.buttons .active.button,
.ui.violet.buttons .active.button:active,
.ui.violet.active.button,
.ui.violet.button .active.button:active {
  background-color: ;
  color: ;
  text-shadow: ;
}
.ui.basic.violet.buttons .button,
.ui.basic.violet.button {
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.basic.violet.buttons .button:hover,
.ui.basic.violet.button:hover {
  background: transparent !important;
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.basic.violet.buttons .button:focus,
.ui.basic.violet.button:focus {
  background: transparent !important;
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.basic.violet.buttons .active.button,
.ui.basic.violet.active.button {
  background: transparent !important;
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.basic.violet.buttons .button:active,
.ui.basic.violet.button:active {
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.buttons:not(.vertical) > .basic.violet.button:not(:first-child) {
  margin-left: -;
}
.ui.inverted.violet.buttons .button,
.ui.inverted.violet.button {
  background-color: transparent;
  box-shadow: 0px 0px 0px   inset !important;
  color: ;
}
.ui.inverted.violet.buttons .button:hover,
.ui.inverted.violet.button:hover,
.ui.inverted.violet.buttons .button:focus,
.ui.inverted.violet.button:focus,
.ui.inverted.violet.buttons .button.active,
.ui.inverted.violet.button.active,
.ui.inverted.violet.buttons .button:active,
.ui.inverted.violet.button:active {
  box-shadow: none !important;
  color: ;
}
.ui.inverted.violet.buttons .button:hover,
.ui.inverted.violet.button:hover {
  background-color: ;
}
.ui.inverted.violet.buttons .button:focus,
.ui.inverted.violet.button:focus {
  background-color: ;
}
.ui.inverted.violet.buttons .active.button,
.ui.inverted.violet.active.button {
  background-color: ;
}
.ui.inverted.violet.buttons .button:active,
.ui.inverted.violet.button:active {
  background-color: ;
}
.ui.inverted.violet.basic.buttons .button,
.ui.inverted.violet.buttons .basic.button,
.ui.inverted.violet.basic.button {
  background-color: transparent;
  box-shadow:  !important;
  color:  !important;
}
.ui.inverted.violet.basic.buttons .button:hover,
.ui.inverted.violet.buttons .basic.button:hover,
.ui.inverted.violet.basic.button:hover {
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.inverted.violet.basic.buttons .button:focus,
.ui.inverted.violet.basic.buttons .button:focus,
.ui.inverted.violet.basic.button:focus {
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.inverted.violet.basic.buttons .active.button,
.ui.inverted.violet.buttons .basic.active.button,
.ui.inverted.violet.basic.active.button {
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.inverted.violet.basic.buttons .button:active,
.ui.inverted.violet.buttons .basic.button:active,
.ui.inverted.violet.basic.button:active {
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.purple.buttons .button,
.ui.purple.button {
  background-color: ;
  color: ;
  text-shadow: ;
  background-image: ;
}
.ui.purple.button {
  box-shadow: ;
}
.ui.purple.buttons .button:hover,
.ui.purple.button:hover {
  background-color: ;
  color: ;
  text-shadow: ;
}
.ui.purple.buttons .button:focus,
.ui.purple.button:focus {
  background-color: ;
  color: ;
  text-shadow: ;
}
.ui.purple.buttons .button:active,
.ui.purple.button:active {
  background-color: ;
  color: ;
  text-shadow: ;
}
.ui.purple.buttons .active.button,
.ui.purple.buttons .active.button:active,
.ui.purple.active.button,
.ui.purple.button .active.button:active {
  background-color: ;
  color: ;
  text-shadow: ;
}
.ui.basic.purple.buttons .button,
.ui.basic.purple.button {
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.basic.purple.buttons .button:hover,
.ui.basic.purple.button:hover {
  background: transparent !important;
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.basic.purple.buttons .button:focus,
.ui.basic.purple.button:focus {
  background: transparent !important;
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.basic.purple.buttons .active.button,
.ui.basic.purple.active.button {
  background: transparent !important;
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.basic.purple.buttons .button:active,
.ui.basic.purple.button:active {
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.buttons:not(.vertical) > .basic.purple.button:not(:first-child) {
  margin-left: -;
}
.ui.inverted.purple.buttons .button,
.ui.inverted.purple.button {
  background-color: transparent;
  box-shadow: 0px 0px 0px   inset !important;
  color: ;
}
.ui.inverted.purple.buttons .button:hover,
.ui.inverted.purple.button:hover,
.ui.inverted.purple.buttons .button:focus,
.ui.inverted.purple.button:focus,
.ui.inverted.purple.buttons .button.active,
.ui.inverted.purple.button.active,
.ui.inverted.purple.buttons .button:active,
.ui.inverted.purple.button:active {
  box-shadow: none !important;
  color: ;
}
.ui.inverted.purple.buttons .button:hover,
.ui.inverted.purple.button:hover {
  background-color: ;
}
.ui.inverted.purple.buttons .button:focus,
.ui.inverted.purple.button:focus {
  background-color: ;
}
.ui.inverted.purple.buttons .active.button,
.ui.inverted.purple.active.button {
  background-color: ;
}
.ui.inverted.purple.buttons .button:active,
.ui.inverted.purple.button:active {
  background-color: ;
}
.ui.inverted.purple.basic.buttons .button,
.ui.inverted.purple.buttons .basic.button,
.ui.inverted.purple.basic.button {
  background-color: transparent;
  box-shadow:  !important;
  color:  !important;
}
.ui.inverted.purple.basic.buttons .button:hover,
.ui.inverted.purple.buttons .basic.button:hover,
.ui.inverted.purple.basic.button:hover {
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.inverted.purple.basic.buttons .button:focus,
.ui.inverted.purple.basic.buttons .button:focus,
.ui.inverted.purple.basic.button:focus {
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.inverted.purple.basic.buttons .active.button,
.ui.inverted.purple.buttons .basic.active.button,
.ui.inverted.purple.basic.active.button {
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.inverted.purple.basic.buttons .button:active,
.ui.inverted.purple.buttons .basic.button:active,
.ui.inverted.purple.basic.button:active {
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.red.buttons .button,
.ui.red.button {
  background-color: ;
  color: ;
  text-shadow: ;
  background-image: ;
}
.ui.red.button {
  box-shadow: ;
}
.ui.red.buttons .button:hover,
.ui.red.button:hover {
  background-color: ;
  color: ;
  text-shadow: ;
}
.ui.red.buttons .button:focus,
.ui.red.button:focus {
  background-color: ;
  color: ;
  text-shadow: ;
}
.ui.red.buttons .button:active,
.ui.red.button:active {
  background-color: ;
  color: ;
  text-shadow: ;
}
.ui.red.buttons .active.button,
.ui.red.buttons .active.button:active,
.ui.red.active.button,
.ui.red.button .active.button:active {
  background-color: ;
  color: ;
  text-shadow: ;
}
.ui.basic.red.buttons .button,
.ui.basic.red.button {
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.basic.red.buttons .button:hover,
.ui.basic.red.button:hover {
  background: transparent !important;
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.basic.red.buttons .button:focus,
.ui.basic.red.button:focus {
  background: transparent !important;
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.basic.red.buttons .active.button,
.ui.basic.red.active.button {
  background: transparent !important;
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.basic.red.buttons .button:active,
.ui.basic.red.button:active {
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.buttons:not(.vertical) > .basic.red.button:not(:first-child) {
  margin-left: -;
}
.ui.inverted.red.buttons .button,
.ui.inverted.red.button {
  background-color: transparent;
  box-shadow: 0px 0px 0px   inset !important;
  color: ;
}
.ui.inverted.red.buttons .button:hover,
.ui.inverted.red.button:hover,
.ui.inverted.red.buttons .button:focus,
.ui.inverted.red.button:focus,
.ui.inverted.red.buttons .button.active,
.ui.inverted.red.button.active,
.ui.inverted.red.buttons .button:active,
.ui.inverted.red.button:active {
  box-shadow: none !important;
  color: ;
}
.ui.inverted.red.buttons .button:hover,
.ui.inverted.red.button:hover {
  background-color: ;
}
.ui.inverted.red.buttons .button:focus,
.ui.inverted.red.button:focus {
  background-color: ;
}
.ui.inverted.red.buttons .active.button,
.ui.inverted.red.active.button {
  background-color: ;
}
.ui.inverted.red.buttons .button:active,
.ui.inverted.red.button:active {
  background-color: ;
}
.ui.inverted.red.basic.buttons .button,
.ui.inverted.red.buttons .basic.button,
.ui.inverted.red.basic.button {
  background-color: transparent;
  box-shadow:  !important;
  color:  !important;
}
.ui.inverted.red.basic.buttons .button:hover,
.ui.inverted.red.buttons .basic.button:hover,
.ui.inverted.red.basic.button:hover {
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.inverted.red.basic.buttons .button:focus,
.ui.inverted.red.basic.buttons .button:focus,
.ui.inverted.red.basic.button:focus {
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.inverted.red.basic.buttons .active.button,
.ui.inverted.red.buttons .basic.active.button,
.ui.inverted.red.basic.active.button {
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.inverted.red.basic.buttons .button:active,
.ui.inverted.red.buttons .basic.button:active,
.ui.inverted.red.basic.button:active {
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.teal.buttons .button,
.ui.teal.button {
  background-color: ;
  color: ;
  text-shadow: ;
  background-image: ;
}
.ui.teal.button {
  box-shadow: ;
}
.ui.teal.buttons .button:hover,
.ui.teal.button:hover {
  background-color: ;
  color: ;
  text-shadow: ;
}
.ui.teal.buttons .button:focus,
.ui.teal.button:focus {
  background-color: ;
  color: ;
  text-shadow: ;
}
.ui.teal.buttons .button:active,
.ui.teal.button:active {
  background-color: ;
  color: ;
  text-shadow: ;
}
.ui.teal.buttons .active.button,
.ui.teal.buttons .active.button:active,
.ui.teal.active.button,
.ui.teal.button .active.button:active {
  background-color: ;
  color: ;
  text-shadow: ;
}
.ui.basic.teal.buttons .button,
.ui.basic.teal.button {
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.basic.teal.buttons .button:hover,
.ui.basic.teal.button:hover {
  background: transparent !important;
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.basic.teal.buttons .button:focus,
.ui.basic.teal.button:focus {
  background: transparent !important;
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.basic.teal.buttons .active.button,
.ui.basic.teal.active.button {
  background: transparent !important;
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.basic.teal.buttons .button:active,
.ui.basic.teal.button:active {
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.buttons:not(.vertical) > .basic.teal.button:not(:first-child) {
  margin-left: -;
}
.ui.inverted.teal.buttons .button,
.ui.inverted.teal.button {
  background-color: transparent;
  box-shadow: 0px 0px 0px   inset !important;
  color: ;
}
.ui.inverted.teal.buttons .button:hover,
.ui.inverted.teal.button:hover,
.ui.inverted.teal.buttons .button:focus,
.ui.inverted.teal.button:focus,
.ui.inverted.teal.buttons .button.active,
.ui.inverted.teal.button.active,
.ui.inverted.teal.buttons .button:active,
.ui.inverted.teal.button:active {
  box-shadow: none !important;
  color: ;
}
.ui.inverted.teal.buttons .button:hover,
.ui.inverted.teal.button:hover {
  background-color: ;
}
.ui.inverted.teal.buttons .button:focus,
.ui.inverted.teal.button:focus {
  background-color: ;
}
.ui.inverted.teal.buttons .active.button,
.ui.inverted.teal.active.button {
  background-color: ;
}
.ui.inverted.teal.buttons .button:active,
.ui.inverted.teal.button:active {
  background-color: ;
}
.ui.inverted.teal.basic.buttons .button,
.ui.inverted.teal.buttons .basic.button,
.ui.inverted.teal.basic.button {
  background-color: transparent;
  box-shadow:  !important;
  color:  !important;
}
.ui.inverted.teal.basic.buttons .button:hover,
.ui.inverted.teal.buttons .basic.button:hover,
.ui.inverted.teal.basic.button:hover {
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.inverted.teal.basic.buttons .button:focus,
.ui.inverted.teal.basic.buttons .button:focus,
.ui.inverted.teal.basic.button:focus {
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.inverted.teal.basic.buttons .active.button,
.ui.inverted.teal.buttons .basic.active.button,
.ui.inverted.teal.basic.active.button {
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.inverted.teal.basic.buttons .button:active,
.ui.inverted.teal.buttons .basic.button:active,
.ui.inverted.teal.basic.button:active {
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.olive.buttons .button,
.ui.olive.button {
  background-color: ;
  color: ;
  text-shadow: ;
  background-image: ;
}
.ui.olive.button {
  box-shadow: ;
}
.ui.olive.buttons .button:hover,
.ui.olive.button:hover {
  background-color: ;
  color: ;
  text-shadow: ;
}
.ui.olive.buttons .button:focus,
.ui.olive.button:focus {
  background-color: ;
  color: ;
  text-shadow: ;
}
.ui.olive.buttons .button:active,
.ui.olive.button:active {
  background-color: ;
  color: ;
  text-shadow: ;
}
.ui.olive.buttons .active.button,
.ui.olive.buttons .active.button:active,
.ui.olive.active.button,
.ui.olive.button .active.button:active {
  background-color: ;
  color: ;
  text-shadow: ;
}
.ui.basic.olive.buttons .button,
.ui.basic.olive.button {
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.basic.olive.buttons .button:hover,
.ui.basic.olive.button:hover {
  background: transparent !important;
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.basic.olive.buttons .button:focus,
.ui.basic.olive.button:focus {
  background: transparent !important;
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.basic.olive.buttons .active.button,
.ui.basic.olive.active.button {
  background: transparent !important;
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.basic.olive.buttons .button:active,
.ui.basic.olive.button:active {
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.buttons:not(.vertical) > .basic.olive.button:not(:first-child) {
  margin-left: -;
}
.ui.inverted.olive.buttons .button,
.ui.inverted.olive.button {
  background-color: transparent;
  box-shadow: 0px 0px 0px   inset !important;
  color: ;
}
.ui.inverted.olive.buttons .button:hover,
.ui.inverted.olive.button:hover,
.ui.inverted.olive.buttons .button:focus,
.ui.inverted.olive.button:focus,
.ui.inverted.olive.buttons .button.active,
.ui.inverted.olive.button.active,
.ui.inverted.olive.buttons .button:active,
.ui.inverted.olive.button:active {
  box-shadow: none !important;
  color: ;
}
.ui.inverted.olive.buttons .button:hover,
.ui.inverted.olive.button:hover {
  background-color: ;
}
.ui.inverted.olive.buttons .button:focus,
.ui.inverted.olive.button:focus {
  background-color: ;
}
.ui.inverted.olive.buttons .active.button,
.ui.inverted.olive.active.button {
  background-color: ;
}
.ui.inverted.olive.buttons .button:active,
.ui.inverted.olive.button:active {
  background-color: ;
}
.ui.inverted.olive.basic.buttons .button,
.ui.inverted.olive.buttons .basic.button,
.ui.inverted.olive.basic.button {
  background-color: transparent;
  box-shadow:  !important;
  color:  !important;
}
.ui.inverted.olive.basic.buttons .button:hover,
.ui.inverted.olive.buttons .basic.button:hover,
.ui.inverted.olive.basic.button:hover {
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.inverted.olive.basic.buttons .button:focus,
.ui.inverted.olive.basic.buttons .button:focus,
.ui.inverted.olive.basic.button:focus {
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.inverted.olive.basic.buttons .active.button,
.ui.inverted.olive.buttons .basic.active.button,
.ui.inverted.olive.basic.active.button {
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.inverted.olive.basic.buttons .button:active,
.ui.inverted.olive.buttons .basic.button:active,
.ui.inverted.olive.basic.button:active {
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.yellow.buttons .button,
.ui.yellow.button {
  background-color: ;
  color: ;
  text-shadow: ;
  background-image: ;
}
.ui.yellow.button {
  box-shadow: ;
}
.ui.yellow.buttons .button:hover,
.ui.yellow.button:hover {
  background-color: ;
  color: ;
  text-shadow: ;
}
.ui.yellow.buttons .button:focus,
.ui.yellow.button:focus {
  background-color: ;
  color: ;
  text-shadow: ;
}
.ui.yellow.buttons .button:active,
.ui.yellow.button:active {
  background-color: ;
  color: ;
  text-shadow: ;
}
.ui.yellow.buttons .active.button,
.ui.yellow.buttons .active.button:active,
.ui.yellow.active.button,
.ui.yellow.button .active.button:active {
  background-color: ;
  color: ;
  text-shadow: ;
}
.ui.basic.yellow.buttons .button,
.ui.basic.yellow.button {
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.basic.yellow.buttons .button:hover,
.ui.basic.yellow.button:hover {
  background: transparent !important;
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.basic.yellow.buttons .button:focus,
.ui.basic.yellow.button:focus {
  background: transparent !important;
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.basic.yellow.buttons .active.button,
.ui.basic.yellow.active.button {
  background: transparent !important;
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.basic.yellow.buttons .button:active,
.ui.basic.yellow.button:active {
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.buttons:not(.vertical) > .basic.yellow.button:not(:first-child) {
  margin-left: -;
}
.ui.inverted.yellow.buttons .button,
.ui.inverted.yellow.button {
  background-color: transparent;
  box-shadow: 0px 0px 0px   inset !important;
  color: ;
}
.ui.inverted.yellow.buttons .button:hover,
.ui.inverted.yellow.button:hover,
.ui.inverted.yellow.buttons .button:focus,
.ui.inverted.yellow.button:focus,
.ui.inverted.yellow.buttons .button.active,
.ui.inverted.yellow.button.active,
.ui.inverted.yellow.buttons .button:active,
.ui.inverted.yellow.button:active {
  box-shadow: none !important;
  color: ;
}
.ui.inverted.yellow.buttons .button:hover,
.ui.inverted.yellow.button:hover {
  background-color: ;
}
.ui.inverted.yellow.buttons .button:focus,
.ui.inverted.yellow.button:focus {
  background-color: ;
}
.ui.inverted.yellow.buttons .active.button,
.ui.inverted.yellow.active.button {
  background-color: ;
}
.ui.inverted.yellow.buttons .button:active,
.ui.inverted.yellow.button:active {
  background-color: ;
}
.ui.inverted.yellow.basic.buttons .button,
.ui.inverted.yellow.buttons .basic.button,
.ui.inverted.yellow.basic.button {
  background-color: transparent;
  box-shadow:  !important;
  color:  !important;
}
.ui.inverted.yellow.basic.buttons .button:hover,
.ui.inverted.yellow.buttons .basic.button:hover,
.ui.inverted.yellow.basic.button:hover {
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.inverted.yellow.basic.buttons .button:focus,
.ui.inverted.yellow.basic.buttons .button:focus,
.ui.inverted.yellow.basic.button:focus {
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.inverted.yellow.basic.buttons .active.button,
.ui.inverted.yellow.buttons .basic.active.button,
.ui.inverted.yellow.basic.active.button {
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.inverted.yellow.basic.buttons .button:active,
.ui.inverted.yellow.buttons .basic.button:active,
.ui.inverted.yellow.basic.button:active {
  box-shadow: 0px 0px 0px   inset !important;
  color:  !important;
}
.ui.primary.buttons .button,
.ui.primary.button {
  background-color: ;
  color: ;
  text-shadow: ;
  background-image: ;
}
.ui.primary.button {
  box-shadow: ;
}
.ui.primary.buttons .button:hover,
.ui.primary.button:hover {
  background-color: ;
  color: ;
  text-shadow: ;
}
.ui.primary.buttons .button:focus,
.ui.primary.button:focus {
  background-color: ;
  color: ;
  text-shadow: ;
}
.ui.primary.buttons .button:active,
.ui.primary.button:active {
  background-color: ;
  color: ;
  text-shadow: ;
}
.ui.primary.buttons .active.button,
.ui.primary.active.button {
  background-color: ;
  color: ;
  text-shadow: ;
}
.ui.secondary.buttons .button,
.ui.secondary.button {
  background-color: ;
  color: ;
  text-shadow: ;
  background-image: ;
}
.ui.secondary.button {
  box-shadow: ;
}
.ui.secondary.buttons .button:hover,
.ui.secondary.button:hover {
  background-color: ;
  color: ;
  text-shadow: ;
}
.ui.secondary.buttons .button:focus,
.ui.secondary.button:focus {
  background-color: ;
  color: ;
  text-shadow: ;
}
.ui.secondary.buttons .button:active,
.ui.secondary.button:active {
  background-color: ;
  color: ;
  text-shadow: ;
}
.ui.secondary.buttons .active.button,
.ui.secondary.active.button {
  background-color: ;
  color: ;
  text-shadow: ;
}
.ui.positive.buttons .button,
.ui.positive.button {
  background-color:  !important;
  color: ;
  text-shadow: ;
  background-image: ;
}
.ui.positive.button {
  box-shadow: ;
}
.ui.positive.buttons .button:hover,
.ui.positive.button:hover {
  background-color:  !important;
  color: ;
  text-shadow: ;
}
.ui.positive.buttons .button:focus,
.ui.positive.button:focus {
  background-color:  !important;
  color: ;
  text-shadow: ;
}
.ui.positive.buttons .button:active,
.ui.positive.button:active {
  background-color:  !important;
  color: ;
  text-shadow: ;
}
.ui.positive.buttons .active.button,
.ui.positive.active.button,
.ui.positive.buttons .active.button:active {
  background-color: ;
  color: ;
  text-shadow: ;
}
.ui.negative.buttons .button,
.ui.negative.button {
  background-color:  !important;
  color: ;
  text-shadow: ;
  background-image: ;
}
.ui.negative.button {
  box-shadow: ;
}
.ui.negative.buttons .button:hover,
.ui.negative.button:hover {
  background-color:  !important;
  color: ;
  text-shadow: ;
}
.ui.negative.buttons .button:focus,
.ui.negative.button:focus {
  background-color:  !important;
  color: ;
  text-shadow: ;
}
.ui.negative.buttons .button:active,
.ui.negative.button:active {
  background-color:  !important;
  color: ;
  text-shadow: ;
}
.ui.negative.buttons .active.button,
.ui.negative.active.button,
.ui.negative.buttons .active.button:active {
  background-color: ;
  color: ;
  text-shadow: ;
}
.ui.buttons {
  display: inline-flex;
  flex-direction: row;
  font-size: 0em;
  vertical-align: baseline;
  margin:   0em 0em;
}
.ui.buttons:not(.basic):not(.inverted) {
  box-shadow: ;
}
.ui.buttons:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.ui.buttons .button {
  flex: 1 0 auto;
  margin: 0em;
  border-radius: 0em;
  margin: ;
}
.ui.buttons > .ui.button:not(.basic):not(.inverted),
.ui.buttons:not(.basic):not(.inverted) > .button {
  box-shadow: ;
}
.ui.buttons .button:first-child {
  border-left: none;
  margin-left: 0em;
  border-top-left-radius: ;
  border-bottom-left-radius: ;
}
.ui.buttons .button:last-child {
  border-top-right-radius: ;
  border-bottom-right-radius: ;
}
.ui.vertical.buttons {
  display: inline-flex;
  flex-direction: column;
}
.ui.vertical.buttons .button {
  display: block;
  float: none;
  width: 100%;
  margin: ;
  box-shadow: ;
}
.ui.vertical.buttons .button:first-child,
.ui.vertical.buttons .mini.button:first-child,
.ui.vertical.buttons .tiny.button:first-child,
.ui.vertical.buttons .small.button:first-child,
.ui.vertical.buttons .massive.button:first-child,
.ui.vertical.buttons .huge.button:first-child {
  border-radius:   0px 0px;
}
.ui.vertical.buttons .button:last-child,
.ui.vertical.buttons .mini.button:last-child,
.ui.vertical.buttons .tiny.button:last-child,
.ui.vertical.buttons .small.button:last-child,
.ui.vertical.buttons .massive.button:last-child,
.ui.vertical.buttons .huge.button:last-child,
.ui.vertical.buttons .gigantic.button:last-child {
  margin-bottom: 0px;
  border-radius: 0px 0px  ;
}
