@import multiple '../../theme.config';
.ui.container {
  display: block;
  max-width:  !important;
}
@media only screen and (max-width: ) {
  .ui.container {
    width:  !important;
    margin-left:  !important;
    margin-right:  !important;
  }
  .ui.grid.container {
    width:  !important;
  }
  .ui.relaxed.grid.container {
    width:  !important;
  }
  .ui.very.relaxed.grid.container {
    width:  !important;
  }
}
@media only screen and (min-width: ) and (max-width: ) {
  .ui.container {
    width: ;
    margin-left:  !important;
    margin-right:  !important;
  }
  .ui.grid.container {
    width:  !important;
  }
  .ui.relaxed.grid.container {
    width:  !important;
  }
  .ui.very.relaxed.grid.container {
    width:  !important;
  }
}
@media only screen and (min-width: ) and (max-width: ) {
  .ui.container {
    width: ;
    margin-left:  !important;
    margin-right:  !important;
  }
  .ui.grid.container {
    width:  !important;
  }
  .ui.relaxed.grid.container {
    width:  !important;
  }
  .ui.very.relaxed.grid.container {
    width:  !important;
  }
}
@media only screen and (min-width: ) {
  .ui.container {
    width: ;
    margin-left:  !important;
    margin-right:  !important;
  }
  .ui.grid.container {
    width:  !important;
  }
  .ui.relaxed.grid.container {
    width:  !important;
  }
  .ui.very.relaxed.grid.container {
    width:  !important;
  }
}
.ui.text.container {
  font-family: ;
  max-width:  !important;
  line-height: ;
}
.ui.text.container {
  font-size: ;
}
.ui.fluid.container {
  width: 100%;
}
.ui[class*="left aligned"].container {
  text-align: left;
}
.ui[class*="center aligned"].container {
  text-align: center;
}
.ui[class*="right aligned"].container {
  text-align: right;
}
.ui.justified.container {
  text-align: justify;
  hyphens: auto;
}
