@import multiple '../../theme.config';
i.flag:not(.icon) {
  display: inline-block;
  width: ;
  height: ;
  line-height: ;
  vertical-align: ;
  margin: 0em  0em 0em;
  text-decoration: inherit;
  speak: none;
  font-smoothing: antialiased;
  backface-visibility: hidden;
}
i.flag:not(.icon):before {
  display: inline-block;
  content: '';
  background: url() no-repeat -108px -1976px;
  width: ;
  height: ;
}
