@import multiple '../../theme.config';
.ui.header {
  border: none;
  margin: ;
  padding:  ;
  font-family: ;
  font-weight: ;
  line-height: ;
  text-transform: ;
  color: ;
}
.ui.header:first-child {
  margin-top: ;
}
.ui.header:last-child {
  margin-bottom: ;
}
.ui.header .sub.header {
  display: block;
  font-weight: normal;
  padding: 0em;
  margin: ;
  font-size: ;
  line-height: ;
  color: ;
}
.ui.header > .icon {
  display: table-cell;
  opacity: ;
  font-size: ;
  padding-top: ;
  vertical-align: ;
}
.ui.header .icon:only-child {
  display: inline-block;
  padding: 0em;
  margin-right: ;
}
.ui.header > .image,
.ui.header > img {
  display: inline-block;
  margin-top: ;
  width: ;
  height: ;
  vertical-align: ;
}
.ui.header > .image:only-child,
.ui.header > img:only-child {
  margin-right: ;
}
.ui.header .content {
  display: inline-block;
  vertical-align: ;
}
.ui.header > img + .content,
.ui.header > .image + .content {
  padding-left: ;
  vertical-align: ;
}
.ui.header > .icon + .content {
  padding-left: ;
  display: table-cell;
  vertical-align: ;
}
.ui.header .ui.label {
  font-size: ;
  margin-left: ;
  vertical-align: ;
}
.ui.header + p {
  margin-top: ;
}
h1.ui.header {
  font-size: ;
}
h2.ui.header {
  font-size: ;
}
h3.ui.header {
  font-size: ;
}
h4.ui.header {
  font-size: ;
}
h5.ui.header {
  font-size: ;
}
h1.ui.header .sub.header {
  font-size: ;
}
h2.ui.header .sub.header {
  font-size: ;
}
h3.ui.header .sub.header {
  font-size: ;
}
h4.ui.header .sub.header {
  font-size: ;
}
h5.ui.header .sub.header {
  font-size: ;
}
.ui.huge.header {
  min-height: 1em;
  font-size: ;
}
.ui.large.header {
  font-size: ;
}
.ui.medium.header {
  font-size: ;
}
.ui.small.header {
  font-size: ;
}
.ui.tiny.header {
  font-size: ;
}
.ui.huge.header .sub.header {
  font-size: ;
}
.ui.large.header .sub.header {
  font-size: ;
}
.ui.header .sub.header {
  font-size: ;
}
.ui.small.header .sub.header {
  font-size: ;
}
.ui.tiny.header .sub.header {
  font-size: ;
}
.ui.sub.header {
  padding: 0em;
  margin-bottom: ;
  font-weight: ;
  font-size: ;
  text-transform: ;
  color: ;
}
.ui.small.sub.header {
  font-size: ;
}
.ui.sub.header {
  font-size: ;
}
.ui.large.sub.header {
  font-size: ;
}
.ui.huge.sub.header {
  font-size: ;
}
.ui.icon.header {
  display: inline-block;
  text-align: center;
  margin:  0em ;
}
.ui.icon.header:after {
  content: '';
  display: block;
  height: 0px;
  clear: both;
  visibility: hidden;
}
.ui.icon.header:first-child {
  margin-top: ;
}
.ui.icon.header .icon {
  float: none;
  display: block;
  width: auto;
  height: auto;
  line-height: 1;
  padding: 0em;
  font-size: ;
  margin: 0em auto ;
  opacity: ;
}
.ui.icon.header .content {
  display: block;
}
.ui.icon.header .circular.icon {
  font-size: ;
}
.ui.icon.header .square.icon {
  font-size: ;
}
.ui.block.icon.header .icon {
  margin-bottom: 0em;
}
.ui.icon.header.aligned {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.ui.disabled.header {
  opacity: ;
}
.ui.inverted.header {
  color: ;
}
.ui.inverted.header .sub.header {
  color: ;
}
.ui.inverted.attached.header {
  background: ;
  box-shadow: none;
  border-color: transparent;
}
.ui.inverted.block.header {
  background: ;
  box-shadow: none;
}
.ui.inverted.block.header {
  border-bottom: none;
}
.ui.red.header {
  color:  !important;
}
a.ui.red.header:hover {
  color:  !important;
}
.ui.red.dividing.header {
  border-bottom:  solid ;
}
.ui.inverted.red.header {
  color:  !important;
}
a.ui.inverted.red.header:hover {
  color:  !important;
}
.ui.orange.header {
  color:  !important;
}
a.ui.orange.header:hover {
  color:  !important;
}
.ui.orange.dividing.header {
  border-bottom:  solid ;
}
.ui.inverted.orange.header {
  color:  !important;
}
a.ui.inverted.orange.header:hover {
  color:  !important;
}
.ui.olive.header {
  color:  !important;
}
a.ui.olive.header:hover {
  color:  !important;
}
.ui.olive.dividing.header {
  border-bottom:  solid ;
}
.ui.inverted.olive.header {
  color:  !important;
}
a.ui.inverted.olive.header:hover {
  color:  !important;
}
.ui.yellow.header {
  color:  !important;
}
a.ui.yellow.header:hover {
  color:  !important;
}
.ui.yellow.dividing.header {
  border-bottom:  solid ;
}
.ui.inverted.yellow.header {
  color:  !important;
}
a.ui.inverted.yellow.header:hover {
  color:  !important;
}
.ui.green.header {
  color:  !important;
}
a.ui.green.header:hover {
  color:  !important;
}
.ui.green.dividing.header {
  border-bottom:  solid ;
}
.ui.inverted.green.header {
  color:  !important;
}
a.ui.inverted.green.header:hover {
  color:  !important;
}
.ui.teal.header {
  color:  !important;
}
a.ui.teal.header:hover {
  color:  !important;
}
.ui.teal.dividing.header {
  border-bottom:  solid ;
}
.ui.inverted.teal.header {
  color:  !important;
}
a.ui.inverted.teal.header:hover {
  color:  !important;
}
.ui.blue.header {
  color:  !important;
}
a.ui.blue.header:hover {
  color:  !important;
}
.ui.blue.dividing.header {
  border-bottom:  solid ;
}
.ui.inverted.blue.header {
  color:  !important;
}
a.ui.inverted.blue.header:hover {
  color:  !important;
}
.ui.violet.header {
  color:  !important;
}
a.ui.violet.header:hover {
  color:  !important;
}
.ui.violet.dividing.header {
  border-bottom:  solid ;
}
.ui.inverted.violet.header {
  color:  !important;
}
a.ui.inverted.violet.header:hover {
  color:  !important;
}
.ui.purple.header {
  color:  !important;
}
a.ui.purple.header:hover {
  color:  !important;
}
.ui.purple.dividing.header {
  border-bottom:  solid ;
}
.ui.inverted.purple.header {
  color:  !important;
}
a.ui.inverted.purple.header:hover {
  color:  !important;
}
.ui.pink.header {
  color:  !important;
}
a.ui.pink.header:hover {
  color:  !important;
}
.ui.pink.dividing.header {
  border-bottom:  solid ;
}
.ui.inverted.pink.header {
  color:  !important;
}
a.ui.inverted.pink.header:hover {
  color:  !important;
}
.ui.brown.header {
  color:  !important;
}
a.ui.brown.header:hover {
  color:  !important;
}
.ui.brown.dividing.header {
  border-bottom:  solid ;
}
.ui.inverted.brown.header {
  color:  !important;
}
a.ui.inverted.brown.header:hover {
  color:  !important;
}
.ui.grey.header {
  color:  !important;
}
a.ui.grey.header:hover {
  color:  !important;
}
.ui.grey.dividing.header {
  border-bottom:  solid ;
}
.ui.inverted.grey.header {
  color:  !important;
}
a.ui.inverted.grey.header:hover {
  color:  !important;
}
.ui.left.aligned.header {
  text-align: left;
}
.ui.right.aligned.header {
  text-align: right;
}
.ui.centered.header,
.ui.center.aligned.header {
  text-align: center;
}
.ui.justified.header {
  text-align: justify;
}
.ui.justified.header:after {
  display: inline-block;
  content: '';
  width: 100%;
}
.ui.floated.header,
.ui[class*="left floated"].header {
  float: left;
  margin-top: 0em;
  margin-right: ;
}
.ui[class*="right floated"].header {
  float: right;
  margin-top: 0em;
  margin-left: ;
}
.ui.fitted.header {
  padding: 0em;
}
.ui.dividing.header {
  padding-bottom: ;
  border-bottom: ;
}
.ui.dividing.header .sub.header {
  padding-bottom: ;
}
.ui.dividing.header .icon {
  margin-bottom: ;
}
.ui.inverted.dividing.header {
  border-bottom-color: ;
}
.ui.block.header {
  background: ;
  padding:  ;
  box-shadow: ;
  border: ;
  border-radius: ;
}
.ui.tiny.block.header {
  font-size: ;
}
.ui.small.block.header {
  font-size: ;
}
.ui.block.header:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
  font-size: ;
}
.ui.large.block.header {
  font-size: ;
}
.ui.huge.block.header {
  font-size: ;
}
.ui.attached.header {
  background: ;
  padding:  ;
  margin-left: ;
  margin-right: ;
  box-shadow: ;
  border: ;
}
.ui.attached.block.header {
  background: ;
}
.ui.attached:not(.top):not(.bottom).header {
  margin-top: 0em;
  margin-bottom: 0em;
  border-top: none;
  border-radius: 0em;
}
.ui.top.attached.header {
  margin-bottom: 0em;
  border-radius:   0em 0em;
}
.ui.bottom.attached.header {
  margin-top: 0em;
  border-top: none;
  border-radius: 0em 0em  ;
}
.ui.tiny.attached.header {
  font-size: ;
}
.ui.small.attached.header {
  font-size: ;
}
.ui.attached.header:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
  font-size: ;
}
.ui.large.attached.header {
  font-size: ;
}
.ui.huge.attached.header {
  font-size: ;
}
.ui.header:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
  font-size: ;
}
