@import multiple '../../theme.config';
@font-face {
  font-family: 'Icons';
  src: ;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-decoration: inherit;
  text-transform: none;
}
i.icon {
  display: inline-block;
  opacity: ;
  margin: 0em  0em 0em;
  width: ;
  height: ;
  font-family: 'Icons';
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  text-align: center;
  speak: none;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  backface-visibility: hidden;
}
i.icon:before {
  background: none !important;
}
i.icon.loading {
  height: 1em;
  line-height: 1;
  animation: icon-loading  linear infinite;
}
@keyframes icon-loading {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
i.icon.hover {
  opacity: 1 !important;
}
i.icon.active {
  opacity: 1 !important;
}
i.emphasized.icon {
  opacity: 1 !important;
}
i.disabled.icon {
  opacity:  !important;
}
i.fitted.icon {
  width: auto;
  margin: 0em;
}
i.link.icon {
  cursor: pointer;
  opacity: ;
  transition: opacity  ;
}
i.link.icon:hover {
  opacity: 1 !important;
}
i.circular.icon {
  border-radius: 500em !important;
  line-height: 1 !important;
  padding:  !important;
  box-shadow: ;
  width:  !important;
  height:  !important;
}
i.circular.inverted.icon {
  border: none;
  box-shadow: none;
}
i.flipped.icon,
i.horizontally.flipped.icon {
  transform: scale(-1,1);
}
i.vertically.flipped.icon {
  transform: scale(1,-1);
}
i.rotated.icon,
i.right.rotated.icon,
i.clockwise.rotated.icon {
  transform: rotate(90deg);
}
i.left.rotated.icon,
i.counterclockwise.rotated.icon {
  transform: rotate(-90deg);
}
i.bordered.icon {
  line-height: 1;
  vertical-align: baseline;
  width: ;
  height: ;
  padding:   !important;
  box-shadow: ;
}
i.bordered.inverted.icon {
  border: none;
  box-shadow: none;
}
i.inverted.bordered.icon,
i.inverted.circular.icon {
  background-color:  !important;
  color:  !important;
}
i.inverted.icon {
  color: ;
}
i.red.icon {
  color:  !important;
}
i.inverted.red.icon {
  color:  !important;
}
i.inverted.bordered.red.icon,
i.inverted.circular.red.icon {
  background-color:  !important;
  color:  !important;
}
i.orange.icon {
  color:  !important;
}
i.inverted.orange.icon {
  color:  !important;
}
i.inverted.bordered.orange.icon,
i.inverted.circular.orange.icon {
  background-color:  !important;
  color:  !important;
}
i.yellow.icon {
  color:  !important;
}
i.inverted.yellow.icon {
  color:  !important;
}
i.inverted.bordered.yellow.icon,
i.inverted.circular.yellow.icon {
  background-color:  !important;
  color:  !important;
}
i.olive.icon {
  color:  !important;
}
i.inverted.olive.icon {
  color:  !important;
}
i.inverted.bordered.olive.icon,
i.inverted.circular.olive.icon {
  background-color:  !important;
  color:  !important;
}
i.green.icon {
  color:  !important;
}
i.inverted.green.icon {
  color:  !important;
}
i.inverted.bordered.green.icon,
i.inverted.circular.green.icon {
  background-color:  !important;
  color:  !important;
}
i.teal.icon {
  color:  !important;
}
i.inverted.teal.icon {
  color:  !important;
}
i.inverted.bordered.teal.icon,
i.inverted.circular.teal.icon {
  background-color:  !important;
  color:  !important;
}
i.blue.icon {
  color:  !important;
}
i.inverted.blue.icon {
  color:  !important;
}
i.inverted.bordered.blue.icon,
i.inverted.circular.blue.icon {
  background-color:  !important;
  color:  !important;
}
i.violet.icon {
  color:  !important;
}
i.inverted.violet.icon {
  color:  !important;
}
i.inverted.bordered.violet.icon,
i.inverted.circular.violet.icon {
  background-color:  !important;
  color:  !important;
}
i.purple.icon {
  color:  !important;
}
i.inverted.purple.icon {
  color:  !important;
}
i.inverted.bordered.purple.icon,
i.inverted.circular.purple.icon {
  background-color:  !important;
  color:  !important;
}
i.pink.icon {
  color:  !important;
}
i.inverted.pink.icon {
  color:  !important;
}
i.inverted.bordered.pink.icon,
i.inverted.circular.pink.icon {
  background-color:  !important;
  color:  !important;
}
i.brown.icon {
  color:  !important;
}
i.inverted.brown.icon {
  color:  !important;
}
i.inverted.bordered.brown.icon,
i.inverted.circular.brown.icon {
  background-color:  !important;
  color:  !important;
}
i.grey.icon {
  color:  !important;
}
i.inverted.grey.icon {
  color:  !important;
}
i.inverted.bordered.grey.icon,
i.inverted.circular.grey.icon {
  background-color:  !important;
  color:  !important;
}
i.black.icon {
  color:  !important;
}
i.inverted.black.icon {
  color:  !important;
}
i.inverted.bordeblack.black.icon,
i.inverted.circular.black.icon {
  background-color:  !important;
  color:  !important;
}
i.mini.icon,
i.mini.icons {
  line-height: 1;
  font-size: ;
}
i.tiny.icon,
i.tiny.icons {
  line-height: 1;
  font-size: ;
}
i.small.icon,
i.small.icons {
  line-height: 1;
  font-size: ;
}
i.icon,
i.icons {
  font-size: ;
}
i.large.icon,
i.large.icons {
  line-height: 1;
  vertical-align: middle;
  font-size: ;
}
i.big.icon,
i.big.icons {
  line-height: 1;
  vertical-align: middle;
  font-size: ;
}
i.huge.icon,
i.huge.icons {
  line-height: 1;
  vertical-align: middle;
  font-size: ;
}
i.massive.icon,
i.massive.icons {
  line-height: 1;
  vertical-align: middle;
  font-size: ;
}
i.icons {
  display: inline-block;
  position: relative;
  line-height: 1;
}
i.icons .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  margin: 0em;
  margin: 0;
}
i.icons .icon:first-child {
  position: static;
  width: auto;
  height: auto;
  vertical-align: top;
  transform: none;
  margin-right: ;
}
i.icons .corner.icon {
  top: auto;
  left: auto;
  right: 0;
  bottom: 0;
  transform: none;
  font-size: ;
  text-shadow: ;
}
i.icons .inverted.corner.icon {
  text-shadow: ;
}
