@import multiple '../../theme.config';
.ui.label {
  display: inline-block;
  line-height: 1;
  vertical-align: ;
  margin:  ;
  background-color: ;
  background-image: ;
  padding:  ;
  color: ;
  text-transform: ;
  font-weight: ;
  border: ;
  border-radius: ;
  transition: ;
}
.ui.label:first-child {
  margin-left: 0em;
}
.ui.label:last-child {
  margin-right: 0em;
}
a.ui.label {
  cursor: pointer;
}
.ui.label > a {
  cursor: pointer;
  color: inherit;
  opacity: ;
  transition: ;
}
.ui.label > a:hover {
  opacity: 1;
}
.ui.label > img {
  width: auto !important;
  vertical-align: middle;
  height:  !important;
}
.ui.label > .icon {
  width: auto;
  margin: 0em  0em 0em;
}
.ui.label > .detail {
  display: inline-block;
  vertical-align: top;
  font-weight: ;
  margin-left: ;
  opacity: ;
}
.ui.label > .detail .icon {
  margin: 0em  0em 0em;
}
.ui.label > .close.icon,
.ui.label > .delete.icon {
  cursor: pointer;
  margin-right: 0em;
  margin-left: ;
  font-size: ;
  opacity: ;
  transition: ;
}
.ui.label > .delete.icon:hover {
  opacity: 1;
}
.ui.labels > .label {
  margin: 0em   0em;
}
.ui.header > .ui.label {
  margin-top: ;
}
.ui.attached.segment > .ui.top.left.attached.label,
.ui.bottom.attached.segment > .ui.top.left.attached.label {
  border-top-left-radius: 0;
}
.ui.attached.segment > .ui.top.right.attached.label,
.ui.bottom.attached.segment > .ui.top.right.attached.label {
  border-top-right-radius: 0;
}
.ui.top.attached.segment > .ui.bottom.left.attached.label {
  border-bottom-left-radius: 0;
}
.ui.top.attached.segment > .ui.bottom.right.attached.label {
  border-bottom-right-radius: 0;
}
.ui.top.attached.label:first-child + :not(.attached) {
  margin-top:  !important;
}
.ui.bottom.attached.label:first-child ~ :last-child:not(.attached) {
  margin-top: 0em;
  margin-bottom:  !important;
}
.ui.image.label {
  width: auto !important;
  margin-top: 0em;
  margin-bottom: 0em;
  max-width: 9999px;
  vertical-align: baseline;
  text-transform: none;
  background: ;
  padding: ;
  border-radius: ;
  box-shadow: ;
}
.ui.image.label img {
  display: inline-block;
  vertical-align: top;
  height: ;
  margin: ;
  border-radius: ;
}
.ui.image.label .detail {
  background: ;
  margin: ;
  padding: ;
  border-radius: 0em   0em;
}
.ui.tag.labels .label,
.ui.tag.label {
  margin-left: 1em;
  position: relative;
  padding-left: ;
  padding-right: ;
  border-radius: 0em   0em;
  transition: ;
}
.ui.tag.labels .label:before,
.ui.tag.label:before {
  position: absolute;
  transform: translateY(-50%) translateX(50%) rotate(-45deg);
  top: ;
  right: ;
  content: '';
  background-color: inherit;
  background-image: ;
  width: ;
  height: ;
  transition: ;
}
.ui.tag.labels .label:after,
.ui.tag.label:after {
  position: absolute;
  content: '';
  top: 50%;
  left: - / 2;
  margin-top: - / 2;
  background-color:  !important;
  width: ;
  height: ;
  box-shadow: ;
  border-radius: ;
}
.ui.corner.label {
  position: absolute;
  top: 0em;
  right: 0em;
  margin: 0em;
  padding: 0em;
  text-align: center;
  border-color: ;
  width: ;
  height: ;
  z-index: ;
  transition: ;
}
.ui.corner.label {
  background-color: transparent !important;
}
.ui.corner.label:after {
  position: absolute;
  content: "";
  right: 0em;
  top: 0em;
  z-index: -1;
  width: 0em;
  height: 0em;
  background-color: transparent !important;
  border-top: 0em solid transparent;
  border-right:  solid transparent;
  border-bottom:  solid transparent;
  border-left: 0em solid transparent;
  border-right-color: inherit;
  transition: ;
}
.ui.corner.label .icon {
  cursor: default;
  position: relative;
  top: ;
  left: ;
  font-size: ;
  margin: 0em;
}
.ui.left.corner.label,
.ui.left.corner.label:after {
  right: auto;
  left: 0em;
}
.ui.left.corner.label:after {
  border-top:  solid transparent;
  border-right:  solid transparent;
  border-bottom: 0em solid transparent;
  border-left: 0em solid transparent;
  border-top-color: inherit;
}
.ui.left.corner.label .icon {
  left: -;
}
.ui.segment > .ui.corner.label {
  top: -1px;
  right: -1px;
}
.ui.segment > .ui.left.corner.label {
  right: auto;
  left: -1px;
}
.ui.ribbon.label {
  position: relative;
  margin: 0em;
  min-width: max-content;
  border-radius: 0em   0em;
  border-color: ;
}
.ui.ribbon.label:after {
  position: absolute;
  content: '';
  top: 100%;
  left: 0%;
  background-color: transparent !important;
  border-style: solid;
  border-width: 0em   0em;
  border-color: transparent;
  border-right-color: inherit;
  width: 0em;
  height: 0em;
}
.ui.ribbon.label {
  left: ;
  margin-right: -;
  padding-left: ;
  padding-right: ;
}
.ui[class*="right ribbon"].label {
  left: ;
  padding-left: ;
  padding-right: ;
}
.ui[class*="right ribbon"].label {
  text-align: left;
  transform: translateX(-100%);
  border-radius:  0em 0em ;
}
.ui[class*="right ribbon"].label:after {
  left: auto;
  right: 0%;
  border-style: solid;
  border-width:   0em 0em;
  border-color: transparent;
  border-top-color: inherit;
}
.ui.image > .ribbon.label,
.ui.card .image > .ribbon.label {
  position: absolute;
  top: ;
}
.ui.card .image > .ui.ribbon.label,
.ui.image > .ui.ribbon.label {
  left: ;
}
.ui.card .image > .ui[class*="right ribbon"].label,
.ui.image > .ui[class*="right ribbon"].label {
  left: ;
  padding-left: ;
}
.ui.table td > .ui.ribbon.label {
  left: ;
}
.ui.table td > .ui[class*="right ribbon"].label {
  left: ;
  padding-left: ;
}
.ui[class*="top attached"].label,
.ui.attached.label {
  width: 100%;
  position: absolute;
  margin: 0em;
  top: 0em;
  left: 0em;
  padding:  ;
  border-radius:   0em 0em;
}
.ui[class*="bottom attached"].label {
  top: auto;
  bottom: 0em;
  border-radius: 0em 0em  ;
}
.ui[class*="top left attached"].label {
  width: auto;
  margin-top: 0em !important;
  border-radius:  0em  0em;
}
.ui[class*="top right attached"].label {
  width: auto;
  left: auto;
  right: 0em;
  border-radius: 0em  0em ;
}
.ui[class*="bottom left attached"].label {
  width: auto;
  top: auto;
  bottom: 0em;
  border-radius: 0em  0em ;
}
.ui[class*="bottom right attached"].label {
  top: auto;
  bottom: 0em;
  left: auto;
  right: 0em;
  width: auto;
  border-radius:  0em  0em;
}
.ui.label.disabled {
  opacity: 0.5;
}
a.ui.labels .label:hover,
a.ui.label:hover {
  background-color: ;
  border-color: ;
  background-image: ;
  color: ;
}
.ui.labels a.label:hover:before,
a.ui.label:hover:before {
  color: ;
}
.ui.active.label {
  background-color: ;
  border-color: ;
  background-image: ;
  color: ;
}
.ui.active.label:before {
  background-color: ;
  background-image: ;
  color: ;
}
a.ui.labels .active.label:hover,
a.ui.active.label:hover {
  background-color: ;
  border-color: ;
  background-image: ;
  color: ;
}
.ui.labels a.active.label:ActiveHover:before,
a.ui.active.label:ActiveHover:before {
  background-color: ;
  background-image: ;
  color: ;
}
.ui.labels.visible .label,
.ui.label.visible {
  display: inline-block !important;
}
.ui.labels.hidden .label,
.ui.label.hidden {
  display: none !important;
}
.ui.red.labels .label,
.ui.red.label {
  background-color:  !important;
  border-color:  !important;
  color:  !important;
}
.ui.red.labels .label:hover,
a.ui.red.label:hover {
  background-color:  !important;
  border-color:  !important;
  color:  !important;
}
.ui.red.corner.label,
.ui.red.corner.label:hover {
  background-color: transparent !important;
}
.ui.red.ribbon.label {
  border-color:  !important;
}
.ui.basic.red.label {
  background-color:  !important;
  color:  !important;
  border-color:  !important;
}
.ui.basic.red.labels a.label:hover,
a.ui.basic.red.label:hover {
  background-color:  !important;
  color:  !important;
  border-color:  !important;
}
.ui.orange.labels .label,
.ui.orange.label {
  background-color:  !important;
  border-color:  !important;
  color:  !important;
}
.ui.orange.labels .label:hover,
a.ui.orange.label:hover {
  background-color:  !important;
  border-color:  !important;
  color:  !important;
}
.ui.orange.corner.label,
.ui.orange.corner.label:hover {
  background-color: transparent !important;
}
.ui.orange.ribbon.label {
  border-color:  !important;
}
.ui.basic.orange.label {
  background-color:  !important;
  color:  !important;
  border-color:  !important;
}
.ui.basic.orange.labels a.label:hover,
a.ui.basic.orange.label:hover {
  background-color:  !important;
  color:  !important;
  border-color:  !important;
}
.ui.yellow.labels .label,
.ui.yellow.label {
  background-color:  !important;
  border-color:  !important;
  color:  !important;
}
.ui.yellow.labels .label:hover,
a.ui.yellow.label:hover {
  background-color:  !important;
  border-color:  !important;
  color:  !important;
}
.ui.yellow.corner.label,
.ui.yellow.corner.label:hover {
  background-color: transparent !important;
}
.ui.yellow.ribbon.label {
  border-color:  !important;
}
.ui.basic.yellow.label {
  background-color:  !important;
  color:  !important;
  border-color:  !important;
}
.ui.basic.yellow.labels a.label:hover,
a.ui.basic.yellow.label:hover {
  background-color:  !important;
  color:  !important;
  border-color:  !important;
}
.ui.olive.labels .label,
.ui.olive.label {
  background-color:  !important;
  border-color:  !important;
  color:  !important;
}
.ui.olive.labels .label:hover,
a.ui.olive.label:hover {
  background-color:  !important;
  border-color:  !important;
  color:  !important;
}
.ui.olive.corner.label,
.ui.olive.corner.label:hover {
  background-color: transparent !important;
}
.ui.olive.ribbon.label {
  border-color:  !important;
}
.ui.basic.olive.label {
  background-color:  !important;
  color:  !important;
  border-color:  !important;
}
.ui.basic.olive.labels a.label:hover,
a.ui.basic.olive.label:hover {
  background-color:  !important;
  color:  !important;
  border-color:  !important;
}
.ui.green.labels .label,
.ui.green.label {
  background-color:  !important;
  border-color:  !important;
  color:  !important;
}
.ui.green.labels .label:hover,
a.ui.green.label:hover {
  background-color:  !important;
  border-color:  !important;
  color:  !important;
}
.ui.green.corner.label,
.ui.green.corner.label:hover {
  background-color: transparent !important;
}
.ui.green.ribbon.label {
  border-color:  !important;
}
.ui.basic.green.label {
  background-color:  !important;
  color:  !important;
  border-color:  !important;
}
.ui.basic.green.labels a.label:hover,
a.ui.basic.green.label:hover {
  background-color:  !important;
  color:  !important;
  border-color:  !important;
}
.ui.teal.labels .label,
.ui.teal.label {
  background-color:  !important;
  border-color:  !important;
  color:  !important;
}
.ui.teal.labels .label:hover,
a.ui.teal.label:hover {
  background-color:  !important;
  border-color:  !important;
  color:  !important;
}
.ui.teal.corner.label,
.ui.teal.corner.label:hover {
  background-color: transparent !important;
}
.ui.teal.ribbon.label {
  border-color:  !important;
}
.ui.basic.teal.label {
  background-color:  !important;
  color:  !important;
  border-color:  !important;
}
.ui.basic.teal.labels a.label:hover,
a.ui.basic.teal.label:hover {
  background-color:  !important;
  color:  !important;
  border-color:  !important;
}
.ui.blue.labels .label,
.ui.blue.label {
  background-color:  !important;
  border-color:  !important;
  color:  !important;
}
.ui.blue.labels .label:hover,
a.ui.blue.label:hover {
  background-color:  !important;
  border-color:  !important;
  color:  !important;
}
.ui.blue.corner.label,
.ui.blue.corner.label:hover {
  background-color: transparent !important;
}
.ui.blue.ribbon.label {
  border-color:  !important;
}
.ui.basic.blue.label {
  background-color:  !important;
  color:  !important;
  border-color:  !important;
}
.ui.basic.blue.labels a.label:hover,
a.ui.basic.blue.label:hover {
  background-color:  !important;
  color:  !important;
  border-color:  !important;
}
.ui.violet.labels .label,
.ui.violet.label {
  background-color:  !important;
  border-color:  !important;
  color:  !important;
}
.ui.violet.labels .label:hover,
a.ui.violet.label:hover {
  background-color:  !important;
  border-color:  !important;
  color:  !important;
}
.ui.violet.corner.label,
.ui.violet.corner.label:hover {
  background-color: transparent !important;
}
.ui.violet.ribbon.label {
  border-color:  !important;
}
.ui.basic.violet.label {
  background-color:  !important;
  color:  !important;
  border-color:  !important;
}
.ui.basic.violet.labels a.label:hover,
a.ui.basic.violet.label:hover {
  background-color:  !important;
  color:  !important;
  border-color:  !important;
}
.ui.purple.labels .label,
.ui.purple.label {
  background-color:  !important;
  border-color:  !important;
  color:  !important;
}
.ui.purple.labels .label:hover,
a.ui.purple.label:hover {
  background-color:  !important;
  border-color:  !important;
  color:  !important;
}
.ui.purple.corner.label,
.ui.purple.corner.label:hover {
  background-color: transparent !important;
}
.ui.purple.ribbon.label {
  border-color:  !important;
}
.ui.basic.purple.label {
  background-color:  !important;
  color:  !important;
  border-color:  !important;
}
.ui.basic.purple.labels a.label:hover,
a.ui.basic.purple.label:hover {
  background-color:  !important;
  color:  !important;
  border-color:  !important;
}
.ui.pink.labels .label,
.ui.pink.label {
  background-color:  !important;
  border-color:  !important;
  color:  !important;
}
.ui.pink.labels .label:hover,
a.ui.pink.label:hover {
  background-color:  !important;
  border-color:  !important;
  color:  !important;
}
.ui.pink.corner.label,
.ui.pink.corner.label:hover {
  background-color: transparent !important;
}
.ui.pink.ribbon.label {
  border-color:  !important;
}
.ui.basic.pink.label {
  background-color:  !important;
  color:  !important;
  border-color:  !important;
}
.ui.basic.pink.labels a.label:hover,
a.ui.basic.pink.label:hover {
  background-color:  !important;
  color:  !important;
  border-color:  !important;
}
.ui.brown.labels .label,
.ui.brown.label {
  background-color:  !important;
  border-color:  !important;
  color:  !important;
}
.ui.brown.labels .label:hover,
a.ui.brown.label:hover {
  background-color:  !important;
  border-color:  !important;
  color:  !important;
}
.ui.brown.corner.label,
.ui.brown.corner.label:hover {
  background-color: transparent !important;
}
.ui.brown.ribbon.label {
  border-color:  !important;
}
.ui.basic.brown.label {
  background-color:  !important;
  color:  !important;
  border-color:  !important;
}
.ui.basic.brown.labels a.label:hover,
a.ui.basic.brown.label:hover {
  background-color:  !important;
  color:  !important;
  border-color:  !important;
}
.ui.grey.labels .label,
.ui.grey.label {
  background-color:  !important;
  border-color:  !important;
  color:  !important;
}
.ui.grey.labels .label:hover,
a.ui.grey.label:hover {
  background-color:  !important;
  border-color:  !important;
  color:  !important;
}
.ui.grey.corner.label,
.ui.grey.corner.label:hover {
  background-color: transparent !important;
}
.ui.grey.ribbon.label {
  border-color:  !important;
}
.ui.basic.grey.label {
  background-color:  !important;
  color:  !important;
  border-color:  !important;
}
.ui.basic.grey.labels a.label:hover,
a.ui.basic.grey.label:hover {
  background-color:  !important;
  color:  !important;
  border-color:  !important;
}
.ui.black.labels .label,
.ui.black.label {
  background-color:  !important;
  border-color:  !important;
  color:  !important;
}
.ui.black.labels .label:hover,
a.ui.black.label:hover {
  background-color:  !important;
  border-color:  !important;
  color:  !important;
}
.ui.black.corner.label,
.ui.black.corner.label:hover {
  background-color: transparent !important;
}
.ui.black.ribbon.label {
  border-color:  !important;
}
.ui.basic.black.label {
  background-color:  !important;
  color:  !important;
  border-color:  !important;
}
.ui.basic.black.labels a.label:hover,
a.ui.basic.black.label:hover {
  background-color:  !important;
  color:  !important;
  border-color:  !important;
}
.ui.basic.label {
  background: ;
  border: ;
  color: ;
  box-shadow: ;
}
a.ui.basic.label:hover {
  text-decoration: none;
  background: ;
  color: ;
  box-shadow: ;
}
.ui.basic.pointing.label:before {
  border-color: inherit;
}
.ui.label.fluid,
.ui.fluid.labels > .label {
  width: 100%;
  box-sizing: border-box;
}
.ui.inverted.labels .label,
.ui.inverted.label {
  color:  !important;
}
.ui.horizontal.labels .label,
.ui.horizontal.label {
  margin: 0em  0em 0em;
  padding:  ;
  min-width: ;
  text-align: center;
}
.ui.circular.labels .label,
.ui.circular.label {
  min-width: ;
  min-height: ;
  padding:  !important;
  line-height: 1em;
  text-align: center;
  border-radius: ;
}
.ui.empty.circular.labels .label,
.ui.empty.circular.label {
  min-width: 0em;
  min-height: 0em;
  overflow: hidden;
  width: ;
  height: ;
  vertical-align: baseline;
}
.ui.pointing.label {
  position: relative;
}
.ui.attached.pointing.label {
  position: absolute;
}
.ui.pointing.label:before {
  background-color: inherit;
  background-image: inherit;
  border-width: none;
  border-style: solid;
  border-color: ;
}
.ui.pointing.label:before {
  position: absolute;
  content: '';
  transform: rotate(45deg);
  background-image: none;
  z-index: ;
  width: ;
  height: ;
  transition: ;
}
.ui.pointing.label,
.ui[class*="pointing above"].label {
  margin-top: ;
}
.ui.pointing.label:before,
.ui[class*="pointing above"].label:before {
  border-width:  0px 0px ;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
  top: 0%;
  left: 50%;
}
.ui[class*="bottom pointing"].label,
.ui[class*="pointing below"].label {
  margin-top: 0em;
  margin-bottom: ;
}
.ui[class*="bottom pointing"].label:before,
.ui[class*="pointing below"].label:before {
  border-width: 0px   0px;
  top: auto;
  right: auto;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
  top: 100%;
  left: 50%;
}
.ui[class*="left pointing"].label {
  margin-top: 0em;
  margin-left: ;
}
.ui[class*="left pointing"].label:before {
  border-width: 0px 0px  ;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
  bottom: auto;
  right: auto;
  top: 50%;
  left: 0em;
}
.ui[class*="right pointing"].label {
  margin-top: 0em;
  margin-right: ;
}
.ui[class*="right pointing"].label:before {
  border-width:   0px 0px;
  transform: translateX(50%) translateY(-50%) rotate(45deg);
  top: 50%;
  right: 0%;
  bottom: auto;
  left: auto;
}
.ui.basic.pointing.label:before,
.ui.basic[class*="pointing above"].label:before {
  margin-top: ;
}
.ui.basic[class*="bottom pointing"].label:before,
.ui.basic[class*="pointing below"].label:before {
  bottom: auto;
  top: 100%;
  margin-top: -;
}
.ui.basic[class*="left pointing"].label:before {
  top: 50%;
  left: ;
}
.ui.basic[class*="right pointing"].label:before {
  top: 50%;
  right: ;
}
.ui.floating.label {
  position: absolute;
  z-index: ;
  top: ;
  left: 100%;
  margin: 0em 0em 0em  !important;
}
.ui.mini.labels .label,
.ui.mini.label {
  font-size: ;
}
.ui.tiny.labels .label,
.ui.tiny.label {
  font-size: ;
}
.ui.small.labels .label,
.ui.small.label {
  font-size: ;
}
.ui.labels .label,
.ui.label {
  font-size: ;
}
.ui.large.labels .label,
.ui.large.label {
  font-size: ;
}
.ui.big.labels .label,
.ui.big.label {
  font-size: ;
}
.ui.huge.labels .label,
.ui.huge.label {
  font-size: ;
}
.ui.massive.labels .label,
.ui.massive.label {
  font-size: ;
}
