@import multiple '../../theme.config';
.ui.segment {
  position: relative;
  background: ;
  box-shadow: ;
  margin: ;
  padding: ;
  border-radius: ;
  border: ;
}
.ui.segment:first-child {
  margin-top: 0em;
}
.ui.segment:last-child {
  margin-bottom: 0em;
}
.ui.vertical.segment {
  margin: 0em;
  padding-left: 0em;
  padding-right: 0em;
  background: none transparent;
  border-radius: 0px;
  box-shadow: none;
  border: none;
  border-bottom:  solid ;
}
.ui.vertical.segment:last-child {
  border-bottom: none;
}
.ui.inverted.segment > .ui.header {
  color: ;
}
.ui[class*="bottom attached"].segment > [class*="top attached"].label {
  border-top-left-radius: 0em;
  border-top-right-radius: 0em;
}
.ui[class*="top attached"].segment > [class*="bottom attached"].label {
  border-bottom-left-radius: 0em;
  border-bottom-right-radius: 0em;
}
.ui.attached.segment:not(.top):not(.bottom) > [class*="top attached"].label {
  border-top-left-radius: 0em;
  border-top-right-radius: 0em;
}
.ui.attached.segment:not(.top):not(.bottom) > [class*="bottom attached"].label {
  border-bottom-left-radius: 0em;
  border-bottom-right-radius: 0em;
}
.ui.page.grid.segment,
.ui.grid > .row > .ui.segment.column,
.ui.grid > .ui.segment.column {
  padding-top: ;
  padding-bottom: ;
}
.ui.grid.segment {
  margin: ;
  border-radius: ;
}
.ui.basic.table.segment {
  background: ;
  border: ;
  box-shadow: ;
}
.ui[class*="very basic"].table.segment {
  padding: ;
}
.ui.piled.segments,
.ui.piled.segment {
  margin:  0em;
  box-shadow: ;
  z-index: ;
}
.ui.piled.segment:first-child {
  margin-top: 0em;
}
.ui.piled.segment:last-child {
  margin-bottom: 0em;
}
.ui.piled.segments:after,
.ui.piled.segments:before,
.ui.piled.segment:after,
.ui.piled.segment:before {
  background-color: ;
  visibility: visible;
  content: '';
  display: block;
  height: 100%;
  left: 0px;
  position: absolute;
  width: 100%;
  border: ;
  box-shadow: ;
}
.ui.piled.segments:before,
.ui.piled.segment:before {
  transform: rotate(-);
  top: 0;
  z-index: -2;
}
.ui.piled.segments:after,
.ui.piled.segment:after {
  transform: rotate();
  top: 0;
  z-index: -1;
}
.ui[class*="top attached"].piled.segment {
  margin-top: ;
  margin-bottom: 0em;
}
.ui.piled.segment[class*="top attached"]:first-child {
  margin-top: 0em;
}
.ui.piled.segment[class*="bottom attached"] {
  margin-top: 0em;
  margin-bottom: ;
}
.ui.piled.segment[class*="bottom attached"]:last-child {
  margin-bottom: 0em;
}
.ui.stacked.segment {
  padding-bottom: ;
}
.ui.stacked.segments:before,
.ui.stacked.segments:after,
.ui.stacked.segment:before,
.ui.stacked.segment:after {
  content: '';
  position: absolute;
  bottom: - / 2;
  left: 0%;
  border-top: 1px solid ;
  background: ;
  width: 100%;
  height: ;
  visibility: visible;
}
.ui.stacked.segments:before,
.ui.stacked.segment:before {
  display: none;
}
.ui.tall.stacked.segments:before,
.ui.tall.stacked.segment:before {
  display: block;
  bottom: 0px;
}
.ui.stacked.inverted.segments:before,
.ui.stacked.inverted.segments:after,
.ui.stacked.inverted.segment:before,
.ui.stacked.inverted.segment:after {
  background-color: ;
  border-top: 1px solid ;
}
.ui.padded.segment {
  padding: ;
}
.ui[class*="very padded"].segment {
  padding: ;
}
.ui.compact.segment {
  display: table;
}
.ui.compact.segments {
  display: inline-flex;
}
.ui.compact.segments .segment,
.ui.segments .compact.segment {
  display: block;
  flex: 0 1 auto;
}
.ui.circular.segment {
  display: table-cell;
  padding: ;
  text-align: center;
  vertical-align: middle;
  border-radius: 500em;
}
.ui.raised.segments,
.ui.raised.segment {
  box-shadow: ;
}
.ui.segments {
  flex-direction: column;
  position: relative;
  margin: ;
  border: ;
  box-shadow: ;
  border-radius: ;
}
.ui.segments:first-child {
  margin-top: 0em;
}
.ui.segments:last-child {
  margin-bottom: 0em;
}
.ui.segments > .segment {
  top: 0px;
  bottom: 0px;
  border-radius: 0px;
  margin: ;
  width: ;
  box-shadow: ;
  border: ;
  border-top: ;
}
.ui.segments:not(.horizontal) > .segment:first-child {
  top: ;
  bottom: 0px;
  border-top: none;
  margin-top: 0em;
  margin-bottom: 0em;
  border-radius:   0em 0em;
}
.ui.segments:not(.horizontal) > .segment:last-child {
  top: ;
  bottom: 0px;
  margin-top: 0em;
  margin-bottom: 0em;
  box-shadow: ;
  border-radius: 0em 0em  ;
}
.ui.segments > .ui.segments {
  border-top: ;
  margin: ;
}
.ui.segments > .segments:first-child {
  border-top: none;
}
.ui.segments > .segment + .segments:not(.horizontal) {
  margin-top: 0em;
}
.ui.horizontal.segments {
  display: flex;
  flex-direction: row;
  background-color: transparent;
  border-radius: 0px;
  padding: 0em;
  background-color: ;
  box-shadow: ;
  margin: ;
  border-radius: ;
  border: ;
}
.ui.segments > .horizontal.segments {
  margin: 0em;
  background-color: transparent;
  border-radius: 0px;
  border: none;
  box-shadow: none;
  border-top: ;
}
.ui.horizontal.segments > .segment {
  flex: 1 1 auto;
  -ms-flex: 1 1 0px;
  margin: 0em;
  min-width: 0px;
  background-color: transparent;
  border-radius: 0px;
  border: none;
  box-shadow: none;
  border-left:  solid ;
}
.ui.segments > .horizontal.segments:first-child {
  border-top: none;
}
.ui.horizontal.segments > .segment:first-child {
  border-left: none;
}
.ui.disabled.segment {
  opacity: ;
  color: ;
}
.ui.loading.segment {
  position: relative;
  cursor: default;
  point-events: none;
  text-shadow: none !important;
  color: transparent !important;
  transition: all 0s linear;
}
.ui.loading.segment:before {
  position: absolute;
  content: '';
  top: 0%;
  left: 0%;
  background: ;
  width: 100%;
  height: 100%;
  border-radius: ;
  z-index: ;
}
.ui.loading.segment:after {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  margin: ;
  width: ;
  height: ;
  animation: segment-spin  linear;
  animation-iteration-count: infinite;
  border-radius: ;
  border-color:    ;
  border-style: solid;
  border-width: ;
  box-shadow: 0px 0px 0px 1px transparent;
  visibility: visible;
  z-index: ;
}
@keyframes segment-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.ui.basic.segment {
  background: ;
  box-shadow: ;
  border: ;
  border-radius: ;
}
.ui.clearing.segment:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.ui.red.segment:not(.inverted) {
  border-top:  solid ;
}
.ui.inverted.red.segment {
  background-color:  !important;
  color:  !important;
}
.ui.orange.segment:not(.inverted) {
  border-top:  solid ;
}
.ui.inverted.orange.segment {
  background-color:  !important;
  color:  !important;
}
.ui.yellow.segment:not(.inverted) {
  border-top:  solid ;
}
.ui.inverted.yellow.segment {
  background-color:  !important;
  color:  !important;
}
.ui.olive.segment:not(.inverted) {
  border-top:  solid ;
}
.ui.inverted.olive.segment {
  background-color:  !important;
  color:  !important;
}
.ui.green.segment:not(.inverted) {
  border-top:  solid ;
}
.ui.inverted.green.segment {
  background-color:  !important;
  color:  !important;
}
.ui.teal.segment:not(.inverted) {
  border-top:  solid ;
}
.ui.inverted.teal.segment {
  background-color:  !important;
  color:  !important;
}
.ui.blue.segment:not(.inverted) {
  border-top:  solid ;
}
.ui.inverted.blue.segment {
  background-color:  !important;
  color:  !important;
}
.ui.violet.segment:not(.inverted) {
  border-top:  solid ;
}
.ui.inverted.violet.segment {
  background-color:  !important;
  color:  !important;
}
.ui.purple.segment:not(.inverted) {
  border-top:  solid ;
}
.ui.inverted.purple.segment {
  background-color:  !important;
  color:  !important;
}
.ui.pink.segment:not(.inverted) {
  border-top:  solid ;
}
.ui.inverted.pink.segment {
  background-color:  !important;
  color:  !important;
}
.ui.brown.segment:not(.inverted) {
  border-top:  solid ;
}
.ui.inverted.brown.segment {
  background-color:  !important;
  color:  !important;
}
.ui.grey.segment:not(.inverted) {
  border-top:  solid ;
}
.ui.inverted.grey.segment {
  background-color:  !important;
  color:  !important;
}
.ui.black.segment:not(.inverted) {
  border-top:  solid ;
}
.ui.inverted.black.segment {
  background-color:  !important;
  color:  !important;
}
.ui[class*="left aligned"].segment {
  text-align: left;
}
.ui[class*="right aligned"].segment {
  text-align: right;
}
.ui[class*="center aligned"].segment {
  text-align: center;
}
.ui.floated.segment,
.ui[class*="left floated"].segment {
  float: left;
  margin-right: ;
}
.ui[class*="right floated"].segment {
  float: right;
  margin-left: ;
}
.ui.inverted.segment {
  border: none;
  box-shadow: none;
}
.ui.inverted.segment,
.ui.primary.inverted.segment {
  background: ;
  color: ;
}
.ui.inverted.segment .segment {
  color: ;
}
.ui.inverted.segment .inverted.segment {
  color: ;
}
.ui.inverted.attached.segment {
  border-color: ;
}
.ui.secondary.segment {
  background: ;
  color: ;
}
.ui.secondary.inverted.segment {
  background: ;
  color: ;
}
.ui.tertiary.segment {
  background: ;
  color: ;
}
.ui.tertiary.inverted.segment {
  background: ;
  color: ;
}
.ui.attached.segment {
  top: 0px;
  bottom: 0px;
  border-radius: 0px;
  margin: 0em ;
  width: ;
  max-width: ;
  box-shadow: ;
  border: ;
}
.ui.attached + .ui.attached.segment:not(.top) {
  border-top: none;
}
.ui[class*="top attached"].segment {
  bottom: 0px;
  margin-bottom: 0em;
  top: ;
  margin-top: ;
  border-radius:   0em 0em;
}
.ui.segment[class*="top attached"]:first-child {
  margin-top: 0em;
}
.ui.segment[class*="bottom attached"] {
  bottom: 0px;
  margin-top: 0em;
  top: ;
  margin-bottom: ;
  box-shadow: ;
  border-radius: 0em 0em  ;
}
.ui.segment[class*="bottom attached"]:last-child {
  margin-bottom: 0em;
}
