@import multiple '../../theme.config';
.ui.steps {
  display: inline-flex;
  flex-direction: row;
  align-items: stretch;
  margin: ;
  background: ;
  box-shadow: ;
  line-height: ;
  border-radius: ;
  border: ;
}
.ui.steps:first-child {
  margin-top: 0em;
}
.ui.steps:last-child {
  margin-bottom: 0em;
}
.ui.steps .step {
  position: relative;
  display: flex;
  flex: 1 0 auto;
  flex-wrap: wrap;
  flex-direction: row;
  vertical-align: middle;
  align-items: center;
  justify-content: ;
  margin:  ;
  padding:  ;
  background: ;
  color: ;
  box-shadow: ;
  border-radius: ;
  border: ;
  border-right: ;
  transition: ;
}
.ui.steps .step:after {
  display: none;
  position: absolute;
  z-index: 2;
  content: '';
  top: ;
  right: ;
  border: medium none;
  background-color: ;
  width: ;
  height: ;
  border-style: solid;
  border-color: ;
  border-width: ;
  transition: ;
  transform: translateY(-50%) translateX(50%) rotate(-45deg);
}
.ui.steps .step:first-child {
  padding-left: ;
  border-radius:  0em 0em ;
}
.ui.steps .step:last-child {
  border-radius: 0em   0em;
}
.ui.steps .step:last-child {
  border-right: none;
  margin-right: 0em;
}
.ui.steps .step:only-child {
  border-radius: ;
}
.ui.steps .step .title {
  font-family: ;
  font-size: ;
  font-weight: ;
}
.ui.steps .step > .title {
  width: 100%;
}
.ui.steps .step .description {
  font-weight: ;
  font-size: ;
  color: ;
}
.ui.steps .step > .description {
  width: 100%;
}
.ui.steps .step .title ~ .description {
  margin-top: ;
}
.ui.steps .step > .icon {
  line-height: 1;
  font-size: ;
  margin: 0em  0em 0em;
}
.ui.steps .step > .icon,
.ui.steps .step > .icon ~ .content {
  display: block;
  flex: 0 1 auto;
  align-self: ;
}
.ui.steps .step > .icon ~ .content {
  flex-grow: 1 0 auto;
}
.ui.steps:not(.vertical) .step > .icon {
  width: auto;
}
.ui.steps .link.step,
.ui.steps a.step {
  cursor: pointer;
}
.ui.ordered.steps {
  counter-reset: ordered;
}
.ui.ordered.steps .step:before {
  display: block;
  position: static;
  text-align: center;
  content: counters(ordered,".");
  align-self: ;
  margin-right: ;
  font-size: ;
  counter-increment: ordered;
  font-family: ;
  font-weight: ;
}
.ui.ordered.steps .step > * {
  display: block;
  align-self: ;
}
.ui.vertical.steps {
  display: inline-flex;
  flex-direction: column;
  overflow: visible;
}
.ui.vertical.steps .step {
  justify-content: flex-start;
  border-radius: ;
  padding:  ;
  border-right: none;
  border-bottom: ;
}
.ui.vertical.steps .step:first-child {
  padding:  ;
  border-radius:   0em 0em;
}
.ui.vertical.steps .step:last-child {
  border-bottom: none;
  border-radius: 0em 0em  ;
}
.ui.vertical.steps .step:only-child {
  border-radius: ;
}
.ui.vertical.steps .step:after {
  display: none;
}
.ui.vertical.steps .step:after {
  top: ;
  right: ;
  border-width: ;
}
.ui.vertical.steps .step:after {
  display: ;
}
.ui.vertical.steps .active.step:after {
  display: ;
}
.ui.vertical.steps .step:last-child:after {
  display: ;
}
.ui.vertical.steps .active.step:last-child:after {
  display: ;
}
@media only screen and (max-width: ) {
  .ui.steps {
    display: inline-flex;
    overflow: visible;
    flex-direction: column;
  }
  .ui.steps .step {
    width: 100% !important;
    flex-direction: column;
    border-radius: ;
    padding:  ;
  }
  .ui.steps .step:first-child {
    padding:  ;
    border-radius:   0em 0em;
  }
  .ui.steps .step:last-child {
    border-radius: 0em 0em  ;
  }
  .ui.steps .step:after {
    display: none !important;
  }
  .ui.steps .step .content {
    text-align: center;
  }
  .ui.steps .step > .icon,
  .ui.ordered.steps .step:before {
    margin: 0em 0em  0em;
  }
}
.ui.steps .link.step:hover::after,
.ui.steps .link.step:hover,
.ui.steps a.step:hover::after,
.ui.steps a.step:hover {
  background: ;
  color: ;
}
.ui.steps .link.step:active::after,
.ui.steps .link.step:active,
.ui.steps a.step:active::after,
.ui.steps a.step:active {
  background: ;
  color: ;
}
.ui.steps .step.active {
  cursor: auto;
  background: ;
}
.ui.steps .step.active:after {
  background: ;
}
.ui.steps .step.active .title {
  color: ;
}
.ui.ordered.steps .step.active:before,
.ui.steps .active.step .icon {
  color: ;
}
.ui.steps .step:after {
  display: ;
}
.ui.steps .active.step:after {
  display: ;
}
.ui.steps .step:last-child:after {
  display: ;
}
.ui.steps .active.step:last-child:after {
  display: ;
}
.ui.steps .link.active.step:hover::after,
.ui.steps .link.active.step:hover,
.ui.steps a.active.step:hover::after,
.ui.steps a.active.step:hover {
  cursor: pointer;
  background: ;
  color: ;
}
.ui.steps .step.completed > .icon:before,
.ui.ordered.steps .step.completed:before {
  color: ;
}
.ui.steps .disabled.step {
  cursor: auto;
  background: ;
  pointer-events: none;
}
.ui.steps .disabled.step,
.ui.steps .disabled.step .title,
.ui.steps .disabled.step .description {
  color: ;
}
.ui.steps .disabled.step:after {
  background: ;
}
@media only screen and (max-width: ) {
  .ui[class*="tablet stackable"].steps {
    display: inline-flex;
    overflow: visible;
    flex-direction: column;
  }
  .ui[class*="tablet stackable"].steps .step {
    flex-direction: column;
    border-radius: ;
    padding:  ;
  }
  .ui[class*="tablet stackable"].steps .step:first-child {
    padding:  ;
    border-radius:   0em 0em;
  }
  .ui[class*="tablet stackable"].steps .step:last-child {
    border-radius: 0em 0em  ;
  }
  .ui[class*="tablet stackable"].steps .step:after {
    display: none !important;
  }
  .ui[class*="tablet stackable"].steps .step .content {
    text-align: center;
  }
  .ui[class*="tablet stackable"].steps .step > .icon,
  .ui[class*="tablet stackable"].ordered.steps .step:before {
    margin: 0em 0em  0em;
  }
}
.ui.fluid.steps {
  display: flex;
  width: 100%;
}
.ui.attached.steps {
  width:  !important;
  margin: 0em  ;
  max-width: ;
  border-radius:   0em 0em;
}
.ui.attached.steps .step:first-child {
  border-radius:  0em 0em 0em;
}
.ui.attached.steps .step:last-child {
  border-radius: 0em  0em 0em;
}
.ui.bottom.attached.steps {
  margin:   0em;
  border-radius: 0em 0em  ;
}
.ui.bottom.attached.steps .step:first-child {
  border-radius: 0em 0em 0em ;
}
.ui.bottom.attached.steps .step:last-child {
  border-radius: 0em 0em  0em;
}
.ui.one.steps,
.ui.two.steps,
.ui.three.steps,
.ui.four.steps,
.ui.five.steps,
.ui.six.steps,
.ui.seven.steps,
.ui.eight.steps {
  width: 100%;
}
.ui.one.steps > .step,
.ui.two.steps > .step,
.ui.three.steps > .step,
.ui.four.steps > .step,
.ui.five.steps > .step,
.ui.six.steps > .step,
.ui.seven.steps > .step,
.ui.eight.steps > .step {
  flex-wrap: nowrap;
}
.ui.one.steps > .step {
  width: 100%;
}
.ui.two.steps > .step {
  width: 50%;
}
.ui.three.steps > .step {
  width: 33.333%;
}
.ui.four.steps > .step {
  width: 25%;
}
.ui.five.steps > .step {
  width: 20%;
}
.ui.six.steps > .step {
  width: 16.666%;
}
.ui.seven.steps > .step {
  width: 14.285%;
}
.ui.eight.steps > .step {
  width: 12.500%;
}
.ui.small.step,
.ui.small.steps .step {
  font-size: ;
}
.ui.step,
.ui.steps .step {
  font-size: ;
}
.ui.large.step,
.ui.large.steps .step {
  font-size: ;
}
