/* @group Woocommerce */

#woocommerce-coupon-data ul.wc-tabs, 
#woocommerce-product-data ul.wc-tabs, 
.woocommerce ul.wc-tabs,
#woocommerce-coupon-data ul.wc-tabs li a, 
#woocommerce-product-data ul.wc-tabs li a, 
.woocommerce ul.wc-tabs li a,
#woocommerce-coupon-data .panel-wrap, 
#woocommerce-product-data .panel-wrap.product_data,
#woocommerce-coupon-data .wc-tabs-back, #woocommerce-product-data .wc-tabs-back,
.woocommerce_order_items_wrapper table.woocommerce_order_items thead th,
#woocommerce-order-items .inside,
.woocommerce_order_items_wrapper table.woocommerce_order_items {
	border-radius: 0px;
	color: #555;
}

#woocommerce-coupon-data ul.wc-tabs li a, 
#woocommerce-product-data ul.wc-tabs li a, 
.woocommerce ul.wc-tabs li a {
	border-bottom: 1px solid rgba(255,255,255,.1) !important;
	border-top: 1px solid rgba(255,255,255,.1) !important;
}

#woocommerce-coupon-data ul.wc-tabs li.active a, 
#woocommerce-product-data ul.wc-tabs li.active a, 
.woocommerce ul.wc-tabs li.active a {
	border-color: #DFDFDF;
	background-color: #595959 !important;
	color: #fff !important;
}

.panel, .panel.woocommerce_options_panel {
	color: #555;
}

.woocommerce_order_items_wrapper table.woocommerce_order_items tbody th, 
.woocommerce_order_items_wrapper table.woocommerce_order_items td {
	border-bottom: 1px dotted rgba(255,255,255,.1) !important;
}

ul.order_notes li .note_content {
	color: #666;
}

#order_data.panel h4 {
	//color: #fff;
}

.wc-metaboxes-wrapper .wc-metabox {
	color: #444;
}

/* @end */