/* Headway */

/* skritie popisiek u HW meta fields */
.inside tr.description{
	display: none !important;
}

div.postbox table.headway-admin-meta-box tr.label th{
	margin-top: 0px !important;
	margin-bottom: 0px !important;
	padding: 0px !important;
	font-weight: normal !important;
}

div.postbox table.headway-admin-meta-box tr.label th label{
	font-weight: normal !important;
	font-size: 11px;
}
