#title {
    font-size: 16px !important;
}

#bulk-titles div a:before,
.notice-dismiss:before,
.tagchecklist span a:before,
.welcome-panel .welcome-panel-close:before {
    font: 400 12px/14px dashicons !important;
    height: 14px !important;
    width: 14px !important;
}

.tagcloud-link {
    font-size: 10px!important;
    margin-top: 0px!important;
}

.tagsdiv + p.hide-if-no-js {
    margin-top: 0px!important;
}

/* Metabox - howto*/

/* Chose from most popular */

/* Remove Tag */

/* Metabox */

div.ajaxtag.hide-if-no-js p {
    margin-bottom: 6px!important;
}

div.postbox {
    margin-bottom: 10px !important;
}

div.tagchecklist span {
    font-size: 10px !important;
}

p.howto {
    display: none !important;
}

h2.hndle.ui-sortable-handle {
    font-weight: normal !important;
    font-size: 11px !important;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
}

/** ACF **/
div.acf-label label {
    font-size: 11px!important;
    font-weight: normal!important;
}

div.inside {
    padding-bottom: 4px!important;
}


div.wrap h1 {
    font-size: 12px !important;
    line-height: 100% !important;
}
