/* Admin Menu */

#adminmenuback,
#adminmenuwrap,
#adminmenu {
	background: @menu-background;
}

#adminmenu a {
	color: @menu-text;
}

#adminmenu div.wp-menu-image:before {
	color: @menu-icon;
}

#adminmenu li.menu-top:hover div.wp-menu-image:before,
#adminmenu li.opensub > a.menu-top div.wp-menu-image:before {
	color: @menu-highlight-icon;
}

/* Active tabs use a bottom border color that matches the page background color. */

.about-wrap h2 .nav-tab-active,
.nav-tab-active,
.nav-tab-active:hover {
	background-color: @body-background;
	border-bottom-color: @body-background;
}

/* Admin Menu: submenu */

#adminmenu .wp-submenu,
#adminmenu .wp-has-current-submenu .wp-submenu,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu,
.folded #adminmenu .wp-has-current-submenu .wp-submenu,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu {
	background: @menu-submenu-background;
}

#adminmenu li.wp-has-submenu.wp-not-current-submenu.opensub:hover:after {
	border-right-color: @menu-submenu-background;
}

#adminmenu .wp-submenu .wp-submenu-head {
	color: @menu-submenu-text;
}

/* Admin Menu: current */

#adminmenu .wp-submenu li.current a,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a {
	color: @menu-submenu-current-text;
	&:hover, &:focus {
		color: @menu-submenu-focus-text;
	}
}

ul#adminmenu a.wp-has-current-submenu:after,
ul#adminmenu > li.current > a.current:after {
    border-right-color: @body-background;
}

#adminmenu li.current a.menu-top,
#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu,
#adminmenu li.wp-has-current-submenu .wp-submenu .wp-submenu-head,
.folded #adminmenu li.current.menu-top {
	color: @menu-current-text;
	background: @menu-current-background;
}

#adminmenu li.wp-has-current-submenu div.wp-menu-image:before {
	color: @menu-current-icon;
}

/* Admin Menu: bubble */

#adminmenu .awaiting-mod,
#adminmenu .update-plugins {
	color: @menu-bubble-text;
	background: @menu-bubble-background;
}

#adminmenu li.current a .awaiting-mod,
#adminmenu li a.wp-has-current-submenu .update-plugins,
#adminmenu li:hover a .awaiting-mod,
#adminmenu li.menu-top:hover > a .update-plugins {
	color: @menu-bubble-current-text !important;
	background: @menu-bubble-current-background !important;
}

// Menu Hover

// #adminmenu .wp-submenu a,
// #adminmenu .wp-has-current-submenu .wp-submenu a,
// .folded #adminmenu .wp-has-current-submenu .wp-submenu a,
// #adminmenu a.wp-has-current-submenu:focus + .wp-submenu a,
// #adminmenu .wp-has-current-submenu.opensub .wp-submenu a {
// 	color: @menu-submenu-text;

// 	&:focus, &:hover {
// 			// color: @menu-highlight-text;
// 	background-color: @menu-highlight-background;

// 		// color: @menu-submenu-focus-text;
// 	}
// }

// #adminmenu a:hover,
// #adminmenu li.menu-top:hover,
// #adminmenu li.opensub > a.menu-top,
// #adminmenu li > a.menu-top:focus {
// 	color: @menu-highlight-text;
// 	background-color: @menu-highlight-background !important;
// }

/* Admin Menu: collapse button */

#collapse-menu {
    color: @menu-collapse-text;
}

#collapse-menu:hover {
    color: @menu-collapse-focus-text !important;
}

#collapse-button div:after {
    color: @menu-collapse-icon;
}

#collapse-menu:hover #collapse-button div:after {
    color: @menu-collapse-focus-icon;
}


/* @group Menu */

/** Admin Menu Icon **/
// #adminmenu li:hover div.wp-menu-image:before {
// 	color: opt-admin-highlight-color;
// }


/** Admin Menu Background Current **/

#adminmenu li.wp-has-current-submenu a.wp-has-current-submenu, 
#adminmenu li.current a.menu-top, 
.folded #adminmenu li.wp-has-current-submenu, 
.folded #adminmenu li.current.menu-top, 
#adminmenu .wp-menu-arrow, 
#adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head, 
#adminmenu .wp-menu-arrow div {
	//.mixin-background(@base-color)
}

#adminmenu a.menu-top, 
#adminmenu .wp-submenu-head ,
#adminmenu .wp-submenu a
{
	// line-height: 18px;
	font-size: 12px;
}

// Admin Menu Hover After

ul#adminmenu a.wp-has-current-submenu:after, 
ul#adminmenu>li.current>a.current:after, 
#adminmenu li.wp-has-submenu.wp-not-current-submenu:hover:after {
	right: 0;
	border: solid 3px darken(@highlight-color, 10%);
	content: "";
	height: auto;
	width: 0;
	position: absolute;
	pointer-events: none;
	top: 0;
	bottom: 0;
	margin-top: 0;
}

	/** Admin menu Hover **/
	
	#adminmenu li.menu-top:hover, 
	#adminmenu li.opensub > a.menu-top, 
	#adminmenu li > a.menu-top:focus,
	#adminmenu a.wp-has-current-submenu, 
	#adminmenu>li.current>a.current, 
	#adminmenu li.wp-has-submenu.wp-not-current-submenu:hover {
	background-color: @menu-highlight-background;
		// .mixin-color(@base-color) !important
		color: @menu-highlight-text !important;
	}

	#adminmenu .wp-has-current-submenu .wp-submenu, 
	#adminmenu .wp-has-current-submenu .wp-submenu.sub-open, 
	#adminmenu .wp-has-current-submenu.opensub .wp-submenu, 
	#adminmenu a.wp-has-current-submenu:focus+.wp-submenu, 
	.no-js li.wp-has-current-submenu:hover .wp-submenu{
		.mixin-background(darken(@base-color, 6%)) !important;
	}

	#adminmenu li.wp-has-submenu.wp-not-current-submenu.opensub:hover:after {
//		border-right-color: spin(opt-admin-highlight-color, 180);
		border-right-color: darken(@highlight-color, 10%);
	}
	
	div.wp-menu-image:before {
		padding-top: 6px;
	}


// Fix backup buddy menu

#toplevel_page_pb_backupbuddy_backup .wp-menu-image {
    background-image: none;
}

/* @end */
