.img-circle {
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
}

.warning {
	color: white;
	background: blue;
}

ul.simple-list{
	list-style: none;
}

ul.list-lower-latin{
	list-style-type: lower-latin;
}