
/* @group WP admin */
html {
	background: @body-background;
}

// Arrow Icons
.add-arrow-icons() when (@add-arrow-icons = 1) {
    @import url('../icons/arrows.less');
}
.add-arrow-icons();

// Fix Acf label
.fix-acf-label() when (@opt-fix-acf-label = 1) {

	.acf_postbox td.label {
	    display: none;
	}
}

.fix-acf-label();

/* Links */

a {
	color: @link;
	&:hover,
	&:active,
	&:focus {
		color: @link-focus;
	}
}

#media-upload a.del-link:hover,
div.dashboard-widget-submit input:hover,
.subsubsub a:hover,
.subsubsub a.current:hover {
	color: @link-focus;
}

/* Forms */

input[type=checkbox]:checked:before {
	color: @form-checked;
}

input[type=radio]:checked:before {
	background: @form-checked;
}

.wp-core-ui input[type="reset"]:hover,
.wp-core-ui input[type="reset"]:active {
	color: @link-focus;
}

/* Core UI */

.wp-core-ui {
	.button-primary {
		.button( @button-color );
	}

	.wp-ui-primary {
		color: @text-color;
		background-color: @base-color;
	}
	.wp-ui-text-primary {
		color: @base-color;
	}

	.wp-ui-highlight {
		color: @menu-highlight-text;
		background-color: @menu-highlight-background;
	}
	.wp-ui-text-highlight {
		color: @menu-highlight-background;
	}

	.wp-ui-notification {
		color: @menu-bubble-text;
		background-color: @menu-bubble-background;
	}
	.wp-ui-text-notification {
		color: @menu-bubble-background;
	}

	.wp-ui-text-icon {
		color: @menu-icon;
	}
}

/* Pointers */

.wp-pointer .wp-pointer-content h3 {
	background-color: @highlight-color;
	border-color: darken( @highlight-color, 5% );
}

.wp-pointer .wp-pointer-content h3:before {
	color: @highlight-color;
}

.wp-pointer.wp-pointer-top .wp-pointer-arrow,
.wp-pointer.wp-pointer-top .wp-pointer-arrow-inner,
.wp-pointer.wp-pointer-undefined .wp-pointer-arrow,
.wp-pointer.wp-pointer-undefined .wp-pointer-arrow-inner {
	border-bottom-color: @highlight-color;
}

/* Media */

.media-item .bar,
.media-progress-bar div {
	background-color: @highlight-color;
}

.details.attachment {
	box-shadow:
		inset 0 0 0 3px #fff,
		inset 0 0 0 7px @highlight-color;
}

.attachment.details .check {
	background-color: @highlight-color;
	box-shadow: 0 0 0 1px #fff, 0 0 0 2px @highlight-color;
}

.media-selection .attachment.selection.details .thumbnail {
	-webkit-box-shadow:
		0px 0px 0px 1px #fff,
		0px 0px 0px 3px @highlight-color;
	box-shadow:
		0px 0px 0px 1px #fff,
		0px 0px 0px 3px @highlight-color;
}

/* Widgets */

.widgets-chooser li.widgets-chooser-selected {
	background-color: @menu-highlight-background;
	color: @menu-highlight-text;
}

.widgets-chooser li.widgets-chooser-selected:before,
.widgets-chooser li.widgets-chooser-selected:focus:before {
	color: @menu-highlight-text;
}

/* Customize */

#customize-theme-controls .widget-area-select .selected {
	background-color: @menu-highlight-background;
	color: @menu-highlight-text;
}

/* jQuery UI Slider */

.wp-slider .ui-slider-handle,
.wp-slider .ui-slider-handle.ui-state-hover,
.wp-slider .ui-slider-handle.focus {
	background: @button-color;
	border-color: darken( @button-color, 10% );
	box-shadow: inset 0 1px 0 lighten( @button-color, 15% ), 0 1px 0 rgba(0,0,0,.15);
}

/* Thickbox: Plugin information */

#sidemenu a.current {
	background: @body-background;
	border-bottom-color: @body-background;
}

#plugin-information .action-button {
	background: @button-color;
}

/* Responsive Component */

div#wp-responsive-toggle a:before {
	color: @menu-icon;
}

.wp-responsive-open div#wp-responsive-toggle a {
	// ToDo: make inset border
	border-color: transparent;
	background: @menu-highlight-background;
}

.star-rating .star {
	color: @highlight-color;
}

.wp-responsive-open #wpadminbar #wp-admin-bar-menu-toggle a {
	background: @menu-submenu-background;
}

/* @end */


// Publish View Button on post and page

.add-publish-view() when (@add-publish-view = 1) {
    @import url('admin-publish-view.less');
}

.add-publish-view();

/* Edit post - delete */
#major-publishing-actions .submitdelete {
	display: inline-block;
	font-size: 0;
	line-height: 0;
	right: 9999px;
	padding: 0;
   	margin: 0;
}

#major-publishing-actions .submitdelete:before  {
	text-align:center;
	color:#333;
    font-family: dashicons;
    font-size: 20px;
    content: '\f182';
}
/** Edit post - delete */

#major-publishing-actions {
	padding-bottom:10px;
	position:relative;
}

#publishview {
	font: normal 16px/1 'dashicons';
	text-align:center;
	content: '\f177' !important;
	border: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	background-color: transparent;
	margin-top: -3px;
}

#publishview:hover {
	text-shadow: none;
}

	// FIX original Button

	#preview-action{
		display: none;
	}




/*** Other meta fix **/

span.is-submenu{
	display: none;
}
div.postbox .form-table td {
  padding: 10px 10px !important;
}

/** Edit post / edit menu */
p.howto,
p.field-description {
	font-size: 11px;
}

.menu-item-bar .hp-menu-delete{
	font-size: 13px !important;
}

/* Visual Composer OFF scum */
.vc_license-activation-notice {
	display: none;
}
 /** composer buttons */
.composer-switch {
  padding: 0!important;
  font-size: 10px!important;
   line-height: 10px!important;
  border-radius: 4px !important;;
   margin-bottom: 0px !important;;
}
.composer-switch a,
.composer-switch a:visited {
   line-height: 10px !important;
   height: 10px!important;
   padding: 4px 10px;
  background-color: #114C7F;
}

.composer-switch .logo-icon {
	display:none !important;
  /* width: 16px; */
}

.composer-switch .vc_spacer {
  display: inline-block;
  width: 1px;
  background-color: #1f5b8c;
  margin: 0;
  height: 10px !important;
  padding: 4px 0;
  vertical-align: top;
  position: relative;
}

#wpbody,
.form-table .pre,
.ui-autocomplete li a {

}
