
/* @group Redux */
#redux-header, .rAds{
	display: none !important;
}

.admin-color-fresh .redux-container-switch .cb-disable,
.admin-color-fresh .redux-container-switch .cb-enable,
.admin-color-fresh .redux-container .ui-state-default,
.admin-color-fresh .redux-container .ui-widget-content .ui-state-default,
.admin-color-fresh .redux-container .ui-widget-header .ui-state-default {
	background-color: #f5f5f5!important;
	background-image: -khtml-gradient(linear,left top,left bottom,from(#f8f8f8),to(#f5f5f5))!important;
	background-image: -moz-linear-gradient(top,#f8f8f8,#f5f5f5)!important;
	background-image: -ms-linear-gradient(top,#f8f8f8,#f5f5f5)!important;
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#f8f8f8),color-stop(100%,#f5f5f5))!important;
	background-image: -webkit-linear-gradient(top,#f8f8f8,#f5f5f5)!important;
	background-image: -o-linear-gradient(top,#f8f8f8,#f5f5f5)!important;
	background-image: linear-gradient(top,#f8f8f8,#f5f5f5)!important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@from', endColorstr='@to', GradientType=0)!important;
	border-color: #ccc!important
}

.admin-color-fresh .redux-container-switch .cb-enable.selected,
.admin-color-fresh .redux-container .ui-buttonset .ui-state-active {
	background-color: #0074a2!important;
	background-image: -khtml-gradient(linear,left top,left bottom,from(#008ec6),to(#0074a2))!important;
	background-image: -moz-linear-gradient(top,#008ec6,#0074a2)!important;
	background-image: -ms-linear-gradient(top,#008ec6,#0074a2)!important;
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0,#008ec6),color-stop(100%,#0074a2))!important;
	background-image: -webkit-linear-gradient(top,#008ec6,#0074a2)!important;
	background-image: -o-linear-gradient(top,#008ec6,#0074a2)!important;
	background-image: linear-gradient(top,#008ec6,#0074a2)!important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@from', endColorstr='@to', GradientType=0)!important;
	border-color: #003d56!important;
	border-color: #004f6f!important;
	-webkit-box-shadow: inset 0 1px 0 #00abef,0 1px 0 rgba(0,0,0,.15)!important;
	box-shadow: inset 0 1px 0 #00abef,0 1px 0 rgba(0,0,0,.15)!important
}

.admin-color-fresh .redux-sidebar .redux-group-menu li.activeChild.hasSubSections ul.subsection li.active a,
.wp-customizer .redux-sidebar .redux-group-menu li.activeChild.hasSubSections ul.subsection li.active a {
    text-shadow:none;
}
/* @end */
