@import multiple '../../theme.config';
.ui.dropdown {
  cursor: pointer;
  position: relative;
  display: inline-block;
  outline: none;
  text-align: left;
  transition: ;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.ui.dropdown .menu {
  cursor: auto;
  position: absolute;
  display: none;
  outline: none;
  top: 100%;
  min-width: max-content;
  transition: ;
  margin: ;
  padding: ;
  background: ;
  font-size: ;
  text-shadow: none;
  text-align: ;
  box-shadow: ;
  border: ;
  border-radius: ;
  z-index: ;
  will-change: transform, opacity;
}
.ui.dropdown .menu > * {
  white-space: nowrap;
}
.ui.dropdown > input:not(.search):first-child,
.ui.dropdown > select {
  display: none !important;
}
.ui.dropdown > .dropdown.icon {
  position: relative;
  width: auto;
  font-size: ;
  margin: ;
}
.ui.dropdown .menu > .item .dropdown.icon {
  width: auto;
  float: ;
  margin: ;
}
.ui.dropdown .menu > .item .dropdown.icon + .text {
  margin-right: ;
}
.ui.dropdown > .text {
  display: inline-block;
  transition: ;
}
.ui.dropdown .menu > .item {
  position: relative;
  cursor: pointer;
  display: block;
  border: ;
  height: ;
  text-align: ;
  border-top: ;
  line-height: ;
  font-size: ;
  color: ;
  padding:  !important;
  text-transform: ;
  font-weight: ;
  box-shadow: ;
  -webkit-touch-callout: none;
}
.ui.dropdown .menu > .item:first-child {
  border-top-width: 0px;
}
.ui.dropdown > .text > [class*="right floated"],
.ui.dropdown .menu .item > [class*="right floated"] {
  float: right !important;
  margin-right: 0em !important;
  margin-left:  !important;
}
.ui.dropdown > .text > [class*="left floated"],
.ui.dropdown .menu .item > [class*="left floated"] {
  float: left !important;
  margin-left: 0em !important;
  margin-right:  !important;
}
.ui.dropdown .menu .item > .icon.floated,
.ui.dropdown .menu .item > .flag.floated,
.ui.dropdown .menu .item > .image.floated,
.ui.dropdown .menu .item > img.floated {
  margin-top: ;
}
.ui.dropdown .menu > .header {
  margin: ;
  padding: ;
  color: ;
  font-size: ;
  font-weight: ;
  text-transform: ;
}
.ui.dropdown .menu > .divider {
  border-top: ;
  height: 0em;
  margin: ;
}
.ui.dropdown .menu > .input {
  width: auto;
  display: flex;
  margin: ;
  min-width: ;
}
.ui.dropdown .menu > .header + .input {
  margin-top: 0em;
}
.ui.dropdown .menu > .input:not(.transparent) input {
  padding: ;
}
.ui.dropdown .menu > .input:not(.transparent) .button,
.ui.dropdown .menu > .input:not(.transparent) .icon,
.ui.dropdown .menu > .input:not(.transparent) .label {
  padding-top: ;
  padding-bottom: ;
}
.ui.dropdown > .text > .description,
.ui.dropdown .menu > .item > .description {
  float: ;
  margin: ;
  color: ;
}
.ui.dropdown .menu > .message {
  padding: ;
  font-weight: ;
}
.ui.dropdown .menu > .message:not(.ui) {
  color: ;
}
.ui.dropdown .menu .menu {
  top:  !important;
  left:  !important;
  right:  !important;
  margin:  !important;
  border-radius:  !important;
  z-index:  !important;
}
.ui.dropdown .menu .menu:after {
  display: none;
}
.ui.dropdown > .text > .icon,
.ui.dropdown > .text > .label,
.ui.dropdown > .text > .flag,
.ui.dropdown > .text > img,
.ui.dropdown > .text > .image {
  margin-top: ;
}
.ui.dropdown .menu > .item > .icon,
.ui.dropdown .menu > .item > .label,
.ui.dropdown .menu > .item > .flag,
.ui.dropdown .menu > .item > .image,
.ui.dropdown .menu > .item > img {
  margin-top: ;
}
.ui.dropdown > .text > .icon,
.ui.dropdown > .text > .label,
.ui.dropdown > .text > .flag,
.ui.dropdown > .text > img,
.ui.dropdown > .text > .image,
.ui.dropdown .menu > .item > .icon,
.ui.dropdown .menu > .item > .label,
.ui.dropdown .menu > .item > .flag,
.ui.dropdown .menu > .item > .image,
.ui.dropdown .menu > .item > img {
  margin-left: 0em;
  float: ;
  margin-right: ;
}
.ui.dropdown > .text > img,
.ui.dropdown > .text > .image,
.ui.dropdown .menu > .item > .image,
.ui.dropdown .menu > .item > img {
  display: inline-block;
  vertical-align: middle;
  width: auto;
  max-height: ;
}
.ui.dropdown .ui.menu > .item:before,
.ui.menu .ui.dropdown .menu > .item:before {
  display: none;
}
.ui.menu .ui.dropdown .menu .active.item {
  border-left: none;
}
.ui.menu .right.menu .dropdown:last-child .menu,
.ui.menu .right.dropdown.item .menu,
.ui.buttons > .ui.dropdown:last-child .menu {
  left: auto;
  right: 0em;
}
.ui.label.dropdown .menu {
  min-width: 100%;
}
.ui.dropdown.icon.button > .dropdown.icon {
  margin: 0em;
}
.ui.button.dropdown .menu {
  min-width: 100%;
}
.ui.selection.dropdown {
  cursor: pointer;
  word-wrap: break-word;
  line-height: 1em;
  white-space: normal;
  outline: 0;
  transform: rotateZ(0deg);
  min-width: ;
  min-height: ;
  background: ;
  display: ;
  padding: ;
  color: ;
  box-shadow: ;
  border: ;
  border-radius: ;
  transition: ;
}
.ui.selection.dropdown.visible,
.ui.selection.dropdown.active {
  z-index: ;
}
select.ui.dropdown {
  height: ;
  padding: ;
  border: ;
  visibility: ;
}
.ui.selection.dropdown > .search.icon,
.ui.selection.dropdown > .delete.icon,
.ui.selection.dropdown > .dropdown.icon {
  cursor: pointer;
  position: absolute;
  top: auto;
  width: auto;
  z-index: ;
  margin: ;
  padding: ;
  right: ;
  opacity: ;
  transition: ;
}
.ui.compact.selection.dropdown {
  min-width: 0px;
}
.ui.selection.dropdown .menu {
  overflow-x: hidden;
  overflow-y: auto;
  backface-visibility: hidden;
  -webkit-overflow-scrolling: touch;
  border-top-width: 0px !important;
  width: auto;
  outline: none;
  margin: 0px -;
  min-width: ;
  width: ;
  border-radius: ;
  box-shadow: ;
  transition: ;
}
.ui.selection.dropdown .menu:after,
.ui.selection.dropdown .menu:before {
  display: none;
}
.ui.selection.dropdown .menu > .message {
  padding: ;
}
@media only screen and (max-width: ) {
  .ui.selection.dropdown .menu {
    max-height: ;
  }
}
@media only screen and (min-width: ) {
  .ui.selection.dropdown .menu {
    max-height: ;
  }
}
@media only screen and (min-width: ) {
  .ui.selection.dropdown .menu {
    max-height: ;
  }
}
@media only screen and (min-width: ) {
  .ui.selection.dropdown .menu {
    max-height: ;
  }
}
.ui.selection.dropdown .menu > .item {
  border-top: ;
  padding:  !important;
  white-space: normal;
  word-wrap: normal;
}
.ui.selection.dropdown:hover {
  border-color: ;
  box-shadow: ;
}
.ui.selection.active.dropdown {
  border-color: ;
  box-shadow: ;
}
.ui.selection.active.dropdown .menu {
  border-color: ;
  box-shadow: ;
}
.ui.selection.dropdown:focus {
  border-color: ;
  box-shadow: ;
}
.ui.selection.dropdown:focus .menu {
  border-color: ;
  box-shadow: ;
}
.ui.selection.visible.dropdown > .text:not(.default) {
  font-weight: ;
  color: ;
}
.ui.selection.active.dropdown:hover {
  border-color: ;
  box-shadow: ;
}
.ui.selection.active.dropdown:hover .menu {
  border-color: ;
  box-shadow: ;
}
.ui.active.selection.dropdown > .dropdown.icon,
.ui.visible.selection.dropdown > .dropdown.icon {
  opacity: ;
  z-index: 3;
}
.ui.active.selection.dropdown {
  border-bottom-left-radius:  !important;
  border-bottom-right-radius:  !important;
}
.ui.search.dropdown {
  min-width: ;
}
.ui.search.dropdown > input.search {
  background: none transparent !important;
  border: none !important;
  box-shadow: none !important;
  cursor: pointer;
  top: 0em;
  left: 0em;
  width: 100%;
  outline: none;
  -webkit-tap-highlight-color: rgba(255,255,255,0);
  padding: inherit;
}
.ui.search.dropdown > input.search {
  position: absolute;
  z-index: 2;
}
.ui.search.dropdown > .text {
  cursor: text;
  position: relative;
  z-index: 3;
}
.ui.search.selection.dropdown > input.search {
  line-height: ;
  padding: ;
}
.ui.search.dropdown.active > input.search,
.ui.search.dropdown.visible > input.search {
  cursor: auto;
}
.ui.search.dropdown.active > .text,
.ui.search.dropdown.visible > .text {
  pointer-events: none;
}
.ui.active.search.dropdown input.search:focus + .text .icon,
.ui.active.search.dropdown input.search:focus + .text .flag {
  opacity: ;
}
.ui.active.search.dropdown input.search:focus + .text {
  color:  !important;
}
.ui.search.dropdown .menu {
  overflow-x: hidden;
  overflow-y: auto;
  backface-visibility: hidden;
  -webkit-overflow-scrolling: touch;
}
@media only screen and (max-width: ) {
  .ui.search.dropdown .menu {
    max-height: ;
  }
}
@media only screen and (min-width: ) {
  .ui.search.dropdown .menu {
    max-height: ;
  }
}
@media only screen and (min-width: ) {
  .ui.search.dropdown .menu {
    max-height: ;
  }
}
@media only screen and (min-width: ) {
  .ui.search.dropdown .menu {
    max-height: ;
  }
}
.ui.multiple.dropdown {
  padding: ;
}
.ui.multiple.dropdown .menu {
  cursor: auto;
}
.ui.multiple.search.dropdown,
.ui.multiple.search.dropdown > input.search {
  cursor: text;
}
.ui.multiple.dropdown > .label {
  user-select: none;
  display: inline-block;
  vertical-align: top;
  white-space: normal;
  font-size: ;
  padding: ;
  margin: ;
  box-shadow: ;
}
.ui.multiple.dropdown .dropdown.icon {
  margin: ;
  padding: ;
}
.ui.multiple.dropdown > .text {
  position: static;
  padding: 0;
  max-width: 100%;
  margin: ;
  line-height: ;
}
.ui.multiple.dropdown > .label ~ .text {
  display: none;
}
.ui.multiple.search.dropdown > .text {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  padding: inherit;
  margin: ;
  line-height: ;
}
.ui.multiple.search.dropdown > .label ~ .text {
  display: none;
}
.ui.multiple.search.dropdown > input.search {
  position: static;
  padding: 0;
  max-width: 100%;
  margin: ;
  width: ;
  line-height: ;
}
.ui.inline.dropdown {
  cursor: pointer;
  display: inline-block;
  color: ;
}
.ui.inline.dropdown .dropdown.icon {
  margin: ;
  vertical-align: baseline;
}
.ui.inline.dropdown > .text {
  font-weight: ;
}
.ui.inline.dropdown .menu {
  cursor: auto;
  margin-top: ;
  border-radius: ;
}
.ui.dropdown .menu .active.item {
  background: ;
  font-weight: ;
  color: ;
  box-shadow: ;
  z-index: ;
}
.ui.dropdown .menu > .item:hover {
  background: ;
  color: ;
  z-index: ;
}
.ui.loading.dropdown > i.icon:before,
.ui.loading.dropdown > i.icon:after {
  left: 30% !important;
}
.ui.loading.dropdown > i.icon {
  top: 50% !important;
}
.ui.multiple.loading.dropdown > i.icon:before,
.ui.multiple.loading.dropdown > i.icon:after {
  top: 0% !important;
  left: 0% !important;
}
.ui.loading.dropdown > i.icon:before {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  margin: ;
  width: ;
  height: ;
  border-radius: ;
  border:  solid ;
}
.ui.loading.dropdown > i.icon:after {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  box-shadow: 0px 0px 0px 1px transparent;
  margin: ;
  width: ;
  height: ;
  animation: dropdown-spin  linear;
  animation-iteration-count: infinite;
  border-radius: ;
  border-color:  transparent transparent;
  border-style: solid;
  border-width: ;
}
.ui.loading.dropdown.button > i.icon:before,
.ui.loading.dropdown.button > i.icon:after {
  display: none;
}
@keyframes dropdown-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.ui.dropdown > .default.text,
.ui.default.dropdown > .text {
  color: ;
}
.ui.dropdown:hover > .default.text,
.ui.default.dropdown:hover > .text {
  color: ;
}
.ui.loading.dropdown > .text {
  transition: none;
}
.ui.dropdown .loading.menu {
  display: block;
  visibility: hidden;
  z-index: ;
}
.ui.dropdown.selected,
.ui.dropdown .menu .selected.item {
  background: ;
  color: ;
}
.ui.dropdown > .filtered.text {
  visibility: hidden;
}
.ui.dropdown .filtered.item {
  display: none !important;
}
.ui.dropdown.error,
.ui.dropdown.error > .text,
.ui.dropdown.error > .default.text {
  color: ;
}
.ui.selection.dropdown.error {
  background: ;
  border-color: ;
}
.ui.selection.dropdown.error:hover {
  border-color: ;
}
.ui.dropdown.error > .menu,
.ui.dropdown.error > .menu .menu {
  border-color: ;
}
.ui.dropdown.error > .menu > .item {
  color: ;
}
.ui.multiple.selection.error.dropdown > .label {
  border-color: ;
}
.ui.dropdown.error > .menu > .item:hover {
  background-color: ;
}
.ui.dropdown.error > .menu .active.item {
  background-color: ;
}
.ui.disabled.dropdown,
.ui.dropdown .menu > .disabled.item {
  cursor: default;
  pointer-events: none;
  opacity: ;
}
.ui.dropdown .menu {
  left: 0px;
}
.ui.dropdown .right.menu > .menu,
.ui.dropdown .menu .right.menu {
  left: 100% !important;
  right: auto !important;
  border-radius:  !important;
}
.ui.dropdown > .left.menu .menu,
.ui.dropdown .menu .left.menu {
  left: auto !important;
  right: 100% !important;
  border-radius:  !important;
}
.ui.dropdown .item .left.dropdown.icon,
.ui.dropdown .left.menu .item .dropdown.icon {
  width: auto;
  float: ;
  margin: ;
}
.ui.dropdown .item .left.dropdown.icon,
.ui.dropdown .left.menu .item .dropdown.icon {
  width: auto;
  float: ;
  margin: ;
}
.ui.dropdown .item .left.dropdown.icon + .text,
.ui.dropdown .left.menu .item .dropdown.icon + .text {
  margin-left: ;
}
.ui.upward.dropdown > .menu {
  top: auto;
  bottom: 100%;
  box-shadow: ;
  border-radius: ;
}
.ui.dropdown .upward.menu {
  top: auto !important;
  bottom: 0 !important;
}
.ui.simple.upward.active.dropdown,
.ui.simple.upward.dropdown:hover {
  border-radius:   0em 0em !important;
}
.ui.upward.dropdown.button:not(.pointing):not(.floating).active {
  border-radius:   0em 0em;
}
.ui.upward.selection.dropdown .menu {
  border-top-width:  !important;
  border-bottom-width: 0px !important;
  box-shadow: ;
}
.ui.upward.selection.dropdown:hover {
  box-shadow: ;
}
.ui.active.upward.selection.dropdown {
  border-radius:  !important;
}
.ui.upward.selection.dropdown.visible {
  box-shadow: ;
  border-radius:  !important;
}
.ui.upward.active.selection.dropdown:hover {
  box-shadow: ;
}
.ui.upward.active.selection.dropdown:hover .menu {
  box-shadow: ;
}
.ui.scrolling.dropdown .menu,
.ui.dropdown .scrolling.menu {
  overflow-x: hidden;
  overflow-y: auto;
}
.ui.scrolling.dropdown .menu {
  overflow-x: hidden;
  overflow-y: auto;
  backface-visibility: hidden;
  -webkit-overflow-scrolling: touch;
  min-width: 100% !important;
  width: auto !important;
}
.ui.dropdown .scrolling.menu {
  position: static;
  overflow-y: auto;
  border: none;
  box-shadow: none !important;
  border-radius: 0 !important;
  margin: 0 !important;
  min-width: 100% !important;
  width: auto !important;
  border-top: ;
}
.ui.scrolling.dropdown .menu .item.item.item,
.ui.dropdown .scrolling.menu > .item.item.item {
  border-top: ;
  padding-right:  !important;
}
.ui.scrolling.dropdown .menu .item:first-child,
.ui.dropdown .scrolling.menu .item:first-child {
  border-top: none;
}
.ui.dropdown > .animating.menu .scrolling.menu,
.ui.dropdown > .visible.menu .scrolling.menu {
  display: block;
}
@media all and (-ms-high-contrast: none) {
  .ui.scrolling.dropdown .menu,
  .ui.dropdown .scrolling.menu {
    min-width: calc(100% -   );
  }
}
@media only screen and (max-width: ) {
  .ui.scrolling.dropdown .menu,
  .ui.dropdown .scrolling.menu {
    max-height: ;
  }
}
@media only screen and (min-width: ) {
  .ui.scrolling.dropdown .menu,
  .ui.dropdown .scrolling.menu {
    max-height: ;
  }
}
@media only screen and (min-width: ) {
  .ui.scrolling.dropdown .menu,
  .ui.dropdown .scrolling.menu {
    max-height: ;
  }
}
@media only screen and (min-width: ) {
  .ui.scrolling.dropdown .menu,
  .ui.dropdown .scrolling.menu {
    max-height: ;
  }
}
.ui.simple.dropdown .menu:before,
.ui.simple.dropdown .menu:after {
  display: none;
}
.ui.simple.dropdown .menu {
  position: absolute;
  display: block;
  overflow: hidden;
  top: -9999px !important;
  opacity: 0;
  width: 0;
  height: 0;
  transition: ;
}
.ui.simple.active.dropdown,
.ui.simple.dropdown:hover {
  border-bottom-left-radius: 0em !important;
  border-bottom-right-radius: 0em !important;
}
.ui.simple.active.dropdown > .menu,
.ui.simple.dropdown:hover > .menu {
  overflow: visible;
  width: auto;
  height: auto;
  top: 100% !important;
  opacity: 1;
}
.ui.simple.dropdown > .menu > .item:active > .menu,
.ui.simple.dropdown:hover > .menu > .item:hover > .menu {
  overflow: visible;
  width: auto;
  height: auto;
  top: 0% !important;
  left: 100% !important;
  opacity: 1;
}
.ui.simple.disabled.dropdown:hover .menu {
  display: none;
  height: 0px;
  width: 0px;
  overflow: hidden;
}
.ui.simple.visible.dropdown > .menu {
  display: block;
}
.ui.fluid.dropdown {
  display: block;
  width: 100%;
  min-width: 0em;
}
.ui.fluid.dropdown > .dropdown.icon {
  float: right;
}
.ui.floating.dropdown .menu {
  left: 0;
  right: auto;
  box-shadow:  !important;
  border-radius:  !important;
}
.ui.floating.dropdown > .menu {
  margin-top:  !important;
  border-radius:  !important;
}
.ui.pointing.dropdown > .menu {
  top: 100%;
  margin-top: ;
  border-radius: ;
}
.ui.pointing.dropdown > .menu:after {
  display: block;
  position: absolute;
  pointer-events: none;
  content: '';
  visibility: visible;
  transform: rotate(45deg);
  width: ;
  height: ;
  box-shadow: ;
  background: ;
  z-index: ;
}
.ui.pointing.dropdown > .menu:after {
  top: ;
  left: 50%;
  margin: 0em 0em 0em ;
}
.ui.top.left.pointing.dropdown > .menu {
  top: 100%;
  bottom: auto;
  left: 0%;
  right: auto;
  margin:  0em 0em;
}
.ui.top.left.pointing.dropdown > .menu {
  top: 100%;
  bottom: auto;
  left: 0%;
  right: auto;
  margin:  0em 0em;
}
.ui.top.left.pointing.dropdown > .menu:after {
  top: ;
  left: ;
  right: auto;
  margin: 0em;
  transform: rotate(45deg);
}
.ui.top.right.pointing.dropdown > .menu {
  top: 100%;
  bottom: auto;
  right: 0%;
  left: auto;
  margin:  0em 0em;
}
.ui.top.right.pointing.dropdown > .menu:after {
  top: ;
  left: auto;
  right: ;
  margin: 0em;
  transform: rotate(45deg);
}
.ui.left.pointing.dropdown > .menu {
  top: 0%;
  left: 100%;
  right: auto;
  margin: 0em 0em 0em ;
}
.ui.left.pointing.dropdown > .menu:after {
  top: 1em;
  left: ;
  margin: 0em 0em 0em 0em;
  transform: rotate(-45deg);
}
.ui.right.pointing.dropdown > .menu {
  top: 0%;
  left: auto;
  right: 100%;
  margin: 0em  0em 0em;
}
.ui.right.pointing.dropdown > .menu:after {
  top: 1em;
  left: auto;
  right: ;
  margin: 0em 0em 0em 0em;
  transform: rotate(135deg);
}
.ui.bottom.pointing.dropdown > .menu {
  top: auto;
  bottom: 100%;
  left: 0%;
  right: auto;
  margin: 0em 0em ;
}
.ui.bottom.pointing.dropdown > .menu:after {
  top: auto;
  bottom: ;
  right: auto;
  margin: 0em;
  transform: rotate(-135deg);
}
.ui.bottom.pointing.dropdown > .menu .menu {
  top: auto !important;
  bottom: 0px !important;
}
.ui.bottom.left.pointing.dropdown > .menu {
  left: 0%;
  right: auto;
}
.ui.bottom.left.pointing.dropdown > .menu:after {
  left: ;
  right: auto;
}
.ui.bottom.right.pointing.dropdown > .menu {
  right: 0%;
  left: auto;
}
.ui.bottom.right.pointing.dropdown > .menu:after {
  left: auto;
  right: ;
}
.ui.upward.pointing.dropdown > .menu,
.ui.upward.top.pointing.dropdown > .menu {
  top: auto;
  bottom: 100%;
  margin: 0em 0em ;
  border-radius: ;
}
.ui.upward.pointing.dropdown > .menu:after,
.ui.upward.top.pointing.dropdown > .menu:after {
  top: 100%;
  bottom: auto;
  box-shadow: ;
  margin:  0em 0em;
}
