@import multiple '../../theme.config';
.ui.embed {
  position: relative;
  max-width: 100%;
  height: 0px;
  overflow: hidden;
  background: ;
  padding-bottom: ;
}
.ui.embed iframe,
.ui.embed embed,
.ui.embed object {
  position: absolute;
  border: none;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  margin: 0em;
  padding: 0em;
}
.ui.embed > .embed {
  display: none;
}
.ui.embed > .placeholder {
  position: absolute;
  cursor: pointer;
  top: 0px;
  left: 0px;
  display: block;
  width: 100%;
  height: 100%;
  background-color: ;
}
.ui.embed > .icon {
  cursor: pointer;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.ui.embed > .icon:after {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  z-index: 3;
  content: '';
  background: ;
  opacity: ;
  transition: ;
}
.ui.embed > .icon:before {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 4;
  transform: translateX(-50%) translateY(-50%);
  color: ;
  font-size: ;
  text-shadow: ;
  transition: ;
  z-index: ;
}
.ui.embed .icon:hover:after {
  background: ;
  opacity: ;
}
.ui.embed .icon:hover:before {
  color: ;
}
.ui.active.embed > .icon,
.ui.active.embed > .placeholder {
  display: none;
}
.ui.active.embed > .embed {
  display: block;
}
.ui.square.embed {
  padding-bottom: ;
}
.ui[class*="4:3"].embed {
  padding-bottom: ;
}
.ui[class*="16:9"].embed {
  padding-bottom: ;
}
.ui[class*="21:9"].embed {
  padding-bottom: ;
}
