@import multiple '../../theme.config';
.ui.modal {
  display: none;
  position: fixed;
  z-index: ;
  top: 50%;
  left: 50%;
  text-align: left;
  background: ;
  border: ;
  box-shadow: ;
  transform-origin: ;
  border-radius: ;
  user-select: text;
  will-change: top, left, margin, transform, opacity;
}
.ui.modal > :first-child:not(.icon),
.ui.modal > .icon:first-child + * {
  border-top-left-radius: ;
  border-top-right-radius: ;
}
.ui.modal > :last-child {
  border-bottom-left-radius: ;
  border-bottom-right-radius: ;
}
.ui.modal > .close {
  cursor: pointer;
  position: absolute;
  top: ;
  right: ;
  z-index: 1;
  opacity: ;
  font-size: ;
  color: ;
  width: ;
  height: ;
  padding: ;
}
.ui.modal > .close:hover {
  opacity: 1;
}
.ui.modal > .header {
  display: block;
  font-family: ;
  background: ;
  margin: ;
  padding: ;
  box-shadow: ;
  color: ;
  border-bottom: ;
}
.ui.modal > .header:not(.ui) {
  font-size: ;
  line-height: ;
  font-weight: ;
}
.ui.modal > .content {
  display: block;
  width: 100%;
  font-size: ;
  line-height: ;
  padding: ;
  background: ;
}
.ui.modal > .image.content {
  display: flex;
  flex-direction: row;
}
.ui.modal > .content > .image {
  display: block;
  flex: 0 1 auto;
  width: ;
  align-self: ;
}
.ui.modal > [class*="top aligned"] {
  align-self: top;
}
.ui.modal > [class*="middle aligned"] {
  align-self: middle;
}
.ui.modal > [class*="stretched"] {
  align-self: stretch;
}
.ui.modal > .content > .description {
  display: block;
  flex: 1 0 auto;
  min-width: 0px;
  align-self: ;
}
.ui.modal > .content > .icon + .description,
.ui.modal > .content > .image + .description {
  flex: 0 1 auto;
  min-width: ;
  width: ;
  padding-left: ;
}
.ui.modal > .content > .image > i.icon {
  margin: 0em;
  opacity: 1;
  width: auto;
  line-height: 1;
  font-size: ;
}
.ui.modal > .actions {
  background: ;
  padding: ;
  border-top: ;
  text-align: ;
}
.ui.modal .actions > .button {
  margin-left: ;
}
@media only screen and (max-width: ) {
  .ui.modal {
    width: ;
    margin: ;
  }
}
@media only screen and (min-width: ) {
  .ui.modal {
    width: ;
    margin: ;
  }
}
@media only screen and (min-width: ) {
  .ui.modal {
    width: ;
    margin: ;
  }
}
@media only screen and (min-width: ) {
  .ui.modal {
    width: ;
    margin: ;
  }
}
@media only screen and (min-width: ) {
  .ui.modal {
    width: ;
    margin: ;
  }
}
@media only screen and (max-width: ) {
  .ui.modal > .header {
    padding-right: ;
  }
  .ui.modal > .close {
    top: ;
    right: ;
    color: ;
  }
}
@media only screen and (max-width: ) {
  .ui.modal > .header {
    padding:  !important;
    padding-right:  !important;
  }
  .ui.modal > .content {
    display: block;
    padding:  !important;
  }
  .ui.modal > .close {
    top:  !important;
    right:  !important;
  }
  .ui.modal .image.content {
    flex-direction: column;
  }
  .ui.modal .content > .image {
    display: block;
    max-width: 100%;
    margin: 0em auto !important;
    text-align: center;
    padding:  !important;
  }
  .ui.modal > .content > .image > i.icon {
    font-size: ;
    text-align: center;
  }
  .ui.modal .content > .description {
    display: block;
    width: 100% !important;
    margin: 0em !important;
    padding:  !important;
    box-shadow: none;
  }
  .ui.modal > .actions {
    padding:  !important;
  }
  .ui.modal .actions > .buttons,
  .ui.modal .actions > .button {
    margin-bottom: ;
  }
}
.ui.inverted.dimmer > .ui.modal {
  box-shadow: ;
}
.ui.basic.modal {
  background-color: transparent;
  border: none;
  border-radius: 0em;
  box-shadow: none !important;
  color: ;
}
.ui.basic.modal > .header,
.ui.basic.modal > .content,
.ui.basic.modal > .actions {
  background-color: transparent;
}
.ui.basic.modal > .header {
  color: ;
}
.ui.basic.modal > .close {
  top: ;
  right: ;
}
.ui.inverted.dimmer > .basic.modal {
  color: ;
}
.ui.inverted.dimmer > .ui.basic.modal > .header {
  color: ;
}
@media only screen and (max-width: ) {
  .ui.basic.modal > .close {
    color: ;
  }
}
.ui.active.modal {
  display: block;
}
.scrolling.dimmable.dimmed {
  overflow: hidden;
}
.scrolling.dimmable.dimmed > .dimmer {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.scrolling.dimmable > .dimmer {
  position: fixed;
}
.modals.dimmer .ui.scrolling.modal {
  position: static !important;
  margin:  auto !important;
}
.scrolling.undetached.dimmable.dimmed {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.scrolling.undetached.dimmable.dimmed > .dimmer {
  overflow: hidden;
}
.scrolling.undetached.dimmable .ui.scrolling.modal {
  position: absolute;
  left: 50%;
  margin-top:  !important;
}
.undetached.dimmable.dimmed > .pusher {
  z-index: auto;
}
@media only screen and (max-width: ) {
  .modals.dimmer .ui.scrolling.modal {
    margin-top:  !important;
    margin-bottom:  !important;
  }
}
.ui.fullscreen.modal {
  width:  !important;
  left:  !important;
  margin: ;
}
.ui.fullscreen.scrolling.modal {
  left: 0em !important;
}
.ui.fullscreen.modal > .header {
  padding-right: ;
}
.ui.fullscreen.modal > .close {
  top: ;
  right: ;
  color: ;
}
.ui.modal {
  font-size: ;
}
.ui.small.modal > .header:not(.ui) {
  font-size: ;
}
@media only screen and (max-width: ) {
  .ui.small.modal {
    width: ;
    margin: ;
  }
}
@media only screen and (min-width: ) {
  .ui.small.modal {
    width: ;
    margin: ;
  }
}
@media only screen and (min-width: ) {
  .ui.small.modal {
    width: ;
    margin: ;
  }
}
@media only screen and (min-width: ) {
  .ui.small.modal {
    width: ;
    margin: ;
  }
}
@media only screen and (min-width: ) {
  .ui.small.modal {
    width: ;
    margin: ;
  }
}
.ui.large.modal > .header {
  font-size: ;
}
@media only screen and (max-width: ) {
  .ui.large.modal {
    width: ;
    margin: ;
  }
}
@media only screen and (min-width: ) {
  .ui.large.modal {
    width: ;
    margin: ;
  }
}
@media only screen and (min-width: ) {
  .ui.large.modal {
    width: ;
    margin: ;
  }
}
@media only screen and (min-width: ) {
  .ui.large.modal {
    width: ;
    margin: ;
  }
}
@media only screen and (min-width: ) {
  .ui.large.modal {
    width: ;
    margin: ;
  }
}
