@import multiple '../../theme.config';
.ui.nag {
  display: none;
  opacity: ;
  position: ;
  top: ;
  left: 0px;
  z-index: ;
  min-height: ;
  width: ;
  margin: ;
  padding: ;
  background: ;
  box-shadow: ;
  font-size: ;
  text-align: ;
  color: ;
  border-radius: ;
  transition: ;
}
a.ui.nag {
  cursor: pointer;
}
.ui.nag > .title {
  display: inline-block;
  margin: ;
  color: ;
}
.ui.nag > .close.icon {
  cursor: pointer;
  opacity: ;
  position: absolute;
  top: ;
  right: ;
  font-size: ;
  margin: ;
  color: ;
  transition: ;
}
.ui.nag:hover {
  background: ;
  opacity: ;
}
.ui.nag .close:hover {
  opacity: ;
}
.ui.overlay.nag {
  position: absolute;
  display: block;
}
.ui.fixed.nag {
  position: fixed;
}
.ui.bottom.nags,
.ui.bottom.nag {
  border-radius: ;
  top: auto;
  bottom: ;
}
.ui.inverted.nags .nag,
.ui.inverted.nag {
  background-color: ;
  color: ;
}
.ui.inverted.nags .nag .close,
.ui.inverted.nags .nag .title,
.ui.inverted.nag .close,
.ui.inverted.nag .title {
  color: ;
}
.ui.nags .nag {
  border-radius:  !important;
}
.ui.nags .nag:last-child {
  border-radius: ;
}
.ui.bottom.nags .nag:last-child {
  border-radius: ;
}
