@import multiple '../../theme.config';
.ui.rating {
  display: inline-flex;
  white-space: ;
  vertical-align: ;
}
.ui.rating:last-child {
  margin-right: 0em;
}
.ui.rating .icon {
  padding: 0em;
  margin: 0em;
  text-align: center;
  font-weight: normal;
  font-style: normal;
  flex: 1 0 auto;
  cursor: ;
  width: ;
  height: ;
  transition: ;
}
.ui.rating .icon {
  background: ;
  color: ;
}
.ui.rating .active.icon {
  background: ;
  color: ;
}
.ui.rating .icon.selected,
.ui.rating .icon.selected.active {
  background: ;
  color: ;
}
.ui.star.rating .icon {
  width: ;
  height: ;
  background: ;
  color: ;
  text-shadow: ;
}
.ui.star.rating .active.icon {
  background:  !important;
  color:  !important;
  text-shadow:  !important;
}
.ui.star.rating .icon.selected,
.ui.star.rating .icon.selected.active {
  background:  !important;
  color:  !important;
  text-shadow:  !important;
}
.ui.heart.rating .icon {
  width: ;
  height: ;
  background: ;
  color: ;
  text-shadow:  !important;
}
.ui.heart.rating .active.icon {
  background:  !important;
  color:  !important;
  text-shadow:  !important;
}
.ui.heart.rating .icon.selected,
.ui.heart.rating .icon.selected.active {
  background:  !important;
  color:  !important;
  text-shadow:  !important;
}
.ui.disabled.rating .icon {
  cursor: default;
}
.ui.rating.selected .active.icon {
  opacity: ;
}
.ui.rating.selected .icon.selected,
.ui.rating .icon.selected {
  opacity: ;
}
.ui.mini.rating {
  font-size: ;
}
.ui.tiny.rating {
  font-size: ;
}
.ui.small.rating {
  font-size: ;
}
.ui.rating {
  font-size: ;
}
.ui.large.rating {
  font-size: ;
}
.ui.huge.rating {
  font-size: ;
}
.ui.massive.rating {
  font-size: ;
}
