@import multiple '../../theme.config';
.ui.search {
  position: relative;
}
.ui.search > .prompt {
  margin: 0em;
  outline: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(255,255,255,0);
  text-shadow: none;
  font-style: normal;
  font-weight: normal;
  line-height: ;
  padding: ;
  font-size: ;
  background: ;
  border: ;
  color: ;
  box-shadow: ;
  transition: ;
}
.ui.search .prompt {
  border-radius: ;
}
.ui.search .prompt ~ .search.icon {
  cursor: pointer;
}
.ui.search > .results {
  display: none;
  position: absolute;
  top: 100%;
  left: 0%;
  transform-origin: center top;
  background: ;
  margin-top: ;
  width: ;
  border-radius: ;
  box-shadow: ;
  border: ;
  z-index: ;
}
.ui.search > .results > :first-child {
  border-radius:   0em 0em;
}
.ui.search > .results > :last-child {
  border-radius: 0em 0em  ;
}
.ui.search > .results .result {
  cursor: pointer;
  display: block;
  overflow: hidden;
  font-size: ;
  padding: ;
  color: ;
  line-height: ;
  border-bottom: ;
}
.ui.search > .results .result:last-child {
  border-bottom:  !important;
}
.ui.search > .results .result .image {
  float: ;
  overflow: hidden;
  background: ;
  width: ;
  height: ;
  border-radius: ;
}
.ui.search > .results .result .image img {
  display: block;
  width: auto;
  height: 100%;
}
.ui.search > .results .result .image + .content {
  margin: ;
}
.ui.search > .results .result .title {
  margin: ;
  font-family: ;
  font-weight: ;
  font-size: ;
  color: ;
}
.ui.search > .results .result .description {
  margin-top: ;
  font-size: ;
  color: ;
}
.ui.search > .results .result .price {
  float: ;
  color: ;
}
.ui.search > .results > .message {
  padding:  ;
}
.ui.search > .results > .message .header {
  font-family: ;
  font-size: ;
  font-weight: ;
  color: ;
}
.ui.search > .results > .message .description {
  margin-top: ;
  font-size: ;
  color: ;
}
.ui.search > .results > .action {
  display: block;
  border-top: ;
  background: ;
  padding: ;
  color: ;
  font-weight: ;
  text-align: ;
}
.ui.search > .prompt:focus {
  border-color: ;
  background: ;
  color: ;
}
.ui.loading.search .input > i.icon:before {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  margin: ;
  width: ;
  height: ;
  border-radius: ;
  border:  solid ;
}
.ui.loading.search .input > i.icon:after {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  margin: ;
  width: ;
  height: ;
  animation: button-spin  linear;
  animation-iteration-count: infinite;
  border-radius: ;
  border-color:  transparent transparent;
  border-style: solid;
  border-width: ;
  box-shadow: 0px 0px 0px 1px transparent;
}
.ui.search > .results .result:hover,
.ui.category.search > .results .category .result:hover {
  background: ;
}
.ui.search .action:hover {
  background: ;
}
.ui.category.search > .results .category.active {
  background: ;
}
.ui.category.search > .results .category.active > .name {
  color: ;
}
.ui.search > .results .result.active,
.ui.category.search > .results .category .result.active {
  position: relative;
  border-left-color: ;
  background: ;
  box-shadow: ;
}
.ui.search > .results .result.active .title {
  color: ;
}
.ui.search > .results .result.active .description {
  color: ;
}
.ui.search.selection .prompt {
  border-radius: ;
}
.ui.search.selection > .icon.input > .remove.icon {
  pointer-events: none;
  position: absolute;
  left: auto;
  opacity: 0;
  color: ;
  top: ;
  right: ;
  transition: ;
}
.ui.search.selection > .icon.input > .active.remove.icon {
  cursor: pointer;
  opacity: ;
  pointer-events: auto;
}
.ui.search.selection > .icon.input:not([class*="left icon"]) > .icon ~ .remove.icon {
  right: ;
}
.ui.search.selection > .icon.input > .remove.icon:hover {
  opacity: ;
  color: ;
}
.ui.category.search .results {
  width: ;
}
.ui.category.search > .results .category {
  background: ;
  box-shadow: ;
  border-bottom: ;
  transition: ;
}
.ui.category.search > .results .category:last-child {
  border-bottom: none;
}
.ui.category.search > .results .category:first-child .name + .result {
  border-radius: 0em  0em 0em;
}
.ui.category.search > .results .category:last-child .result:last-child {
  border-radius: 0em 0em  0em;
}
.ui.category.search > .results .category .result {
  background: ;
  margin-left: ;
  border-left: ;
  border-bottom: ;
  transition: ;
  padding: ;
}
.ui.category.search > .results .category:last-child .result:last-child {
  border-bottom: ;
}
.ui.category.search > .results .category > .name {
  width: ;
  background: ;
  font-family: ;
  font-size: ;
  float: ;
  padding: ;
  font-weight: ;
  color: ;
}
.ui[class*="left aligned"].search > .results {
  right: auto;
  left: 0%;
}
.ui[class*="right aligned"].search > .results {
  right: 0%;
  left: auto;
}
.ui.fluid.search .results {
  width: 100%;
}
.ui.mini.search {
  font-size: ;
}
.ui.small.search {
  font-size: ;
}
.ui.search {
  font-size: ;
}
.ui.large.search {
  font-size: ;
}
.ui.big.search {
  font-size: ;
}
.ui.huge.search {
  font-size: ;
}
.ui.massive.search {
  font-size: ;
}
