@import multiple '../../theme.config';
.ui.shape {
  position: relative;
  vertical-align: top;
  display: ;
  perspective: ;
  transition: ;
}
.ui.shape .sides {
  transform-style: preserve-3d;
}
.ui.shape .side {
  opacity: 1;
  width: 100%;
  margin:  !important;
  backface-visibility: ;
}
.ui.shape .side {
  display: none;
}
.ui.shape .side * {
  backface-visibility: visible !important;
}
.ui.cube.shape .side {
  min-width: ;
  height: ;
  padding: ;
  background-color: ;
  color: ;
  box-shadow: ;
}
.ui.cube.shape .side > .content {
  width: 100%;
  height: 100%;
  display: table;
  text-align: ;
  user-select: text;
}
.ui.cube.shape .side > .content > div {
  display: table-cell;
  vertical-align: middle;
  font-size: ;
}
.ui.text.shape.animating .sides {
  position: static;
}
.ui.text.shape .side {
  white-space: nowrap;
}
.ui.text.shape .side > * {
  white-space: normal;
}
.ui.loading.shape {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
.ui.shape .animating.side {
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  z-index: ;
}
.ui.shape .hidden.side {
  opacity: ;
}
.ui.shape.animating .sides {
  position: absolute;
}
.ui.shape.animating .sides {
  transition: ;
}
.ui.shape.animating .side {
  transition: ;
}
.ui.shape .active.side {
  display: block;
}
