@import multiple '../../theme.config';
.ui.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  transition: none;
  will-change: transform;
  transform: translate3d(0,0,0);
  visibility: hidden;
  -webkit-overflow-scrolling: touch;
  height: 100% !important;
  max-height: 100%;
  border-radius: 0em !important;
  margin: 0em !important;
  overflow-y: auto !important;
  z-index: ;
}
.ui.sidebar > * {
  backface-visibility: hidden;
}
.ui.left.sidebar {
  right: auto;
  left: 0px;
  transform: translate3d(-100%,0,0);
}
.ui.right.sidebar {
  right: 0px !important;
  left: auto !important;
  transform: translate3d(100%,0%,0);
}
.ui.top.sidebar,
.ui.bottom.sidebar {
  width: 100% !important;
  height: auto !important;
}
.ui.top.sidebar {
  top: 0px !important;
  bottom: auto !important;
  transform: translate3d(0,-100%,0);
}
.ui.bottom.sidebar {
  top: auto !important;
  bottom: 0px !important;
  transform: translate3d(0,100%,0);
}
.pushable {
  height: 100%;
  overflow-x: hidden;
  padding: 0em !important;
}
body.pushable {
  background:  !important;
}
.pushable:not(body) {
  transform: translate3d(0,0,0);
}
.pushable:not(body) > .ui.sidebar,
.pushable:not(body) > .fixed,
.pushable:not(body) > .pusher:after {
  position: absolute;
}
.pushable > .fixed {
  position: fixed;
  backface-visibility: hidden;
  transition: transform  ;
  will-change: transform;
  z-index: ;
}
.pushable > .pusher {
  position: relative;
  backface-visibility: hidden;
  overflow: hidden;
  min-height: 100%;
  transition: transform  ;
  z-index: ;
}
body.pushable > .pusher {
  background: ;
}
.pushable > .pusher {
  background: inherit;
}
.pushable > .pusher:after {
  position: fixed;
  top: 0px;
  right: 0px;
  content: '';
  background-color: ;
  overflow: hidden;
  opacity: 0;
  transition: ;
  will-change: opacity;
  z-index: ;
}
.ui.sidebar.menu .item {
  border-radius: 0em !important;
}
.pushable > .pusher.dimmed:after {
  width: 100% !important;
  height: 100% !important;
  opacity: 1 !important;
}
.ui.animating.sidebar {
  visibility: visible;
}
.ui.visible.sidebar {
  visibility: visible;
  transform: translate3d(0,0,0);
}
.ui.left.visible.sidebar,
.ui.right.visible.sidebar {
  box-shadow: ;
}
.ui.top.visible.sidebar,
.ui.bottom.visible.sidebar {
  box-shadow: ;
}
.ui.visible.left.sidebar ~ .fixed,
.ui.visible.left.sidebar ~ .pusher {
  transform: translate3d(,0,0);
}
.ui.visible.right.sidebar ~ .fixed,
.ui.visible.right.sidebar ~ .pusher {
  transform: translate3d(-,0,0);
}
.ui.visible.top.sidebar ~ .fixed,
.ui.visible.top.sidebar ~ .pusher {
  transform: translate3d(0,,0);
}
.ui.visible.bottom.sidebar ~ .fixed,
.ui.visible.bottom.sidebar ~ .pusher {
  transform: translate3d(0,-,0);
}
.ui.visible.left.sidebar ~ .ui.visible.right.sidebar ~ .fixed,
.ui.visible.left.sidebar ~ .ui.visible.right.sidebar ~ .pusher,
.ui.visible.right.sidebar ~ .ui.visible.left.sidebar ~ .fixed,
.ui.visible.right.sidebar ~ .ui.visible.left.sidebar ~ .pusher {
  transform: translate3d(0,0,0);
}
html.ios {
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
html.ios,
html.ios body {
  height: initial !important;
}
.ui.thin.left.sidebar,
.ui.thin.right.sidebar {
  width: ;
}
.ui[class*="very thin"].left.sidebar,
.ui[class*="very thin"].right.sidebar {
  width: ;
}
.ui.left.sidebar,
.ui.right.sidebar {
  width: ;
}
.ui.wide.left.sidebar,
.ui.wide.right.sidebar {
  width: ;
}
.ui[class*="very wide"].left.sidebar,
.ui[class*="very wide"].right.sidebar {
  width: ;
}
.ui.visible.thin.left.sidebar ~ .fixed,
.ui.visible.thin.left.sidebar ~ .pusher {
  transform: translate3d(,0,0);
}
.ui.visible[class*="very thin"].left.sidebar ~ .fixed,
.ui.visible[class*="very thin"].left.sidebar ~ .pusher {
  transform: translate3d(,0,0);
}
.ui.visible.wide.left.sidebar ~ .fixed,
.ui.visible.wide.left.sidebar ~ .pusher {
  transform: translate3d(,0,0);
}
.ui.visible[class*="very wide"].left.sidebar ~ .fixed,
.ui.visible[class*="very wide"].left.sidebar ~ .pusher {
  transform: translate3d(,0,0);
}
.ui.visible.thin.right.sidebar ~ .fixed,
.ui.visible.thin.right.sidebar ~ .pusher {
  transform: translate3d(-,0,0);
}
.ui.visible[class*="very thin"].right.sidebar ~ .fixed,
.ui.visible[class*="very thin"].right.sidebar ~ .pusher {
  transform: translate3d(-,0,0);
}
.ui.visible.wide.right.sidebar ~ .fixed,
.ui.visible.wide.right.sidebar ~ .pusher {
  transform: translate3d(-,0,0);
}
.ui.visible[class*="very wide"].right.sidebar ~ .fixed,
.ui.visible[class*="very wide"].right.sidebar ~ .pusher {
  transform: translate3d(-,0,0);
}
.ui.overlay.sidebar {
  z-index: ;
}
.ui.left.overlay.sidebar {
  transform: translate3d(-100%,0%,0);
}
.ui.right.overlay.sidebar {
  transform: translate3d(100%,0%,0);
}
.ui.top.overlay.sidebar {
  transform: translate3d(0%,-100%,0);
}
.ui.bottom.overlay.sidebar {
  transform: translate3d(0%,100%,0);
}
.animating.ui.overlay.sidebar,
.ui.visible.overlay.sidebar {
  transition: transform  ;
}
.ui.visible.left.overlay.sidebar {
  transform: translate3d(0%,0%,0);
}
.ui.visible.right.overlay.sidebar {
  transform: translate3d(0%,0%,0);
}
.ui.visible.top.overlay.sidebar {
  transform: translate3d(0%,0%,0);
}
.ui.visible.bottom.overlay.sidebar {
  transform: translate3d(0%,0%,0);
}
.ui.visible.overlay.sidebar ~ .fixed,
.ui.visible.overlay.sidebar ~ .pusher {
  transform: none !important;
}
.ui.push.sidebar {
  transition: transform  ;
  z-index: ;
}
.ui.left.push.sidebar {
  transform: translate3d(-100%,0,0);
}
.ui.right.push.sidebar {
  transform: translate3d(100%,0,0);
}
.ui.top.push.sidebar {
  transform: translate3d(0%,-100%,0);
}
.ui.bottom.push.sidebar {
  transform: translate3d(0%,100%,0);
}
.ui.visible.push.sidebar {
  transform: translate3d(0%,0,0);
}
.ui.uncover.sidebar {
  transform: translate3d(0,0,0);
  z-index: ;
}
.ui.visible.uncover.sidebar {
  transform: translate3d(0,0,0);
  transition: transform  ;
}
.ui.slide.along.sidebar {
  z-index: ;
}
.ui.left.slide.along.sidebar {
  transform: translate3d(-50%,0,0);
}
.ui.right.slide.along.sidebar {
  transform: translate3d(50%,0,0);
}
.ui.top.slide.along.sidebar {
  transform: translate3d(0,-50%,0);
}
.ui.bottom.slide.along.sidebar {
  transform: translate3d(0%,50%,0);
}
.ui.animating.slide.along.sidebar {
  transition: transform  ;
}
.ui.visible.slide.along.sidebar {
  transform: translate3d(0%,0,0);
}
.ui.slide.out.sidebar {
  z-index: ;
}
.ui.left.slide.out.sidebar {
  transform: translate3d(50%,0,0);
}
.ui.right.slide.out.sidebar {
  transform: translate3d(-50%,0,0);
}
.ui.top.slide.out.sidebar {
  transform: translate3d(0%,50%,0);
}
.ui.bottom.slide.out.sidebar {
  transform: translate3d(0%,-50%,0);
}
.ui.animating.slide.out.sidebar {
  transition: transform  ;
}
.ui.visible.slide.out.sidebar {
  transform: translate3d(0%,0,0);
}
.ui.scale.down.sidebar {
  transition: transform  ;
  z-index: ;
}
.ui.left.scale.down.sidebar {
  transform: translate3d(-100%,0,0);
}
.ui.right.scale.down.sidebar {
  transform: translate3d(100%,0,0);
}
.ui.top.scale.down.sidebar {
  transform: translate3d(0%,-100%,0);
}
.ui.bottom.scale.down.sidebar {
  transform: translate3d(0%,100%,0);
}
.ui.scale.down.left.sidebar ~ .pusher {
  transform-origin: 75% 50%;
}
.ui.scale.down.right.sidebar ~ .pusher {
  transform-origin: 25% 50%;
}
.ui.scale.down.top.sidebar ~ .pusher {
  transform-origin: 50% 75%;
}
.ui.scale.down.bottom.sidebar ~ .pusher {
  transform-origin: 50% 25%;
}
.ui.animating.scale.down > .visible.ui.sidebar {
  transition: transform  ;
}
.ui.visible.scale.down.sidebar ~ .pusher,
.ui.animating.scale.down.sidebar ~ .pusher {
  display: block !important;
  width: 100%;
  height: 100%;
  overflow: hidden !important;
}
.ui.visible.scale.down.sidebar {
  transform: translate3d(0,0,0);
}
.ui.visible.scale.down.sidebar ~ .pusher {
  transform: scale(0.75);
}
