@import multiple '../../theme.config';
.ui.tab {
  display: none;
}
.ui.tab.active,
.ui.tab.open {
  display: block;
}
.ui.tab.loading {
  position: relative;
  overflow: hidden;
  display: block;
  min-height: ;
}
.ui.tab.loading * {
  position:  !important;
  left:  !important;
}
.ui.tab.loading:before,
.ui.tab.loading.segment:before {
  position: absolute;
  content: '';
  top: ;
  left: 50%;
  margin: ;
  width: ;
  height: ;
  border-radius: ;
  border:  solid ;
}
.ui.tab.loading:after,
.ui.tab.loading.segment:after {
  position: absolute;
  content: '';
  top: ;
  left: 50%;
  margin: ;
  width: ;
  height: ;
  animation: button-spin  linear;
  animation-iteration-count: infinite;
  border-radius: ;
  border-color:  transparent transparent;
  border-style: solid;
  border-width: ;
  box-shadow: 0px 0px 0px 1px transparent;
}
