@import multiple '../../theme.config';
.transition {
  animation-iteration-count: 1;
  animation-duration: ;
  animation-timing-function: ;
  animation-fill-mode: ;
}
.animating.transition {
  backface-visibility: ;
  visibility: visible !important;
}
.loading.transition {
  position: absolute;
  top: -99999px;
  left: -99999px;
}
.hidden.transition {
  display: none;
  visibility: hidden;
}
.visible.transition {
  display: block !important;
  visibility: visible !important;
}
.disabled.transition {
  animation-play-state: paused;
}
.looping.transition {
  animation-iteration-count: infinite;
}
