@font-face {
  font-family: 'encode_sans_normal';
  src: url('./fonts/encodesansnormal-300-light.eot');
  src: url('./fonts/encodesansnormal-300-light.eot?#iefix') format('embedded-opentype'), url('./fonts/encodesansnormal-300-light.woff') format('woff'), url('./fonts/encodesansnormal-300-light.ttf') format('truetype'), url('./fonts/encodesansnormal-300-light.svg#encode_sans_normallight') format('svg');
  font-weight: normal;
  font-style: normal;
}
