@font-face {
  font-family: 'encode_sans_narrow';
  src: url('./fonts/encodesansnarrow-300-light.eot');
  src: url('./fonts/encodesansnarrow-300-light.eot?#iefix') format('embedded-opentype'), url('./fonts/encodesansnarrow-300-light.woff') format('woff'), url('./fonts/encodesansnarrow-300-light.ttf') format('truetype'), url('./fonts/encodesansnarrow-300-light.svg#encode_sans_narrowlight') format('svg');
  font-weight: normal;
  font-style: normal;
}
