@font-face {
    font-family: 'encode_sans_normal';
    src: url('./fonts/encodesansnormal-400-regular.eot');
    src: url('./fonts/encodesansnormal-400-regular.eot?#iefix') format('embedded-opentype'),
         url('./fonts/encodesansnormal-400-regular.woff') format('woff'),
         url('./fonts/encodesansnormal-400-regular.ttf') format('truetype'),
         url('./fonts/encodesansnormal-400-regular.svg#encode_sans_normalregular') format('svg');
    font-weight: normal;
    font-style: normal;
}