@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/Montserrat-Regular.eot');
    src: url('./fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Montserrat-Regular.svg#Montserratregular') format('svg'),
         url('./fonts/Montserrat-Regular.woff2') format('woff2'),
         url('./fonts/Montserrat-Regular.woff') format('woff'),
         url('./fonts/Montserrat-Regular.ttf') format('truetype');
}