@font-face {
    font-family: 'Montserrat';
    font-weight: 600;
    font-style: normal;
    src: url('./fonts/Montserrat-Bold.eot');
    src: url('./fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
         url('./fonts/Montserrat-Bold.svg#MontserratBold') format('svg'),
         url('./fonts/Montserrat-Bold.woff2') format('woff2'),
         url('./fonts/Montserrat-Bold.woff') format('woff'),
         url('./fonts/Montserrat-Bold.ttf') format('truetype');
}