# {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index:  !important;
  overflow-x: scroll;
  overflow-y: scroll;
  width:  !important;
  height: ;
  box-shadow: black 1px 1px 3px 0px;
}
#.toggle-sidebar,
div#whitewrap div.wrapper-mirroring-wd855dc62a99782a.toggle-sidebar {
  -webkit-transform: translate(0px,0px) !important;
  -ms-transform: translate(0px,0px) !important;
  transform: translate(0px,0px) !important;
}
