//.fixed-sidebar
#@{opt-sidebar-fixed-id}
{
	.rgba(@opt-sidebar-fixed-background-color, @opt-sidebar-fixed-background-rgba) !important;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    z-index: @opt-sidebar-fixed-zindex!important;
    overflow-x: scroll;
    overflow-y: scroll;
    width: @opt-sidebar-fixed-width !important;
    height: @opt-sidebar-fixed-height;
    box-shadow: black 1px 1px 3px 0px;
    .transition(@opt-sidebar-fixed-transition);
    .transform(@opt-sidebar-fixed-transform-x,@opt-sidebar-fixed-transform-y);
}


#@{opt-sidebar-fixed-id}.toggle-sidebar,
div#whitewrap div.wrapper-mirroring-wd855dc62a99782a.toggle-sidebar{
    -webkit-transform: translate(0px, 0px) !important;
    -ms-transform: translate(0px, 0px) !important;
    transform: translate(0px, 0px)!important;
}
   