.scroll-back-to-top-wrapper {
	opacity: 0;
	visibility: hidden;
	cursor: pointer;
    position: fixed;
	overflow: hidden;
	text-align: center;
	z-index: 99999999;
    background-color: @opt-scroll-back-background;
	color: @opt-scroll-back-color;
	width: @opt-scroll-back-dimension-width;
	height: @opt-scroll-back-dimension-height;
	line-height: 28px;
	right: @opt-scroll-back-horizontal-distance;
	bottom: @opt-scroll-back-horizontal-distance;
	padding-top: 2px;
	.border-radius(@opt-scroll-back-border-radius);
	
	.transition(0.6s); // aj s jednotkou casu
	
	border-width: @opt-scroll-back-border-width;
	border-color: @opt-scroll-back-border-color;
	border-style: @opt-scroll-back-border-style;
}

.scroll-back-to-top-wrapper:hover {
	background-color: @opt-scroll-back-hover-background;
  	color: @opt-scroll-back-hover;
}

.scroll-back-to-top-wrapper.show {
    visibility:visible;
    cursor:pointer;
	opacity: 0.8;
}

.scroll-back-to-top-wrapper i.fa {
	font-size: @opt-scroll-back-font-size;
	line-height: @opt-scroll-back-line-height;
}

.scroll-back-to-top-wrapper .fa-lg {
	vertical-align: 0;
}

// conditional php less nefunguje ....
	// @test: true;

	// & when (@test = true){
	// border-width: @opt-scroll-back-border-width;
	// border-color: @opt-scroll-back-border-color;
	// border-style: @opt-scroll-back-border-style;
	// }
