.scroll-back-to-top-wrapper {
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  position: fixed;
  overflow: hidden;
  text-align: center;
  z-index: 99999999;
  background-color: ;
  color: ;
  width: ;
  height: ;
  line-height: 28px;
  right: ;
  bottom: ;
  padding-top: 2px;
  border-width: ;
  border-color: ;
  border-style: ;
}
.scroll-back-to-top-wrapper:hover {
  background-color: ;
  color: ;
}
.scroll-back-to-top-wrapper.show {
  visibility: visible;
  cursor: pointer;
  opacity: 0.8;
}
.scroll-back-to-top-wrapper i.fa {
  font-size: ;
  line-height: ;
}
.scroll-back-to-top-wrapper .fa-lg {
  vertical-align: 0;
}
