.myfixed { 
	margin: 0 auto!important;
	float: none!important;
	border: 0px!important;
	background: none!important;
	max-width: 100%!important;
}

#mysticky-nav {
	width: 100%!important;
	position: static;
	top: -100px; // fades
}

#wpadminbar { 
	position: absolute !important;
	top: 0px !important;
}

.wrapfixed {
	position: fixed!important;
	top: 0px!important;
	left: 0px!important;
	margin-top: 0px!important;
	z-index: 5000;
	-webkit-transition: @opt-sticky-transition-time;
	-moz-transition: @opt-sticky-transition-time;
	-o-transition: @opt-sticky-transition-time;
	transition: @opt-sticky-transition-time;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
	filter: alpha(opacity=95);
	opacity: .95;
	background: @opt-sticky-background !important;
}


@media (max-width: @opt-sticky-disable-small-screen) {
	.wrapfixed {
		position: static!important;
		display: none!important;
	}
}
