// @import url('@{stylesheet_directory_uri}/less/woocommerce-only-DEV.css');

@import url('/plugins/gridlist/button.less');
@import url('/plugins/woocommerce/woocommerce-cart.less');


@import url('@{plugin_dir}/less/plugins/woocommerce/woocommerce.less');
// @import url('/plugins/woocommerce.less');

@secondary: #eeeeee;

// Layout 2, 3, 5 columns
.woocommerce, .woocommerce-page {
	&.product-columns-2 {
		ul.products {
			li.product {
				width:48%;
			}
		}
	}
	&.product-columns-3 {
		ul.products {
			li.product {
				width:30.75%;
			}
		}
	}
	&.product-columns-5 {
		ul.products {
			li.product {
				width:16.9%;
			}
		}
	}
}

// Hide H2 in tabs

div.woocommerce-tabs .entry-content h2{
	display:none;
}

div.summary div.product_meta {
	display:none;
}

// 
.woocommerce ul.products li.product a {
    text-decoration:none;
}

// Gridlist side by title H1
.woocommerce .block-type-content h1.page-title{
  float: left;
}

.gridlist-toggle{
  margin-top: 10px;
  float: right;
  clear: right;
}

.products.list hr {
	border-style: hidden;
}

// Tabs

div.woocommerce-tabs ul.tabs li a {
	text-decoration: none
}

// Dermoxen Style 
.woocommerce .products .product:hover {
	box-shadow:0 2px 20px rgba(0,0,0,0.2)
}

.woocommerce .products .product {
	display: inline-block;
	vertical-align: top;
	position: relative;
	/*margin: 0 !important;*/
	min-height: 360px;
	padding: 20px !important;
	margin-bottom: 20px !important;
	box-shadow: 0 1px 1px rgba(0,0,0,0);
	-webkit-transition: box-shadow 0.25s ease-out;
	-webkit-transition-property: box-shadow;
	-webkit-transition-duration: 0.25s;
	-webkit-transition-timing-function: ease-out;
	-webkit-transition-delay: initial;
	transition: box-shadow 0.25s ease-out;
	transition-property: box-shadow;
	transition-duration: 0.25s;
	transition-timing-function: ease-out;
	transition-delay: initial;
}

// On sale

.onsale {
	font-size:12px;
	line-height:32px;
	position: absolute;
	top: 0.9em !important;
	// /right: -3em !important;
	left: -4em !important;
	background: #ff6c00;
	padding: .5em 4.7em;
	color: #fff;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	zoom: 1;
	z-index: 98;
	float: left;
}

.single .product,
.woocommerce .block-type-content ul.products li.product {
	overflow: hidden !important;
}

.woocommerce div.product,
.woocommerce #content div.product,
.woocommerce-page div.product,
.woocommerce-page #content div.product {
	margin-bottom:0;
	position:relative;
}

.block-type-content {
	overflow: visible !important;
}

// End On sale

// Button Buy Online

// .woocommerce #content input.button.alt,
// .woocommerce #respond input#submit.alt,
// .woocommerce a.button,
// .woocommerce #content button.button,
// .woocommerce a.button.alt,
// .woocommerce button.button.alt,
// .woocommerce input.button.alt,
// .woocommerce-page #content input.button.alt,
// .woocommerce-page #respond input#submit.alt,
// .woocommerce-page a.button.alt,
// .woocommerce-page button.button.alt,
// .woocommerce-page input.button.alt,
// .woocommerce ul.products li a.added_to_cart,
// .woocommerce a.button,
// .woocommerce button.button,
// .woocommerce input.button, 
// .woocommerce #respond input#submit,
// .woocommerce #content input.button,
// .woocommerce-page a.button,
// .woocommerce-page button.button,
// .woocommerce-page input.button,
// .woocommerce-page #respond input#submit,
// .woocommerce-page #content input.button
// .woocommerce ul.products li a.added_to_cart,
// .woocommerce a.button,
// .woocommerce button.button,
// .woocommerce input.button,
// .woocommerce #respond input#submit,
// .woocommerce #content input.button,
// .woocommerce-page a.button,
// .woocommerce-page button.button,
// .woocommerce-page input.button,
// .woocommerce-page #respond input#submit,
.woocommerce-page #content input.button {
 	overflow: visible;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
}

.woocommerce ul.products li a.added_to_cart,
.woocommerce ul.products li a.button,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce #respond input#submit,
.woocommerce #content input.button,
.woocommerce-page a.button,
.woocommerce-page button.button,
.woocommerce-page input.button,
.woocommerce-page #respond input#submit,
.woocommerce-page #content input.button {
	display:inline-block;
	text-decoration: none;
}

// Grid / List view in Loop

.gridlist-buttonwrap .add_to_cart_button {
	width: 100%;

}

.products.grid .price .amount {
	text-align: center;
	width:  100%;
	display: inline-block;
}

ul.products.grid li a > h2,
ul.products.grid li a > h3{
	text-align:center;
}

nav.woocommerce-pagination, #content nav.woocommerce-pagination {
	text-align: center;
	ul {
		display: inline-block;
		white-space: nowrap;
		padding:0;
		clear: both;
		border: 1px solid darken( @secondary, 10 );
		border-right: 0;
		margin: 1px;
		li {
			border-right: 1px solid darken( @secondary, 10 );
			padding: 0;
			margin: 0;
			float: left;
			display: inline;
			overflow: hidden;
			a, span {
				margin: 0;
				text-decoration: none;
				padding: 0;
				line-height: 1em;
				font-size: 1em;
				font-weight: normal;
				padding: .5em;
				min-width: 1em;
				display: block;
			}
			span.current, a:hover, a:focus {
				 background: @secondary;
				 color: darken( @secondary, 40 );
			}
		}
	}
}

