@import url('/less/plugins/woocommerce/woocommerce.less');
.woocommerce.product-columns-2 ul.products li.product,
.woocommerce-page.product-columns-2 ul.products li.product {
  width: 48%;
}
.woocommerce.product-columns-3 ul.products li.product,
.woocommerce-page.product-columns-3 ul.products li.product {
  width: 30.75%;
}
.woocommerce.product-columns-5 ul.products li.product,
.woocommerce-page.product-columns-5 ul.products li.product {
  width: 16.9%;
}
div.woocommerce-tabs .entry-content h2 {
  display: none;
}
div.summary div.product_meta {
  display: none;
}
.woocommerce ul.products li.product a {
  text-decoration: none;
}
.woocommerce .block-type-content h1.page-title {
  float: left;
}
.gridlist-toggle {
  margin-top: 10px;
  float: right;
  clear: right;
}
.products.list hr {
  border-style: hidden;
}
div.woocommerce-tabs ul.tabs li a {
  text-decoration: none;
}
.woocommerce .products .product:hover {
  box-shadow: 0 2px 20px rgba(0,0,0,0.2);
}
.woocommerce .products .product {
  display: inline-block;
  vertical-align: top;
  position: relative;
  min-height: 360px;
  padding: 20px !important;
  margin-bottom: 20px !important;
  box-shadow: 0 1px 1px rgba(0,0,0,0);
  -webkit-transition: box-shadow 0.25s ease-out;
  -webkit-transition-property: box-shadow;
  -webkit-transition-duration: 0.25s;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-delay: initial;
  transition: box-shadow 0.25s ease-out;
  transition-property: box-shadow;
  transition-duration: 0.25s;
  transition-timing-function: ease-out;
  transition-delay: initial;
}
.onsale {
  font-size: 12px;
  line-height: 32px;
  position: absolute;
  top: 0.9em !important;
  left: -4em !important;
  background: #ff6c00;
  padding: .5em 4.7em;
  color: #fff;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  zoom: 1;
  z-index: 98;
  float: left;
}
.single .product,
.woocommerce .block-type-content ul.products li.product {
  overflow: hidden !important;
}
.woocommerce div.product,
.woocommerce #content div.product,
.woocommerce-page div.product,
.woocommerce-page #content div.product {
  margin-bottom: 0;
  position: relative;
}
.block-type-content {
  overflow: visible !important;
}
.woocommerce-page #content input.button {
  overflow: visible;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}
.woocommerce ul.products li a.added_to_cart,
.woocommerce ul.products li a.button,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce #respond input#submit,
.woocommerce #content input.button,
.woocommerce-page a.button,
.woocommerce-page button.button,
.woocommerce-page input.button,
.woocommerce-page #respond input#submit,
.woocommerce-page #content input.button {
  display: inline-block;
  text-decoration: none;
}
.gridlist-buttonwrap .add_to_cart_button {
  width: 100%;
}
.products.grid .price .amount {
  text-align: center;
  width: 100%;
  display: inline-block;
}
ul.products.grid li a > h2,
ul.products.grid li a > h3 {
  text-align: center;
}
nav.woocommerce-pagination,
#content nav.woocommerce-pagination {
  text-align: center;
}
nav.woocommerce-pagination ul,
#content nav.woocommerce-pagination ul {
  display: inline-block;
  white-space: nowrap;
  padding: 0;
  clear: both;
  border: 1px solid #d5d5d5;
  border-right: 0;
  margin: 1px;
}
nav.woocommerce-pagination ul li,
#content nav.woocommerce-pagination ul li {
  border-right: 1px solid #d5d5d5;
  padding: 0;
  margin: 0;
  float: left;
  display: inline;
  overflow: hidden;
}
nav.woocommerce-pagination ul li a,
nav.woocommerce-pagination ul li span,
#content nav.woocommerce-pagination ul li a,
#content nav.woocommerce-pagination ul li span {
  margin: 0;
  text-decoration: none;
  padding: 0;
  line-height: 1em;
  font-size: 1em;
  font-weight: normal;
  padding: .5em;
  min-width: 1em;
  display: block;
}
nav.woocommerce-pagination ul li span.current,
nav.woocommerce-pagination ul li a:hover,
nav.woocommerce-pagination ul li a:focus,
#content nav.woocommerce-pagination ul li span.current,
#content nav.woocommerce-pagination ul li a:hover,
#content nav.woocommerce-pagination ul li a:focus {
  background: #eeeeee;
  color: #888888;
}
