.wp-pagenavi {
  text-align: center;
}
.wp-pagenavi span.current {
  background-color: #ededed;
  color: #6a6a6a;
}
.wp-pagenavi a:hover {
  color: #6a6a6a;
}
.wp-pagenavi a,
.wp-pagenavi span {
  font-size: 12px;
  background: #f5f5f5;
  color: #000;
  margin: 0 3px;
  display: inline-block;
  text-decoration: none;
  padding: 4px 12px;
}
