.addresses .title h3 {
  float: left;
}
.addresses .title .edit {
  float: right;
}
ol.commentlist.notes li.note p.meta {
  font-weight: bold;
  margin-bottom: 0;
}
ol.commentlist.notes li.note .description p:last-child {
  margin-bottom: 0;
}
ul.digital-downloads {
  margin-left: 0;
  padding-left: 0;
}
ul.digital-downloads li {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}
ul.digital-downloads li .count {
  float: right;
}
