.woocommerce-message {
  position: relative;
  border-left-color: #cc99c2 !important;
  overflow: hidden;
}
.woocommerce-message .twitter-share-button {
  vertical-align: middle;
  margin-left: 3px;
}
p.woocommerce-actions a.button-primary,
.woocommerce-message a.button-primary {
  background: #cc99c2;
  border-color: #b366a4;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.25), 0 1px 0 rgba(0,0,0,0.15);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.25), 0 1px 0 rgba(0,0,0,0.15);
  color: #fff;
  text-decoration: none;
}
p.woocommerce-actions a.button-primary:hover,
.woocommerce-message a.button-primary:hover {
  background: #bb77ae;
  border-color: #aa559a;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.25), 0 1px 0 rgba(0,0,0,0.15);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.25), 0 1px 0 rgba(0,0,0,0.15);
}
p.woocommerce-actions a.button-primary:active,
.woocommerce-message a.button-primary:active {
  background: #aa559a;
  border-color: #aa559a;
}
p.woocommerce-actions a.skip,
p.woocommerce-actions a.docs,
.woocommerce-message a.skip,
.woocommerce-message a.docs {
  opacity: 0.7;
}
p.woocommerce-actions .twitter-share-button,
.woocommerce-message .twitter-share-button {
  vertical-align: middle;
  margin-left: 3px;
}
p.woocommerce-actions {
  margin-bottom: 2em;
}
.woocommerce-about-text {
  margin-bottom: 1em !important;
}
