@font-face {
  font-family: 'WooCommerce';
  src: url('../fonts/WooCommerce.eot');
  src: url('../fonts/WooCommerce.eot?#iefix') format('embedded-opentype'), url('../fonts/WooCommerce.woff') format('woff'), url('../fonts/WooCommerce.ttf') format('truetype'), url('../fonts/WooCommerce.svg#WooCommerce') format('svg');
  font-weight: normal;
  font-style: normal;
}
.wc_addons_wrap .products {
  overflow: hidden;
}
.wc_addons_wrap .products li {
  float: left;
  margin: 0 1em 1em 0 !important;
  padding: 0;
  vertical-align: top;
  width: 300px;
}
.wc_addons_wrap .products li a {
  text-decoration: none;
  color: inherit;
  border: 1px solid #ddd;
  display: block;
  min-height: 220px;
  overflow: hidden;
  background: #f5f5f5;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), inset 0 -1px 0 rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), inset 0 -1px 0 rgba(0,0,0,0.1);
}
.wc_addons_wrap .products li a img {
  max-width: 258px;
  max-height: 24px;
  padding: 17px 20px;
  display: block;
  margin: 0;
  background: #fff;
  border-right: 260px solid #fff;
}
.wc_addons_wrap .products li a img.extension-thumb+h3 {
  display: none;
}
.wc_addons_wrap .products li a .price {
  display: none;
}
.wc_addons_wrap .products li a h3 {
  margin: 0 !important;
  padding: 20px !important;
  background: #fff;
}
.wc_addons_wrap .products li a p {
  padding: 20px !important;
  margin: 0 !important;
  border-top: 1px solid #f1f1f1;
}
.wc_addons_wrap .products li a:hover,
.wc_addons_wrap .products li a:focus {
  background-color: #fff;
}
.woocommerce-message {
  position: relative;
  border-left-color: #cc99c2 !important;
  overflow: hidden;
}
.woocommerce-message a.button-primary {
  background: #cc99c2;
  border-color: #b366a4;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.25), 0 1px 0 rgba(0,0,0,0.15);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.25), 0 1px 0 rgba(0,0,0,0.15);
  color: #fff;
  text-decoration: none;
}
.woocommerce-message a.button-primary:hover {
  background: #bb77ae;
  border-color: #aa559a;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.25), 0 1px 0 rgba(0,0,0,0.15);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.25), 0 1px 0 rgba(0,0,0,0.15);
}
.woocommerce-message a.button-primary:active {
  background: #aa559a;
  border-color: #aa559a;
}
.woocommerce-message a.skip,
.woocommerce-message a.docs {
  opacity: 0.5;
}
.woocommerce-message .twitter-share-button {
  vertical-align: middle;
}
#variable_product_options #message {
  margin: 10px;
}
.wrap.woocommerce div.updated,
.wrap.woocommerce div.error {
  margin-top: 10px;
}
mark.amount {
  background: transparent none;
  color: inherit;
}
.postbox input:invalid,
.woocommerce input:invalid {
  border: 1px solid #cc010b;
  background: #ffebe8;
}
table.wc_status_table tr:nth-child(2n) th,
table.wc_status_table tr:nth-child(2n) td {
  background: #fcfcfc;
}
table.wc_status_table th {
  font-weight: bold;
}
table.wc_status_table td:first-child {
  width: 20%;
}
table.wc_status_table td {
  padding: 6px 9px;
  font-size: 1.1em;
}
table.wc_status_table td mark {
  background: transparent none;
}
table.wc_status_table td mark.yes {
  color: ;
}
table.wc_status_table td mark.no {
  color: #999;
}
table.wc_status_table td mark.error {
  color: ;
}
table.wc_status_table td ul {
  margin: 0;
}
#debug-report {
  display: none;
  margin: 10px 0;
  padding: 0;
  position: relative;
}
#debug-report textarea {
  font-family: monospace;
  width: 100%;
  margin: 0;
  height: 300px;
  padding: 20px;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  resize: none;
  font-size: 12px;
  line-height: 20px;
  outline: 0;
}
.inline-edit-product.quick-edit-row .inline-edit-col-center,
.inline-edit-product.quick-edit-row .inline-edit-col-right {
  float: right !important;
}
#woocommerce-fields.inline-edit-col {
  clear: left;
}
#woocommerce-fields.inline-edit-col label.featured,
#woocommerce-fields.inline-edit-col label.manage_stock {
  margin-left: 10px;
}
#woocommerce-fields.inline-edit-col .dimensions div {
  display: block;
  margin: .2em 0;
}
#woocommerce-fields.inline-edit-col .dimensions div span.title {
  display: block;
  float: left;
  width: 5em;
}
#woocommerce-fields.inline-edit-col .dimensions div span.input-text-wrap {
  display: block;
  margin-left: 5em;
}
#woocommerce-fields.inline-edit-col .text {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 99%;
  float: left;
  margin: 1px 1% 1px 1px;
}
#woocommerce-fields.inline-edit-col .length,
#woocommerce-fields.inline-edit-col .width,
#woocommerce-fields.inline-edit-col .height {
  width: 32.33%;
}
#woocommerce-fields.inline-edit-col .height {
  margin-right: 0;
}
#woocommerce-fields-bulk.inline-edit-col label {
  clear: left;
}
#woocommerce-fields-bulk.inline-edit-col .inline-edit-group label,
#woocommerce-fields-bulk.inline-edit-col .inline-edit-group div.alignright {
  clear: none;
  width: 49%;
  margin: .2em 0;
}
#woocommerce-fields-bulk.inline-edit-col .regular_price,
#woocommerce-fields-bulk.inline-edit-col .sale_price,
#woocommerce-fields-bulk.inline-edit-col .weight,
#woocommerce-fields-bulk.inline-edit-col .stock {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}
#woocommerce-fields-bulk.inline-edit-col .length,
#woocommerce-fields-bulk.inline-edit-col .width,
#woocommerce-fields-bulk.inline-edit-col .height {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 32%;
}
.column-coupon_code {
  line-height: 2.25em;
}
ul.wc_coupon_list,
.column-coupon_code {
  margin: 0;
  overflow: hidden;
  zoom: 1;
  clear: both;
}
ul.wc_coupon_list .code,
.column-coupon_code .code {
  margin-right: 6px;
}
ul.wc_coupon_list li.code,
.column-coupon_code li.code {
  margin: 0 6px 12px 0 !important;
}
ul.wc_coupon_list .code:before,
ul.wc_coupon_list .code:after,
ul.wc_coupon_list .code a:before,
ul.wc_coupon_list .code a:after,
ul.wc_coupon_list .code span:before,
ul.wc_coupon_list .code span:after,
.column-coupon_code .code:before,
.column-coupon_code .code:after,
.column-coupon_code .code a:before,
.column-coupon_code .code a:after,
.column-coupon_code .code span:before,
.column-coupon_code .code span:after {
  content: "";
  display: block;
  position: absolute;
  width: 8px;
  height: 4px;
  background: #f7f7f7;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0 2px 0 0 rgba(255,255,255,0.3), inset 0 2px 0 0 rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 2px 0 0 rgba(255,255,255,0.3), inset 0 2px 0 0 rgba(0,0,0,0.1);
  box-shadow: 0 2px 0 0 rgba(255,255,255,0.3), inset 0 2px 0 0 rgba(0,0,0,0.1);
}
ul.wc_coupon_list .code,
.column-coupon_code .code {
  overflow: hidden;
  vertical-align: middle;
  margin: 0 8px 0 0;
  background: #ececec;
  color: #21759A;
  text-shadow: 0 1px 0 #ddd;
  padding: 2px;
  position: relative;
  float: left;
  line-height: 1em;
  -moz-box-shadow: 0 2px 0 0 #dddddd;
  -webkit-box-shadow: 0 2px 0 0 #dddddd;
  box-shadow: 0 2px 0 0 #dddddd;
  font-weight: bold;
}
ul.wc_coupon_list .code:before,
.column-coupon_code .code:before {
  bottom: 5px;
  left: 0;
  margin: 0 0 0 -4px;
}
ul.wc_coupon_list .code:after,
.column-coupon_code .code:after {
  top: 5px;
  left: 0;
  margin: 0 0 0 -4px;
}
ul.wc_coupon_list .code a,
ul.wc_coupon_list .code span,
.column-coupon_code .code a,
.column-coupon_code .code span {
  float: left;
  padding: 0 4px;
  color: #21759A;
}
ul.wc_coupon_list .code a:before,
ul.wc_coupon_list .code span:before,
.column-coupon_code .code a:before,
.column-coupon_code .code span:before {
  bottom: 5px;
  right: 0;
  margin: 0 -4px 0 0;
}
ul.wc_coupon_list .code a:after,
ul.wc_coupon_list .code span:after,
.column-coupon_code .code a:after,
.column-coupon_code .code span:after {
  content: "";
  top: 5px;
  right: 0;
  margin: 0 -4px 0 0;
}
ul.wc_coupon_list .code a span,
ul.wc_coupon_list .code span span,
.column-coupon_code .code a span,
.column-coupon_code .code span span {
  border: 1px dashed #ccc;
  padding: .5em 6px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
}
ul.wc_coupon_list .code a span:before,
ul.wc_coupon_list .code span span:before,
.column-coupon_code .code a span:before,
.column-coupon_code .code span span:before {
  top: 50%;
  left: 0;
  margin: -2px 0 0 -4px;
}
ul.wc_coupon_list .code a span:after,
ul.wc_coupon_list .code span span:after,
.column-coupon_code .code a span:after,
.column-coupon_code .code span span:after {
  top: 50%;
  right: 0;
  margin: -2px -4px 0 0;
}
ul.wc_coupon_list .code:hover,
.column-coupon_code .code:hover {
  background: #975e83;
  color: #fff;
  text-shadow: 0 1px 0 #5a324b;
}
ul.wc_coupon_list .code:hover a,
ul.wc_coupon_list .code:hover span,
.column-coupon_code .code:hover a,
.column-coupon_code .code:hover span {
  color: #fff;
}
ul.wc_coupon_list .code:hover a span,
ul.wc_coupon_list .code:hover span span,
.column-coupon_code .code:hover a span,
.column-coupon_code .code:hover span span {
  border: 1px dashed #bb82a7;
}
ul.wc_coupon_list_block {
  margin: 0;
  padding-bottom: 2px;
}
ul.wc_coupon_list_block li {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #ccc;
  line-height: 2.5em;
  margin: 0;
  padding: .5em 0;
}
ul.wc_coupon_list_block li:first-child {
  border-top: 0;
  padding-top: 0;
}
ul.wc_coupon_list_block li:last-child {
  border-bottom: 0;
  padding-bottom: 0;
}
.button.wc-reload {
  padding: 0;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  height: 24px;
  width: 24px !important;
  display: inline-block;
}
.button.wc-reload:after {
  line-height: 22px;
}
.tablenav .actions {
  overflow: visible;
}
.alignleft.actions .chosen-container-single {
  display: inline-block;
  vertical-align: middle;
}
#woocommerce-order-data h3.hndle,
#woocommerce-order-data .handlediv {
  display: none;
}
#woocommerce-order-data .inside {
  display: block !important;
}
#order_data {
  padding: 23px 24px 12px 24px;
}
#order_data h2 {
  margin: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", sans-serif;
  font-size: 21px;
  font-weight: normal;
  line-height: 1.2;
  text-shadow: 1px 1px 1px white;
  padding: 0;
}
#order_data h4 {
  color: #333;
  margin: 1.33em 0 0;
}
#order_data p {
  color: #777;
}
#order_data p.order_number {
  margin: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", sans-serif;
  font-weight: normal;
  line-height: 1.6em;
  font-size: 16px;
}
#order_data .order_data_column_container {
  clear: both;
}
#order_data .order_data_column {
  width: 32%;
  padding: 0 2% 0 0;
  float: left;
}
#order_data .order_data_column:last-child {
  padding-right: 0;
}
#order_data .order_data_column p {
  padding: 0 !important;
}
#order_data .order_data_column .address strong {
  display: block;
}
#order_data .order_data_column .form-field {
  float: left;
  width: 48%;
  padding: 0;
  margin: 9px 0 0 0;
}
#order_data .order_data_column .form-field label {
  display: block;
  padding: 0 0 3px;
}
#order_data .order_data_column .form-field input,
#order_data .order_data_column .form-field textarea {
  width: 100%;
}
#order_data .order_data_column .form-field select {
  width: 100%;
}
#order_data .order_data_column .form-field #order_status_chosen .chosen-search {
  display: none;
}
#order_data .order_data_column .form-field .chosen-container {
  width: 100% !important;
}
#order_data .order_data_column .form-field .date-picker-field {
  width: 50%;
}
#order_data .order_data_column .form-field .hour,
#order_data .order_data_column .form-field .minute {
  width: 2.5em;
}
#order_data .order_data_column .form-field small {
  display: block;
  margin: 5px 0 0 0;
  color: #999;
}
#order_data .order_data_column .form-field.last {
  float: right;
}
#order_data .order_data_column .form-field-wide {
  width: 100%;
  clear: both;
}
#order_data .order_data_column .form-field-wide input,
#order_data .order_data_column .form-field-wide textarea {
  width: 100%;
}
#order_data .order_data_column .form-field-wide select {
  width: 100%;
}
#order_data .order_data_column p.none_set {
  color: #999;
}
#order_data .order_data_column ._billing_first_name_field,
#order_data .order_data_column ._billing_address_1_field,
#order_data .order_data_column ._billing_city_field,
#order_data .order_data_column ._billing_country_field,
#order_data .order_data_column ._billing_email_field,
#order_data .order_data_column ._shipping_first_name_field,
#order_data .order_data_column ._shipping_address_1_field,
#order_data .order_data_column ._shipping_city_field,
#order_data .order_data_column ._shipping_country_field {
  float: left;
}
#order_data .order_data_column ._billing_last_name_field,
#order_data .order_data_column ._billing_address_2_field,
#order_data .order_data_column ._billing_postcode_field,
#order_data .order_data_column ._billing_state_field,
#order_data .order_data_column ._billing_phone_field,
#order_data .order_data_column ._shipping_last_name_field,
#order_data .order_data_column ._shipping_address_2_field,
#order_data .order_data_column ._shipping_postcode_field,
#order_data .order_data_column ._shipping_state_field {
  float: right;
}
#order_data .order_data_column ._billing_company_field,
#order_data .order_data_column ._shipping_company_field {
  clear: both;
  width: 100%;
}
#order_data .order_data_column ._billing_email_field {
  clear: left;
}
#order_data .order_data_column div.edit_address {
  display: none;
  overflow: hidden;
  zoom: 1;
  padding-right: 1px;
}
#order_data a.edit_address {
  opacity: 0.4;
}
#order_data a.edit_address:hover,
#order_data a.edit_address:focus {
  opacity: 1;
}
.order_actions {
  margin: 0;
  overflow: hidden;
  zoom: 1;
}
.order_actions li {
  border-top: 1px solid #fff;
  border-bottom: 1px solid #ddd;
  padding: 6px 0;
  margin: 0;
  line-height: 1.6em;
  float: left;
  width: 50%;
  text-align: center;
}
.order_actions li a {
  float: none;
  text-align: center;
  text-decoration: underline;
}
.order_actions li.wide {
  width: auto;
  float: none;
  clear: both;
  padding: 6px;
  text-align: left;
  overflow: hidden;
}
.order_actions li #delete-action {
  line-height: 25px;
  vertical-align: middle;
  text-align: left;
  float: left;
}
.order_actions li .save_order {
  float: right;
}
.order_actions li#actions {
  overflow: hidden;
}
.order_actions li#actions .button {
  width: 24px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: right;
}
.order_actions li#actions select {
  width: 225px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
}
#woocommerce-order-items .inside {
  margin: 0;
  padding: 0;
  background: #fefefe;
}
#woocommerce-order-items .bulk_actions {
  float: left;
  padding-left: 12px;
  vertical-align: top;
}
#woocommerce-order-items .add_items {
  float: right;
  padding-right: 12px;
  vertical-align: top;
}
#woocommerce-order-items .add_items .add_item_id,
#woocommerce-order-items .add_items .chosen-container {
  margin-right: 9px;
  vertical-align: top;
  float: left;
}
#woocommerce-order-items .add_items .add_item_id .search-field input,
#woocommerce-order-items .add_items .chosen-container .search-field input {
  min-width: 100px;
}
#woocommerce-order-items .add_items button {
  margin: 2px 0 0 0;
}
#woocommerce-order-items .add_meta {
  margin-left: 0 !important;
}
#woocommerce-order-items h3 small {
  color: #999;
}
#woocommerce-order-items a.edit_order_item {
  opacity: 0.4;
}
#woocommerce-order-items a.edit_order_item:hover,
#woocommerce-order-items a.edit_order_item:focus {
  opacity: 1;
}
#woocommerce-order-downloads .buttons {
  float: left;
  padding: 0;
  margin: 0;
  vertical-align: top;
}
#woocommerce-order-downloads .buttons .add_item_id,
#woocommerce-order-downloads .buttons .chosen-container {
  width: 400px !important;
  margin-right: 9px;
  vertical-align: top;
  float: left;
}
#woocommerce-order-downloads .buttons button {
  margin: 2px 0 0 0;
}
#woocommerce-order-downloads h3 small {
  color: #999;
}
#poststuff #woocommerce-order-actions .inside {
  margin: 0;
  padding: 0;
}
#poststuff #woocommerce-order-actions .inside ul.order_actions li {
  padding: 6px 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#poststuff #woocommerce-order-actions .inside ul.order_actions li:last-child {
  border-bottom: 0;
}
#poststuff #woocommerce-order-totals .inside {
  margin: 0;
  padding: 0;
}
#poststuff #woocommerce-order-totals h4 {
  margin: 0 !important;
}
#poststuff #woocommerce-order-totals h4 a.add_tax_row,
#poststuff #woocommerce-order-totals h4 a.add_total_row {
  display: inline-block;
  padding-bottom: 10px;
}
#poststuff #woocommerce-order-totals h4 .inline_total {
  float: right;
  color: #999;
}
#poststuff #woocommerce-order-totals .totals_group {
  border-top: 1px solid white;
  border-bottom: 1px solid #DDD;
  padding: 10px 12px 0 12px;
}
#poststuff #woocommerce-order-totals .totals_group:first-child {
  border-top: 0;
}
#poststuff #woocommerce-order-totals .totals_group input,
#poststuff #woocommerce-order-totals .totals_group select {
  width: 100%;
  vertical-align: top;
  margin: 0;
  font-weight: normal;
  line-height: 1em;
}
#poststuff #woocommerce-order-totals .totals_group select {
  height: 30px !important;
}
#poststuff #woocommerce-order-totals .totals_group input {
  padding: 4px 6px;
}
#poststuff #woocommerce-order-totals .totals_group ::-webkit-input-placeholder {
  line-height: 1.4em;
}
#poststuff #woocommerce-order-totals .totals_group ::-moz-placeholder {
  line-height: 1.4em;
}
#poststuff #woocommerce-order-totals .totals_group :-ms-input-placeholder {
  line-height: 1.4em;
}
#poststuff #woocommerce-order-totals .totals_group input:-moz-placeholder {
  line-height: 1.4em;
}
#poststuff #woocommerce-order-totals .totals_group #_order_total,
#poststuff #woocommerce-order-totals .totals_group #_order_discount {
  margin: 6px 0 10px;
}
#poststuff #woocommerce-order-totals .buttons {
  border-top: 1px solid white;
  padding: 1em 10px 1em 10px;
  margin: 0;
  text-align: right;
}
#poststuff #woocommerce-order-totals .buttons .calc_line_taxes {
  float: left;
}
#poststuff #woocommerce-order-totals ul.totals {
  margin: 6px 0 0;
  float: left;
}
#poststuff #woocommerce-order-totals ul.totals li {
  float: left;
  clear: both;
  width: 100%;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.2em;
  margin: 0;
  padding: 0 0 10px;
}
#poststuff #woocommerce-order-totals ul.totals li label {
  font-weight: normal;
  display: block;
  font-size: 0.8em;
  color: #333;
}
#poststuff #woocommerce-order-totals ul.totals li.left {
  float: left;
  width: 49%;
  clear: left;
}
#poststuff #woocommerce-order-totals ul.totals li.left input {
  width: 100%;
}
#poststuff #woocommerce-order-totals ul.totals li.right {
  float: right;
  width: 49%;
  clear: none;
}
#poststuff #woocommerce-order-totals ul.totals li.right input {
  width: 100%;
}
#poststuff #woocommerce-order-totals ul.totals li.wide {
  float: left;
  width: 100%;
  clear: left;
}
#poststuff #woocommerce-order-totals ul.totals li.wide input {
  width: 100%;
}
#poststuff #woocommerce-order-totals ul.totals .calculated {
  border-color: #ae8ca2;
  border-style: dotted;
}
#poststuff #woocommerce-order-totals .total_rows {
  margin: 6px 0 0;
}
#poststuff #woocommerce-order-totals .total_rows .total_row:first-child {
  border-top: 1px solid #dfdfdf;
}
#poststuff #woocommerce-order-totals .total_rows .total_row:last-child {
  margin-bottom: 9px;
}
#poststuff #woocommerce-order-totals .total_row {
  margin: 0 -12px;
  border-bottom: 1px solid #DFDFDF;
  background: #fff;
  padding: 12px 12px 3px 12px;
  background: #f8f8f8;
  position: relative;
}
#poststuff #woocommerce-order-totals .total_row p {
  margin: 0 0 9px;
}
#poststuff #woocommerce-order-totals .total_row label {
  color: #999;
  display: block;
  margin: 0 0 3px;
}
#poststuff #woocommerce-order-totals .total_row p.first {
  float: left;
  width: 49%;
  clear: left;
}
#poststuff #woocommerce-order-totals .total_row p.first input,
#poststuff #woocommerce-order-totals .total_row p.first select {
  width: 100%;
}
#poststuff #woocommerce-order-totals .total_row p.last {
  float: right;
  width: 49%;
  clear: none;
}
#poststuff #woocommerce-order-totals .total_row p.last input,
#poststuff #woocommerce-order-totals .total_row p.last select {
  width: 100%;
}
#poststuff #woocommerce-order-totals .total_row p.wide {
  clear: both;
}
#poststuff #woocommerce-order-totals .total_row p.wide input,
#poststuff #woocommerce-order-totals .total_row p.wide select {
  width: 100%;
}
#poststuff #woocommerce-order-totals .total_row a.delete_tax_row,
#poststuff #woocommerce-order-totals .total_row a.delete_total_row {
  display: none;
  position: absolute;
  top: -0.5em;
  right: -0.5em;
  font-size: 1.4em;
}
#poststuff #woocommerce-order-totals .total_row a.delete_tax_row:before,
#poststuff #woocommerce-order-totals .total_row a.delete_total_row:before {
  color: white;
  background-color: #000;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}
#poststuff #woocommerce-order-totals .total_row a.delete_tax_row:hover:before,
#poststuff #woocommerce-order-totals .total_row a.delete_total_row:hover:before {
  background-color: ;
}
#poststuff #woocommerce-order-totals .total_row:hover a.delete_tax_row,
#poststuff #woocommerce-order-totals .total_row:hover a.delete_total_row,
#poststuff #woocommerce-order-totals .total_row:focus a.delete_tax_row,
#poststuff #woocommerce-order-totals .total_row:focus a.delete_total_row {
  display: block;
}
#poststuff #woocommerce-order-notes .inside {
  margin: 0;
  padding: 0;
}
#poststuff #woocommerce-order-notes .inside ul.order_notes li {
  padding: 0 10px;
}
.woocommerce_order_items_wrapper {
  margin: 0;
  overflow: auto;
}
.woocommerce_order_items_wrapper table.woocommerce_order_items {
  width: 100%;
  background: #fff;
}
.woocommerce_order_items_wrapper table.woocommerce_order_items thead th {
  background: #f5f5f5;
  padding: 8px;
  font-size: 11px;
  text-align: left;
}
.woocommerce_order_items_wrapper table.woocommerce_order_items tbody th,
.woocommerce_order_items_wrapper table.woocommerce_order_items td {
  padding: 8px;
  text-align: left;
  line-height: 26px;
  vertical-align: top;
  border-bottom: 1px dotted #ececec;
}
.woocommerce_order_items_wrapper table.woocommerce_order_items tbody th textarea,
.woocommerce_order_items_wrapper table.woocommerce_order_items td textarea {
  width: 100%;
}
.woocommerce_order_items_wrapper table.woocommerce_order_items tbody th select,
.woocommerce_order_items_wrapper table.woocommerce_order_items td select {
  width: 50%;
}
.woocommerce_order_items_wrapper table.woocommerce_order_items tbody th input,
.woocommerce_order_items_wrapper table.woocommerce_order_items tbody th textarea,
.woocommerce_order_items_wrapper table.woocommerce_order_items td input,
.woocommerce_order_items_wrapper table.woocommerce_order_items td textarea {
  font-size: 14px;
  padding: 4px;
  color: #555;
}
.woocommerce_order_items_wrapper table.woocommerce_order_items td.check-column {
  padding: 8px;
  width: 1%;
}
.woocommerce_order_items_wrapper table.woocommerce_order_items .item {
  min-width: 200px;
}
.woocommerce_order_items_wrapper table.woocommerce_order_items .center,
.woocommerce_order_items_wrapper table.woocommerce_order_items .variation-id {
  text-align: center;
}
.woocommerce_order_items_wrapper table.woocommerce_order_items .cost,
.woocommerce_order_items_wrapper table.woocommerce_order_items .tax,
.woocommerce_order_items_wrapper table.woocommerce_order_items .quantity,
.woocommerce_order_items_wrapper table.woocommerce_order_items .line_cost,
.woocommerce_order_items_wrapper table.woocommerce_order_items .line_tax,
.woocommerce_order_items_wrapper table.woocommerce_order_items .tax_class {
  text-align: right;
}
.woocommerce_order_items_wrapper table.woocommerce_order_items .cost label,
.woocommerce_order_items_wrapper table.woocommerce_order_items .tax label,
.woocommerce_order_items_wrapper table.woocommerce_order_items .quantity label,
.woocommerce_order_items_wrapper table.woocommerce_order_items .line_cost label,
.woocommerce_order_items_wrapper table.woocommerce_order_items .line_tax label,
.woocommerce_order_items_wrapper table.woocommerce_order_items .tax_class label {
  white-space: nowrap;
  color: #999;
  font-size: 0.833em;
}
.woocommerce_order_items_wrapper table.woocommerce_order_items .cost label input,
.woocommerce_order_items_wrapper table.woocommerce_order_items .tax label input,
.woocommerce_order_items_wrapper table.woocommerce_order_items .quantity label input,
.woocommerce_order_items_wrapper table.woocommerce_order_items .line_cost label input,
.woocommerce_order_items_wrapper table.woocommerce_order_items .line_tax label input,
.woocommerce_order_items_wrapper table.woocommerce_order_items .tax_class label input {
  display: inline;
}
.woocommerce_order_items_wrapper table.woocommerce_order_items .cost input,
.woocommerce_order_items_wrapper table.woocommerce_order_items .tax input,
.woocommerce_order_items_wrapper table.woocommerce_order_items .quantity input,
.woocommerce_order_items_wrapper table.woocommerce_order_items .line_cost input,
.woocommerce_order_items_wrapper table.woocommerce_order_items .line_tax input,
.woocommerce_order_items_wrapper table.woocommerce_order_items .tax_class input {
  width: 70px;
  vertical-align: middle;
  text-align: right;
}
.woocommerce_order_items_wrapper table.woocommerce_order_items .cost select,
.woocommerce_order_items_wrapper table.woocommerce_order_items .tax select,
.woocommerce_order_items_wrapper table.woocommerce_order_items .quantity select,
.woocommerce_order_items_wrapper table.woocommerce_order_items .line_cost select,
.woocommerce_order_items_wrapper table.woocommerce_order_items .line_tax select,
.woocommerce_order_items_wrapper table.woocommerce_order_items .tax_class select {
  width: 85px;
  height: 26px;
  vertical-align: middle;
  font-size: 1em;
}
.woocommerce_order_items_wrapper table.woocommerce_order_items .quantity {
  text-align: center;
}
.woocommerce_order_items_wrapper table.woocommerce_order_items .quantity input {
  text-align: center;
  width: 50px;
}
.woocommerce_order_items_wrapper table.woocommerce_order_items span.subtotal {
  opacity: 0.5;
}
.woocommerce_order_items_wrapper table.woocommerce_order_items td.tax_class,
.woocommerce_order_items_wrapper table.woocommerce_order_items th.tax_class {
  text-align: left;
}
.woocommerce_order_items_wrapper table.woocommerce_order_items .calculated {
  border-color: #ae8ca2;
  border-style: dotted;
}
.woocommerce_order_items_wrapper table.woocommerce_order_items table.meta {
  width: 100%;
}
.woocommerce_order_items_wrapper table.woocommerce_order_items table.meta,
.woocommerce_order_items_wrapper table.woocommerce_order_items table.display_meta {
  margin: .5em 0 0 0;
}
.woocommerce_order_items_wrapper table.woocommerce_order_items table.meta tr th,
.woocommerce_order_items_wrapper table.woocommerce_order_items table.display_meta tr th {
  border: 0;
  padding: 0 4px .5em 0;
  line-height: 1.5em;
  width: 20%;
}
.woocommerce_order_items_wrapper table.woocommerce_order_items table.meta tr td,
.woocommerce_order_items_wrapper table.woocommerce_order_items table.display_meta tr td {
  padding: 0 4px .5em 0;
  border: 0;
  line-height: 1.5em;
}
.woocommerce_order_items_wrapper table.woocommerce_order_items table.meta tr td input,
.woocommerce_order_items_wrapper table.woocommerce_order_items table.display_meta tr td input {
  width: 100%;
  margin: 0;
  position: relative;
  border-bottom: 0;
  box-shadow: none;
}
.woocommerce_order_items_wrapper table.woocommerce_order_items table.meta tr td textarea,
.woocommerce_order_items_wrapper table.woocommerce_order_items table.display_meta tr td textarea {
  width: 100%;
  height: 4em;
  margin: 0;
  box-shadow: none;
}
.woocommerce_order_items_wrapper table.woocommerce_order_items table.meta tr td input:focus + textarea,
.woocommerce_order_items_wrapper table.woocommerce_order_items table.display_meta tr td input:focus + textarea {
  border-top-color: #999;
}
.woocommerce_order_items_wrapper table.woocommerce_order_items table.meta tr td p,
.woocommerce_order_items_wrapper table.woocommerce_order_items table.display_meta tr td p {
  margin: 0 0 .5em;
  line-height: 1.5em;
}
.woocommerce_order_items_wrapper table.woocommerce_order_items table.meta tr td p:last-child,
.woocommerce_order_items_wrapper table.woocommerce_order_items table.display_meta tr td p:last-child {
  margin: 0;
}
.woocommerce_order_items_wrapper table.woocommerce_order_items .thumb {
  text-align: left;
  width: 27px;
}
.woocommerce_order_items_wrapper table.woocommerce_order_items .thumb a {
  display: block;
}
.woocommerce_order_items_wrapper table.woocommerce_order_items .thumb img {
  padding: 1px;
  margin: 0;
  border: 1px solid #dfdfdf;
  vertical-align: middle;
  width: 21px;
  height: 21px;
}
.woocommerce_order_items_wrapper table.woocommerce_order_items tr.fee .thumb {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAARklEQVQYGWP8//8/AzGACV3Rnj17/oMwujiGQnQFMD7RChlBbsRmFcwkEO3i4sJImonIumGmg0xBFifaRKIVgj2DbAUuNgCfThpracSKqwAAAABJRU5ErkJggg==) no-repeat center;
}
#woocommerce_customers p.search-box {
  margin: 6px 0 4px;
  float: left;
}
#woocommerce_customers .tablenav {
  float: right;
  clear: none;
}
.widefat.customers td {
  vertical-align: middle;
  padding: 4px 7px;
}
.widefat .column-order_title {
  width: 15%;
}
.widefat .column-order_title time {
  display: block;
  color: #999;
  margin: 3px 0;
}
.widefat .column-orders,
.widefat .column-paying,
.widefat .column-spent {
  text-align: center;
  width: 8%;
}
.widefat .column-last_order {
  width: 11%;
}
.widefat .column-order_actions,
.widefat .column-user_actions,
.widefat .column-wc_actions {
  width: 110px;
}
.widefat .column-order_actions a.button,
.widefat .column-user_actions a.button,
.widefat .column-wc_actions a.button {
  float: left;
  margin: 0 4px 2px 0;
  cursor: pointer;
  padding: 3px 4px;
  height: auto;
}
.widefat .column-order_actions a.button img,
.widefat .column-user_actions a.button img,
.widefat .column-wc_actions a.button img {
  display: block;
  width: 12px;
  height: auto;
}
.widefat small.meta {
  display: block;
  color: #999;
  font-size: inherit;
  margin: 3px 0;
}
.widefat .column-order_total,
.widefat .column-order_date {
  width: 9%;
}
.widefat .column-order_status {
  width: 45px;
  text-align: center;
}
.widefat .column-order_status mark {
  background: none;
  font-size: 1.4em;
  margin: 0 auto;
}
.widefat .column-order_status mark.pending:after {
  content: "\e012";
  color: ;
}
.widefat .column-order_status mark.completed:after {
  content: "\e015";
  color: ;
}
.widefat .column-order_status mark.on-hold:after {
  content: "\e033";
  color: #999;
}
.widefat .column-order_status mark.failed:after {
  content: "\e016";
  color: #d0c21f;
}
.widefat .column-order_status mark.cancelled:after {
  content: "\e013";
  color: ;
}
.widefat .column-order_status mark.processing:after {
  content: "\e011";
  color: #73a724;
}
.widefat .column-order_status mark.refunded:after {
  content: "\e014";
  color: #999;
}
.widefat td.column-order_status {
  padding-top: 9px;
}
.column-customer_message .note-on {
  margin: 0 auto;
  color: #999;
}
.column-customer_message .note-on:after {
  line-height: 16px;
}
.column-order_notes .note-on {
  margin: 0 auto;
  color: #999;
}
.column-order_notes .note-on:after {
  line-height: 16px;
}
.order_actions .processing,
.order_actions .complete,
.order_actions .view {
  padding: 0 !important;
  height: 2em !important;
  width: 2em;
}
.order_actions .processing:after,
.order_actions .complete:after,
.order_actions .view:after {
  line-height: 1.85;
}
.order_actions .processing:after {
  content: "\e00f";
}
.order_actions .complete:after {
  content: "\e017";
}
.order_actions .view:after {
  content: "\e010";
}
.user_actions .edit,
.user_actions .link,
.user_actions .view {
  padding: 0 !important;
  height: 2em !important;
  width: 2em;
}
.user_actions .edit:after,
.user_actions .link:after,
.user_actions .view:after {
  line-height: 1.85;
}
.user_actions .edit:after {
  content: "\e603";
}
.user_actions .link:after {
  content: "\e00d";
}
.user_actions .view:after {
  content: "\e010";
}
.attributes-table td,
.attributes-table th {
  width: 15%;
  vertical-align: top;
}
.attributes-table .attribute-terms {
  width: 32%;
}
.attributes-table .attribute-actions {
  width: 2em;
}
.attributes-table .attribute-actions .configure-terms {
  padding: 0 !important;
  height: 2em !important;
  width: 2em;
}
.attributes-table .attribute-actions .configure-terms:after {
  line-height: 1.85;
}
ul.order_notes {
  padding: 2px 0 0 0;
}
ul.order_notes li .note_content {
  padding: 10px;
  background: #efefef;
  position: relative;
}
ul.order_notes li .note_content p {
  margin: 0;
  padding: 0;
  word-wrap: break-word;
}
ul.order_notes li p.meta {
  padding: 10px;
  color: #999;
  margin: 0;
  font-size: 11px;
}
ul.order_notes li p.meta .exact-date {
  border-bottom: 1px dotted #999;
}
ul.order_notes li a.delete_note {
  color: ;
}
ul.order_notes li .note_content:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -10px;
  left: 20px;
  width: 0;
  height: 0;
  border-width: 10px 10px 0 0;
  border-style: solid;
  border-color: #efefef transparent;
}
ul.order_notes li.customer-note .note_content {
  background: #d7cad2;
}
ul.order_notes li.customer-note .note_content:after {
  border-color: #d7cad2 transparent;
}
.add_note {
  border-top: 1px solid #ddd;
  padding: 10px 10px 0;
}
.add_note h4 {
  margin-top: 5px !important;
}
.add_note #add_order_note {
  width: 100%;
  height: 50px;
}
table.wp-list-table .column-thumb {
  width: 52px;
  text-align: center;
  white-space: nowrap;
}
table.wp-list-table .column-name {
  width: 22%;
}
table.wp-list-table .column-product_cat,
table.wp-list-table .column-product_tag {
  width: 11% !important;
}
table.wp-list-table .column-featured,
table.wp-list-table .column-product_type {
  width: 46px;
  text-align: left !important;
}
table.wp-list-table .column-customer_message,
table.wp-list-table .column-order_notes {
  width: 46px;
  text-align: center;
}
table.wp-list-table .column-customer_message img,
table.wp-list-table .column-order_notes img {
  margin: 0 auto;
  padding-top: 0 !important;
}
table.wp-list-table .manage-column.column-featured img,
table.wp-list-table .manage-column.column-product_type img {
  padding-left: 2px;
}
table.wp-list-table .column-price .woocommerce-price-suffix {
  display: none;
}
table.wp-list-table img {
  margin: 1px 2px;
}
table.wp-list-table .row-actions {
  color: #999;
}
table.wp-list-table td.column-thumb img {
  margin: 0;
  vertical-align: middle;
  width: auto;
  height: auto;
  max-width: 40px;
  max-height: 40px;
}
table.wp-list-table span.na {
  color: #999;
}
table.wp-list-table .column-is_in_stock {
  text-align: left !important;
}
table.wp-list-table span.wc-image,
table.wp-list-table span.wc-featured,
table.wp-list-table span.wc-type {
  margin: 0 auto;
}
table.wp-list-table span.wc-featured {
  margin: 0;
  cursor: pointer;
}
table.wp-list-table span.wc-featured:before {
  content: "\e020";
}
table.wp-list-table span.wc-featured.not-featured:before {
  content: "\e021";
}
table.wp-list-table td.column-featured span.wc-featured {
  font-size: 1.2em;
}
table.wp-list-table span.wc-type {
  margin: 0;
}
table.wp-list-table span.wc-type:before {
  content: "\e01d";
}
table.wp-list-table span.product-type {
  font-size: 1.2em;
}
table.wp-list-table span.product-type.grouped:before {
  content: "\e002";
}
table.wp-list-table span.product-type.external:before {
  content: "\e034";
}
table.wp-list-table span.product-type.variable:before {
  content: "\e003";
}
table.wp-list-table span.product-type.downloadable:before {
  content: "\e001";
}
table.wp-list-table span.product-type.virtual:before {
  content: "\e000";
}
table.wp-list-table mark.instock {
  font-weight: bold;
  color: ;
  background: transparent none;
  line-height: 1;
}
table.wp-list-table mark.outofstock {
  font-weight: bold;
  color: #aa4444;
  background: transparent none;
  line-height: 1;
}
table.wp-list-table .order-notes_head,
table.wp-list-table .notes_head,
table.wp-list-table .status_head {
  margin: 0 auto;
}
table.wp-list-table .order-notes_head:after {
  content: "\e028";
}
table.wp-list-table .notes_head:after {
  content: "\e026";
}
table.wp-list-table .status_head:after {
  content: "\e011";
}
table.wp-list-table .column-order_items {
  width: 12%;
}
table.wp-list-table .column-order_items table.order_items {
  width: 100%;
  margin: 3px 0 0 0;
  padding: 0;
  display: none;
}
table.wp-list-table .column-order_items table.order_items td {
  border: 0;
  margin: 0;
  padding: 0 0 3px;
}
table.wp-list-table .column-order_items table.order_items td.qty {
  color: #999;
  padding-right: 6px;
  text-align: left;
}
mark.notice {
  background: #fff;
  color: ;
  margin: 0 0 0 10px;
}
a.export_rates,
a.import_rates {
  float: right;
  margin-left: 9px;
  margin-top: -2px;
  margin-bottom: 0;
}
table.wc_tax_rates,
table.wc_input_table {
  width: 100%;
}
table.wc_tax_rates span.tips,
table.wc_input_table span.tips {
  color: ;
}
table.wc_tax_rates td,
table.wc_input_table td {
  padding: 0;
  border-right: 1px solid #DFDFDF;
  border-bottom: 1px solid #DFDFDF;
  border-top: 0;
  background: #fff;
}
table.wc_tax_rates td input[type="text"],
table.wc_tax_rates td input[type="number"],
table.wc_input_table td input[type="text"],
table.wc_input_table td input[type="number"] {
  width: 100%;
  padding: 5px 7px;
  margin: 0;
  border: 0;
  background: transparent none;
}
table.wc_tax_rates td.compound,
table.wc_tax_rates td.apply_to_shipping,
table.wc_input_table td.compound,
table.wc_input_table td.apply_to_shipping {
  padding: 5px 7px;
  vertical-align: middle;
}
table.wc_tax_rates td.compound input,
table.wc_tax_rates td.apply_to_shipping input,
table.wc_input_table td.compound input,
table.wc_input_table td.apply_to_shipping input {
  width: auto;
  padding: 0;
}
table.wc_tax_rates td:last-child,
table.wc_input_table td:last-child {
  border-right: 0;
}
table.wc_tax_rates tr.current td,
table.wc_input_table tr.current td {
  background-color: #fefbcc;
}
table.wc_tax_rates .item_cost,
table.wc_tax_rates .cost,
table.wc_input_table .item_cost,
table.wc_input_table .cost {
  text-align: right;
}
table.wc_tax_rates .item_cost input,
table.wc_tax_rates .cost input,
table.wc_input_table .item_cost input,
table.wc_input_table .cost input {
  text-align: right;
}
table.wc_tax_rates th.sort,
table.wc_input_table th.sort {
  width: 17px;
  padding: 0;
}
table.wc_tax_rates td.sort,
table.wc_input_table td.sort {
  padding: 0 4px;
  cursor: move;
  background: #f9f9f9;
  text-align: center;
  vertical-align: middle;
}
table.wc_tax_rates td.sort:before,
table.wc_input_table td.sort:before {
  content: "\e032";
  font-family: 'WooCommerce';
  text-align: center;
  line-height: 1;
  color: #999;
  display: block;
  width: 17px;
  float: left;
  height: 100%;
}
table.wc_tax_rates td.sort:hover:before,
table.wc_input_table td.sort:hover:before {
  color: #333;
}
table.wc_tax_rates .button,
table.wc_input_table .button {
  float: left;
  margin-right: 5px;
}
table.wc_tax_rates .export,
table.wc_tax_rates .import,
table.wc_input_table .export,
table.wc_input_table .import {
  float: right;
  margin-right: 0;
  margin-left: 5px;
}
table.wc_tax_rates span.tips,
table.wc_input_table span.tips {
  padding: 0 3px;
}
table.wc_tax_rates .pagination,
table.wc_input_table .pagination {
  float: right;
}
table.wc_tax_rates .pagination .button,
table.wc_input_table .pagination .button {
  margin-left: 5px;
  margin-right: 0;
}
table.wc_tax_rates .pagination .current,
table.wc_input_table .pagination .current {
  background: #bbb;
  text-shadow: none;
}
table.wc_tax_rates tfoot th,
table.wc_input_table tfoot th {
  padding-left: 20px;
  padding-right: 20px;
}
table.wc_tax_rates tr:last-child td,
table.wc_input_table tr:last-child td {
  border-bottom: 0;
}
table.wc_gateways,
table.wc_shipping {
  position: relative;
}
table.wc_gateways td,
table.wc_shipping td {
  vertical-align: middle;
  cursor: move;
  padding: 7px;
}
table.wc_gateways th,
table.wc_shipping th {
  padding: 9px 7px !important;
  vertical-align: middle;
}
table.wc_gateways td.name,
table.wc_shipping td.name {
  font-weight: bold;
}
table.wc_gateways .settings,
table.wc_shipping .settings {
  text-align: right;
}
table.wc_gateways .radio,
table.wc_gateways .default,
table.wc_gateways .status,
table.wc_shipping .radio,
table.wc_shipping .default,
table.wc_shipping .status {
  text-align: center;
}
table.wc_gateways .radio .tips,
table.wc_gateways .default .tips,
table.wc_gateways .status .tips,
table.wc_shipping .radio .tips,
table.wc_shipping .default .tips,
table.wc_shipping .status .tips {
  margin: 0 auto;
}
table.wc_gateways .radio input,
table.wc_gateways .default input,
table.wc_gateways .status input,
table.wc_shipping .radio input,
table.wc_shipping .default input,
table.wc_shipping .status input {
  margin: 0;
}
img.help_tip {
  vertical-align: middle;
  margin: 0 0 0 9px;
}
.postbox img.help_tip {
  margin-top: -4px;
}
.status-enabled,
.status-disabled {
  font-size: 1.4em;
}
.status-enabled:before {
  color: ;
}
.woocommerce #template div {
  margin: 0;
}
.woocommerce #template div p .button {
  float: right;
  margin-left: 10px;
  margin-top: -4px;
}
.woocommerce #template div .editor textarea {
  margin-bottom: 8px;
}
.woocommerce textarea[disabled="disabled"] {
  background: #DFDFDF !important;
}
.woocommerce table.form-table {
  margin: 0 0 0;
}
.woocommerce table.form-table .forminp-radio ul {
  margin: 0;
}
.woocommerce table.form-table .forminp-radio ul li {
  line-height: 1.4em;
}
.woocommerce table.form-table textarea.input-text {
  height: 100%;
  min-width: 150px;
  display: block;
}
.woocommerce table.form-table input.regular-input {
  width: 25em;
}
.woocommerce table.form-table textarea.wide-input {
  width: 100%;
}
.woocommerce table.form-table img.help_tip {
  padding: 0;
  margin: -4px 0 0 5px;
  vertical-align: middle;
  cursor: help;
  line-height: 1;
}
.woocommerce table.form-table span.help_tip {
  cursor: help;
  color: ;
}
.woocommerce table.form-table th {
  position: relative;
  padding-right: 24px;
}
.woocommerce table.form-table .chosen-container {
  vertical-align: top;
  margin-bottom: 3px;
}
.woocommerce table.form-table table.widefat th {
  padding-right: inherit;
}
.woocommerce table.form-table th img.help_tip {
  margin: 0 -24px 0 0;
  float: right;
}
.woocommerce table.form-table fieldset {
  margin-top: 4px;
}
.woocommerce table.form-table fieldset img.help_tip {
  margin: -3px 0 0 5px;
}
.woocommerce table.form-table fieldset p.description {
  margin-bottom: 8px;
}
.woocommerce table.form-table fieldset:first-child {
  margin-top: 0;
}
.woocommerce table.form-table .color_box {
  border: 1px solid #ccc;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  -moz-box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 4px 6px;
  float: left;
  width: 90px;
  margin: 0 10px 0 0;
}
.woocommerce table.form-table .color_box strong {
  text-align: left;
  display: block;
  padding: 0 0 2px;
  font-size: 0.92em;
}
.woocommerce table.form-table .color_box strong img {
  float: right;
  margin: 1px 0 0 0;
}
.woocommerce table.form-table .color_box input.colorpick {
  width: 100%;
  margin: 0;
  font-family: monospace;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.woocommerce table.form-table .color_box .iris-picker {
  margin: 15px 0 0 -7px;
}
.woocommerce table.form-table .color_box_clear {
  display: block;
  clear: both;
  padding-bottom: 10px;
}
.woocommerce table.form-table .iris-picker {
  z-index: 100;
  position: absolute;
  display: none;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  -moz-box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.woocommerce table.form-table .iris-picker .ui-slider {
  border: 0 !important;
  background: none transparent !important;
  margin: 0 !important;
  width: auto !important;
  height: auto !important;
}
.woocommerce table.form-table .iris-picker .ui-slider .ui-slider-handle {
  margin-bottom: 0 !important;
}
.woocommerce table.form-table .image_width_settings {
  vertical-align: middle;
}
.woocommerce table.form-table .image_width_settings label {
  margin-left: 10px;
}
.woocommerce #tabs-wrap table a.remove {
  margin-left: 4px;
}
.woocommerce #tabs-wrap table p {
  margin: 0 0 4px !important;
  overflow: hidden;
  zoom: 1;
}
.woocommerce #tabs-wrap table p a.add {
  float: left;
}
#wp-excerpt-editor-container {
  background: #fff;
}
#product_variation-parent #parent_id {
  width: 100%;
}
#postimagediv img {
  border: 1px solid #d5d5d5;
  max-width: 100%;
}
#woocommerce-product-images .inside {
  margin: 0;
  padding: 0;
}
#woocommerce-product-images .inside .add_product_images {
  padding: 0 12px 12px;
}
#woocommerce-product-images .inside #product_images_container {
  padding: 0 0 0 9px;
}
#woocommerce-product-images .inside #product_images_container ul {
  margin: 0;
  padding: 0;
}
#woocommerce-product-images .inside #product_images_container ul li.image,
#woocommerce-product-images .inside #product_images_container ul li.add,
#woocommerce-product-images .inside #product_images_container ul li.wc-metabox-sortable-placeholder {
  width: 80px;
  float: left;
  cursor: move;
  border: 1px solid #d5d5d5;
  margin: 9px 9px 0 0;
  background: #f7f7f7;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#woocommerce-product-images .inside #product_images_container ul li.image img,
#woocommerce-product-images .inside #product_images_container ul li.add img,
#woocommerce-product-images .inside #product_images_container ul li.wc-metabox-sortable-placeholder img {
  width: 100%;
  height: auto;
  display: block;
}
#woocommerce-product-images .inside #product_images_container ul li.wc-metabox-sortable-placeholder {
  border: 3px dashed #dddddd;
  position: relative;
}
#woocommerce-product-images .inside #product_images_container ul li.wc-metabox-sortable-placeholder:after {
  font-size: 2.618em;
  line-height: 72px;
  color: #ddd;
}
#woocommerce-product-images .inside #product_images_container ul ul.actions {
  position: absolute;
  top: -8px;
  right: -8px;
  padding: 2px;
  display: none;
}
#woocommerce-product-images .inside #product_images_container ul ul.actions li {
  float: right;
  margin: 0 0 0 2px;
}
#woocommerce-product-images .inside #product_images_container ul ul.actions li a {
  width: 1em;
  height: 1em;
  margin: 0;
  height: 0;
  display: block;
  overflow: hidden;
}
#woocommerce-product-images .inside #product_images_container ul ul.actions li a.tips {
  cursor: pointer;
}
#woocommerce-product-images .inside #product_images_container ul ul.actions li a.view {
  font-size: 1.4em;
}
#woocommerce-product-images .inside #product_images_container ul ul.actions li a.view:before {
  background-color: #000;
  color: #fff;
}
#woocommerce-product-images .inside #product_images_container ul ul.actions li a.delete {
  font-size: 1.4em;
}
#woocommerce-product-images .inside #product_images_container ul ul.actions li a.delete:before {
  color: white;
  background-color: #000;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}
#woocommerce-product-images .inside #product_images_container ul ul.actions li a.delete:hover:before {
  background-color: ;
}
#woocommerce-product-images .inside #product_images_container ul li:hover ul.actions {
  display: block;
}
#woocommerce-product-data h3.hndle {
  padding: 10px;
}
#woocommerce-product-data h3.hndle span {
  display: block;
  vertical-align: middle;
  line-height: 24px;
}
#woocommerce-product-data h3.hndle span span {
  display: inline;
  line-height: inherit;
  vertical-align: baseline;
}
#woocommerce-product-data h3.hndle select {
  margin: 0;
}
#woocommerce-product-data h3.hndle label {
  padding-right: 1em;
  font-size: 12px;
  vertical-align: baseline;
}
#woocommerce-product-data h3.hndle label:first-child {
  margin-right: 1em;
  border-right: 1px solid #dfdfdf;
}
#woocommerce-product-data h3.hndle input,
#woocommerce-product-data h3.hndle select {
  margin: -3px 0 0 .5em;
  vertical-align: middle;
}
#woocommerce-product-data > .handlediv {
  margin-top: 4px;
}
#woocommerce-product-data .wrap {
  margin: 0;
}
#woocommerce-coupon-description {
  padding: 3px 8px;
  font-size: 1.7em;
  line-height: 1.42em;
  height: auto;
  width: 100%;
  outline: 0;
  margin: 10px 0 10px;
  display: block;
}
#woocommerce-coupon-description::-webkit-input-placeholder {
  line-height: 1.42em;
  color: #bbb;
}
#woocommerce-coupon-description::-moz-placeholder {
  line-height: 1.42em;
  color: #bbb;
}
#woocommerce-coupon-description:-ms-input-placeholder {
  line-height: 1.42em;
  color: #bbb;
}
#woocommerce-coupon-description:-moz-placeholder {
  line-height: 1.42em;
  color: #bbb;
}
#woocommerce-product-data .panel-wrap,
#woocommerce-coupon-data .panel-wrap {
  background: #fff;
  padding-left: 153px;
}
#woocommerce-product-data .woocommerce_options_panel,
#woocommerce-product-data .wc-metaboxes-wrapper,
#woocommerce-coupon-data .woocommerce_options_panel,
#woocommerce-coupon-data .wc-metaboxes-wrapper {
  float: right;
  width: 100%;
}
#woocommerce-product-data .woocommerce_options_panel .wc-metaboxes,
#woocommerce-product-data .woocommerce_options_panel p.toolbar,
#woocommerce-product-data .wc-metaboxes-wrapper .wc-metaboxes,
#woocommerce-product-data .wc-metaboxes-wrapper p.toolbar,
#woocommerce-coupon-data .woocommerce_options_panel .wc-metaboxes,
#woocommerce-coupon-data .woocommerce_options_panel p.toolbar,
#woocommerce-coupon-data .wc-metaboxes-wrapper .wc-metaboxes,
#woocommerce-coupon-data .wc-metaboxes-wrapper p.toolbar {
  padding-left: 12px !important;
  padding-right: 20px !important;
}
#woocommerce-product-data .woocommerce_options_panel .wc-radios,
#woocommerce-product-data .wc-metaboxes-wrapper .wc-radios,
#woocommerce-coupon-data .woocommerce_options_panel .wc-radios,
#woocommerce-coupon-data .wc-metaboxes-wrapper .wc-radios {
  display: block;
  float: left;
  margin: 0;
}
#woocommerce-product-data .woocommerce_options_panel .wc-radios li,
#woocommerce-product-data .wc-metaboxes-wrapper .wc-radios li,
#woocommerce-coupon-data .woocommerce_options_panel .wc-radios li,
#woocommerce-coupon-data .wc-metaboxes-wrapper .wc-radios li {
  display: block;
  padding: 0 0 10px 0;
}
#woocommerce-product-data .woocommerce_options_panel .wc-radios li input,
#woocommerce-product-data .wc-metaboxes-wrapper .wc-radios li input,
#woocommerce-coupon-data .woocommerce_options_panel .wc-radios li input,
#woocommerce-coupon-data .wc-metaboxes-wrapper .wc-radios li input {
  width: auto;
}
#woocommerce-product-data .wc-tabs-back,
#woocommerce-coupon-data .wc-tabs-back {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background: #f5f5f5;
  width: 145px;
  border-right: 1px solid #DFDFDF;
}
#woocommerce-product-data ul.wc-tabs,
#woocommerce-coupon-data ul.wc-tabs,
.woocommerce ul.wc-tabs {
  background: #f5f5f5;
  line-height: 1em;
  float: left;
  width: 145px;
  margin: 0;
  position: relative;
  padding: 0 0 10px;
  margin-left: -153px;
}
#woocommerce-product-data ul.wc-tabs li,
#woocommerce-coupon-data ul.wc-tabs li,
.woocommerce ul.wc-tabs li {
  display: block;
  padding: 0;
  margin: 0;
}
#woocommerce-product-data ul.wc-tabs li a,
#woocommerce-coupon-data ul.wc-tabs li a,
.woocommerce ul.wc-tabs li a {
  padding: 10px;
  line-height: 18px !important;
  margin: 0;
  display: block;
  background: #f5f5f5;
  text-decoration: none;
  border-bottom: 1px solid #f5f5f5;
  border-top: 1px solid #eaeaea;
}
#woocommerce-product-data ul.wc-tabs li:first-child a,
#woocommerce-coupon-data ul.wc-tabs li:first-child a,
.woocommerce ul.wc-tabs li:first-child a {
  border-top: 0 !important;
}
#woocommerce-product-data ul.wc-tabs li.general_options a:before,
#woocommerce-coupon-data ul.wc-tabs li.general_options a:before,
.woocommerce ul.wc-tabs li.general_options a:before {
  content: "\e006";
}
#woocommerce-product-data ul.wc-tabs li.inventory_options a:before,
#woocommerce-coupon-data ul.wc-tabs li.inventory_options a:before,
.woocommerce ul.wc-tabs li.inventory_options a:before {
  content: "\e02c";
}
#woocommerce-product-data ul.wc-tabs li.shipping_options a:before,
#woocommerce-coupon-data ul.wc-tabs li.shipping_options a:before,
.woocommerce ul.wc-tabs li.shipping_options a:before {
  content: "\e01a";
}
#woocommerce-product-data ul.wc-tabs li.linked_product_options a:before,
#woocommerce-coupon-data ul.wc-tabs li.linked_product_options a:before,
.woocommerce ul.wc-tabs li.linked_product_options a:before {
  content: "\e00d";
}
#woocommerce-product-data ul.wc-tabs li.attribute_options a:before,
#woocommerce-coupon-data ul.wc-tabs li.attribute_options a:before,
.woocommerce ul.wc-tabs li.attribute_options a:before {
  content: "\e02b";
}
#woocommerce-product-data ul.wc-tabs li.advanced_options a:before,
#woocommerce-coupon-data ul.wc-tabs li.advanced_options a:before,
.woocommerce ul.wc-tabs li.advanced_options a:before {
  content: "\e01c";
}
#woocommerce-product-data ul.wc-tabs li.variation_options a:before,
#woocommerce-coupon-data ul.wc-tabs li.variation_options a:before,
.woocommerce ul.wc-tabs li.variation_options a:before {
  content: "\e003";
}
#woocommerce-product-data ul.wc-tabs li.usage_restriction_options a:before,
#woocommerce-coupon-data ul.wc-tabs li.usage_restriction_options a:before,
.woocommerce ul.wc-tabs li.usage_restriction_options a:before {
  content: "\e602";
}
#woocommerce-product-data ul.wc-tabs li.usage_limit_options a:before,
#woocommerce-coupon-data ul.wc-tabs li.usage_limit_options a:before,
.woocommerce ul.wc-tabs li.usage_limit_options a:before {
  content: "\e601";
}
#woocommerce-product-data ul.wc-tabs li.general_coupon_data a:before,
#woocommerce-coupon-data ul.wc-tabs li.general_coupon_data a:before,
.woocommerce ul.wc-tabs li.general_coupon_data a:before {
  content: "\e600";
}
#woocommerce-product-data ul.wc-tabs li.active a,
#woocommerce-coupon-data ul.wc-tabs li.active a,
.woocommerce ul.wc-tabs li.active a {
  border-color: #DFDFDF;
  position: relative;
  background-color: #fff;
  color: #555;
  margin: 0 -1px 0 0;
}
.woocommerce_page_wc-settings .shippingrows th.check-column {
  padding-top: 20px;
}
.woocommerce_page_wc-settings .shippingrows tfoot th {
  padding-left: 10px;
}
@media only screen and (max-width: 900px) {
  #woocommerce-product-data .panel-wrap,
  #woocommerce-coupon-data .panel-wrap {
    padding-left: 35px;
  }
  #woocommerce-product-data .wc-tabs-back,
  #woocommerce-coupon-data .wc-tabs-back {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 28px;
    border-right: 1px solid #DFDFDF;
  }
  #woocommerce-product-data ul.product_data_tabs,
  .woocommerce ul.wc-tabs {
    width: 28px;
    margin-left: -35px;
  }
  #woocommerce-product-data ul.product_data_tabs li a,
  .woocommerce ul.wc-tabs li a {
    overflow: hidden;
    white-space: nowrap;
  }
}
#woocommerce-product-data .inside,
#woocommerce-product-type-options .inside,
#woocommerce-order-data .inside,
#woocommerce-order-downloads .inside,
#woocommerce-coupon-data .inside {
  padding: 0;
  margin: 0;
}
.woocommerce_options_panel,
.panel {
  padding: 9px 9px 9px 9px;
  color: #555;
}
.woocommerce_page_settings .woocommerce_options_panel,
.panel {
  padding: 0;
}
#woocommerce-product-type-options .panel,
#woocommerce-product-specs .inside {
  padding: 9px;
  margin: 0;
}
.woocommerce_options_panel p,
#woocommerce-product-type-options .panel p,
.woocommerce_options_panel fieldset.form-field {
  margin: 0 0 9px;
  font-size: 12px;
  padding: 5px 9px;
  line-height: 24px;
}
.woocommerce_options_panel p:after,
#woocommerce-product-type-options .panel p:after,
.woocommerce_options_panel fieldset.form-field:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.woocommerce_options_panel .checkbox,
table.woocommerce_variable_attributes .checkbox {
  width: auto;
  vertical-align: middle;
  margin: 7px 0;
}
.woocommerce_variations .downloadable_files table,
.woocommerce_options_panel .downloadable_files table {
  width: 100%;
  padding: 0 !important;
}
.woocommerce_variations .downloadable_files table th,
.woocommerce_options_panel .downloadable_files table th {
  padding: 7px 0 7px 7px;
}
.woocommerce_variations .downloadable_files table td,
.woocommerce_options_panel .downloadable_files table td {
  vertical-align: middle !important;
  padding: 4px 0 4px 7px;
  position: relative;
}
.woocommerce_variations .downloadable_files table td:last-child,
.woocommerce_options_panel .downloadable_files table td:last-child {
  padding-right: 7px;
}
.woocommerce_variations .downloadable_files table td input.input_text,
.woocommerce_options_panel .downloadable_files table td input.input_text {
  width: 100%;
  float: none;
  margin: 1px 0;
}
.woocommerce_variations .downloadable_files table td .upload_file_button,
.woocommerce_options_panel .downloadable_files table td .upload_file_button {
  float: right;
  width: auto;
  cursor: pointer;
}
.woocommerce_variations .downloadable_files table td .delete:before,
.woocommerce_options_panel .downloadable_files table td .delete:before {
  content: "\e013";
  color: #999;
}
.woocommerce_variations .downloadable_files table td .delete:hover:before,
.woocommerce_options_panel .downloadable_files table td .delete:hover:before {
  color: ;
}
.woocommerce_variations .downloadable_files table th.sort,
.woocommerce_options_panel .downloadable_files table th.sort {
  width: 17px;
  padding: 0;
}
.woocommerce_variations .downloadable_files table td.sort,
.woocommerce_options_panel .downloadable_files table td.sort {
  padding: 0 8px;
  cursor: move;
  background: #f9f9f9;
  text-align: center;
  vertical-align: middle;
}
.woocommerce_variations .downloadable_files table td.sort:before,
.woocommerce_options_panel .downloadable_files table td.sort:before {
  content: "\e032";
  font-family: 'WooCommerce';
  text-align: center;
  line-height: 1;
  color: #999;
  display: block;
  width: 17px;
  float: left;
  height: 100%;
}
.woocommerce_variations .downloadable_files table td.sort:hover:before,
.woocommerce_options_panel .downloadable_files table td.sort:hover:before {
  color: #333;
}
.woocommerce_options_panel .downloadable_files {
  padding: 0 9px 0 162px;
  position: relative;
  margin: 9px 0 9px;
}
.woocommerce_options_panel .downloadable_files label {
  position: absolute;
  left: 0;
  margin: 0 0 0 12px;
  line-height: 24px;
}
.woocommerce_options_panel p {
  margin: 9px 0 9px;
}
.woocommerce_options_panel p.form-field,
.woocommerce_options_panel fieldset.form-field {
  padding: 5px 20px 5px 162px !important;
}
.woocommerce_options_panel label,
.woocommerce_options_panel legend {
  float: left;
  width: 150px;
  padding: 0;
  margin: 0 0 0 -150px;
}
.woocommerce_options_panel label .req,
.woocommerce_options_panel legend .req {
  font-weight: bold;
  font-style: normal;
  color: ;
}
.woocommerce_options_panel .description {
  padding: 0;
  margin: 0 0 0 7px;
}
.woocommerce_options_panel .description-block {
  margin-left: 0;
  display: block;
}
.woocommerce_options_panel textarea,
.woocommerce_options_panel input,
.woocommerce_options_panel select {
  margin: 0;
}
.woocommerce_options_panel textarea {
  vertical-align: top;
  height: 3.5em;
  line-height: 1.5em;
}
.woocommerce_options_panel input[type="text"],
.woocommerce_options_panel input[type="email"],
.woocommerce_options_panel input[type="number"] {
  width: 50%;
  float: left;
}
.woocommerce_options_panel input.button {
  width: auto;
  margin-left: 8px;
}
.woocommerce_options_panel select {
  float: left;
}
.woocommerce_options_panel input[type="text"].short,
.woocommerce_options_panel input[type="email"].short,
.woocommerce_options_panel input[type="number"].short,
.woocommerce_options_panel .short {
  width: 25%;
}
.woocommerce_options_panel .sized {
  width: auto !important;
  margin-right: 6px;
}
.woocommerce_options_panel .options_group {
  border-top: 1px solid white;
  border-bottom: 1px solid #DFDFDF;
}
.woocommerce_options_panel .options_group:first-child {
  border-top: 0;
}
.woocommerce_options_panel .options_group:last-child {
  border-bottom: 0;
}
.woocommerce_options_panel .options_group fieldset {
  margin: 9px 0;
  font-size: 12px;
  padding: 5px 9px;
  line-height: 24px;
}
.woocommerce_options_panel .options_group fieldset label {
  width: auto;
  float: none;
}
.woocommerce_options_panel .options_group fieldset ul {
  float: left;
  width: 50%;
  margin: 0;
  padding: 0;
}
.woocommerce_options_panel .options_group fieldset ul li {
  margin: 0;
  width: auto;
}
.woocommerce_options_panel .options_group fieldset ul li input {
  width: auto;
  float: none;
  margin-right: 4px;
}
.woocommerce_options_panel .options_group fieldset ul.wc-radios label {
  margin-left: 0;
}
.woocommerce_options_panel .dimensions_field .wrap input {
  margin-right: .2%;
  width: 8.2%;
}
.woocommerce_options_panel .dimensions_field .wrap .last {
  margin-right: 0;
}
#woocommerce-product-data input.dp-applied {
  float: left;
}
#grouped_product_options,
#virtual_product_options,
#simple_product_options {
  padding: 12px;
  font-style: italic;
  color: #666;
}
.wc-metaboxes-wrapper .toolbar {
  margin: 0 !important;
  border-top: 1px solid white;
  border-bottom: 1px solid #DFDFDF;
  padding: 9px 12px !important;
}
.wc-metaboxes-wrapper .toolbar:first-child {
  border-top: 0;
}
.wc-metaboxes-wrapper .toolbar:last-child {
  border-bottom: 0;
}
.wc-metaboxes-wrapper .toolbar .link_all_variations,
.wc-metaboxes-wrapper .toolbar .add_variation {
  float: right;
  margin-left: 5px;
}
.wc-metaboxes-wrapper p.toolbar {
  overflow: hidden;
  zoom: 1;
}
.wc-metaboxes-wrapper select.attribute_taxonomy,
.wc-metaboxes-wrapper button.add_attribute,
.wc-metaboxes-wrapper button.add_variable_attribute,
.wc-metaboxes-wrapper .fr {
  float: right;
  margin: 0 0 0 6px;
}
.wc-metaboxes-wrapper .wc-metaboxes {
  border-bottom: 1px solid #DFDFDF;
  padding: 0 12px 0;
}
.wc-metaboxes-wrapper .wc-metabox-sortable-placeholder {
  border-color: #bbb;
  background-color: #f5f5f5;
  margin-bottom: 9px;
  border-width: 1px;
  border-style: dashed;
}
.wc-metaboxes-wrapper .wc-metabox {
  background: #fff;
  border: 1px solid #dfdfdf;
  margin: 9px 0 !important;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.wc-metaboxes-wrapper .wc-metabox .handlediv:before {
  line-height: .5 !important;
}
.wc-metaboxes-wrapper .wc-metabox.closed {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.wc-metaboxes-wrapper .wc-metabox.closed .handlediv:before {
  content: "\f140" !important;
}
.wc-metaboxes-wrapper .wc-metabox.closed h3 {
  border: 0;
}
.wc-metaboxes-wrapper .wc-metabox h3 {
  margin: 0 !important;
  padding: 6px !important;
  font-size: 1em !important;
  overflow: hidden;
  zoom: 1;
  cursor: move;
}
.wc-metaboxes-wrapper .wc-metabox h3 button {
  float: right;
}
.wc-metaboxes-wrapper .wc-metabox h3 strong {
  font-weight: normal;
  line-height: 24px;
}
.wc-metaboxes-wrapper .wc-metabox h3 select {
  font-family: sans-serif;
}
.wc-metaboxes-wrapper .wc-metabox h3 .handlediv {
  background-position: 6px 5px !important;
  display: none;
  height: 24px;
}
.wc-metaboxes-wrapper .wc-metabox h3.fixed {
  cursor: pointer !important;
}
.wc-metaboxes-wrapper .wc-metabox h3:hover .handlediv {
  display: block;
}
.wc-metaboxes-wrapper .wc-metabox table {
  width: 100%;
  position: relative;
  background: #fff;
  padding: 3px;
}
.wc-metaboxes-wrapper .wc-metabox table td {
  text-align: left;
  padding: 6px 6px;
  vertical-align: top;
  border: 0;
}
.wc-metaboxes-wrapper .wc-metabox table td label {
  text-align: left;
  display: block;
  line-height: 21px;
}
.wc-metaboxes-wrapper .wc-metabox table td input {
  float: left;
  min-width: 200px;
}
.wc-metaboxes-wrapper .wc-metabox table td input,
.wc-metaboxes-wrapper .wc-metabox table td textarea {
  width: 100%;
  margin: 0;
  display: block;
  font-size: 14px;
  padding: 4px;
  color: #555;
}
.wc-metaboxes-wrapper .wc-metabox table td select,
.wc-metaboxes-wrapper .wc-metabox table td .chosen-container {
  width: 100% !important;
}
.wc-metaboxes-wrapper .wc-metabox table td input.short {
  width: 200px;
}
.wc-metaboxes-wrapper .wc-metabox table td input.checkbox {
  width: 16px;
  min-width: inherit;
  vertical-align: text-bottom;
  display: inline-block;
  float: none;
}
.wc-metaboxes-wrapper .wc-metabox table td.attribute_name {
  width: 200px;
}
.wc-metaboxes-wrapper .wc-metabox table .plus,
.wc-metaboxes-wrapper .wc-metabox table .minus {
  margin-top: 6px;
}
.wc-metaboxes-wrapper .wc-metabox table .fl {
  float: left;
}
.wc-metaboxes-wrapper .wc-metabox table .fr {
  float: right;
}
.wc-metaboxes-wrapper .expand_all,
.wc-metaboxes-wrapper .close_all {
  float: right;
  margin-left: 14px;
  line-height: 22px;
  text-decoration: none;
}
.wc-metaboxes-wrapper .expand_all:before,
.wc-metaboxes-wrapper .close_all:before {
  font-size: .8em;
  color: #999;
}
.wc-metaboxes-wrapper .expand_all:before {
  content: "\e035";
}
#variable_product_options .woocommerce_variation table {
  background: #fafafa;
  border-top: 1px solid #eee;
  padding: 6px;
}
#variable_product_options .woocommerce_variation table td input {
  min-width: inherit !important;
}
#variable_product_options .woocommerce_variation table td.dimensions_field input {
  width: 32%;
  margin-right: 2%;
}
#variable_product_options .woocommerce_variation table td.dimensions_field .last {
  margin-right: 0;
}
#variable_product_options .woocommerce_variation table td.options {
  width: 150px;
}
#variable_product_options .woocommerce_variation table td.options label {
  margin-bottom: 6px;
}
#variable_product_options .woocommerce_variation table td.data {
  padding: 0 0 0 12px;
}
#variable_product_options .woocommerce_variation table td.data table.data_table {
  width: 100%;
  padding: 0 12px 6px 12px;
  background: #fff;
  border: 1px solid #dfdfdf;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#variable_product_options .woocommerce_variation table td.data table.data_table td {
  width: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#variable_product_options .woocommerce_variation table td.data table.data_table:before {
  content: "";
  display: block;
  position: absolute;
  top: 33px;
  left: 0;
  margin: 0 0 0 -1px;
  border: 7px solid #dfdfdf;
  border-color: transparent transparent transparent #dfdfdf;
}
#variable_product_options .woocommerce_variation table td.data table.data_table:after {
  content: "";
  display: block;
  position: absolute;
  top: 34px;
  left: 0;
  margin: 0 0 0 -1px;
  border: 6px solid #fafafa;
  border-color: transparent transparent transparent #fafafa;
}
#variable_product_options .woocommerce_variation table td.upload_image {
  white-space: nowrap;
  width: 75px;
}
#variable_product_options .woocommerce_variation table td.upload_image img {
  float: none;
  width: 73px;
  border: 1px solid #dfdfdf;
}
#variable_product_options .woocommerce_variation table td.upload_image .button {
  margin: 0;
  padding: 4px 10px;
  width: auto;
  float: none;
  vertical-align: middle;
}
#variable_product_options .woocommerce_variation table td.upload_image .upload_image_button {
  display: block;
  position: relative;
}
#variable_product_options .woocommerce_variation table td.upload_image .upload_image_button .overlay {
  display: none;
  width: 75px;
  height: 75px;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  opacity: 0.5;
  background: #eee url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAXklEQVQYGW2OUQrAMAhDFy8+dnKnwiuh2I+aJulDZebDkfSie1b28Q7EXWrfvSm60RQnkQUC8ja7owpmL6d4GdDZ0cNNHyIhZEj4QYCxze6orsluAh8AnR0xKPR07weXJi8JGd3qqwAAAABJRU5ErkJggg==) no-repeat center center;
}
#variable_product_options .woocommerce_variation table td.upload_image .upload_image_button:hover .overlay {
  display: block;
}
#variable_product_options .woocommerce_variation table td.upload_image .upload_image_button.remove .overlay {
  background: #eee url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAWElEQVQYGY2OUQ6AMAxCZdm9jSev65K3YKNm+6EFBlVEHDxJJ3Pi0C72xlBNyTs3jU7wEUTTIB51GCp2CL8HLpHEdaOLb/N2dfuq9NT0zOo/M9q6EaImsd/uViMLVuD4KAAAAABJRU5ErkJggg==) no-repeat center center;
}
#variable_product_options .woocommerce_variation table .cancel_sale_schedule,
#variable_product_options .woocommerce_variation table .sale_schedule {
  float: right;
}
#variable_product_options .woocommerce_variation table tr.sale_price_dates_fields td {
  padding-right: 24px;
  position: relative;
}
#variable_product_options .woocommerce_variation table tr.sale_price_dates_fields td img {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 5px 0;
  margin: 0 0 6px;
}
.tips {
  cursor: help;
  text-decoration: none;
}
img.tips {
  padding: 5px 0 0 0;
}
#tiptip_holder {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99999;
}
#tiptip_holder.tip_top {
  padding-bottom: 5px;
}
#tiptip_holder.tip_top #tiptip_arrow_inner {
  margin-top: -7px;
  margin-left: -6px;
  border-top-color: #464646;
}
#tiptip_holder.tip_bottom {
  padding-top: 5px;
}
#tiptip_holder.tip_bottom #tiptip_arrow_inner {
  margin-top: -5px;
  margin-left: -6px;
  border-bottom-color: #464646;
}
#tiptip_holder.tip_right {
  padding-left: 5px;
}
#tiptip_holder.tip_right #tiptip_arrow_inner {
  margin-top: -6px;
  margin-left: -5px;
  border-right-color: #464646;
}
#tiptip_holder.tip_left {
  padding-right: 5px;
}
#tiptip_holder.tip_left #tiptip_arrow_inner {
  margin-top: -6px;
  margin-left: -7px;
  border-left-color: #464646;
}
#tiptip_content,
.chart-tooltip,
.wc_error_tip {
  font-size: 11px;
  color: #fff;
  padding: .5em .5em;
  background: #464646;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
  -moz-box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
  box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
  text-align: center;
  max-width: 150px;
}
#tiptip_content code,
.chart-tooltip code,
.wc_error_tip code {
  background: #888;
  padding: 1px;
}
#tiptip_arrow,
#tiptip_arrow_inner {
  position: absolute;
  border-color: transparent;
  border-style: solid;
  border-width: 6px;
  height: 0;
  width: 0;
}
.wc_error_tip {
  background: #d82223;
  max-width: 20em;
  white-space: normal;
  position: absolute;
  margin: 1.5em 1px 0 -1em;
  z-index: 9999999;
}
.wc_error_tip:after {
  content: "";
  display: block;
  border: 8px solid #d82223;
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-color: transparent;
  position: absolute;
  top: -3px;
  left: 50%;
  margin: -1em 0 0 -3px;
}
img.ui-datepicker-trigger {
  vertical-align: middle;
  margin-top: -1px;
  cursor: pointer;
}
.woocommerce_options_panel img.ui-datepicker-trigger,
.wc-metabox-content img.ui-datepicker-trigger {
  float: left;
  margin-right: 8px;
  margin-top: 4px;
  margin-left: 4px;
}
#ui-datepicker-div {
  display: none;
}
.woocommerce-reports-wrap.woocommerce-reports-wrap,
.woocommerce-reports-wide.woocommerce-reports-wrap {
  margin-left: 300px;
  padding-top: 18px;
}
.woocommerce-reports-wrap.halved,
.woocommerce-reports-wide.halved {
  margin: 0;
  overflow: hidden;
  zoom: 1;
}
.woocommerce-reports-wrap .widefat td,
.woocommerce-reports-wide .widefat td {
  vertical-align: top;
  padding: 7px 7px;
}
.woocommerce-reports-wrap .widefat td .description,
.woocommerce-reports-wide .widefat td .description {
  margin: 4px 0 0 0;
}
.woocommerce-reports-wrap .postbox:after,
.woocommerce-reports-wide .postbox:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.woocommerce-reports-wrap .postbox h3,
.woocommerce-reports-wide .postbox h3 {
  cursor: default !important;
}
.woocommerce-reports-wrap .postbox .inside,
.woocommerce-reports-wide .postbox .inside {
  padding: 10px;
  margin: 0 !important;
}
.woocommerce-reports-wrap .postbox h3.stats_range,
.woocommerce-reports-wide .postbox h3.stats_range {
  padding: 0 !important;
  border-bottom-color: #dfdfdf;
}
.woocommerce-reports-wrap .postbox h3.stats_range .export_csv,
.woocommerce-reports-wide .postbox h3.stats_range .export_csv {
  float: right;
  line-height: 26px;
  border-left: 1px solid #dfdfdf;
  padding: 10px;
  display: block;
  text-decoration: none;
}
.woocommerce-reports-wrap .postbox h3.stats_range .export_csv:before,
.woocommerce-reports-wide .postbox h3.stats_range .export_csv:before {
  margin-right: 4px;
}
.woocommerce-reports-wrap .postbox h3.stats_range ul,
.woocommerce-reports-wide .postbox h3.stats_range ul {
  list-style: none outside;
  margin: 0;
  padding: 0;
  zoom: 1;
  background: #f5f5f5;
}
.woocommerce-reports-wrap .postbox h3.stats_range ul:before,
.woocommerce-reports-wrap .postbox h3.stats_range ul:after,
.woocommerce-reports-wide .postbox h3.stats_range ul:before,
.woocommerce-reports-wide .postbox h3.stats_range ul:after {
  content: " ";
  display: table;
}
.woocommerce-reports-wrap .postbox h3.stats_range ul:after,
.woocommerce-reports-wide .postbox h3.stats_range ul:after {
  clear: both;
}
.woocommerce-reports-wrap .postbox h3.stats_range ul li,
.woocommerce-reports-wide .postbox h3.stats_range ul li {
  float: left;
  margin: 0;
  padding: 0;
  line-height: 26px;
}
.woocommerce-reports-wrap .postbox h3.stats_range ul li a,
.woocommerce-reports-wide .postbox h3.stats_range ul li a {
  border-right: 1px solid #dfdfdf;
  padding: 10px;
  display: block;
  text-decoration: none;
}
.woocommerce-reports-wrap .postbox h3.stats_range ul li.active,
.woocommerce-reports-wide .postbox h3.stats_range ul li.active {
  background: #fff;
  -webkit-box-shadow: 0 4px 0 0 #fff;
  box-shadow: 0 4px 0 0 #fff;
}
.woocommerce-reports-wrap .postbox h3.stats_range ul li.active a,
.woocommerce-reports-wide .postbox h3.stats_range ul li.active a {
  color: #777;
}
.woocommerce-reports-wrap .postbox h3.stats_range ul li.custom,
.woocommerce-reports-wide .postbox h3.stats_range ul li.custom {
  padding: 9px 10px;
  vertical-align: middle;
}
.woocommerce-reports-wrap .postbox h3.stats_range ul li.custom form,
.woocommerce-reports-wrap .postbox h3.stats_range ul li.custom div,
.woocommerce-reports-wide .postbox h3.stats_range ul li.custom form,
.woocommerce-reports-wide .postbox h3.stats_range ul li.custom div {
  display: inline;
  margin: 0;
}
.woocommerce-reports-wrap .postbox h3.stats_range ul li.custom form input.range_datepicker,
.woocommerce-reports-wrap .postbox h3.stats_range ul li.custom div input.range_datepicker,
.woocommerce-reports-wide .postbox h3.stats_range ul li.custom form input.range_datepicker,
.woocommerce-reports-wide .postbox h3.stats_range ul li.custom div input.range_datepicker {
  padding: 0;
  margin: 0 10px 0 0;
  background: transparent;
  border: 0;
  color: #777;
  text-align: center;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.woocommerce-reports-wrap .postbox .chart-with-sidebar,
.woocommerce-reports-wide .postbox .chart-with-sidebar {
  padding: 12px 12px 12px 249px;
  margin: 0 !important;
}
.woocommerce-reports-wrap .postbox .chart-with-sidebar .chart-sidebar,
.woocommerce-reports-wide .postbox .chart-with-sidebar .chart-sidebar {
  width: 225px;
  margin-left: -237px;
  float: left;
}
.woocommerce-reports-wrap .postbox .chart-widgets,
.woocommerce-reports-wide .postbox .chart-widgets {
  margin: 0;
  padding: 0;
}
.woocommerce-reports-wrap .postbox .chart-widgets li.chart-widget,
.woocommerce-reports-wide .postbox .chart-widgets li.chart-widget {
  margin: 0 0 1em;
  background: #fafafa;
  border: 1px solid #dfdfdf;
}
.woocommerce-reports-wrap .postbox .chart-widgets li.chart-widget:after,
.woocommerce-reports-wide .postbox .chart-widgets li.chart-widget:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.woocommerce-reports-wrap .postbox .chart-widgets li.chart-widget h4,
.woocommerce-reports-wide .postbox .chart-widgets li.chart-widget h4 {
  background: #fff;
  border: 1px solid #dfdfdf;
  border-left-width: 0;
  border-right-width: 0;
  padding: 10px;
  margin: 0;
  color: ;
  border-top-width: 0;
  background-image: -webkit-gradient(linear,left bottom,left top,from(#ececec),to(#f9f9f9));
  background-image: -webkit-linear-gradient(bottom,#ececec,#f9f9f9);
  background-image: -moz-linear-gradient(bottom,#ececec,#f9f9f9);
  background-image: -o-linear-gradient(bottom,#ececec,#f9f9f9);
  background-image: linear-gradient(to top,#ececec,#f9f9f9);
}
.woocommerce-reports-wrap .postbox .chart-widgets li.chart-widget h4.section_title:hover,
.woocommerce-reports-wide .postbox .chart-widgets li.chart-widget h4.section_title:hover {
  color: ;
}
.woocommerce-reports-wrap .postbox .chart-widgets li.chart-widget .section_title,
.woocommerce-reports-wide .postbox .chart-widgets li.chart-widget .section_title {
  cursor: pointer;
}
.woocommerce-reports-wrap .postbox .chart-widgets li.chart-widget .section_title span,
.woocommerce-reports-wide .postbox .chart-widgets li.chart-widget .section_title span {
  display: block;
}
.woocommerce-reports-wrap .postbox .chart-widgets li.chart-widget .section_title span:after,
.woocommerce-reports-wide .postbox .chart-widgets li.chart-widget .section_title span:after {
  float: right;
  font-size: .9em;
  line-height: 1.618;
}
.woocommerce-reports-wrap .postbox .chart-widgets li.chart-widget .section_title.open,
.woocommerce-reports-wide .postbox .chart-widgets li.chart-widget .section_title.open {
  color: #333;
}
.woocommerce-reports-wrap .postbox .chart-widgets li.chart-widget .section_title.open span:after,
.woocommerce-reports-wide .postbox .chart-widgets li.chart-widget .section_title.open span:after {
  display: none;
}
.woocommerce-reports-wrap .postbox .chart-widgets li.chart-widget .section,
.woocommerce-reports-wide .postbox .chart-widgets li.chart-widget .section {
  border-bottom: 1px solid #dfdfdf;
}
.woocommerce-reports-wrap .postbox .chart-widgets li.chart-widget .section .chosen-container,
.woocommerce-reports-wide .postbox .chart-widgets li.chart-widget .section .chosen-container {
  width: 100% !important;
}
.woocommerce-reports-wrap .postbox .chart-widgets li.chart-widget .section:last-of-type,
.woocommerce-reports-wide .postbox .chart-widgets li.chart-widget .section:last-of-type {
  border-radius: 0 0 3px 3px;
}
.woocommerce-reports-wrap .postbox .chart-widgets li.chart-widget table,
.woocommerce-reports-wide .postbox .chart-widgets li.chart-widget table {
  width: 100%;
}
.woocommerce-reports-wrap .postbox .chart-widgets li.chart-widget table td,
.woocommerce-reports-wide .postbox .chart-widgets li.chart-widget table td {
  padding: 7px 10px;
  vertical-align: top;
  border-top: 1px solid #e5e5e5;
  line-height: 1.4em;
}
.woocommerce-reports-wrap .postbox .chart-widgets li.chart-widget table tr:first-child td,
.woocommerce-reports-wide .postbox .chart-widgets li.chart-widget table tr:first-child td {
  border-top: 0;
}
.woocommerce-reports-wrap .postbox .chart-widgets li.chart-widget table td.count,
.woocommerce-reports-wide .postbox .chart-widgets li.chart-widget table td.count {
  background: #f5f5f5;
}
.woocommerce-reports-wrap .postbox .chart-widgets li.chart-widget table td.name,
.woocommerce-reports-wide .postbox .chart-widgets li.chart-widget table td.name {
  padding-right: 0;
}
.woocommerce-reports-wrap .postbox .chart-widgets li.chart-widget table td.sparkline,
.woocommerce-reports-wide .postbox .chart-widgets li.chart-widget table td.sparkline {
  vertical-align: middle;
}
.woocommerce-reports-wrap .postbox .chart-widgets li.chart-widget table .wc_sparkline,
.woocommerce-reports-wide .postbox .chart-widgets li.chart-widget table .wc_sparkline {
  width: 32px;
  height: 1em;
  display: block;
  float: right;
}
.woocommerce-reports-wrap .postbox .chart-widgets li.chart-widget table tr.active td,
.woocommerce-reports-wide .postbox .chart-widgets li.chart-widget table tr.active td {
  background: #f5f5f5;
}
.woocommerce-reports-wrap .postbox .chart-widgets li.chart-widget form,
.woocommerce-reports-wrap .postbox .chart-widgets li.chart-widget p,
.woocommerce-reports-wide .postbox .chart-widgets li.chart-widget form,
.woocommerce-reports-wide .postbox .chart-widgets li.chart-widget p {
  margin: 0;
  padding: 10px;
}
.woocommerce-reports-wrap .postbox .chart-widgets li.chart-widget form .submit,
.woocommerce-reports-wrap .postbox .chart-widgets li.chart-widget p .submit,
.woocommerce-reports-wide .postbox .chart-widgets li.chart-widget form .submit,
.woocommerce-reports-wide .postbox .chart-widgets li.chart-widget p .submit {
  margin-top: 10px;
}
.woocommerce-reports-wrap .postbox .chart-widgets li.chart-widget #product_ids,
.woocommerce-reports-wide .postbox .chart-widgets li.chart-widget #product_ids {
  width: 100%;
}
.woocommerce-reports-wrap .postbox .chart-widgets li.chart-widget .select_all,
.woocommerce-reports-wrap .postbox .chart-widgets li.chart-widget .select_none,
.woocommerce-reports-wide .postbox .chart-widgets li.chart-widget .select_all,
.woocommerce-reports-wide .postbox .chart-widgets li.chart-widget .select_none {
  float: right;
  color: #999;
  margin-left: 4px;
  margin-top: 10px;
}
.woocommerce-reports-wrap .postbox .chart-legend,
.woocommerce-reports-wide .postbox .chart-legend {
  list-style: none outside;
  margin: 0 0 1em;
  padding: 0;
  border: 1px solid #dfdfdf;
  border-right-width: 0;
  border-bottom-width: 0;
  background: #fff;
}
.woocommerce-reports-wrap .postbox .chart-legend li,
.woocommerce-reports-wide .postbox .chart-legend li {
  border-right: 5px solid #aaa;
  color: #aaa;
  padding: 1em;
  display: block;
  margin: 0;
  -webkit-transition: all ease .5s;
  box-shadow: inset 0 -1px 0 0 #dfdfdf;
}
.woocommerce-reports-wrap .postbox .chart-legend li strong,
.woocommerce-reports-wide .postbox .chart-legend li strong {
  font-size: 1.618em;
  line-height: 1.2em;
  color: #464646;
  font-weight: normal;
  display: block;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", sans-serif;
}
.woocommerce-reports-wrap .postbox .chart-legend li:hover,
.woocommerce-reports-wide .postbox .chart-legend li:hover {
  box-shadow: inset 0 -1px 0 0 #dfdfdf, inset 300px 0 0 rgba(156,93,144,0.1);
  border-right: 5px solid #9c5d90 !important;
  padding-left: 1.5em;
  color: #9c5d90;
}
.woocommerce-reports-wrap .postbox .pie-chart-legend,
.woocommerce-reports-wide .postbox .pie-chart-legend {
  margin: 12px 0 0 0;
  overflow: hidden;
}
.woocommerce-reports-wrap .postbox .pie-chart-legend li,
.woocommerce-reports-wide .postbox .pie-chart-legend li {
  float: left;
  margin: 0;
  padding: 6px 0 0 0;
  border-top: 4px solid #999;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
}
.woocommerce-reports-wrap .postbox .stat,
.woocommerce-reports-wide .postbox .stat {
  font-size: 1.5em !important;
  font-weight: bold;
  text-align: center;
}
.woocommerce-reports-wrap .postbox .chart-placeholder,
.woocommerce-reports-wide .postbox .chart-placeholder {
  width: 100%;
  height: 650px;
  overflow: hidden;
  position: relative;
}
.woocommerce-reports-wrap .postbox .chart-prompt,
.woocommerce-reports-wide .postbox .chart-prompt {
  line-height: 650px;
  margin: 0;
  color: #999;
  font-size: 1.2em;
  font-style: italic;
  text-align: center;
}
.woocommerce-reports-wrap .postbox .chart-container,
.woocommerce-reports-wide .postbox .chart-container {
  background: #fff;
  padding: 12px;
  position: relative;
  border: 1px solid #dfdfdf;
  border-radius: 3px;
}
.woocommerce-reports-wrap .postbox .main .chart-legend,
.woocommerce-reports-wide .postbox .main .chart-legend {
  margin-top: 12px;
}
.woocommerce-reports-wrap .postbox .main .chart-legend li,
.woocommerce-reports-wide .postbox .main .chart-legend li {
  border-right: 0;
  margin: 0 8px 0 0;
  float: left;
  border-top: 4px solid #aaa;
}
.woocommerce-reports-wrap .woocommerce-reports-main,
.woocommerce-reports-wide .woocommerce-reports-main {
  float: left;
  min-width: 100%;
}
.woocommerce-reports-wrap .woocommerce-reports-main table td,
.woocommerce-reports-wide .woocommerce-reports-main table td {
  padding: 9px;
}
.woocommerce-reports-wrap .woocommerce-reports-sidebar,
.woocommerce-reports-wide .woocommerce-reports-sidebar {
  display: inline;
  width: 281px;
  margin-left: -300px;
  clear: both;
  float: left;
}
.woocommerce-reports-wrap .woocommerce-reports-left,
.woocommerce-reports-wide .woocommerce-reports-left {
  width: 49.5%;
  float: left;
}
.woocommerce-reports-wrap .woocommerce-reports-right,
.woocommerce-reports-wide .woocommerce-reports-right {
  width: 49.5%;
  float: right;
}
.woocommerce-reports-wrap .column-wc_actions a.edit,
.woocommerce-reports-wrap .column-wc_actions a.view,
.woocommerce-reports-wide .column-wc_actions a.edit,
.woocommerce-reports-wide .column-wc_actions a.view {
  padding: 0 !important;
  height: 2em !important;
  width: 2em;
}
.woocommerce-reports-wrap .column-wc_actions a.edit:after,
.woocommerce-reports-wrap .column-wc_actions a.view:after,
.woocommerce-reports-wide .column-wc_actions a.edit:after,
.woocommerce-reports-wide .column-wc_actions a.view:after {
  line-height: 1.85;
}
.woocommerce-reports-wrap .column-wc_actions a.edit:after,
.woocommerce-reports-wide .column-wc_actions a.edit:after {
  content: "\e01c";
}
.woocommerce-reports-wrap .column-wc_actions a.view:after,
.woocommerce-reports-wide .column-wc_actions a.view:after {
  content: "\e010";
}
.woocommerce-wide-reports-wrap {
  padding-bottom: 11px;
}
.woocommerce-wide-reports-wrap .widefat .export-data {
  float: right;
}
.woocommerce-wide-reports-wrap .widefat th,
.woocommerce-wide-reports-wrap .widefat td {
  vertical-align: middle;
  padding: 7px;
}
form.report_filters p {
  vertical-align: middle;
}
form.report_filters label,
form.report_filters input,
form.report_filters div {
  vertical-align: middle;
}
.chart-tooltip {
  position: absolute;
  display: none;
  line-height: 1;
}
table.bar_chart {
  width: 100%;
}
table.bar_chart thead th {
  text-align: left;
  color: #ccc;
  padding: 6px 0;
}
table.bar_chart tbody th {
  padding: 6px 0;
  width: 25%;
  text-align: left !important;
  font-weight: normal !important;
  border-bottom: 1px solid #fee;
}
table.bar_chart tbody td {
  text-align: right;
  line-height: 24px;
  padding: 6px 6px 6px 0;
  border-bottom: 1px solid #fee;
}
table.bar_chart tbody td span {
  color: #8a4b75;
  display: block;
}
table.bar_chart tbody td span.alt {
  color: #47a03e;
  margin-top: 6px;
}
table.bar_chart tbody td.bars {
  position: relative;
  text-align: left;
  padding: 6px 6px 6px 0;
  border-bottom: 1px solid #fee;
}
table.bar_chart tbody td.bars span,
table.bar_chart tbody td.bars a {
  text-decoration: none;
  clear: both;
  background: #8a4b75;
  float: left;
  display: block;
  line-height: 24px;
  height: 24px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}
table.bar_chart tbody td.bars span.alt {
  clear: both;
  background: #47a03e;
}
table.bar_chart tbody td.bars span.alt span {
  margin: 0;
  color: #c5dec2 !important;
  text-shadow: 0 1px 0 #47a03e;
  background: transparent;
}
.chosen-container-single .chosen-single {
  height: 26px;
  line-height: 26px;
  margin-top: 1px;
}
.chosen-container-single .chosen-single div b {
  background: url('../images/chosen-sprite.png') no-repeat 0 4px !important;
}
.chosen-container-active .chosen-single-with-drop div b {
  background-position: -18px 2px !important;
}
.chosen-container-single .chosen-search input {
  line-height: 13px;
  width: 100% !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.chosen-container .chosen-drop {
  width: 100% !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.chosen-container-multi .chosen-choices .search-field input {
  height: 21px !important;
}
.woocommerce_options_panel .chosen-container-multi {
  width: 50% !important;
  float: left;
}
.woocommerce_options_panel .chosen-container-multi .search-field {
  min-width: 50%;
}
.woocommerce_options_panel .chosen-container-multi .search-field input {
  min-width: 100%;
}
@media only screen and (max-width: 1280px) {
  #order_data .order_data_column {
    width: 48%;
  }
  #order_data .order_data_column:first-child {
    width: 100%;
  }
  .woocommerce_options_panel .description {
    display: block;
    clear: both;
    margin-left: 0;
  }
}
@media only screen and (max-width: 900px) {
  #woocommerce-product-data ul.product_data_tabs,
  #woocommerce-product-data .wc-tabs-back {
    width: 40px;
  }
  #woocommerce-product-data .woocommerce_options_panel,
  #woocommerce-coupon-data .woocommerce_options_panel,
  #woocommerce-product-data .wc-metaboxes-wrapper,
  #woocommerce-coupon-data .wc-metaboxes-wrapper {
    width: 98%;
  }
  #woocommerce-product-data ul.product_data_tabs li a {
    position: relative;
    text-indent: -999px;
    padding: 10px;
  }
  #woocommerce-product-data ul.product_data_tabs li a:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-indent: 0;
    text-align: center;
    line-height: 40px;
    width: 40px;
    height: 40px;
  }
}
@media only screen and (max-width: 782px) {
  #wp-excerpt-media-buttons a {
    font-size: 16px;
    line-height: 37px;
    height: 39px;
    padding: 0 20px 0 15px;
  }
  #wp-excerpt-editor-tools {
    padding-top: 20px;
    padding-right: 15px;
    overflow: hidden;
    margin-bottom: -1px;
  }
  #woocommerce-product-data .checkbox {
    width: 25px;
  }
}
.chosen-container-single .chosen-single abbr {
  top: 8px;
}
