.woocommerce .coupon {
  width: auto;
  margin-left: 0;
  float: left;
}
.woocommerce .coupon input.input-text,
.woocommerce-cart table.cart td.actions .coupon .input-text {
  padding: 6px 10px;
  border: 2px solid #e4e4e4;
  width: auto;
  margin: 0 15px 0 0;
  min-width: 140px;
  height: 46px;
  line-height: 46px;
  float: left;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.woocommerce .coupon input.apply-coupon {
  padding: 11px 0;
  width: 28%;
  float: right;
  border: 0;
  margin: 0;
  font-size: 12px;
  text-transform: uppercase;
}
.woocommerce .shipping-calculator-form {
  display: block !important;
}
.woocommerce .cart-shipping-wrap {
  margin-top: 20px;
}
.woocommerce .shipping-calculator-button {
  display: none !important;
}
.woocommerce .shipping-calc-wrap {
  width: 50%;
}
.woocommerce .shipping-calculator-form p {
  margin-bottom: 15px;
}
.woocommerce #calc_shipping_country {
  height: 38px !important;
  max-width: 100%;
}
.woocommerce .shipping-calculator-form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  appearance: none;
  cursor: pointer;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding: 6px 25px 6px 15px;
  margin: 0 0 5px;
  outline: none;
}
.woocommerce .shipping-calculator-form button[type="submit"] {
  margin-top: 10px;
}
.woocommerce-checkout .already-logged-in p {
  font-size: 22px;
  float: left;
  margin: 0 20px 0 0;
  line-height: 40px;
}
.woocommerce form #customer_details .form-row {
  display: block;
  width: 100%;
  float: none;
  margin-bottom: 20px;
}
.woocommerce form #customer_details .form-row label {
  float: left;
  width: 25%;
  padding: 0;
  margin: 0;
  line-height: 38px;
  font-weight: normal;
}
.woocommerce form #customer_details .form-row input {
  float: right;
  width: 75%;
}
.woocommerce form #customer_details .form-row .chosen-search {
  height: auto;
  overflow: hidden;
}
.woocommerce form #customer_details .form-row .chosen-search input[type=text] {
  width: 100%;
}
.woocommerce form #customer_details .form-row textarea {
  float: right;
  width: 75%;
  padding: 10px;
  min-height: 70px;
  line-height: 20px;
}
.woocommerce .checkout #ship-to-different-address {
  float: none !important;
  width: 100% !important;
  margin-bottom: 20px;
  padding: 10px 0;
}
.woocommerce .checkout #ship-to-different-address input {
  float: none !important;
  width: auto !important;
  display: inline-block;
  margin: 0 0 0 8px;
  vertical-align: 1px;
}
.woocommerce .checkout #ship-to-different-address label {
  float: none !important;
  width: auto;
  font-size: 1em;
  display: inline-block;
  padding-left: 0;
  margin-bottom: 0;
}
.woocommerce-checkout .form-row .chzn-container {
  width: 75% !important;
  margin-top: 5px;
}
.woocommerce-checkout .form-row .chzn-container .chzn-results {
  width: 100%;
}
.woocommerce select#billing_country,
.woocommerce-checkout #billing_country_field .chosen-container,
.woocommerce-checkout #shipping_country_field .chosen-container,
.form-row .chosen-container {
  width: 75% !important;
}
