



/* --------------------------------------------
	CART
-------------------------------------------- */

// .woocommerce .bag-summary span, .woocommerce-page .bag-summary span {
// 	opacity: 0.6;
// }
// .woocommerce table.shop_table, .woocommerce-page table.shop_table {
// 	border-radius: 0;
// 	border-left-width: 0;
// 	border-right-width: 0;
// 	border-top-width: 2px;
// 	border-bottom-width: 2px;
// 	margin-bottom: 40px;
// }
// .woocommerce table.shop_table th, .woocommerce-page table.shop_table th {
// 	padding: 12px 15px 12px 0;
// 	font-weight: normal;
// }
// .woocommerce table.shop_table tbody th, .woocommerce table.shop_table tfoot td, .woocommerce table.shop_table tfoot th {
// 	border-top-width: 2px;
// }
// .woocommerce table.shop_table tr td, .woocommerce-page table.shop_table tr td {
// 	padding: 30px 15px 30px 0;
// 	vertical-align: top;
// }
// .woocommerce table.shop_table td {
// 	border-top-width: 2px;
// }
// .woocommerce table.cart .product-thumbnail, .woocommerce-page table.cart .product-thumbnail {
// 	width: 100px;
// }
// .woocommerce table.shop_table img, .woocommerce-page table.shop_table img {
// 	width: 70px;
// 	height: auto;
// }
// .woocommerce table.shop_table tr td.product-quantity .quantity {
// 	float: left;
// }
// .woocommerce table.shop_table tr td.product-price, .woocommerce table.shop_table tr td.product-subtotal {
// 	padding-top: 40px;
// }
// .woocommerce table.shop_table.cart td.product-name {
// 	padding-top: 40px;
// 	max-width: 300px;
// }
// .woocommerce table.shop_table .product-name .price, .woocommerce-cart table.shop_table .product-name .amount {
// 	display: none;
// 	margin-top: 5px;
// }
// .woocommerce table.shop_table tr td.product-remove .remove {
// 	float: right;
// 	padding: 0 10px;
// 	line-height: 42px;
// 	height: 44px;
// 	width: 44px;
// 	border-radius: 0;
// 	text-indent: 0;
// 	font-size: 24px;
// 	color: inherit;
// 	background: transparent!important;
// 	opacity: 0.5;
// }
// .woocommerce table.shop_table tr td.product-remove .remove:hover {
// 	opacity: 1;
// }
// .woocommerce table.shop_table tr td.product-remove .remove i {
// 	vertical-align: -5px;
// }
// .woocommerce .cart_totals {
// 	float: none;
// 	width: 100%;
// }
// .woocommerce .cart_totals table {
// 	width: 100%;
// 	margin-bottom: 10px;
// }
// .woocommerce-cart .cart_totals table th {
// 	text-align: left;
// 	padding: 10px 0;
// 	font-weight: normal;
// 	width: 50%;
// }
// .woocommerce-cart .cart_totals table tr.shipping th {
// 	width: 30%;
// }
// .woocommerce .cart_totals table td {
// 	text-align: right;
// 	padding-top: 10px;
// 	padding-right: 0;
// 	border-top: 0;
// }
// .woocommerce .cart_totals table tr.order-total {
// 	border-top: 2px solid #e3e3e3;
// }
// .woocommerce .cart_totals table tr.order-total th, .woocommerce .cart_totals table tr.order-total td {
// 	padding: 12px 0;
// 	line-height: 30px;
// }
// .woocommerce .cart_totals table tr.order-total td span {
// 	font-size: 18px;
// 	font-weight: normal;
// }
// .woocommerce .cart_totals table tr.cart-subtotal {
// 	border-top: 2px solid #e4e4e4;
// }
// .woocommerce .cart_totals table tr > th {
// 	width: 30%;
// }
// .woocommerce .cart_totals table tr.shipping th, .woocommerce .cart_totals table tr.shipping td {
// 	padding-bottom: 20px;
// }
// .woocommerce .cart_totals table tr.total {
// 	border-top: 2px solid black;
// }
// .woocommerce .cart_totals table tr.total td .amount {
// 	font-size: 18px;
// }
// .woocommerce .cart-collaterals .cross-sells, .woocommerce-page .cart-collaterals .cross-sells {
// 	width: 100%;
// }
// .woocommerce-cart .wc-proceed-to-checkout {
// 	clear: both;
// 	padding: 20px 0;
// }
// .woocommerce .wc-proceed-to-checkout > a.checkout-button {
// 	width: 100%;
// 	margin-bottom: 0;
// }
.woocommerce .coupon {
	width: auto;
	margin-left: 0;
	float: left;
}
.woocommerce .coupon input.input-text, .woocommerce-cart table.cart td.actions .coupon .input-text {
	padding: 6px 10px;
	border: 2px solid #e4e4e4;
	width: auto;
	margin: 0 15px 0 0;
	min-width: 140px;
	height: 46px;
	line-height: 46px;
	float: left;
	box-shadow: none;
	-webkit-box-shadow: none;
}
.woocommerce .coupon input.apply-coupon {
	padding: 11px 0;
	width: 28%;
	float: right;
	border: 0;
	margin: 0;
	font-size: 12px;
	text-transform: uppercase;
}



// .woocommerce .cart input[name="update_cart"] {
// 	float: right!important;
// 	margin-right: 0!important;
// }


/** 
Shipping Calculator
**/

// Show / Hide
.woocommerce .shipping-calculator-form {
	display: block!important;
}

.woocommerce .cart-shipping-wrap {
	margin-top: 20px;
}
.woocommerce .shipping-calculator-button {
	display: none!important;
}
.woocommerce .shipping-calc-wrap {
	width: 50%;
}

.woocommerce .shipping-calculator-form p {
	margin-bottom: 15px;
}

.woocommerce #calc_shipping_country {
	height: 38px!important;
	max-width: 100%;
}
.woocommerce .shipping-calculator-form select {
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
	appearance: none;
	cursor: pointer;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	padding: 6px 25px 6px 15px;
	margin: 0 0 5px;
	outline: none;
}
.woocommerce .shipping-calculator-form button[type="submit"] {
	margin-top: 10px;
}


/** 
Shipping Calculator
**/




// .woocommerce .button.update-cart-button, .woocommerce .button.checkout-button {
// 	width: 100%;
// 	height: 46px;
// 	text-align: center;
// 	padding: 13px 15px;
// 	margin-bottom: 0;
// 	border: 0;
// 	border-radius: 0;
// 	text-shadow: none;
// 	font-weight: normal;
// 	-moz-box-shadow: none;
// 	-webkit-box-shadow: none;
// 	box-shadow: none;
// }


// .woocommerce form.checkout_coupon {
// 	border-left: 0;
// 	border-right: 0;
// 	-moz-border-radius: 0;
// 	-webkit-border-radius: 0;
// 	border-radius: 0;
// 	padding: 30px 0;
// }
// .woocommerce form.checkout_coupon .form-row-last {
// 	float: left;
// 	margin-left: 20px;
// }
// .woocommerce form.checkout_coupon p {
// 	margin-bottom: 0;
// }
// .woocommerce input[name="apply_coupon"] {
// 	width: auto;
// 	padding: 12px 20px;
// 	border-radius: 0;
// 	margin-left: 20px;
// 	text-shadow: none;
// 	font-weight: normal;
// 	-moz-box-shadow: none;
// 	-webkit-box-shadow: none;
// 	box-shadow: none;
// }
// .woocommerce form.checkout_coupon input.input-text {
// 	height: 46px;
// }
// .woocommerce form.checkout_coupon input[name="apply_coupon"] {
// 	margin-left: 0;
// }


// /* --------------------------------------------
// 	CART
// -------------------------------------------- */

// .woocommerce td.product-name dl.variation dd {
// 	margin-bottom: 0;
// }

// /* --------------------------------------------
// 	CART EMPTY
// -------------------------------------------- */

// p.no-items {
// 	border-top: 2px solid #e4e4e4;
// 	border-bottom: 2px solid #e4e4e4;
// 	padding: 10px 0;
// 	margin-bottom: 20px;
// }


// /* --------------------------------------------
// 	CHECKOUT PAGE
// -------------------------------------------- */

// body.minimal-checkout.woocommerce-checkout .header-wrap, body.minimal-checkout.woocommerce-checkout #mobile-header, body.minimal-checkout.woocommerce-checkout #sf-header-banner, body.minimal-checkout.woocommerce-checkout #top-bar-sticky-wrapper, body.minimal-checkout.woocommerce-checkout #top-bar, body.minimal-checkout.woocommerce-checkout #footer {
// 	display: none;
// }
// body.woocommerce-checkout.minimal-checkout.vertical-header #container {
// 	padding-left: 0;
// }
// body.woocommerce-checkout.minimal-checkout.vertical-header-right #container {
// 	padding-right: 0;
// }
// .minimal-checkout-return a {
// 	display: block;
// 	padding: 15px 0;
// 	font-size: 18px;
// }
// .woocommerce-order-received .minimal-checkout-return {
// 	display: none;
// }
// ul.checkout-process {
// 	border: 2px solid #e4e4e4;
// 	margin-bottom: 60px;
// 	list-style: none;
// }
// ul.checkout-process li {
// 	width: 33.3%;
// 	float: left;
// 	position: relative;
// }
// ul.checkout-process li:after {
// 	background: transparent url('images/checkout-process-angle.png') no-repeat top left;
// 	content: " ";
// 	position: absolute;
// 	top: 0;
// 	left: -40px;
// 	display: block;
// 	width: 20px;
// 	height: 39px;
// }
// ul.checkout-process li:first-child:after {
// 	display: none;
// }
// ul.checkout-process li a, ul.checkout-process li p {
// 	display: block;
// 	padding: 10px 15px 9px;
// 	line-height: 19px;
// 	margin: 0;
// }
// ul.checkout-process li a.active, ul.checkout-process li p.active {
// 	cursor: pointer;
// 	font-weight: bold;
// }
// .returning-customer a {
// 	border-bottom: 1px dotted #e3e3e3;
// }
// #login-form .modal-body form.login {
// 	display: block!important;
// 	border: 0;
// 	padding: 0;
// 	margin: 0;
// }
// #login-form .modal-body form.login p.form-row-first, #login-form .modal-body form.login p.form-row-last {
// 	width: 100%;
// 	margin-bottom: 20px;
// 	text-align: left!important;
// 	margin-top: 0!important;
// }
// #login-form .modal-body form.login p.form-row {
// 	width: 100%;
// 	margin-bottom: 20px;
// 	text-align: right;
// 	margin-top: 10px;
// }
// #login-form .modal-body form.login p.form-row input[type="submit"] {
// 	float: right!important;
// 	margin-right: 0!important;
// 	margin-left: 20px;
// 	padding: 15px 40px;
// }
// #login-form .modal-body form.login p.form-row a.lost_password {
// 	padding-top: 7px;
// 	display: inline-block;
// }
// .woocommerce-checkout .login input[type="submit"] {
// 	float: right;
// 	margin-top: 20px;
// 	border: 0;
// 	background: transparent;
// 	box-shadow: none;
// 	text-shadow: none;
// 	border-radius: 0;
// 	padding: 14px 24px;
// 	font-weight: normal;
// }
// .woocommerce-checkout .login label.inline {
// 	display: block;
// 	float: right;
// 	margin: 25px 20px 0;
// }
// .woocommerce-checkout .login label.inline input[type="checkbox"] {
// 	margin-right: 4px;
// }
// .woocommerce-checkout .login p.lost_password {
// 	text-align: right;
// 	margin-bottom: 0;
// 	margin-top: 25px;
// }
// .woocommerce #account_details > .login, .my-account-login-wrap .login-wrap {
// 	padding: 30px;
// }
// .woocommerce #account_details .col-2 {
// 	padding: 30px 0;
// 	-webkit-box-sizing: border-box;
// 	-moz-box-sizing: border-box;
// 	-ms-box-sizing: border-box;
// 	box-sizing: border-box;
// }
// .my-account-login-wrap .col2-set .col-1 {
// 	float: left;
// 	width: 47%;
// }
// .my-account-login-wrap .col2-set .col-2 {
// 	float: right;
// 	width: 47%;
// }
// .my-account-login-wrap .login-wrap h4 {
// 	margin-bottom: 30px;
// }
// .woocommerce #account_details .login form, .my-account-login-wrap .login-wrap form.login {
// 	display: block!important;
// 	border-radius: 0;
// 	border: 0;
// 	padding: 0;
// 	margin-bottom: 0;
// }
// .woocommerce #account_details .login form p.form-row, .woocommerce #create-account p.form-row, .my-account-login-wrap .login-wrap form.login p.form-row, .woocommerce form.edit-address-form p.form-row {
// 	display: block;
// 	width: 100%;
// 	float: none;
// 	margin-top: 20px;
// }
// .woocommerce #account_details .login form p.form-row:first-child, .woocommerce #create-account p.form-row:first-child, .my-account-login-wrap .login-wrap form.login p.form-row:first-child, .woocommerce form.edit-address-form p.form-row:first-child {
// 	margin-top: 0;
// }
// .my-account-login-wrap .login-wrap form.login p.form-row input[type="submit"] {
// 	font-size: 14px;
// }
// .my-account-login-wrap .login-wrap form.login label[for="rememberme"] {
// 	line-height: 48px;
// }
// .woocommerce form.edit-address-form p.form-row label {
// 	float: left;
// 	width: 25%;
// 	line-height: 38px;
// }
// .woocommerce #create-account p.form-row input {
// 	width: 65%;
// 	float: right;
// 	padding: 8px 10px;
// 	border: 2px solid #e4e4e4;
// 	-webkit-box-sizing: border-box;
// 	-moz-box-sizing: border-box;
// 	-ms-box-sizing: border-box;
// 	box-sizing: border-box;
// 	height: 38px;
// 	border-radius: 0;
// 	line-height: 18px;
// 	box-shadow: none;
// }
// .woocommerce form.edit-address-form p.form-row input, .woocommerce form.edit-address-form p.form-row select {
// 	width: 73%;
// 	float: right;
// 	padding: 8px 10px;
// 	border: 2px solid #e4e4e4;
// 	-webkit-box-sizing: border-box;
// 	-moz-box-sizing: border-box;
// 	-ms-box-sizing: border-box;
// 	box-sizing: border-box;
// 	height: 38px;
// 	border-radius: 0;
// 	line-height: 18px;
// 	box-shadow: none;
// }
// .woocommerce #create-account .continue-button {
// 	float: right;
// 	margin: 0;
// 	padding: 0 45px;
// }
// .woocommerce #account_password-2_field {
// 	margin-top: 0;
// }
// .woocommerce #account_password-2_field label {
// 	visibility: visible!important;
// 	display: block!important;
// }
// .woocommerce #account_details .login form p.form-row input[type="submit"], .my-account-login-wrap .login-wrap form.login p.form-row input[type="submit"], .woocommerce .my-account-login-wrap form input[type="submit"], .lost_reset_password p.form-row input[type="submit"], .track_order p.form-row input[type="submit"], .change_password_form p input[type="submit"], .woocommerce table.my_account_orders .order-actions .button, .woocommerce .widget_price_filter .price_slider_amount .button, .woocommerce.widget .buttons a, .woocommerce .wishlist_table tr td.product-add-to-cart a, #login-form .modal-body form.login p.form-row input[type="submit"], #wew-submit-email-to-notify, .woocommerce .cart .button, .woocommerce .cart input.button, .woocommerce input[name="apply_coupon"], .woocommerce a.button.wc-backward, #yith-wcwl-form .product-add-to-cart > .button {
// 	margin-right: 20px;
// 	float: left;
// 	border: 2px solid #e3e3e3;
// 	background: transparent;
// 	box-shadow: none;
// 	text-shadow: none;
// 	border-radius: 0;
// 	padding: 14px 20px;
// 	font-weight: normal;
// }
// .woocommerce form.register, .woocommerce-page form.register {
// 	border: 0;
// 	padding: 0;
// 	margin: 0;
// }
// .woocommerce form.register input[type="submit"], .woocommerce input[name="save_account_details"] {
// 	margin-top: 0;
// 	float: right;
// 	background: transparent;
// 	box-shadow: none;
// 	text-shadow: none;
// 	border-radius: 0;
// 	font-weight: normal;
// 	margin-right: 0;
// 	font-size: 14px;
// }
// .woocommerce #account_details .login form p.form-row a.lost_password, .my-account-login-wrap .login-wrap form.login p.form-row a.lost_password {
// 	margin: 6px 0 0;
// 	display: inline-block;
// }
// .woocommerce #account_details .new-here-text {
// 	float: left;
// 	width: 47%;
// 	margin-right: 3%;
// }
// .woocommerce #account_details .bag-buttons {
// 	width: 50%;
// 	float: right;
// 	padding: 0;
// 	margin-top: 5px;
// }
// .woocommerce .bag-buttons a.create-account-button {
// 	margin-bottom: 20px;
// }

// .woocommerce-account fieldset {
// 	margin-top: 40px;
// }






/**

 Checkout 1 field = 1 row

**/


.woocommerce-checkout .already-logged-in p {
	font-size: 22px;
	float: left;
	margin: 0 20px 0 0;
	line-height: 40px;
}
.woocommerce form #customer_details .form-row {
	display: block;
	width: 100%;
	float: none;
	margin-bottom: 20px;
}


.woocommerce form #customer_details .form-row label {
	float: left;
	width: 25%;
	padding: 0;
	margin: 0;
	line-height: 38px;
	font-weight: normal;
}
.woocommerce form #customer_details .form-row input {
	float: right;
	width: 75%;
}
.woocommerce form #customer_details .form-row .chosen-search {
	height: auto;
	overflow: hidden;
}
.woocommerce form #customer_details .form-row .chosen-search input[type=text] {
	width: 100%;
}
.woocommerce form #customer_details .form-row textarea {
	float: right;
	width: 75%;
	padding: 10px;
	min-height: 70px;
	line-height: 20px;
}
.woocommerce .checkout #ship-to-different-address {
	float: none!important;
	width: 100%!important;
	margin-bottom: 20px;
	padding: 10px 0;
}
.woocommerce .checkout #ship-to-different-address input {
	float: none!important;
	width: auto!important;
	display: inline-block;
	margin: 0 0 0 8px;
	vertical-align: 1px;
}
.woocommerce .checkout #ship-to-different-address label {
	float: none!important;
	width: auto;
	font-size: 1em;
	display: inline-block;
	padding-left: 0;
	margin-bottom: 0;
}


.woocommerce-checkout .form-row .chzn-container {
	width: 75%!important;
	margin-top: 5px;
}
.woocommerce-checkout .form-row .chzn-container .chzn-results {
	width: 100%;
}
.woocommerce select#billing_country, .woocommerce-checkout #billing_country_field .chosen-container, .woocommerce-checkout #shipping_country_field .chosen-container, .form-row .chosen-container {
	width: 75%!important;
}


/**

 Checkout 1 field = 1 row

**/





// .woocommerce form #order-details .form-row.notes {
// 	padding-top: 40px;
// }
// .woocommerce-checkout .form-row .chosen-container-single .chosen-single {
// 	height: 39px;
// 	line-height: 39px!important;
// }
// .woocommerce-checkout .form-row .chosen-container-single .chosen-single div b {
// 	background-position-y: 10px!important;
// }
// .woocommerce .checkout #createaccount {
// 	float: none!important;
// 	width: auto!important;
// }
// .woocommerce .checkout label.checkbox[for="createaccount"] {
// 	padding: 0;
// 	margin: 0;
// 	float: none!important;
// 	width: auto!important;
// }
// .create-account {
// 	padding-bottom: 20px;
// }
// .woocommerce-billing-fields h3 {
// 	margin-top: 0;
// }
// .woocommerce select#billing_country {
// 	width: 75%;
// }
// .woocommerce .checkout #shiptobilling {
// 	float: none!important;
// 	width: 100%!important;
// 	margin-bottom: 20px;
// }
// .woocommerce .checkout #shiptobilling input {
// 	float: none!important;
// 	width: auto!important;
// }
// .woocommerce .checkout #shiptobilling label {
// 	float: none!important;
// 	width: auto;
// 	font-size: 1em;
// 	line-height: auto!important;
// }
// .woocommerce form #billing .form-row .chzn-container input {
// 	float: none;
// }
// .chosen-container-single .chosen-search input[type=text] {
// 	width: 100%;
// }
// .woocommerce-checkout .form-row .chzn-container-single .chzn-search input {
// 	padding: 4px 6px;
// }
// textarea#order_comments {
// 	padding: 10px;
// 	min-height: 100px;
// }
// .review-order-wrap {
// 	border: 2px solid #e3e3e3;
// 	padding: 45px 45px 30px;
// }
// .review-order-wrap_heading {
// 	margin-bottom: 15px;
// }
// #order-details {
// 	padding-right: 30px;
// }
// #order-details p.form-row {
// 	margin-bottom: 20px;
// }
// .review-order-wrap table.shop_table {
// 	border-top: 0;
// 	margin-bottom: 10px;
// }
// .review-order-wrap table.shop_table th {
// 	padding: 12px 0 20px;
// 	font-weight: normal;
// }
// .review-order-wrap table.shop_table td {
// 	border-color: rgba(0,0,0,0.05);
// }
// .review-order-wrap table.shop_table td.product-description {
// 	width: 80%;
// 	padding: 15px 0 17px;
// }
// td.product-description .quantity-count {
// 	margin-bottom: 0;
// }
// .review-order-wrap table.shop_table td.product-subtotal {
// 	width: 20%;
// 	padding-top: 17px;
// }
// .review-order-wrap table.shop_table .product-quantity {
// 	text-align: center;
// }
// .review-order-wrap table.shop_table .product-subtotal {
// 	text-align: right;
// }
// .review-order-wrap table.shop_table dl dt {
// 	float: left;
// 	margin-right: 4px;
// }
// table.totals_table {
// 	float: right;
// 	width: 30%;
// 	margin-bottom: 30px;
// 	border-bottom: 0;
// }
// .review-order-wrap table.totals_table {
// 	width: 100%;
// 	float: none;
// 	margin-bottom: 10px;
// }
// table.totals_table tr th {
// 	text-align: left;
// 	padding: 2px 0;
// 	font-weight: normal;
// }
// table.totals_table tr.total th, table.totals_table tr.total td {
// 	padding: 12px 0 0;
// 	letter-spacing: normal;
// }
// table.totals_table tr td {
// 	text-align: right;
// 	padding: 2px 0;
// 	border-top: 0;
// }
// table.totals_table tr.blank td, table.totals_table tr.blank th {
// 	padding: 6px 0;
// }
// table.totals_table tr.total {
// 	margin-top: 20px;
// 	border-top: 2px solid #222;
// }
// table.totals_table tr.total td .amount {
// 	font-size: 18px;
// }
// .review-order-wrap table.shop_table {
// 	border-bottom: 0;
// }
// .review-order-wrap table.shop_table tr th, .review-order-wrap table.shop_table tr td {
// 	padding: 15px 0 17px;
// }
// .review-order-wrap table.shop_table tr th {
// 	max-width: 80px;
// }
// table.shop_table tr.cart-subtotal th, table.shop_table tr.cart-subtotal td, table.shop_table tr.total th, table.shop_table tr.total td {
// 	border-top: 2px solid #222!important;
// }
// .review-order-wrap table.shop_table tr td, table.shop_table tr th.product-total {
// 	text-align: right;
// }
// .review-order-wrap table.shop_table tr td.product-name {
// 	text-align: left;
// }
// .woocommerce td.product-name dl.variation dt, .woocommerce td.product-name dl.variation dd {
// 	line-height: 26px;
// 	margin: 0 4px 0px 0;
// 	padding: 0;
// 	float: left;
// }
// table.shop_table tr.total td .amount {
// 	font-size: 18px;
// }
// #shipping_method li input {
// 	float: left;
// 	margin-top: 5px;
// 	margin-left: -20px;
// }
// #shipping_method li label {
// 	margin-left: 25px;
// }
// .woocommerce #payment {
// 	background: transparent;
// 	border-radius: 0;
// 	border-top: 2px solid #e4e4e4;
// }
// .woocommerce #payment ul.payment_methods {
// 	padding: 15px 0 5px;
// 	border-bottom: 0;
// }
// .woocommerce #payment ul.payment_methods li {
// 	margin-bottom: 2px;
// }
// .woocommerce #payment ul.payment_methods li input {
// 	vertical-align: middle;
// 	float: none;
// 	margin-top: -2px;
// }
// .woocommerce #payment ul.payment_methods li label {
// 	font-weight: normal;
// 	margin-bottom: 0;
// }
// .woocommerce #payment ul.payment_methods li.payment_method_paypal label, .woocommerce-checkout #payment .payment_method_paypal .about_paypal {
// 	line-height: 32px;
// }
// .woocommerce #payment div.payment_box {
// 	border-radius: 0;
// 	box-shadow: none;
// 	padding: 1em;
// 	width: 100%;
// }
// .woocommerce #payment ul.payment_methods li img, .woocommerce-page #payment ul.payment_methods li img {
// 	margin: 5px 0;
// }
// .woocommerce #payment ul.payment_methods li.payment_method_paypal img {
// 	margin: 0 10px;
// }
// .woocommerce #payment div.payment_box {
// 	border-radius: 0;
// 	box-shadow: none;
// 	padding: 1em;
// }
// .woocommerce #payment div.payment_box fieldset {
// 	padding: 0!important;
// }
// .woocommerce #payment div.payment_box fieldset .form-row {
// 	width: 100%;
// 	clear: both;
// }
// .woocommerce #payment div.form-row.place-order {
// 	padding: 20px 0 10px;
// }
// .woocommerce #payment #place_order {
// 	padding: 0 30px;
// 	height: 46px;
// 	line-height: 46px;
// }
// .woocommerce #payment .terms {
//     clear: both;
//     height: auto;
//     overflow: hidden;
//     padding: 20px 0 15px;
//     margin-bottom: 0;
//     float: right;
// }
// .woocommerce #payment .terms label {
// 	display: inline-block;
// 	margin: 0;
// 	padding: 0;
// 	text-align: left;
// 	float: left;
// }
// .woocommerce #payment .terms input {
// 	float: left;
// 	display: inline-block;
// 	margin: 8px 0 0 12px;
// }
// .review-order-wrap #payment {
// 	margin: 0 -45px;
// 	padding: 20px 45px 0;
// }
// #payment_heading {
// 	margin-bottom: 0;
// 	padding-bottom: 15px;
// 	border-bottom: 2px solid #e3e3e3;
// }
// .review-order-wrap #payment #place_order {
// 	padding: 0 30px;
// 	height: 46px;
// 	line-height: 46px;
// 	width: 100%;
// 	border: 0;
// }
// .woocommerce-checkout p.thank-you {
// 	font-size: 32px;
// 	margin-bottom: 20px;
// 	border-bottom: 2px solid #e4e4e4;
// 	padding-bottom: 60px;
// }
// .woocommerce-checkout .checkout-confirmation h2 {
// 	margin-top: 30px;
// }
// .woocommerce-checkout .checkout-confirmation .help-bar {
// 	margin-bottom: 40px;
// }
// .woocommerce #payment div.payment_box:after, .woocommerce-page #payment div.payment_box:after {
// 	top: -2px;
// }
