/* =Buttons
	-------------------------------------------------------------- */

	a.button, button.button, input.button, #respond input#submit, #content input.button {
		cursor: pointer;
		display: inline-block;
		margin-top: 0px;
		position: relative;
		.border_radius(@woo-btn-border-radius);
		border: none;
		text-align: center;
		background: @woo-btn-bg;
		font-weight: 300;
		padding: 18px 20px;
		display: table;
		margin-left: auto;
		margin-right: auto;
		font-size: 12px;
		color: @woo-btn-color;
		-webkit-transition: all 0.2s ease;
		-moz-transition: all 0.2s ease;
		-o-transition: all 0.2s ease;
		-ms-transition: all 0.2s ease;
		transition: all 0.2s ease;
		
		left: auto;
		.transition();
		&.loading {
			color: lighten( @secondarytext, 10 );
			&:before {
				content: "";
				position: absolute;
				top: 0;
				right: 0;
				left: 0;
				bottom: 0;
				//background: url(../images/ajax-loader.gif) center no-repeat rgba(255,255,255,0.65);
			}
		}

		&.added {
			padding-left:15px;
			&:before {
				position:absolute;
				height: 16px;
				width: 16px;
				top: 0px;
				left: 0px;
				text-indent: 0;
				font-family: 'WooCommerce';
				content: "\e017";
			}
			.fa{
				display: none;
			}
		}

		&:hover {
			text-decoration: none;
			color: #f8f8f8;
		}

		&:active {
			top: 1px;
		}

//		&.alt {
//			color: @primarytext;
//			
//			&:hover {
//				color:@primarytext + #111;
//			}
//		}

		&:disabled,
		&.disabled {
			color: lighten( @secondarytext, 30 );
			border: 1px solid darken( @secondary, 10 );

			background: @secondary;
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
			box-shadow: none;

			cursor: not-allowed;
			&:active {
				top: 0;
			}
		}
	}

	.cart .button, .cart input.button {
		float:none;
	}

	a.added_to_cart {
		white-space: nowrap;
		display: block;
		
		position: absolute;
		top: 26%;
		text-align: center;
		width: 40%;
		left: 30%;
		padding: 10px;
		color: white;
		.border_radius(@woo-btn-border-radius);
		z-index: 10;
	}