ul.cart_list,
ul.product_list_widget {
  list-style: none outside;
  padding: 0;
  margin: 0;
}
ul.cart_list li,
ul.product_list_widget li {
  padding: 4px 0;
  margin: 0;
  list-style: none;
}
ul.cart_list li a,
ul.product_list_widget li a {
  display: block;
  font-weight: bold;
}
ul.cart_list li img,
ul.product_list_widget li img {
  float: left;
  margin-right: 15px;
  width: 60px;
  height: auto;
}
ul.cart_list li dl,
ul.product_list_widget li dl {
  margin: 0;
  padding-left: 1em;
  border-left: 2px solid rgba(0,0,0,0.1);
}
ul.cart_list li dl dt,
ul.cart_list li dl dd,
ul.product_list_widget li dl dt,
ul.product_list_widget li dl dd {
  display: inline-block;
  float: left;
  margin-botom: 1em;
}
ul.cart_list li dl dt,
ul.product_list_widget li dl dt {
  font-weight: bold;
  padding: 0 0 .25em 0;
  margin: 0 4px 0 0;
  clear: left;
}
ul.cart_list li dl dd,
ul.product_list_widget li dl dd {
  padding: 0 0 .25em 0;
}
ul.cart_list li dl dd p:last-child,
ul.product_list_widget li dl dd p:last-child {
  margin-bottom: 0;
}
ul.cart_list li .star-rating,
ul.product_list_widget li .star-rating {
  float: none;
}
.widget_shopping_cart .total,
.widget_shopping_cart .total {
  border-top: 3px double ;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px 0 0;
}
.widget_shopping_cart .total strong,
.widget_shopping_cart .total strong {
  min-width: 40px;
  display: inline-block;
}
.c5-shop-hr {
  height: 4px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  display: block;
  width: 100%;
  margin: 15px 0px;
}
#woo_slider {
  margin-bottom: 5px;
}
#c5_woo_carousel {
  margin-bottom: 0px;
}
#c5_woo_carousel li {
  margin-right: 5px;
}
