
	/* =Cart Page
	-------------------------------------------------------------- */

	.cart-collaterals {
		.shipping_calculator {
			.button {
				width: 100%;
				float:none;
				display:block;
			}
			.shipping-calculator-button {
				font-size: 13px;
				margin: 0;
				line-height: 1em;
				cursor: pointer;
				position: relative;
				font-family: inherit;
				text-decoration: none;
				overflow: visible;
				padding: 0px 20px;
				line-height: 32px;
				border: none;
				font-weight: normal;
				-webkit-border-radius: 2px;
				border-radius: 2px;
				left: auto;
				color: white;
				white-space: nowrap;
				display: inline-block;
				-webkit-transition: all ease-in-out .2s;
				-moz-transition: all ease-in-out .2s;
				-o-transition: all ease-in-out .2s;
				transition: all ease-in-out .2s;
				&:after {
					.iconafter( "\e02e" );
				}
			}
		}
		.cart_totals {
			h2{
				text-align: left;
			}
			p {
				margin: 0;
				small {
					color: @subtext;
					font-size: 0.83em;
				}
			}
			table {
				border-collapse: separate;
				.border_radius(5px);
				margin: 0 0 6px;
				padding: 0;
				border-bottom:1px solid;
				border-right:none;
				tr:first-child {
					th, td {
						border-top: 0;
					}
				}
				th {
					padding: 6px 12px;
					width: 40%;
				}
				td {
					padding: 6px;
				}
				td, th {
					vertical-align: top;
				}
				small {
					display:block;
					color: @subtext;
				}
				select {
					width: 100%;
				}
			}
			.discount td {
				color: @highlight;
			}
			tr td, tr th {
				border-top: 1px solid @secondary;
			}
			a.button.alt {
				display: inline-block;
			}
		}
		.cross-sells {
			ul.products {
				li.product {
					margin-top: 0;
				}
			}
		}
	}