.cart-collaterals .shipping_calculator .button {
  width: 100%;
  float: none;
  display: block;
}
.cart-collaterals .shipping_calculator .shipping-calculator-button {
  font-size: 13px;
  margin: 0;
  line-height: 1em;
  cursor: pointer;
  position: relative;
  font-family: inherit;
  text-decoration: none;
  overflow: visible;
  padding: 0px 20px;
  line-height: 32px;
  border: none;
  font-weight: normal;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  left: auto;
  color: white;
  white-space: nowrap;
  display: inline-block;
  -webkit-transition: all ease-in-out .2s;
  -moz-transition: all ease-in-out .2s;
  -o-transition: all ease-in-out .2s;
  transition: all ease-in-out .2s;
}
.cart-collaterals .cart_totals h2 {
  text-align: left;
}
.cart-collaterals .cart_totals p {
  margin: 0;
}
.cart-collaterals .cart_totals p small {
  color: ;
  font-size: 0.83em;
}
.cart-collaterals .cart_totals table {
  border-collapse: separate;
  margin: 0 0 6px;
  padding: 0;
  border-bottom: 1px solid;
  border-right: none;
}
.cart-collaterals .cart_totals table tr:first-child th,
.cart-collaterals .cart_totals table tr:first-child td {
  border-top: 0;
}
.cart-collaterals .cart_totals table th {
  padding: 6px 12px;
  width: 40%;
}
.cart-collaterals .cart_totals table td {
  padding: 6px;
}
.cart-collaterals .cart_totals table td,
.cart-collaterals .cart_totals table th {
  vertical-align: top;
}
.cart-collaterals .cart_totals table small {
  display: block;
  color: ;
}
.cart-collaterals .cart_totals table select {
  width: 100%;
}
.cart-collaterals .cart_totals .discount td {
  color: ;
}
.cart-collaterals .cart_totals tr td,
.cart-collaterals .cart_totals tr th {
  border-top: 1px solid ;
}
.cart-collaterals .cart_totals a.button.alt {
  display: inline-block;
}
.cart-collaterals .cross-sells ul.products li.product {
  margin-top: 0;
}
