
	/* =Cart Sidebar
	-------------------------------------------------------------- */

	ul.cart_list, ul.product_list_widget {
		list-style:none outside;
		padding: 0;
		margin: 0;
		li {
			padding: 4px 0;
			margin: 0;
			.clearfix;
			list-style:none;
			a {
				display:block;
				font-weight:bold;
			}
			img {
				float: left;
				margin-right: 15px;
				width: 60px;
				height:auto;
			}
			dl {
				margin: 0;
				padding-left: 1em;
				border-left: 2px solid rgba(0,0,0,0.1);
				.clearfix;

				dt, dd {
					display: inline-block;
					float: left;
					margin-botom:1em;
				}
				dt {
					font-weight:bold;
					padding: 0 0 .25em 0;
					margin: 0 4px 0 0;
					clear:left;
				}
				dd {
					padding: 0 0 .25em 0;
					p:last-child {
						margin-bottom:0;
					}
				}
			}
			.star-rating {
				float:none;
			}
		}
	}

	&.widget_shopping_cart, .widget_shopping_cart {
		.total {
			border-top: 3px double @secondary;
			margin-top:10px;
			margin-bottom:10px;
			padding: 10px 0 0;
			strong {
				min-width: 40px;
				display: inline-block;
			}
		}
		.buttons {
			.clearfix;
		}
	}
	.c5-shop-hr{
		height: 4px;
		border-top: 1px solid #ccc;
		border-bottom:1px solid #ccc;
		display: block;
		width:100%;
		margin: 15px 0px;
	}
	#woo_slider{
		margin-bottom:5px;
	}
	#c5_woo_carousel{
		margin-bottom:0px;
		li{
			margin-right:5px;
		}
	}