p.demo_store {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  width: 100%;
  font-size: 1em;
  padding: .5em 0;
  text-align: center;
  background-color: ;
  color: ;
  z-index: 99998;
}
.admin-bar p.demo_store {
  top: 28px;
}
