p.demo_store {
	position:fixed;
	top: 0;
	// top:28px !important;
	left: 0;
	right: 0;
	margin: 0;
	width: 100%;
	font-size: 1em;
	padding: .5em 0;
	text-align: center;
	background-color: @woo-demostore-bk;
	//.vertical_gradient( @primary, darken(@primary, 10) );
	//border: 1px solid darken(@primary, 10);
	color: @woo-demostore-color;
	z-index: 99998;
}

.admin-bar { // Styles applied when the admin bar is present
	p.demo_store {
		top:28px;
	}
}