
	/* =Forms
	-------------------------------------------------------------- */

	form {
		.form-row {
			padding: 3px;
			margin: 0 0 6px;

			[placeholder]:focus::-webkit-input-placeholder {
				-webkit-transition: opacity 0.5s 0.5s ease;
				-moz-transition: opacity 0.5s 0.5s ease;
				transition: opacity 0.5s 0.5s ease;
				opacity: 0;
			}
			label {
				line-height: 2em;
			}
			label.hidden {
				visibility:hidden;
			}
			label.inline {
				display: inline;
			}
			select {
				cursor: pointer;
				margin: 0;
				
				line-height: 30px;
				height: 30px;
				border: 1px solid #ccc;
				background: white;
			}
			.required {
				color: red;
				font-weight:bold;
				border: 0;
			}
			.input-checkbox {
				display: inline;
				margin: -2px 8px 0 0;
				text-align: center;
				vertical-align: middle;
			}
			input.input-text, textarea {
				.borderbox;
				width: 100%;
				margin: 0;
				outline: 0;
				line-height: 1em;
				border: 1px solid #ccc;
				background: white;
				padding: 8px;
				border-radius: @border-radius;
			}
			textarea {
				height: 4em;
				line-height: 1.5em;
				display:block;
				-moz-box-shadow:none;
				-webkit-box-shadow:none;
				box-shadow:none;
			}
			&.validate-required.woocommerce-invalid {
				.chosen-single, .chosen-drop, input.input-text, select {
					border-color: #fb7f88;
				}
			}
			::-webkit-input-placeholder {
				line-height: normal;
			}
			:-moz-placeholder {
				line-height: normal;
			}
			:-ms-input-placeholder {
				line-height: normal;
			}
		}
	}

	form.login, form.checkout_coupon, form.register {
		border: 1px solid darken( @secondary, 10 );
		padding: 20px;
		margin: 2em 0 2em 0px;
		text-align:left;
		.border_radius(5px);
	}

	ul#shipping_method {
		list-style: none outside;
		margin: 0;
		padding: 0;
		li {
			margin: 0;
			padding: .25em 0 .25em 22px;
			text-indent: -22px;
			list-style: none outside;
		}
		.amount {
			font-weight: bold;
		}
	}
	p.woocommerce-shipping-contents {
		margin: 0;
	}

	/* =Checkout
	-------------------------------------------------------------- */

	.checkout {
		.col-2 {
			h3#ship-to-different-address {
				float:left;
				clear:none;
				margin: 0px;
				width: 100%;
			}

			.notes {
				clear:left;
			}

			.form-row-first {
				clear:left;
			}
		}
		.create-account small {
			font-size: 11px;
			color: @subtext;
			line-height: 13px;
			font-weight:normal;
		}
		div.shipping-address {
			padding: 0;
			clear:left;
			width: 100%;
		}
		.shipping_address {
			clear:both;
		}
	}

	/* Payment box - appears on checkout and page page */
	#payment {
		background: @secondary;
		.border_radius(5px);

		ul.payment_methods {
			.clearfix;
			text-align:left;
			padding: 1em;
			border-bottom: 1px solid darken( @secondary, 10 );
			margin: 0;
			li {
					list-style-type: none;
				line-height: 2em;
				text-align:left;
				margin: 0;
				font-weight:normal;
				input {
					margin: 0 1em 0 0;
				}
				img {
					vertical-align: middle;
					margin: -2px 0 0 .5em;
					position: relative;
				}
			}
		}

			div.form-row {
			padding: 1em;
		//	border-top: 1px solid lighten( @secondary, 5 );
		


		}
		div.payment_box {
			position: relative;
			width: 96%;
		//	padding: 1em 2%;
			margin: 1em 0 1em 0;
			font-size: 0.92em;
		//	.border_radius(2px);
			line-height: 1.5em;
		//	.vertical_gradient( darken( @secondary, 5 ), darken( @secondary, 10 ) );
		//	.box_shadow(0,1px,2px,0,rgba(0,0,0,0.25));
			color: @secondarytext;
		//	.darkorlighttextshadow( @secondarytext );

			input.input-text, textarea {
				border-color: darken( @secondary, 15 );
				border-top-color: darken( @secondary, 20 );
				.box_shadow( 0, 1px, 0, 0, rgba( 255,255,255,0.4 ) );
			}
			::-webkit-input-placeholder {
				color: darken( @secondary, 20 );
			}
			:-moz-placeholder {
				color: darken( @secondary, 20 );
			}
			:-ms-input-placeholder {
				color: darken( @secondary, 20 );
			}
			.wc-credit-card-form-card-number,
			.wc-credit-card-form-card-expiry,
			.wc-credit-card-form-card-cvc {
				font-size: 1.5em;
				padding: 8px;
				background-repeat: no-repeat;
				background-position: right;

				&.visa {
					background-image: url(../images/icons/credit-cards/visa.png);
				}
				&.mastercard {
					background-image: url(../images/icons/credit-cards/mastercard.png);
				}
				&.laser {
					background-image: url(../images/icons/credit-cards/laser.png);
				}
				&.dinersclub {
					background-image: url(../images/icons/credit-cards/diners.png);
				}
				&.maestro {
					background-image: url(../images/icons/credit-cards/maestro.png);
				}
				&.jcb {
					background-image: url(../images/icons/credit-cards/jcb.png);
				}
				&.amex {
					background-image: url(../images/icons/credit-cards/amex.png);
				}
				&.discover {
					background-image: url(../images/icons/credit-cards/discover.png);
				}
			}
			span.help {
				font-size: 11px;
				color: @subtext;
				line-height: 13px;
				font-weight:normal;
			}
			.form-row {
				margin: 0 0 1em;
			}
			p:last-child {
				margin-bottom: 0;
			}
			// &:after {
			// 	content: "";
			// 	display:block;
			// 	border: 8px solid darken( @secondary, 5 ); /* arrow size / color */
			// 	border-right-color: transparent;
			// 	border-left-color: transparent;
			// 	border-top-color: transparent;
			// 	position:absolute;
			// 	top: -3px;
			// 	left: 0;
			// 	margin: -1em 0 0 2em;
			// }
		}
	}


/**
 Select2
**/

.select2-container .select2-choice {
    padding: 8px;
	.border_radius(@border-radius);
}




	