.widget_layered_nav ul {
  margin: 0;
  padding: 0;
  border: 1px solid #eee;
  border-bottom: none;
  list-style: none outside;
}
.widget_layered_nav ul li {
  padding: 5px 10px;
  list-style: none;
  border-bottom: 1px solid #eee;
}
.widget_layered_nav ul li a,
.widget_layered_nav ul li span {
  padding: 0;
  float: left;
}
.widget_layered_nav ul li.chosen a {
  padding: 0 6px;
  text-decoration: none;
  background: ;
  color: white;
}
.widget_layered_nav ul small.count {
  float: right;
  margin-left: 6px;
  font-size: 1em;
  padding: 1px 0;
  color: ;
}
.widget_layered_nav_filters ul {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none outside;
  overflow: hidden;
  zoom: 1;
}
.widget_layered_nav_filters ul li {
  float: left;
  padding: 0 1px 1px 0;
  list-style: none;
}
.widget_layered_nav_filters ul li a {
  padding: 0 6px;
  text-decoration: none;
  border: 1px solid ;
  background: ;
  color: ;
  float: left;
}
