/* =Layered Nav Widget
	-------------------------------------------------------------- */

	.widget_layered_nav {
		ul {
			margin: 0;
			padding: 0;
			border: 1px solid #eee;
			border-bottom:none;
			list-style:none outside;
			li {
				.clearfix();
				padding: 5px 10px;
				list-style:none;
				border-bottom:1px solid #eee;
				a, span {
					padding:  0;
					float:left;
				}
			}
			li.chosen {
				a {
					padding:0 6px;
					text-decoration: none;
					background: @tertiary;
					color: white;
					.border_radius(3px);
					&:before {
						.iconbefore( "\e013" );
					}
				}
			}
			small.count {
				float: right;
				margin-left: 6px;
				font-size: 1em;
				padding: 1px 0;
				color: @subtext;
			}
		}
	}

	.widget_layered_nav_filters {
		ul {
			margin: 0;
			padding: 0;
			border: 0;
			list-style:none outside;
			overflow: hidden;
			zoom: 1;
			li {
				float: left;
				padding: 0 1px 1px 0;
				list-style:none;
				a {
					padding:0 6px;
					text-decoration: none;
					border: 1px solid @tertiary;
					background: @tertiary;
					.inset_box_shadow(0, 1px, 1px, rgba(255,255,255,0.5));
					color: @tertiarytext;
					.border_radius(3px);
					float: left;
					&:before {
						.iconbefore( "\e013" );
					}
				}
			}
		}
	}