.woocommerce-message,
.woocommerce-error,
.woocommerce-info {
  padding: 1em 1em 1em 3.5em !important;
  margin: 0 0 2em !important;
  position: relative;
  background: ;
  list-style: none outside !important;
  width: auto;
}
.woocommerce-message:before,
.woocommerce-error:before,
.woocommerce-info:before {
  content: "";
  height: 1.5em;
  width: 1.5em;
  display: block;
  position: absolute;
  top: 0;
  left: 1em;
  font-family: sans-serif;
  font-size: 1em;
  line-height: 1.5;
  text-align: center;
  color: #fff;
  box-sizing: content-box;
  padding-top: 1em;
}
.woocommerce-message .button,
.woocommerce-error .button,
.woocommerce-info .button {
  float: right;
}
.woocommerce-message li,
.woocommerce-error li,
.woocommerce-info li {
  list-style: none outside !important;
  padding-left: 0 !important;
  margin-left: 0 !important;
}
.woocommerce-message:before {
  content: "\2713";
}
.woocommerce-info:before {
  content: "i";
  font-family: Times, Georgia, serif;
  font-style: italic;
}
.woocommerce-error:before {
  content: "\00d7";
  font-weight: 700;
}
small.note {
  display: block;
  color: ;
  font-size: 11px;
  line-height: 21px;
  margin-top: 10px;
}
