	.woocommerce-message, .woocommerce-error, .woocommerce-info {
		padding: 1em 1em 1em 3.5em !important;
		margin: 0 0 2em !important;
		position: relative;
		.border_radius(0px);
		background: @woo-msg-bg;
//		color: @secondarytext;
		list-style:none outside !important;
		.clearfix();
		width: auto;
		
		&:before {
			content: "";
			height: 1.5em;
			width: 1.5em;
			display:block;
			position:absolute;
			top: 0;
			left: 1em;
			font-family: sans-serif;
			font-size:1em;
			line-height: 1.5;
			text-align: center;
			color: #fff;
			box-sizing: content-box;
			//text-shadow:0 1px 0 rgba(0,0,0,0.2);
			padding-top:1em;
			// .border_radius_bottom(4px);
			//.inset_box_shadow(0,-1px,0,0,rgba(0,0,0,0.1));
		}

		.button {
			float: right;
		}

		li {
			list-style:none outside !important;
			padding-left:0 !important;
			margin-left:0 !important;
		}
	}

	.woocommerce-message {
//		border-top: 3px solid #8fae1b;
		&:before {
	//		background-color:#8fae1b;
			content: "\2713";
		}
	}
	.woocommerce-info {
	//	border-top: 3px solid #1e85be;
		&:before {
		//	background-color:#1e85be;
			content: "i";
			font-family: Times, Georgia, serif;
			font-style: italic;
		}
	}
	.woocommerce-error {
		//border-top: 3px solid #b81c23;
		&:before {
		//	background-color:#b81c23;
			content: "\00d7";
			font-weight: 700;
		}
	}


small.note {
	display:block;
	color: @subtext;
	font-size: 11px;
	line-height: 21px;
	margin-top: 10px;
}
