/* =Price Filter Widget
	-------------------------------------------------------------- */

	.widget_price_filter {
		.price_slider {
			margin-bottom: 1em;
		}
		.price_slider_amount {
			text-align: right;
			line-height: 30px;
			font-size: 12px;
			.button {
				font-size: 1.15em;
			}
			.button {
				float:left;
			}
		}
		.ui-slider {
			position: relative;
			text-align:left;
		}
		.ui-slider .ui-slider-handle {
			position:absolute;
			z-index: 2;
			width: 15px;
			height: 15px;
			.border_radius(15px);
			cursor: pointer;
			outline:none;
			top: -.3em;
			
			&:last-child {
				margin-left: -1em;
			}
		}
		.ui-slider .ui-slider-range {
			position:absolute;
			z-index: 1;
			height: 7px;
			font-size: .7em;
			display:block;
			border: 0;
			background: #eee;
			.border_radius(7px);
		}
		.price_slider_wrapper .ui-widget-content {
			.border_radius(1em);
			.vertical_gradient( @quaternary, lighten( @quaternary, 30 ) );
		}
		.ui-slider-horizontal {
			height: .5em;
		}
		.ui-slider-horizontal .ui-slider-range {
			top: 0;
			height: 100%;
		}
		.ui-slider-horizontal .ui-slider-range-min {
			left: -1px;
		}
		.ui-slider-horizontal .ui-slider-range-max {
			right: -1px;
		}
	}