/* =Product Loops
	-------------------------------------------------------------- */

	.products ul, ul.products {
		margin: 0 0 1em;
		padding: 0;
		list-style:none outside;
		clear:both;
		.clearfix();
		li {
			list-style:none outside;
		}
	}

	ul.products {
		li.product {
			.c5-product-content{
				border:  1px solid #eee;
			}
			.cart-loading{
				display: none;
			}
			.crossfade-images{
				position: relative;
				display: block;
				img{
					.transition();
					&.hover-imagehover-image{
						display: block;
						position: absolute;
						opacity: 0;
						visibility: hidden;
						top: 0px;
						left: 0px;
						z-index: 1;
					}
				}
				.cart-loading{
					width: 0px;
					height: 0px;
					position: absolute;
					display: block;
					top: 50%;
					left: 50%;
					opacity: 0;
					visibility: hidden;
					.fa{
						width: 40px;
						height: 40px;
						display: block;
						position: relative;
						top: -20px;
						left:-20px;
						z-index: 2;
						color: white;
						text-align: center;
						line-height: 40px;
						font-size: 16px;
						border-radius: 100%;
						opacity: 0.9;
					}
				}
			}
			&.c5-in-cart{
				.crossfade-images{
					.cart-loading{
						opacity: 1;
						visibility: visible;
					}
				}
			}
			.c5-meta-product-content{
				
				padding: 15px;
			}
			.onsale {
				top: 12x;
				right: 12px;
				left:auto;
				margin: 0px;
			}
			h3 {
				padding:0px 0 15px;
				margin: 0;
				font-size: 16px;
				color: @textColor;
			}
			a {
				text-decoration:none;
			}
			.c5-product-buttons{
				border-top:1px solid #eee;
				a{
					padding: 0px;
					background: none;
					border: none;
					line-height: 1;
					display: block;
					float: left;
					margin-top: 10px;
					color: @textColor;
					text-shadow: none;
					font-size:12px;
					&.added{
						padding-left: 20px;
						padding-right: 20px;
					}
					&.c5_show_details{
						float: right;
					}
					.fa{
						margin-right:5px;
					}
				}
				a.added_to_cart {
					white-space: nowrap;
					display: block;
					
					position: absolute;
					top: 26%;
					text-align: center;
					width: 40%;
					left: 30%;
					padding: 10px;
					color: white;
					border-radius: 3px;
					z-index: 10;
				}
				&.added{
					padding-left:15px;
				}
			}
			a img {
				width: 100%;
				height:auto;
				display:block;
				margin: 0 0 0px;
				.transition();
			}
			strong {
				display:block;
			}
			.price {
				color: @highlight;
				display:block;
				font-weight:normal;
				margin-bottom: .5em;
				del {
					font-size: 0.67em;
					color:fade( desaturate( @highlight, 75% ), 50% );
					margin: -2px 0 0 0;
				}
				ins {
					background:none;
				}
				.from {
					font-size: 0.67em;
					margin: -2px 0 0 0;
					text-transform: uppercase;
					color:fade( desaturate( @highlight, 75% ), 50% );
				}
			}
			
			&:hover{
				.crossfade-images{
					img{
						&.hover-imagehover-image {
							opacity: 1;
							visibility: visible;
						}
					}
				}
			}
		}
	}

	.woocommerce-result-count {
		margin: 0 0 1em;
	}
	.woocommerce-ordering {
		margin: 0 0 1em;
		select {
			vertical-align: top;
			line-height: 30px;
			height: 30px;
			border: 1px solid #ccc;
			background: white;
		}
	}
	nav.woocommerce-pagination, #content nav.woocommerce-pagination {
		text-align: center;
		ul {
			display: inline-block;
			white-space: nowrap;
			padding:0;
			clear: both;
			border: 1px solid darken( @secondary, 10 );
			border-right: 0;
			margin: 1px 1px 30px;
			li {
				border-right: 1px solid darken( @secondary, 10 );
				padding: 0;
				margin: 0;
				float: left;
				display: inline;
				overflow: hidden;
				a, span {
					margin: 0;
					text-decoration: none;
					padding: 0;
					line-height: 1em;
					font-size: 1em;
					font-weight: normal;
					padding: 10px;
					min-width: 1em;
					display: block;
				}
				span.current, a:hover, a:focus {
					background: @secondary;
					color: darken( @secondary, 40 );
				}
			}
		}
	}