	/* =Quantity inputs
	-------------------------------------------------------------- */

	.quantity, #content .quantity {
		width: 100px;
		position: relative;
		margin: 0 auto;
		overflow:hidden;
		zoom: 1;

		input.qty {
			width: 50px;
			height: 51px;
			line-height: 32px;
				// padding: 18px 20px;
			display: block;
			float: left;
			padding: 0;
			text-align: center;
			border: none;
			// border-top: 1px solid #ccc;
			// border-bottom: 1px solid #ccc;
			border-right: 0;
			background: #f8f8f8;
			font-weight:bold;
			-moz-appearance: textfield; /* Hide buttons for Firefox 29 and later */
		}

		/* Hide buttons for opera */
		noindex:-o-prefocus, input[type=number] {
			padding-right: 1.2em;
		}

		.plus, .minus {
			display:block;
			float: left;
			padding: 0;
			margin: 0;
			text-align: center;
			vertical-align: text-top;
			width: 25px;
			height: 32px;
			text-decoration:none;
			overflow: visible;
			text-decoration:none;
			font-weight:bold;
			cursor: pointer;
			line-height: 32px;
			font-size: 12px;
			border: 1px solid #ccc;
			background: #f8f8f8;
			.transition();
			&:focus{
				outline: none;
			}
			
			&:hover {
			
			}
		}

//		.plus {
//			top: 0;
//			right: 0;
//			border-bottom: 0;
//		}
//
//		.minus {
//			top: 0;
//			left: 0;
//		}
	}