.quantity,
#content .quantity {
  width: 100px;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
  zoom: 1;
}
.quantity input.qty,
#content .quantity input.qty {
  width: 50px;
  height: 51px;
  line-height: 32px;
  display: block;
  float: left;
  padding: 0;
  text-align: center;
  border: none;
  border-right: 0;
  background: #f8f8f8;
  font-weight: bold;
  -moz-appearance: textfield;
}
.quantity noindex:-o-prefocus,
.quantity input[type=number],
#content .quantity noindex:-o-prefocus,
#content .quantity input[type=number] {
  padding-right: 1.2em;
}
.quantity .plus,
.quantity .minus,
#content .quantity .plus,
#content .quantity .minus {
  display: block;
  float: left;
  padding: 0;
  margin: 0;
  text-align: center;
  vertical-align: text-top;
  width: 25px;
  height: 32px;
  text-decoration: none;
  overflow: visible;
  font-weight: bold;
  cursor: pointer;
  line-height: 32px;
  font-size: 12px;
  border: 1px solid #ccc;
  background: #f8f8f8;
}
.quantity .plus:focus,
.quantity .minus:focus,
#content .quantity .plus:focus,
#content .quantity .minus:focus {
  outline: none;
}
