	/* Sale labels */
	span.onsale {
		min-height: 50px;
		min-width: 50px;
		font-size: 12px;
		font-weight:bold;
		position:absolute;
		text-align: center;
		line-height: 50px;
		top: 12px;
		left: 25px;
		margin: 0;
		.border_radius(100%);
		color: white;
		z-index:5;
	}