table.shop_attributes {
  border: 0;
  border-top: 1px dotted rgba(0,0,0,0.1);
  margin-bottom: 1.618em;
  width: 100%;
}
table.shop_attributes th {
  width: 150px;
  font-weight: bold;
  padding: 8px;
  border-top: 0;
  border-bottom: 1px dotted rgba(0,0,0,0.1);
  margin: 0;
  line-height: 1.5em;
}
table.shop_attributes td {
  font-style: italic;
  padding: 0;
  border-top: 0;
  border-bottom: 1px dotted rgba(0,0,0,0.1);
  margin: 0;
  line-height: 1.5em;
}
table.shop_attributes td p {
  margin: 0;
  padding: 8px 0;
}
table.shop_attributes .alt td,
table.shop_attributes .alt th {
  background: rgba(0,0,0,0.025);
}
table.shop_table {
  border: 1px solid rgba(0,0,0,0.1);
  margin: 0px -1px 24px 0px;
  text-align: left;
  width: 100%;
  border-collapse: separate;
}
table.shop_table th {
  font-weight: bold;
  line-height: 18px;
  padding: 9px 12px;
}
table.shop_table td {
  border-top: 1px solid rgba(0,0,0,0.1);
  padding: 6px 12px;
  vertical-align: middle;
}
table.shop_table td small {
  font-weight: normal;
}
table.shop_table tfoot td,
table.shop_table tfoot th {
  font-weight: bold;
  border-top: 1px solid rgba(0,0,0,0.1);
}
table.my_account_orders {
  font-size: 0.85em;
}
table.my_account_orders th,
table.my_account_orders td {
  padding: 4px 8px;
  vertical-align: middle;
}
table.my_account_orders .button {
  white-space: nowrap;
}
table.my_account_orders .order-actions {
  text-align: right;
}
table.my_account_orders .order-actions .button {
  margin: .125em 0 .125em .25em;
}
td.product-name dl.variation {
  margin: .25em 0;
}
td.product-name dl.variation dt,
td.product-name dl.variation dd {
  display: inline-block;
  float: left;
  margin-bottom: 1em;
}
td.product-name dl.variation dt {
  font-weight: bold;
  padding: 0 0 .25em 0;
  margin: 0 4px 0 0;
  clear: left;
}
td.product-name dl.variation dd {
  padding: 0 0 .25em 0;
}
td.product-name dl.variation dd p:last-child {
  margin-bottom: 0;
}
td.product-name p.backorder_notification {
  font-size: 0.83em;
}
td.product-quantity {
  min-width: 80px;
}
table.cart .product-thumbnail,
#content table.cart .product-thumbnail {
  min-width: 32px;
}
table.cart img,
#content table.cart img {
  width: 48px;
  margin: 0px;
  width: auto;
  max-height: 48px;
}
table.cart th,
table.cart td,
#content table.cart th,
#content table.cart td {
  vertical-align: middle;
}
table.cart a.remove,
#content table.cart a.remove {
  display: block;
  font-size: 1.5em;
  height: 1em;
  width: 1em;
  text-align: center;
  line-height: 1;
  color: red;
  text-decoration: none;
  font-weight: bold;
}
table.cart a.remove:hover,
#content table.cart a.remove:hover {
  background-color: red;
  color: #fff;
}
table.cart td.actions .coupon .input-text,
#content table.cart td.actions .coupon .input-text {
  float: left;
  margin: 0 10px 0 0;
  outline: 0;
  line-height: 1em;
  border: 1px solid #ccc;
  background: white;
  padding: 8px;
  border-radius: 2px;
  min-width: 150px;
}
table.cart input,
#content table.cart input {
  margin: 0;
  vertical-align: middle;
}
