

	/* =Tables
	-------------------------------------------------------------- */

	table.shop_attributes {
		border: 0;
		border-top: 1px dotted rgba(0,0,0,0.1);
		margin-bottom: 1.618em;
		width: 100%;
		th {
			width: 150px;
			font-weight:bold;
			padding: 8px;
			border-top: 0;
			border-bottom: 1px dotted rgba(0,0,0,0.1);
			margin: 0;
			line-height: 1.5em;
		}
		td {
			font-style: italic;
			padding: 0;
			border-top: 0;
			border-bottom: 1px dotted rgba(0,0,0,0.1);
			margin: 0;
			line-height: 1.5em;
			p {
				margin: 0;
				padding: 8px 0;
			}
		}
		.alt td, .alt th {
			background: rgba(0,0,0,0.025);
		}
	}

	table.shop_table {
		border: 1px solid rgba(0,0,0,0.1);
		margin: 0px -1px 24px 0px;
		text-align:left;
		width: 100%;
		border-collapse: separate;
		.border_radius(5px);
		th {
			font-weight:bold;
			line-height: 18px;
			padding: 9px 12px;
		}
		td {
			border-top: 1px solid rgba(0,0,0,0.1);
			padding: 6px 12px;
			vertical-align: middle;
			small {
				font-weight: normal;
			}
		}
		tfoot td, tfoot th {
			font-weight:bold;
			border-top: 1px solid rgba(0,0,0,0.1);
		}
	}

	table.my_account_orders {
		font-size: 0.85em;
		th, td {
			padding: 4px 8px;
			vertical-align: middle;
		}
		.button {
			white-space:nowrap;
		}
		.order-actions {
			text-align: right;
			.button {
				margin: .125em 0 .125em .25em;
			}
		}
	}

	td.product-name {
		dl.variation {
			margin: .25em 0;
			.clearfix;

			dt, dd {
				display: inline-block;
				float: left;
				margin-bottom:1em;
			}
			dt {
				font-weight:bold;
				padding: 0 0 .25em 0;
				margin: 0 4px 0 0;
				clear:left;
			}
			dd {
				padding: 0 0 .25em 0;
				p:last-child {
					margin-bottom:0;
				}
			}
		}
		p.backorder_notification {
			font-size: 0.83em;
		}
	}

	td.product-quantity {
		min-width: 80px;
	}

	/* =Cart
	-------------------------------------------------------------- */

	table.cart, #content table.cart {
		.product-thumbnail {
			min-width: 32px;
		}
		img {
			width: 48px;
			margin: 0px;
			width: auto;
			max-height: 48px;
		}
		th, td {
			vertical-align: middle;
		}
		a.remove {
			display:block;
			font-size:1.5em;
			height:1em;
			width:1em;
			text-align: center;
			line-height: 1;
			.border_radius(100%);
			color: red;
			text-decoration: none;
			font-weight: bold;
		}
		a.remove:hover {
			background-color: red;
			color: #fff;
		}
		td.actions {
			.coupon {
				.input-text {
					float:left;
					margin: 0 10px 0 0;
					outline: 0;
					line-height: 1em;
					
					border: 1px solid #ccc;
					background: white;
					
					padding: 8px;
					border-radius: 2px;
					
					min-width:150px;
				}
			}
		}
		input {
			margin: 0;
			vertical-align: middle;
			//line-height: 1em;
		}
	}