.festi-cart-customize {
  padding-top: ;
  padding-bottom: ;
  padding-right: ;
  padding-left: ;
}
.festi-cart-customize {
  text-align: left;
  background-color: ;
}
a#festi-cart.festi-cart.festi-cart-customize:hover,
a#festi-cart.festi-cart.festi-cart-customize.festi-cart-active {
  background-color: ;
}
span.festi-cart-text-before-quantity,
span.festi-cart-quantity,
span.festi-cart-text-after-quantity,
span.festi-cart-text-before-total,
span.festi-cart-total span.amount,
span.festi-cart-text-after-total,
span.festi-cart-dropdown-arrow {
  font-size: ;
  color: ;
}
.festi-cart-customize:hover span.festi-cart-text-before-quantity,
.festi-cart-customize:hover span.festi-cart-quantity,
.festi-cart-customize:hover span.festi-cart-text-after-quantity,
.festi-cart-customize:hover span.festi-cart-text-before-total,
.festi-cart-customize:hover span.festi-cart-total span.amount,
.festi-cart-customize:hover span.festi-cart-text-after-total,
.festi-cart-customize:hover span.festi-cart-dropdown-arrow {
  color: ;
}
div.festi-cart-products-content {
  overflow: hidden;
  background-color: ;
  font-size: ;
  text-align: ;
  padding-top: ;
  padding-bottom: ;
  padding-left: ;
  padding-right: ;
}
.festi-cart-window-content {
  margin-top:  !important;
  margin-left:  !important;
  margin-right:  !important;
}
a.festi-cart-title,
span.festi-cart-title {
  color: ;
  font-size: ;
  line-height: ;
}
a.festi-cart-title:hover {
  color: ;
}
span.festi-cart-product-count,
span.festi-cart-product-price,
span.festi-cart-product-price span.amount {
  color: #1f1e1e;
  font-size: 13px;
}
div.festi-cart-total {
  background-color: ;
  color: ;
  font-size: ;
  text-align: ;
  line-height: ;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  font-weight: bold;
  text-transform: none;
}
p.festi-cart-buttons {
  margin-bottom: 0px;
}
.festi-cart-buttons a,
span.festi-cart-continue-shopping {
  font-size: ;
  display: inline-block;
  padding-top: ;
  padding-bottom: ;
  padding-right: ;
  padding-left: ;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  font-family: inherit;
  overflow: visible;
  width: ;
}
a.festi-cart-view-cart {
  background-color: ;
  color: ;
  margin-bottom: ;
}
a.festi-cart-view-cart:hover {
  background-color: ;
  color: ;
}
a.festi-cart-checkout {
  background-color: ;
  color: ;
}
a.festi-cart-checkout:hover {
  background-color: ;
  color: ;
}
td.festi-cart-product-delete {
  vertical-align: top;
}
a.festi-cart-remove-product {
  font-size: ;
  line-height: ;
  color: ;
  float: left;
}
a.festi-cart-remove-product:hover {
  color: ;
}
table.festi-cart-list tr {
  border-bottom: 1px solid;
  border-bottom-color: ;
}
table.festi-cart-list th,
table.festi-cart-list td {
  border-style: none;
}
tr.festi-cart-empty {
  color: red;
  padding: 0;
}
td.festi-cart-empty {
  padding-top: 5px;
  padding-bottom: 5px;
}
a.festi-cart-img img,
span.festi-cart-img img {
  max-width: ;
  width: ;
}
span.festi-cart-product-variation-attribut {
  font-size: 12px;
  display: block;
}
.festi-cart-widget-products-content {
  padding: 10px;
}
a.festi-cart-title,
span.festi-cart-title {
  color: #00497d;
  font-size: 13px;
}
a.festi-cart-title:hover {
  color: gray;
}
span.festi-cart-product-count,
span.festi-cart-product-price,
span.festi-cart-product-price span.amount {
  color: #1f1e1e;
  font-size: 13px;
}
body div.festi-cart-widget-products-content > div.festi-cart-total {
  background-color: #ffffff;
  color: #000000;
  font-size: 13px;
  text-align: right;
}
body div.festi-cart-widget-products-content > table.festi-cart-list tr.festi-cart-item > td.festi-cart-product-delete {
  vertical-align: top;
}
body div.festi-cart-widget-products-content > table.festi-cart-list tr.festi-cart-empty {
  color: #111111;
  padding: 0;
}
body div.festi-cart-widget-products-content > table.festi-cart-list tr.festi-cart-item > td.festi-cart-product-img a.festi-cart-img img,
body div.festi-cart-widget-products-content > table.festi-cart-list tr.festi-cart-item > td.festi-cart-product-img span.festi-cart-img img {
  max-width: 140px;
  width: 140px;
}
body div.festi-cart-widget-products-content > table.festi-cart-list tr.festi-cart-item > td.festi-cart-product-title span.festi-cart-product-variation-attribut {
  font-size: 12px;
  display: block;
}
