.woocommerce .col2-set,
.woocommerce-page .col2-set {
  width: 100%;
}
.woocommerce .col2-set .col-1,
.woocommerce-page .col2-set .col-1 {
  float: left;
  width: 48%;
}
.woocommerce .col2-set .col-2,
.woocommerce-page .col2-set .col-2 {
  float: right;
  width: 48%;
}
.woocommerce img,
.woocommerce-page img {
  height: auto;
  max-width: 100%;
}
.woocommerce div.product div.images,
.woocommerce #content div.product div.images,
.woocommerce-page div.product div.images,
.woocommerce-page #content div.product div.images {
  float: left;
  width: 50%;
  padding: 0px 15px;
}
.woocommerce div.product div.thumbnails a,
.woocommerce #content div.product div.thumbnails a,
.woocommerce-page div.product div.thumbnails a,
.woocommerce-page #content div.product div.thumbnails a {
  float: left;
  width: 30.75%;
  margin-right: 3.8%;
}
.woocommerce div.product div.thumbnails a.last,
.woocommerce #content div.product div.thumbnails a.last,
.woocommerce-page div.product div.thumbnails a.last,
.woocommerce-page #content div.product div.thumbnails a.last {
  margin-right: 0;
}
.woocommerce div.product div.thumbnails a.first,
.woocommerce #content div.product div.thumbnails a.first,
.woocommerce-page div.product div.thumbnails a.first,
.woocommerce-page #content div.product div.thumbnails a.first {
  clear: both;
}
.woocommerce div.product div.summary,
.woocommerce #content div.product div.summary,
.woocommerce-page div.product div.summary,
.woocommerce-page #content div.product div.summary {
  float: right;
  width: 50%;
  padding: 0px 15px;
}
.woocommerce div.product .woocommerce-tabs,
.woocommerce #content div.product .woocommerce-tabs,
.woocommerce-page div.product .woocommerce-tabs,
.woocommerce-page #content div.product .woocommerce-tabs {
  clear: both;
}
.woocommerce #quantity input::-webkit-outer-spin-button,
.woocommerce #quantity input::-webkit-inner-spin-button,
.woocommerce #content .quantity input::-webkit-outer-spin-button,
.woocommerce #content .quantity input::-webkit-inner-spin-button,
.woocommerce-page #quantity input::-webkit-outer-spin-button,
.woocommerce-page #quantity input::-webkit-inner-spin-button,
.woocommerce-page #content .quantity input::-webkit-outer-spin-button,
.woocommerce-page #content .quantity input::-webkit-inner-spin-button {
  display: none;
}
.woocommerce .related ul.products,
.woocommerce .related ul,
.woocommerce .upsells.products ul.products,
.woocommerce .upsells.products ul,
.woocommerce-page .related ul.products,
.woocommerce-page .related ul,
.woocommerce-page .upsells.products ul.products,
.woocommerce-page .upsells.products ul {
  float: none;
}
.woocommerce .related ul.products li.product,
.woocommerce .related ul li.product,
.woocommerce .upsells.products ul.products li.product,
.woocommerce .upsells.products ul li.product,
.woocommerce-page .related ul.products li.product,
.woocommerce-page .related ul li.product,
.woocommerce-page .upsells.products ul.products li.product,
.woocommerce-page .upsells.products ul li.product {
  width: 33.3333333333%;
}
.woocommerce .related ul.products li.product img,
.woocommerce .related ul li.product img,
.woocommerce .upsells.products ul.products li.product img,
.woocommerce .upsells.products ul li.product img,
.woocommerce-page .related ul.products li.product img,
.woocommerce-page .related ul li.product img,
.woocommerce-page .upsells.products ul.products li.product img,
.woocommerce-page .upsells.products ul li.product img {
  width: 100%;
  height: auto;
}
.woocommerce ul.products,
.woocommerce-page ul.products {
  clear: both;
  margin-left: -7px;
  margin-right: -7px;
}
.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
  padding: 0px 7px;
  float: left;
  margin: 0px 0px 14px;
  min-height: 1px;
  position: relative;
  width: 33.3333333333%;
  margin-left: 0;
}
.woocommerce.columns-1 ul.products li.product,
.woocommerce-page.columns-1 ul.products li.product {
  width: 100%;
  margin-right: 0;
}
.woocommerce.columns-2 ul.products li.product,
.woocommerce-page.columns-2 ul.products li.product {
  width: 50%;
}
.woocommerce .c5-main-1170-C-B ul.products li.product,
.woocommerce.columns-3 ul.products li.product,
.woocommerce-page .c5-main-1170-C-B ul.products li.product,
.woocommerce-page.columns-3 ul.products li.product {
  width: 33.3333333333%;
}
.woocommerce .c5-main-1170-C ul.products li.product,
.woocommerce.columns-5 ul.products li.product,
.woocommerce-page .c5-main-1170-C ul.products li.product,
.woocommerce-page.columns-5 ul.products li.product {
  width: 20%;
}
.woocommerce.columns-6 ul.products li.product,
.woocommerce-page.columns-6 ul.products li.product {
  width: 16.6666666667%;
}
.woocommerce .woocommerce-result-count,
.woocommerce-page .woocommerce-result-count {
  float: left;
}
.woocommerce .woocommerce-ordering,
.woocommerce-page .woocommerce-ordering {
  float: right;
}
.woocommerce table.cart td.actions,
.woocommerce #content table.cart td.actions,
.woocommerce-page table.cart td.actions,
.woocommerce-page #content table.cart td.actions {
  text-align: right;
}
.woocommerce table.cart td.actions .input-text,
.woocommerce #content table.cart td.actions .input-text,
.woocommerce-page table.cart td.actions .input-text,
.woocommerce-page #content table.cart td.actions .input-text {
  width: 80px;
}
.woocommerce table.cart td.actions .coupon,
.woocommerce #content table.cart td.actions .coupon,
.woocommerce-page table.cart td.actions .coupon,
.woocommerce-page #content table.cart td.actions .coupon {
  float: left;
}
.woocommerce table.cart td.actions .coupon label,
.woocommerce #content table.cart td.actions .coupon label,
.woocommerce-page table.cart td.actions .coupon label,
.woocommerce-page #content table.cart td.actions .coupon label {
  display: none;
}
.woocommerce .cart-collaterals,
.woocommerce-page .cart-collaterals {
  margin-right: -15px;
  margin-left: -15px;
}
.woocommerce .cart-collaterals .related,
.woocommerce-page .cart-collaterals .related {
  width: 33.33333333%;
  float: left;
}
.woocommerce .cart-collaterals .cross-sells,
.woocommerce-page .cart-collaterals .cross-sells {
  width: 50%;
  float: left;
  padding: 0px 15px;
}
.woocommerce .cart-collaterals .cross-sells ul.products,
.woocommerce-page .cart-collaterals .cross-sells ul.products {
  float: none;
}
.woocommerce .cart-collaterals .cross-sells ul.products li,
.woocommerce-page .cart-collaterals .cross-sells ul.products li {
  width: 50%;
}
.woocommerce .cart-collaterals .shipping_calculator,
.woocommerce-page .cart-collaterals .shipping_calculator {
  width: 50%;
  padding: 0px 15px;
  clear: right;
  float: right;
}
.woocommerce .cart-collaterals .shipping_calculator .col2-set .col-1,
.woocommerce .cart-collaterals .shipping_calculator .col2-set .col-2,
.woocommerce-page .cart-collaterals .shipping_calculator .col2-set .col-1,
.woocommerce-page .cart-collaterals .shipping_calculator .col2-set .col-2 {
  width: 50%;
}
.woocommerce .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals .cart_totals {
  float: right;
  width: 50%;
  text-align: right;
  padding: 0px 15px;
}
.woocommerce form .form-row label,
.woocommerce-page form .form-row label {
  display: block;
}
.woocommerce form .form-row label.checkbox,
.woocommerce-page form .form-row label.checkbox {
  display: inline;
}
.woocommerce form .form-row select,
.woocommerce-page form .form-row select {
  width: 100%;
}
.woocommerce form .form-row .input-text,
.woocommerce-page form .form-row .input-text {
  width: 100%;
}
.woocommerce form .form-row-first,
.woocommerce form .form-row-last,
.woocommerce-page form .form-row-first,
.woocommerce-page form .form-row-last {
  float: left;
  width: 50%;
  overflow: visible;
}
.woocommerce form .form-row-last,
.woocommerce-page form .form-row-last {
  float: right;
}
.woocommerce form .form-row-wide,
.woocommerce-page form .form-row-wide {
  clear: both;
}
.woocommerce #payment .form-row select,
.woocommerce-page #payment .form-row select {
  width: auto;
}
.woocommerce #payment .terms,
.woocommerce-page #payment .terms {
  text-align: right;
  padding: 0 1em 0;
}
.woocommerce #payment #place_order,
.woocommerce-page #payment #place_order {
  float: right;
}
.twentyfourteen .tfwc {
  padding: 12px 10px 0;
  max-width: 474px;
  margin: 0 auto;
}
.twentyfourteen .tfwc .product .entry-summary {
  padding: 0 !important;
  margin: 0 0 1.618em !important;
}
.twentyfourteen .tfwc div.product.hentry.has-post-thumbnail {
  margin-top: 0;
}
.twentyfourteen .tfwc .product .images img {
  margin-bottom: 1em;
}
@media screen and (min-width: 673px) {
  .twentyfourteen .tfwc {
    padding-right: 30px;
    padding-left: 30px;
  }
}
@media screen and (min-width: 1040px) {
  .twentyfourteen .tfwc {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media screen and (min-width: 1110px) {
  .twentyfourteen .tfwc {
    padding-right: 30px;
    padding-left: 30px;
  }
}
@media screen and (min-width: 1218px) {
  .twentyfourteen .tfwc {
    margin-right: 54px;
  }
  .full-width .twentyfourteen .tfwc {
    margin-right: auto;
  }
}
