@import "_variables";
@import "_mixins";
// @import "custom-fonts";

/* =Global styles/layout
-------------------------------------------------------------- */

/* =Utilities
-------------------------------------------------------------- */

a.wc-forward, a.wc-backward {
	text-decoration: none;
}

.wc-forward, .wc-forward a {
	&:after {
		.iconafter( "\e029" );
		font-size:.75em;
	}
}
.wc-backward, .wc-backward a {
	&:before {
		.iconbefore( "\e02f" );
		font-size:.75em;
	}
}

@import 'demostore';

/* =Main Styles (namespace to avoid conflict with common global class names)
-------------------------------------------------------------- */
.woocommerce, .woocommerce-page {
@import 'messages';
@import 'breadcrumbs';
@import 'sale-labels';
@import 'product-page';
@import 'product-loops';	
@import 'buttons';
@import 'quantity-inputs';
@import 'reviews-comments';
@import 'tables';
@import 'cart-sidebar';
@import 'cart-page';
@import 'forms';
@import 'select2';
@import 'order-page';
@import 'account-page';
@import 'layered-nav-widget';
@import 'price-filter-widget';
@import 'atelier';

} 
// end .woocommerce-page namespacing wrap
