.woocommerce .col2-set .col-1,
.woocommerce .col2-set .col-2,
.woocommerce-page .col2-set .col-1,
.woocommerce-page .col2-set .col-2 {
  float: none;
  width: 100%;
}
.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
  width: 50% !important;
  float: left;
}
.woocommerce div.product div.images,
.woocommerce div.product div.summary,
.woocommerce #content div.product div.images,
.woocommerce #content div.product div.summary,
.woocommerce-page div.product div.images,
.woocommerce-page div.product div.summary,
.woocommerce-page #content div.product div.images,
.woocommerce-page #content div.product div.summary {
  float: none;
  width: 100%;
}
.woocommerce table.cart .product-thumbnail,
.woocommerce #content table.cart .product-thumbnail,
.woocommerce-page table.cart .product-thumbnail,
.woocommerce-page #content table.cart .product-thumbnail {
  display: none;
}
.woocommerce table.cart td.actions,
.woocommerce #content table.cart td.actions,
.woocommerce-page table.cart td.actions,
.woocommerce-page #content table.cart td.actions {
  text-align: left;
}
.woocommerce table.cart td.actions .coupon,
.woocommerce #content table.cart td.actions .coupon,
.woocommerce-page table.cart td.actions .coupon,
.woocommerce-page #content table.cart td.actions .coupon {
  float: none;
  padding-bottom: .5em;
}
.woocommerce table.cart td.actions input,
.woocommerce table.cart td.actions .button,
.woocommerce table.cart td.actions .input-text,
.woocommerce #content table.cart td.actions input,
.woocommerce #content table.cart td.actions .button,
.woocommerce #content table.cart td.actions .input-text,
.woocommerce-page table.cart td.actions input,
.woocommerce-page table.cart td.actions .button,
.woocommerce-page table.cart td.actions .input-text,
.woocommerce-page #content table.cart td.actions input,
.woocommerce-page #content table.cart td.actions .button,
.woocommerce-page #content table.cart td.actions .input-text {
  width: 48%;
}
.woocommerce table.cart td.actions .input-text + .button,
.woocommerce table.cart td.actions .button.alt,
.woocommerce #content table.cart td.actions .input-text + .button,
.woocommerce #content table.cart td.actions .button.alt,
.woocommerce-page table.cart td.actions .input-text + .button,
.woocommerce-page table.cart td.actions .button.alt,
.woocommerce-page #content table.cart td.actions .input-text + .button,
.woocommerce-page #content table.cart td.actions .button.alt {
  float: right;
}
.woocommerce .cart-collaterals .cart_totals,
.woocommerce .cart-collaterals .shipping_calculator,
.woocommerce .cart-collaterals .cross-sells,
.woocommerce-page .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals .shipping_calculator,
.woocommerce-page .cart-collaterals .cross-sells {
  width: 100%;
  float: none;
  text-align: left;
}
.woocommerce.woocommerce-checkout form.login .form-row,
.woocommerce-page.woocommerce-checkout form.login .form-row {
  width: 100%;
  float: none;
}
.woocommerce #payment .terms,
.woocommerce-page #payment .terms {
  text-align: left;
  padding: 0;
}
.woocommerce #payment #place_order,
.woocommerce-page #payment #place_order {
  float: none;
  width: 100%;
  margin-bottom: 1em;
}
.woocommerce .lost_reset_password .form-row-first,
.woocommerce .lost_reset_password .form-row-last,
.woocommerce-page .lost_reset_password .form-row-first,
.woocommerce-page .lost_reset_password .form-row-last {
  width: 100%;
  float: none;
  margin-right: 0;
}
.single-product .twentythirteen .panel {
  padding-left: 20px !important;
  padding-right: 20px !important;
}
