
// // Btn checkout
// @opt-woo-cart-btn-checkout-background: orange;
// @opt-woo-cart-btn-checkout-background-hover: gray;


// // Btn Viev cart
// @opt-woo-cart-btn-view-background: red;
// @opt-woo-cart-btn-view-background-hover: gray;


// Product content
// @opt-woo-cart-products-content-background: #fff;
@opt-woo-cart-products-content-font-size: 13px;

// Item Title
// @opt-woo-cart-item-title-color: red;
// @opt-woo-cart-item-title-color-hover: orange;
// @opt-woo-cart-item-title-font-size: 13px;

@opt-woo-cart-total-background: #fff;
@opt-woo-cart-total-color: red;
@opt-woo-cart-total-align: center;
@opt-woo-cart-total-font-size: 13px;

// Remove product
@opt-woo-cart-remove-product-font-size: 24px;
@opt-woo-cart-remove-product-line-height: 24px;
@opt-woo-cart-remove-product-color: red;


.festi-cart-customize {
	padding-top: @opt-woo-cart-padding-top;
	padding-bottom: @opt-woo-cart-padding-bottom;
	padding-right: @opt-woo-cart-padding-right;
	padding-left: @opt-woo-cart-padding-left;
 }

.festi-cart-customize {
	text-align: left;
	background-color: @opt-woo-cart-background-regular;
}

a#festi-cart.festi-cart.festi-cart-customize:hover,
a#festi-cart.festi-cart.festi-cart-customize.festi-cart-active {
	background-color: @opt-woo-cart-background-hover;
}
 
// Cart 

span.festi-cart-text-before-quantity, 
span.festi-cart-quantity,
span.festi-cart-text-after-quantity, 
span.festi-cart-text-before-total, 
span.festi-cart-total span.amount, 
span.festi-cart-text-after-total, 
span.festi-cart-dropdown-arrow {
	font-size: @opt-woo-cart-typo-font-size;
	color: @opt-woo-cart-color-regular;

}

.festi-cart-customize:hover span.festi-cart-text-before-quantity, 
.festi-cart-customize:hover span.festi-cart-quantity,
.festi-cart-customize:hover span.festi-cart-text-after-quantity, 
.festi-cart-customize:hover span.festi-cart-text-before-total, 
.festi-cart-customize:hover span.festi-cart-total span.amount, 
.festi-cart-customize:hover span.festi-cart-text-after-total, 
.festi-cart-customize:hover span.festi-cart-dropdown-arrow {
	color: @opt-woo-cart-color-hover;

}


// Product content
/** Cart Content **/
div.festi-cart-products-content {
	overflow: hidden;
	background-color: @opt-woo-cart-content-background;
	font-size: @opt-woo-cart-content-typo-font-size;
	text-align: @opt-woo-cart-content-typo-text-align;

	padding-top: @opt-woo-cart-content-padding-top;
	padding-bottom: @opt-woo-cart-content-padding-bottom;
	padding-left: @opt-woo-cart-content-padding-left;
	padding-right: @opt-woo-cart-content-padding-right;
}


/** Position **/

.festi-cart-window-content{
	 margin-top: @opt-woo-cart-fixed-margin-top !important;        
	 margin-left: @opt-woo-cart-fixed-margin-left !important;        
	 margin-right: @opt-woo-cart-fixed-margin-right !important;
}


// .festi-cart-products {
// 	-webkit-transition:all 0.3s ease-in-out;
// 	-moz-transition:all 0.3s ease-in-out;
// 	-o-transition:all 0.3s ease-in-out;
// 	transition:all 0.3s ease-in-out;
// }


a.festi-cart-title, 
span.festi-cart-title {
	color: @opt-woo-cart-item-title-color-regular;
	font-size: @opt-woo-cart-item-title-typo-font-size;
	line-height: @opt-woo-cart-item-title-typo-line-height;
}

a.festi-cart-title:hover {
	color: @opt-woo-cart-item-title-color-hover;
}

span.festi-cart-product-count, 
span.festi-cart-product-price, 
span.festi-cart-product-price span.amount {
	color: #1f1e1e;
	font-size: 13px;
}

// Total

div.festi-cart-total {
	background-color: @opt-woo-cart-subtotal-background;
	color: @opt-woo-cart-subtotal-color;
	font-size: @opt-woo-cart-subtotal-typo-font-size;
	text-align: @opt-woo-cart-subtotal-typo-text-align;
	line-height: @opt-woo-cart-subtotal-typo-line-height;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	font-weight: bold;
	text-transform: none;
}

// Buttons

p.festi-cart-buttons{
	margin-bottom: 0px;
}

.festi-cart-buttons a, 
span.festi-cart-continue-shopping {
	font-size: @opt-woo-cart-btn-typo-font-size;
	display: inline-block;
	padding-top: @opt-woo-cart-btn-padding-top;
	padding-bottom: @opt-woo-cart-btn-padding-bottom;
	padding-right: @opt-woo-cart-btn-padding-right;
	padding-left: @opt-woo-cart-btn-padding-left;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    position: relative;
    font-family: inherit;
    overflow: visible;
    width: @opt-woo-cart-btn-width;
}

// View Cart
a.festi-cart-view-cart {
	background-color: @opt-woo-cart-btn-view-background-regular;
	color: @opt-woo-cart-btn-view-color-regular;
	&:hover {
		background-color: @opt-woo-cart-btn-view-background-hover;
		color: @opt-woo-cart-btn-view-color-hover;
	}
	margin-bottom: @opt-woo-cart-btn-view-margin-bottom;
}

// Checkout
a.festi-cart-checkout {
	background-color: @opt-woo-cart-btn-checkout-background-regular;
	color: @opt-woo-cart-btn-checkout-color-regular;
	&:hover{
		background-color: @opt-woo-cart-btn-checkout-background-hover;
	 	color: @opt-woo-cart-btn-checkout-color-hover;
	}
}

td.festi-cart-product-delete {
	vertical-align: top;
}

// Remove X

a.festi-cart-remove-product {
	font-size: @opt-woo-cart-remove-typo-font-size;
	line-height: @opt-woo-cart-remove-typo-line-height;
	color: @opt-woo-cart-remove-color-regular;
	float: left;
	&:hover{
			color: @opt-woo-cart-remove-color-hover;
	}
}

table.festi-cart-list tr {
	border-bottom: 1px solid;
	border-bottom-color: @opt-woo-cart-row-border-color;
 // 	&:last-child{
	// 	border-style: none; 
	// }
}

// table.festi-cart-list tr:last-child{
// 		border-bottom-color: red; 

// } 

table.festi-cart-list th, 
table.festi-cart-list td
{
border-style: none;
}

tr.festi-cart-empty {
	color: red;
	padding: 0;
}

td.festi-cart-empty {
	padding-top: 5px;
	padding-bottom: 5px;
}

// Product Image

a.festi-cart-img img, 
span.festi-cart-img img {
	max-width: @opt-woo-cart-image-size;
	width: @opt-woo-cart-image-size;
}

span.festi-cart-product-variation-attribut {
	font-size: 12px;
	display: block;
}


/* @group Widget */

// Widget

.festi-cart-widget-products-content {
	// border: 0px solid;
	padding: 10px;
	// border-color: #ccc7c3;
}

a.festi-cart-title, 
span.festi-cart-title {
	color: #00497d;
	font-size: 13px;
}

 a.festi-cart-title:hover {
	color: gray;
}

span.festi-cart-product-count, 
span.festi-cart-product-price, 
span.festi-cart-product-price span.amount {
	color: #1f1e1e;
	font-size: 13px;
}

body div.festi-cart-widget-products-content > div.festi-cart-total {
	background-color: #ffffff;
	color: #000000;
	font-size: 13px;
	text-align: right;
}

body div.festi-cart-widget-products-content > table.festi-cart-list tr.festi-cart-item > td.festi-cart-product-delete {
	vertical-align: top;
}

table.festi-cart-list tr, 
table.festi-cart-list tr td {
 // border-bottom: 1px solid;
 // border-bottom-color: #e8e4e3;
}

body div.festi-cart-widget-products-content > table.festi-cart-list tr.festi-cart-empty {
 color: #111111;
 padding: 0;
}

/*body div.festi-cart-widget-products-content > table.festi-cart-list tr.festi-cart-empty td.festi-cart-empty {
 padding-top: 5px;
 padding-bottom: 5px;
}*/

body div.festi-cart-widget-products-content > table.festi-cart-list tr.festi-cart-item > td.festi-cart-product-img a.festi-cart-img img, 
body div.festi-cart-widget-products-content > table.festi-cart-list tr.festi-cart-item > td.festi-cart-product-img span.festi-cart-img img {
    max-width: 140px;
    width: 140px;
}

body div.festi-cart-widget-products-content > table.festi-cart-list tr.festi-cart-item > td.festi-cart-product-title span.festi-cart-product-variation-attribut {
    font-size: 12px;
    display: block;
}

/* @end */
