.highlight-yellow {
  white-space: pre-wrap;
  background-color: #fffd56;
}
.highlight-orange {
  display: inline;
  background: orange;
  box-shadow: 10px 0 0 orange, -10px 0 0 orange;
}
div.block.orange {
  background: ;
}
div.block.orange h1,
div.block.orange h2,
div.block.orange h3,
div.block.orange h4,
div.block.orange h5,
div.block.orange h6 {
  color: ;
}
div.block.orange div.entry-content p {
  color: ;
}
div.block.orange div.entry-summary.entry-content > p > a.more-link {
  color: ;
  background: ;
}
div.block.orange div.entry-meta {
  color: ;
}
div.block.yellow {
  background: ;
}
div.block.yellow h1,
div.block.yellow h2,
div.block.yellow h3,
div.block.yellow h4,
div.block.yellow h5,
div.block.yellow h6 {
  color: ;
}
div.block.yellow div.entry-content p {
  color: ;
}
div.block.yellow div.entry-summary.entry-content > p > a.more-link {
  color: ;
  background: ;
}
div.block.yellow div.entry-meta {
  color: ;
}
