a [class*="btn-"] {
  text-decoration: none;
}
[class*="btn-"] {
  display: inline-block;
  text-align: center;
  text-decoration: none;
}
[class*="btn-medium"] {
  width: 165px;
  font-size: 17px;
  line-height: 40px;
}
[class*="btn-large"] {
  width: 255px;
  font-size: 20px;
  line-height: 55px;
  margin-right: 20px;
  font-weight: 400;
}
[class*="btn-"][class*="-black"] {
  color: #fff !important;
}
[class*="btn-"][class*="-white"] {
  color: #000 !important;
}
[class*="btn-"][class*="-gray"] {
  color: #fff !important;
}
[class*="btn-"][class*="-inverse"] {
  color: #000 !important;
}
[class*="btn-"][class*="-red"] {
  color: #fff !important;
}
[class*="btn-"][class*="-firm"] {
  color: #fff !important;
}
[class*="btn-"][class*="-orange"] {
  color: #fff !important;
}
[class*="btn-"][class*="-danger"] {
  color: #fff !important;
}
[class*="btn-"][class*="-success"] {
  color: #fff !important;
}
[class*="btn-"][class*="-warning"] {
  color: #fff !important;
}
[class*="btn-"][class*="-violet"] {
  color: #fff !important;
}
[class*="btn-"][class*="-info"] {
  color: #fff !important;
}
[class*="btn-"][class*="-yellow"] {
  color: #fff !important;
}
[class*="btn-"][class*="-blue"] {
  color: #fff !important;
}
[class*="btn-"][class*="-green"] {
  color: #fff !important;
}
