@font-face {
  font-family: 'ico';
  src: url('ico.eot?sqjkai');
  src: url('ico.eot?#iefixsqjkai') format('embedded-opentype'), url('ico.woff?sqjkai') format('woff'), url('ico.ttf?sqjkai') format('truetype'), url('ico.svg?sqjkai#ico') format('svg');
  font-weight: normal;
  font-style: normal;
}
.screen-reader {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
[class^="iconz-"],
[class*=" iconz-"] {
  font-family: 'ico';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.iconz-vitrovivo:before {
  content: "\31";
}
.iconz-nicocr:before {
  content: "\32";
}
.iconz-probio:before {
  content: "\33";
}
.iconz-lenitivo:before {
  content: "\34";
}
.iconz-odour-fresh:before {
  content: "\35";
}
.iconz-proneem:before {
  content: "\36";
}
.iconz-girls:before {
  content: "\37";
}
.iconz-regimed:before {
  content: "\61";
}
.iconz-dermo-1:before {
  content: "\63";
}
.iconz-dermo-2:before {
  content: "\64";
}
.iconz-parabens:before {
  content: "\30";
}
.iconz-dermo-full:before {
  content: "\62";
}
