[class*="wrapper-"][class*="-black"] {
  color: #fff !important;
}
[class*="wrapper-"][class*="-black"] {
  color: #fff !important;
}
[class*="wrapper-"][class*="-white"] {
  color: #000 !important;
}
[class*="wrapper-"][class*="-gray"] {
  color: #fff !important;
}
[class*="wrapper-"][class*="-inverse"] {
  color: #000 !important;
}
[class*="wrapper-"][class*="-red"] {
  color: #fff !important;
}
[class*="wrapper-"][class*="-firm"] {
  color: #fff !important;
}
[class*="wrapper-"][class*="-orange"] {
  color: #fff !important;
}
[class*="wrapper-"][class*="-danger"] {
  color: #fff !important;
}
[class*="wrapper-"][class*="-success"] {
  color: #fff !important;
}
[class*="wrapper-"][class*="-warning"] {
  color: #fff !important;
}
[class*="wrapper-"][class*="-violet"] {
  color: #fff !important;
}
[class*="wrapper-"][class*="-info"] {
  color: ;
}
[class*="wrapper-"][class*="-yellow"] {
  color: #fff !important;
}
[class*="wrapper-"][class*="-blue"] {
  color: #fff !important;
}
[class*="wrapper-"][class*="-green"] {
  color: #fff !important;
}
