@import multiple '../../theme.config';
html,
body {
  height: 100%;
}
html {
  font-size: ;
}
body {
  margin: 0px;
  padding: 0px;
  overflow-x: ;
  min-width: ;
  background: ;
  font-family: ;
  font-size: ;
  line-height: ;
  color: ;
  font-smoothing: ;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: ;
  line-height: ;
  margin: ;
  font-weight: ;
  padding: 0em;
}
h1 {
  min-height: 1rem;
  font-size: ;
}
h2 {
  font-size: ;
}
h3 {
  font-size: ;
}
h4 {
  font-size: ;
}
h5 {
  font-size: ;
}
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child {
  margin-top: 0em;
}
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child {
  margin-bottom: 0em;
}
p {
  margin: ;
  line-height: ;
}
p:first-child {
  margin-top: 0em;
}
p:last-child {
  margin-bottom: 0em;
}
a {
  color: ;
  text-decoration: ;
}
a:hover {
  color: ;
  text-decoration: ;
}
::-webkit-selection {
  background-color: ;
  color: ;
}
::-moz-selection {
  background-color: ;
  color: ;
}
::selection {
  background-color: ;
  color: ;
}
textarea::-webkit-selection,
input::-webkit-selection {
  background-color: ;
  color: ;
}
textarea::-moz-selection,
input::-moz-selection {
  background-color: ;
  color: ;
}
textarea::selection,
input::selection {
  background-color: ;
  color: ;
}
