@import multiple '../../theme.config';
.ui.breadcrumb {
  line-height: 1;
  display: ;
  margin:  0em;
  vertical-align: ;
}
.ui.breadcrumb:first-child {
  margin-top: 0em;
}
.ui.breadcrumb:last-child {
  margin-bottom: 0em;
}
.ui.breadcrumb .divider {
  display: inline-block;
  opacity: ;
  margin: 0em  0em;
  font-size: ;
  color: ;
  vertical-align: ;
}
.ui.breadcrumb a {
  color: ;
}
.ui.breadcrumb a:hover {
  color: ;
}
.ui.breadcrumb .icon.divider {
  font-size: ;
  vertical-align: ;
}
.ui.breadcrumb a.section {
  cursor: pointer;
}
.ui.breadcrumb .section {
  display: inline-block;
  margin: ;
  padding: ;
}
.ui.breadcrumb.segment {
  display: inline-block;
  padding: ;
}
.ui.breadcrumb .active.section {
  font-weight: ;
}
.ui.mini.breadcrumb {
  font-size: ;
}
.ui.tiny.breadcrumb {
  font-size: ;
}
.ui.small.breadcrumb {
  font-size: ;
}
.ui.breadcrumb {
  font-size: ;
}
.ui.large.breadcrumb {
  font-size: ;
}
.ui.big.breadcrumb {
  font-size: ;
}
.ui.huge.breadcrumb {
  font-size: ;
}
.ui.massive.breadcrumb {
  font-size: ;
}
