@import multiple '../../theme.config';
.ui.form {
  position: relative;
  max-width: 100%;
}
.ui.form > p {
  margin: ;
}
.ui.form .field {
  clear: both;
  margin: ;
}
.ui.form .field:last-child,
.ui.form .fields:last-child .field {
  margin-bottom: 0em;
}
.ui.form .fields .field {
  clear: both;
  margin: ;
}
.ui.form .field > label {
  display: block;
  margin: ;
  color: ;
  font-size: ;
  font-weight: ;
  text-transform: ;
}
.ui.form textarea,
.ui.form input:not([type]),
.ui.form input[type="date"],
.ui.form input[type="datetime-local"],
.ui.form input[type="email"],
.ui.form input[type="number"],
.ui.form input[type="password"],
.ui.form input[type="search"],
.ui.form input[type="tel"],
.ui.form input[type="time"],
.ui.form input[type="text"],
.ui.form input[type="url"] {
  width: ;
  vertical-align: top;
}
.ui.form ::-webkit-datetime-edit,
.ui.form ::-webkit-inner-spin-button {
  height: ;
}
.ui.form input:not([type]),
.ui.form input[type="date"],
.ui.form input[type="datetime-local"],
.ui.form input[type="email"],
.ui.form input[type="number"],
.ui.form input[type="password"],
.ui.form input[type="search"],
.ui.form input[type="tel"],
.ui.form input[type="time"],
.ui.form input[type="text"],
.ui.form input[type="url"] {
  font-family: ;
  margin: 0em;
  outline: none;
  -webkit-appearance: none;
  tap-highlight-color: rgba(255,255,255,0);
  line-height: ;
  padding: ;
  font-size: ;
  background: ;
  border: ;
  color: ;
  border-radius: ;
  box-shadow: ;
  transition: ;
}
.ui.form textarea {
  margin: 0em;
  -webkit-appearance: none;
  tap-highlight-color: rgba(255,255,255,0);
  padding: ;
  font-size: ;
  background: ;
  border: ;
  outline: none;
  color: ;
  border-radius: ;
  box-shadow: ;
  transition: ;
  line-height: ;
  resize: ;
}
.ui.form textarea:not([rows]) {
  height: ;
  min-height: ;
  max-height: ;
}
.ui.form textarea,
.ui.form input[type="checkbox"] {
  vertical-align: ;
}
.ui.form input.attached {
  width: auto;
}
.ui.form select {
  display: block;
  height: auto;
  width: 100%;
  background: ;
  border: ;
  border-radius: ;
  box-shadow: ;
  padding: ;
  color: ;
  transition: ;
}
.ui.form .field > .selection.dropdown {
  width: 100%;
}
.ui.form .field > .selection.dropdown > .dropdown.icon {
  float: right;
}
.ui.form .inline.fields .field > .selection.dropdown,
.ui.form .inline.field > .selection.dropdown {
  width: auto;
}
.ui.form .inline.fields .field > .selection.dropdown > .dropdown.icon,
.ui.form .inline.field > .selection.dropdown > .dropdown.icon {
  float: none;
}
.ui.form .field .ui.input,
.ui.form .fields .field .ui.input,
.ui.form .wide.field .ui.input {
  width: 100%;
}
.ui.form .inline.fields .field:not(.wide) .ui.input,
.ui.form .inline.field:not(.wide) .ui.input {
  width: auto;
  vertical-align: middle;
}
.ui.form .fields .field .ui.input input,
.ui.form .field .ui.input input {
  width: auto;
}
.ui.form .ten.fields .ui.input input,
.ui.form .nine.fields .ui.input input,
.ui.form .eight.fields .ui.input input,
.ui.form .seven.fields .ui.input input,
.ui.form .six.fields .ui.input input,
.ui.form .five.fields .ui.input input,
.ui.form .four.fields .ui.input input,
.ui.form .three.fields .ui.input input,
.ui.form .two.fields .ui.input input,
.ui.form .wide.field .ui.input input {
  flex: 1 0 auto;
  width: 0px;
}
.ui.form .success.message,
.ui.form .warning.message,
.ui.form .error.message {
  display: none;
}
.ui.form .message:first-child {
  margin-top: 0px;
}
.ui.form .field .prompt.label {
  white-space: normal;
  background:  !important;
  border:  !important;
  color:  !important;
}
.ui.form .inline.fields .field .prompt,
.ui.form .inline.field .prompt {
  vertical-align: top;
  margin: ;
}
.ui.form .inline.fields .field .prompt:before,
.ui.form .inline.field .prompt:before {
  border-width: 0px 0px  ;
  bottom: auto;
  right: auto;
  top: 50%;
  left: 0em;
}
.ui.form .field.field input:-webkit-autofill {
  box-shadow: 0px 0px 0px 100px  inset !important;
  border-color:  !important;
}
.ui.form .field.field input:-webkit-autofill:focus {
  box-shadow: 0px 0px 0px 100px  inset !important;
  border-color:  !important;
}
.ui.form .error.error input:-webkit-autofill {
  box-shadow: 0px 0px 0px 100px  inset !important;
  border-color:  !important;
}
.ui.form ::-webkit-input-placeholder {
  color: ;
}
.ui.form ::-ms-input-placeholder {
  color: ;
}
.ui.form ::-moz-placeholder {
  color: ;
}
.ui.form :focus::-webkit-input-placeholder {
  color: ;
}
.ui.form :focus::-ms-input-placeholder {
  color: ;
}
.ui.form :focus::-moz-placeholder {
  color: ;
}
.ui.form .error ::-webkit-input-placeholder {
  color: ;
}
.ui.form .error ::-ms-input-placeholder {
  color: ;
}
.ui.form .error ::-moz-placeholder {
  color: ;
}
.ui.form .error :focus::-webkit-input-placeholder {
  color: ;
}
.ui.form .error :focus::-ms-input-placeholder {
  color: ;
}
.ui.form .error :focus::-moz-placeholder {
  color: ;
}
.ui.form input:not([type]):focus,
.ui.form input[type="date"]:focus,
.ui.form input[type="datetime-local"]:focus,
.ui.form input[type="email"]:focus,
.ui.form input[type="number"]:focus,
.ui.form input[type="password"]:focus,
.ui.form input[type="search"]:focus,
.ui.form input[type="tel"]:focus,
.ui.form input[type="time"]:focus,
.ui.form input[type="text"]:focus,
.ui.form input[type="url"]:focus {
  color: ;
  border-color: ;
  border-radius: ;
  background: ;
  box-shadow: ;
}
.ui.form textarea:focus {
  color: ;
  border-color: ;
  border-radius: ;
  background: ;
  box-shadow: ;
  -webkit-appearance: none;
}
.ui.form.success .success.message:not(:empty) {
  display: block;
}
.ui.form.success .icon.success.message:not(:empty) {
  display: flex;
}
.ui.form.warning .warning.message:not(:empty) {
  display: block;
}
.ui.form.warning .icon.warning.message:not(:empty) {
  display: flex;
}
.ui.form.error .error.message:not(:empty) {
  display: block;
}
.ui.form.error .icon.error.message:not(:empty) {
  display: flex;
}
.ui.form .fields.error .field label,
.ui.form .field.error label,
.ui.form .fields.error .field .input,
.ui.form .field.error .input {
  color: ;
}
.ui.form .fields.error .field .corner.label,
.ui.form .field.error .corner.label {
  border-color: ;
  color: ;
}
.ui.form .fields.error .field textarea,
.ui.form .fields.error .field select,
.ui.form .fields.error .field input:not([type]),
.ui.form .fields.error .field input[type="date"],
.ui.form .fields.error .field input[type="datetime-local"],
.ui.form .fields.error .field input[type="email"],
.ui.form .fields.error .field input[type="number"],
.ui.form .fields.error .field input[type="password"],
.ui.form .fields.error .field input[type="search"],
.ui.form .fields.error .field input[type="tel"],
.ui.form .fields.error .field input[type="time"],
.ui.form .fields.error .field input[type="text"],
.ui.form .fields.error .field input[type="url"],
.ui.form .field.error textarea,
.ui.form .field.error select,
.ui.form .field.error input:not([type]),
.ui.form .field.error input[type="date"],
.ui.form .field.error input[type="datetime-local"],
.ui.form .field.error input[type="email"],
.ui.form .field.error input[type="number"],
.ui.form .field.error input[type="password"],
.ui.form .field.error input[type="search"],
.ui.form .field.error input[type="tel"],
.ui.form .field.error input[type="time"],
.ui.form .field.error input[type="text"],
.ui.form .field.error input[type="url"] {
  background: ;
  border-color: ;
  color: ;
  border-radius: ;
  box-shadow: ;
}
.ui.form .field.error textarea:focus,
.ui.form .field.error select:focus,
.ui.form .field.error input:not([type]):focus,
.ui.form .field.error input[type="date"]:focus,
.ui.form .field.error input[type="datetime-local"]:focus,
.ui.form .field.error input[type="email"]:focus,
.ui.form .field.error input[type="number"]:focus,
.ui.form .field.error input[type="password"]:focus,
.ui.form .field.error input[type="search"]:focus,
.ui.form .field.error input[type="tel"]:focus,
.ui.form .field.error input[type="time"]:focus,
.ui.form .field.error input[type="text"]:focus,
.ui.form .field.error input[type="url"]:focus {
  background: ;
  border-color: ;
  color: ;
  -webkit-appearance: none;
  box-shadow: ;
}
.ui.form .field.error select {
  -webkit-appearance: menulist-button;
}
.ui.form .fields.error .field .ui.dropdown,
.ui.form .fields.error .field .ui.dropdown .item,
.ui.form .field.error .ui.dropdown,
.ui.form .field.error .ui.dropdown .text,
.ui.form .field.error .ui.dropdown .item {
  background: ;
  color: ;
}
.ui.form .fields.error .field .ui.dropdown,
.ui.form .field.error .ui.dropdown {
  border-color:  !important;
}
.ui.form .fields.error .field .ui.dropdown:hover,
.ui.form .field.error .ui.dropdown:hover {
  border-color:  !important;
}
.ui.form .fields.error .field .ui.dropdown:hover .menu,
.ui.form .field.error .ui.dropdown:hover .menu {
  border-color: ;
}
.ui.form .fields.error .field .ui.multiple.selection.dropdown > .label,
.ui.form .field.error .ui.multiple.selection.dropdown > .label {
  background-color: ;
  color: ;
}
.ui.form .fields.error .field .ui.dropdown .menu .item:hover,
.ui.form .field.error .ui.dropdown .menu .item:hover {
  background-color: ;
}
.ui.form .fields.error .field .ui.dropdown .menu .selected.item,
.ui.form .field.error .ui.dropdown .menu .selected.item {
  background-color: ;
}
.ui.form .fields.error .field .ui.dropdown .menu .active.item,
.ui.form .field.error .ui.dropdown .menu .active.item {
  background-color:  !important;
}
.ui.form .fields.error .field .checkbox:not(.toggle):not(.slider) label,
.ui.form .field.error .checkbox:not(.toggle):not(.slider) label,
.ui.form .fields.error .field .checkbox:not(.toggle):not(.slider) .box,
.ui.form .field.error .checkbox:not(.toggle):not(.slider) .box {
  color: ;
}
.ui.form .fields.error .field .checkbox:not(.toggle):not(.slider) label:before,
.ui.form .field.error .checkbox:not(.toggle):not(.slider) label:before,
.ui.form .fields.error .field .checkbox:not(.toggle):not(.slider) .box:before,
.ui.form .field.error .checkbox:not(.toggle):not(.slider) .box:before {
  background: ;
  border-color: ;
}
.ui.form .fields.error .field .checkbox label:after,
.ui.form .field.error .checkbox label:after,
.ui.form .fields.error .field .checkbox .box:after,
.ui.form .field.error .checkbox .box:after {
  color: ;
}
.ui.form .disabled.fields .field,
.ui.form .disabled.field,
.ui.form .field :disabled {
  pointer-events: none;
  opacity: ;
}
.ui.form .field.disabled label {
  opacity: ;
}
.ui.form .field.disabled :disabled {
  opacity: 1;
}
.ui.loading.form {
  position: relative;
  cursor: default;
  point-events: none;
}
.ui.loading.form:before {
  position: absolute;
  content: '';
  top: 0%;
  left: 0%;
  background: ;
  width: 100%;
  height: 100%;
  z-index: ;
}
.ui.loading.form:after {
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  margin: ;
  width: ;
  height: ;
  animation: form-spin  linear;
  animation-iteration-count: infinite;
  border-radius: ;
  border-color:    ;
  border-style: solid;
  border-width: ;
  box-shadow: 0px 0px 0px 1px transparent;
  visibility: visible;
  z-index: ;
}
@keyframes form-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.ui.form .required.fields:not(.grouped) > .field > label:after,
.ui.form .required.fields.grouped > label:after,
.ui.form .required.field > label:after,
.ui.form .required.fields:not(.grouped) > .field > .checkbox:after,
.ui.form .required.field > .checkbox:after {
  margin: ;
  content: ;
  color: ;
}
.ui.form .required.fields:not(.grouped) > .field > label:after,
.ui.form .required.fields.grouped > label:after,
.ui.form .required.field > label:after {
  display: inline-block;
  vertical-align: top;
}
.ui.form .required.fields:not(.grouped) > .field > .checkbox:after,
.ui.form .required.field > .checkbox:after {
  position: absolute;
  top: 0%;
  left: 100%;
}
.ui.inverted.form label,
.ui.form .inverted.segment label,
.ui.form .inverted.segment .ui.checkbox label,
.ui.form .inverted.segment .ui.checkbox .box,
.ui.inverted.form .ui.checkbox label,
.ui.inverted.form .ui.checkbox .box {
  color: ;
}
.ui.inverted.form input:not([type]),
.ui.inverted.form input[type="date"],
.ui.inverted.form input[type="datetime-local"],
.ui.inverted.form input[type="email"],
.ui.inverted.form input[type="number"],
.ui.inverted.form input[type="password"],
.ui.inverted.form input[type="search"],
.ui.inverted.form input[type="tel"],
.ui.inverted.form input[type="time"],
.ui.inverted.form input[type="text"],
.ui.inverted.form input[type="url"] {
  background: ;
  border-color: ;
  color: ;
  box-shadow: ;
}
.ui.form .grouped.fields {
  display: block;
  margin: ;
}
.ui.form .grouped.fields:last-child {
  margin-bottom: 0em;
}
.ui.form .grouped.fields > label {
  margin: ;
  color: ;
  font-size: ;
  font-weight: ;
  text-transform: ;
}
.ui.form .grouped.fields .field,
.ui.form .grouped.inline.fields .field {
  display: block;
  margin: ;
  padding: 0em;
}
.ui.form .fields {
  display: flex;
  flex-direction: row;
}
.ui.form .fields > .field {
  flex: 0 1 auto;
  padding-left:  / 2;
  padding-right:  / 2;
}
.ui.form .fields > .field:first-child {
  border-left: none;
  box-shadow: none;
}
.ui.form .two.fields > .fields,
.ui.form .two.fields > .field {
  width: ;
}
.ui.form .three.fields > .fields,
.ui.form .three.fields > .field {
  width: ;
}
.ui.form .four.fields > .fields,
.ui.form .four.fields > .field {
  width: ;
}
.ui.form .five.fields > .fields,
.ui.form .five.fields > .field {
  width: ;
}
.ui.form .six.fields > .fields,
.ui.form .six.fields > .field {
  width: ;
}
.ui.form .seven.fields > .fields,
.ui.form .seven.fields > .field {
  width: ;
}
.ui.form .eight.fields > .fields,
.ui.form .eight.fields > .field {
  width: ;
}
.ui.form .nine.fields > .fields,
.ui.form .nine.fields > .field {
  width: ;
}
.ui.form .ten.fields > .fields,
.ui.form .ten.fields > .field {
  width: ;
}
@media only screen and (max-width: ) {
  .ui.form .fields {
    flex-wrap: wrap;
  }
  .ui.form .two.fields > .fields,
  .ui.form .two.fields > .field,
  .ui.form .three.fields > .fields,
  .ui.form .three.fields > .field,
  .ui.form .four.fields > .fields,
  .ui.form .four.fields > .field,
  .ui.form .five.fields > .fields,
  .ui.form .five.fields > .field,
  .ui.form .six.fields > .fields,
  .ui.form .six.fields > .field,
  .ui.form .seven.fields > .fields,
  .ui.form .seven.fields > .field,
  .ui.form .eight.fields > .fields,
  .ui.form .eight.fields > .field,
  .ui.form .nine.fields > .fields,
  .ui.form .nine.fields > .field,
  .ui.form .ten.fields > .fields,
  .ui.form .ten.fields > .field {
    width:  !important;
    margin: ;
    padding-left: 0%;
    padding-right: 0%;
  }
}
.ui.form .fields .field:first-child {
  padding-left: 0%;
}
.ui.form .fields .field:last-child {
  padding-right: 0%;
}
.ui.form .fields .wide.field {
  width: ;
  padding-left:  / 2;
  padding-right:  / 2;
}
.ui.form .fields .wide.field:first-child {
  padding-left: 0%;
}
.ui.form .fields .wide.field:last-child {
  padding-right: 0%;
}
.ui.form .one.wide.field {
  width:  !important;
}
.ui.form .two.wide.field {
  width:  !important;
}
.ui.form .three.wide.field {
  width:  !important;
}
.ui.form .four.wide.field {
  width:  !important;
}
.ui.form .five.wide.field {
  width:  !important;
}
.ui.form .six.wide.field {
  width:  !important;
}
.ui.form .seven.wide.field {
  width:  !important;
}
.ui.form .eight.wide.field {
  width:  !important;
}
.ui.form .nine.wide.field {
  width:  !important;
}
.ui.form .ten.wide.field {
  width:  !important;
}
.ui.form .eleven.wide.field {
  width:  !important;
}
.ui.form .twelve.wide.field {
  width:  !important;
}
.ui.form .thirteen.wide.field {
  width:  !important;
}
.ui.form .fourteen.wide.field {
  width:  !important;
}
.ui.form .fifteen.wide.field {
  width:  !important;
}
.ui.form .sixteen.wide.field {
  width:  !important;
}
@media only screen and (max-width: ) {
  .ui.form .two.fields > .fields,
  .ui.form .two.fields > .field,
  .ui.form .three.fields > .fields,
  .ui.form .three.fields > .field,
  .ui.form .four.fields > .fields,
  .ui.form .four.fields > .field,
  .ui.form .five.fields > .fields,
  .ui.form .five.fields > .field,
  .ui.form .fields > .two.wide.field,
  .ui.form .fields > .three.wide.field,
  .ui.form .fields > .four.wide.field,
  .ui.form .fields > .five.wide.field,
  .ui.form .fields > .six.wide.field,
  .ui.form .fields > .seven.wide.field,
  .ui.form .fields > .eight.wide.field,
  .ui.form .fields > .nine.wide.field,
  .ui.form .fields > .ten.wide.field,
  .ui.form .fields > .eleven.wide.field,
  .ui.form .fields > .twelve.wide.field,
  .ui.form .fields > .thirteen.wide.field,
  .ui.form .fields > .fourteen.wide.field,
  .ui.form .fields > .fifteen.wide.field,
  .ui.form .fields > .sixteen.wide.field {
    width:  !important;
    margin: ;
    padding-left: 0%;
    padding-right: 0%;
  }
}
.ui[class*="equal width"].form .fields > .field,
.ui.form [class*="equal width"].fields > .field {
  width: 100%;
  flex: 1 1 auto;
}
.ui.form .inline.fields {
  margin: ;
  align-items: center;
}
.ui.form .inline.fields .field {
  margin: 0em;
  padding: ;
}
.ui.form .inline.fields > label,
.ui.form .inline.fields .field > label,
.ui.form .inline.fields .field > p,
.ui.form .inline.field > label,
.ui.form .inline.field > p {
  display: inline-block;
  width: auto;
  margin-top: 0em;
  margin-bottom: 0em;
  vertical-align: baseline;
  font-size: ;
  font-weight: ;
  color: ;
  text-transform: ;
}
.ui.form .inline.fields > label {
  margin: ;
}
.ui.form .inline.fields .field > input,
.ui.form .inline.fields .field > select,
.ui.form .inline.field > input,
.ui.form .inline.field > select {
  display: inline-block;
  width: auto;
  margin-top: 0em;
  margin-bottom: 0em;
  vertical-align: middle;
  font-size: ;
}
.ui.form .inline.fields .field > :first-child,
.ui.form .inline.field > :first-child {
  margin: 0em  0em 0em;
}
.ui.form .inline.fields .field > :only-child,
.ui.form .inline.field > :only-child {
  margin: 0em;
}
.ui.form .inline.fields .wide.field {
  display: flex;
  align-items: center;
}
.ui.form .inline.fields .wide.field > input,
.ui.form .inline.fields .wide.field > select {
  width: 100%;
}
.ui.small.form {
  font-size: ;
}
.ui.form {
  font-size: ;
}
.ui.large.form {
  font-size: ;
}
.ui.huge.form {
  font-size: ;
}
