@import multiple '../../theme.config';
.ui.menu {
  display: flex;
  margin: ;
  font-family: ;
  background: ;
  font-weight: ;
  border: ;
  box-shadow: ;
  border-radius: ;
  min-height: ;
}
.ui.menu:after {
  content: '';
  display: block;
  height: 0px;
  clear: both;
  visibility: hidden;
}
.ui.menu:first-child {
  margin-top: 0rem;
}
.ui.menu:last-child {
  margin-bottom: 0rem;
}
.ui.menu .menu {
  margin: 0em;
}
.ui.menu:not(.vertical) > .menu {
  display: flex;
}
.ui.menu:not(.vertical) .item {
  display: flex;
  align-items: center;
}
.ui.menu .item {
  position: relative;
  vertical-align: middle;
  line-height: 1;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  flex: 0 0 auto;
  user-select: none;
  background: ;
  padding:  ;
  text-transform: ;
  color: ;
  font-weight: ;
  transition: ;
}
.ui.menu > .item:first-child {
  border-radius:  0px 0px ;
}
.ui.menu .item:before {
  position: absolute;
  content: '';
  top: 0%;
  right: 0px;
  height: 100%;
  width: ;
  background: ;
}
.ui.menu .text.item > *,
.ui.menu .item > a:not(.ui),
.ui.menu .item > p:only-child {
  user-select: text;
  line-height: ;
}
.ui.menu .item > p:first-child {
  margin-top: 0;
}
.ui.menu .item > p:last-child {
  margin-bottom: 0;
}
.ui.menu .item > i.icon {
  opacity: ;
  float: ;
  margin: ;
}
.ui.menu:not(.vertical) .item > .button {
  position: relative;
  top: ;
  margin: ;
  padding-bottom: ;
  padding-top: ;
  font-size: ;
}
.ui.menu >  .grid,
.ui.menu > .container {
  display: flex;
  align-items: inherit;
  flex-direction: inherit;
}
.ui.menu .item > .input {
  width: 100%;
}
.ui.menu:not(.vertical) .item > .input {
  position: relative;
  top: ;
  margin:  0em;
}
.ui.menu .item > .input input {
  font-size: ;
  padding-top: ;
  padding-bottom: ;
}
.ui.menu .header.item,
.ui.vertical.menu .header.item {
  margin: 0em;
  background: ;
  text-transform: ;
  font-weight: ;
}
.ui.vertical.menu .item > .header:not(.ui) {
  margin: ;
  font-size: ;
  font-weight: ;
}
.ui.menu .ui.popup {
  display: none;
}
.ui.menu .ui.visible.popup {
  display: block;
}
.ui.menu .item > i.dropdown.icon {
  padding: 0em;
  float: ;
  margin: 0em 0em 0em ;
}
.ui.menu .dropdown.item .menu {
  left: 0px;
  min-width: calc(100% - 1px);
  border-radius: 0em 0em  ;
  background: ;
  margin:  0px 0px;
  box-shadow: ;
  flex-direction: column !important;
}
.ui.menu .ui.dropdown .menu > .item {
  margin: 0;
  text-align: left;
  font-size:  !important;
  padding:  !important;
  background:  !important;
  color:  !important;
  text-transform:  !important;
  font-weight:  !important;
  box-shadow:  !important;
  transition:  !important;
}
.ui.menu .ui.dropdown .menu > .item:hover {
  background:  !important;
  color:  !important;
}
.ui.menu .ui.dropdown .menu > .selected.item {
  background:  !important;
  color:  !important;
}
.ui.menu .ui.dropdown .menu > .active.item {
  background:  !important;
  font-weight:  !important;
  color:  !important;
}
.ui.menu .ui.dropdown.item .menu .item:not(.filtered) {
  display: block;
}
.ui.menu .ui.dropdown .menu > .item .icon:not(.dropdown) {
  display: inline-block;
  font-size:  !important;
  float: ;
  margin: ;
}
.ui.secondary.menu .dropdown.item > .menu,
.ui.text.menu .dropdown.item > .menu {
  border-radius: ;
  margin-top: ;
}
.ui.menu .pointing.dropdown.item .menu {
  margin-top: ;
}
.ui.inverted.menu .search.dropdown.item > .search,
.ui.inverted.menu .search.dropdown.item > .text {
  color: ;
}
.ui.vertical.menu .dropdown.item > .icon {
  float: right;
  content: "\f0da";
  margin-left: 1em;
}
.ui.vertical.menu .dropdown.item .menu {
  top: 0% !important;
  left: 100%;
  min-width: 0;
  margin: 0em 0em 0em ;
  box-shadow: ;
  border-radius: 0em   ;
}
.ui.vertical.menu .active.dropdown.item {
  border-top-right-radius: 0em;
  border-bottom-right-radius: 0em;
}
.ui.vertical.menu .dropdown.active.item {
  box-shadow: none;
}
.ui.item.menu .dropdown .menu .item {
  width: 100%;
}
.ui.menu .item > .label {
  background: ;
  color: ;
  margin-left: ;
  padding:  ;
}
.ui.vertical.menu .item > .label {
  background: ;
  color: ;
  margin-top: ;
  margin-bottom: ;
  padding:  ;
}
.ui.menu .item > .floating.label {
  padding:  ;
}
.ui.menu .item > img:not(.ui) {
  display: inline-block;
  vertical-align: middle;
  margin: ;
  width: ;
}
.ui.vertical.menu .item > img:not(.ui):only-child {
  display: block;
  max-width: 100%;
  width: ;
}
.ui.vertical.sidebar.menu > .item:first-child:before {
  display: block !important;
}
.ui.vertical.sidebar.menu > .item::before {
  top: auto;
  bottom: 0px;
}
@media only screen and (max-width: ) {
  .ui.menu > .ui.container {
    width: 100% !important;
    margin-left: 0em !important;
    margin-right: 0em !important;
  }
}
@media only screen and (min-width: ) {
  .ui.menu:not(.secondary):not(.text):not(.tabular):not(.borderless) > .container > .item:not(.right):not(.borderless):first-child {
    border-left:  solid ;
  }
}
.ui.link.menu .item:hover,
.ui.menu .dropdown.item:hover,
.ui.menu .link.item:hover,
.ui.menu a.item:hover {
  cursor: pointer;
  background: ;
  color: ;
}
.ui.link.menu .item:active,
.ui.menu .link.item:active,
.ui.menu a.item:active {
  background: ;
  color: ;
}
.ui.menu .active.item {
  background: ;
  color: ;
  font-weight: ;
  box-shadow: ;
}
.ui.menu .active.item > i.icon {
  opacity: ;
}
.ui.menu .active.item:hover,
.ui.vertical.menu .active.item:hover {
  background-color: ;
  color: ;
}
.ui.menu .item.disabled,
.ui.menu .item.disabled:hover {
  cursor: default;
  background-color: transparent !important;
  color: ;
}
.ui.menu:not(.vertical) .left.item,
.ui.menu:not(.vertical) .left.menu {
  display: flex;
  margin-right: auto !important;
}
.ui.menu:not(.vertical) .right.item,
.ui.menu:not(.vertical) .right.menu {
  display: flex;
  margin-left: auto !important;
}
.ui.menu .right.item::before,
.ui.menu .right.menu > .item::before {
  right: auto;
  left: 0;
}
.ui.vertical.menu {
  display: block;
  flex-direction: column;
  background: ;
  box-shadow: ;
}
.ui.vertical.menu .item {
  display: block;
  background: ;
  border-top: none;
  border-right: none;
}
.ui.vertical.menu > .item:first-child {
  border-radius:   0px 0px;
}
.ui.vertical.menu > .item:last-child {
  border-radius: 0px 0px  ;
}
.ui.vertical.menu .item > .label {
  float: right;
  text-align: center;
}
.ui.vertical.menu .item > i.icon {
  width: ;
  float: ;
  margin: ;
}
.ui.vertical.menu .item > .label + i.icon {
  float: ;
  margin: ;
}
.ui.vertical.menu .item:before {
  position: absolute;
  content: '';
  top: 0%;
  left: 0px;
  width: 100%;
  height: ;
  background: ;
  height: 1px;
}
.ui.vertical.menu .item:first-child:before {
  display: none !important;
}
.ui.vertical.menu .item > .menu {
  margin: ;
}
.ui.vertical.menu .menu .item {
  background: none;
  padding:  ;
  font-size: ;
  color: ;
}
.ui.vertical.menu .item .menu a.item:hover,
.ui.vertical.menu .item .menu .link.item:hover {
  color: ;
}
.ui.vertical.menu .menu .item:before {
  display: none;
}
.ui.vertical.menu .active.item {
  background: ;
  border-radius: 0em;
  box-shadow: ;
}
.ui.vertical.menu > .active.item:first-child {
  border-radius:   0em 0em;
}
.ui.vertical.menu > .active.item:last-child {
  border-radius: 0em 0em  ;
}
.ui.vertical.menu > .active.item:only-child {
  border-radius: ;
}
.ui.vertical.menu .active.item .menu .active.item {
  border-left: none;
}
.ui.vertical.menu .item .menu .active.item {
  background-color: ;
  font-weight: ;
  color: ;
}
.ui.tabular.menu {
  border-radius: 0em;
  box-shadow: none !important;
  border: none;
  background: ;
  border-bottom:  solid ;
}
.ui.tabular.fluid.menu {
  width:  !important;
}
.ui.tabular.menu .item {
  background: transparent;
  border-bottom: none;
  border-left:  solid transparent;
  border-right:  solid transparent;
  border-top:  solid transparent;
  padding:  ;
  color: ;
}
.ui.tabular.menu .item:before {
  display: none;
}
.ui.tabular.menu .item:hover {
  background-color: transparent;
  color: ;
}
.ui.tabular.menu .active.item {
  background: ;
  color: ;
  border-top-width: ;
  border-color: ;
  font-weight: ;
  margin-bottom: -;
  box-shadow: ;
  border-radius:   0px 0px !important;
}
.ui.tabular.menu + .attached:not(.top).segment,
.ui.tabular.menu + .attached:not(.top).segment + .attached:not(.top).segment {
  border-top: none;
  margin: 0px;
  width: 100%;
}
.top.attached.segment + .ui.bottom.tabular.menu {
  position: relative;
  width: ;
  left: -;
}
.ui.bottom.tabular.menu {
  background: ;
  border-radius: 0em;
  box-shadow: none !important;
  border-bottom: none;
  border-top:  solid ;
}
.ui.bottom.tabular.menu .item {
  background: none;
  border-left:  solid transparent;
  border-right:  solid transparent;
  border-bottom:  solid transparent;
  border-top: none;
}
.ui.bottom.tabular.menu .active.item {
  background: ;
  color: ;
  border-color: ;
  margin: - 0px 0px 0px;
  border-radius: 0px 0px   !important;
}
.ui.vertical.tabular.menu {
  background: ;
  border-radius: 0em;
  box-shadow: none !important;
  border-bottom: none;
  border-right:  solid ;
}
.ui.vertical.tabular.menu .item {
  background: none;
  border-left:  solid transparent;
  border-bottom:  solid transparent;
  border-top:  solid transparent;
  border-right: none;
}
.ui.vertical.tabular.menu .active.item {
  background: ;
  color: ;
  border-color: ;
  margin: 0px - 0px 0px;
  border-radius:  0px 0px  !important;
}
.ui.vertical.right.tabular.menu {
  background: ;
  border-radius: 0em;
  box-shadow: none !important;
  border-bottom: none;
  border-right: none;
  border-left:  solid ;
}
.ui.vertical.right.tabular.menu .item {
  background: none;
  border-right:  solid transparent;
  border-bottom:  solid transparent;
  border-top:  solid transparent;
  border-left: none;
}
.ui.vertical.right.tabular.menu .active.item {
  background: ;
  color: ;
  border-color: ;
  margin: 0px 0px 0px -;
  border-radius: 0px   0px !important;
}
.ui.tabular.menu .active.dropdown.item {
  margin-bottom: 0px;
  border-left:  solid transparent;
  border-right:  solid transparent;
  border-top:  solid transparent;
  border-bottom: none;
}
.ui.pagination.menu {
  margin: 0em;
  display: inline-flex;
  vertical-align: middle;
}
.ui.pagination.menu .item:last-child {
  border-radius: 0em   0em;
}
.ui.compact.menu .item:last-child {
  border-radius: 0em   0em;
}
.ui.pagination.menu .item:last-child:before {
  display: none;
}
.ui.pagination.menu .item {
  min-width: ;
  text-align: center;
}
.ui.pagination.menu .icon.item i.icon {
  vertical-align: top;
}
.ui.pagination.menu .active.item {
  border-top: none;
  padding-top: ;
  background-color: ;
  color: ;
  box-shadow: none;
}
.ui.secondary.menu {
  background: ;
  margin-left: -;
  margin-right: -;
  border-radius: 0em;
  border: none;
  box-shadow: none;
}
.ui.secondary.menu .item {
  align-self: center;
  box-shadow: none;
  border: none;
  padding: ;
  margin: ;
  background: ;
  transition: ;
  border-radius: ;
}
.ui.secondary.menu .item:before {
  display: none !important;
}
.ui.secondary.menu .header.item {
  border-radius: 0em;
  border-right: ;
  background: ;
}
.ui.secondary.menu .item > img:not(.ui) {
  margin: 0em;
}
.ui.secondary.menu .dropdown.item:hover,
.ui.secondary.menu .link.item:hover,
.ui.secondary.menu a.item:hover {
  background: ;
  color: ;
}
.ui.secondary.menu .active.item {
  box-shadow: none;
  background: ;
  color: ;
  border-radius: ;
}
.ui.secondary.menu .active.item:hover {
  box-shadow: none;
  background: ;
  color: ;
}
.ui.secondary.inverted.menu .link.item,
.ui.secondary.inverted.menu a.item {
  color:  !important;
}
.ui.secondary.inverted.menu .dropdown.item:hover,
.ui.secondary.inverted.menu .link.item:hover,
.ui.secondary.inverted.menu a.item:hover {
  background: ;
  color:  !important;
}
.ui.secondary.inverted.menu .active.item {
  background: ;
  color:  !important;
}
.ui.secondary.item.menu {
  margin-left: 0em;
  margin-right: 0em;
}
.ui.secondary.item.menu .item:last-child {
  margin-right: 0em;
}
.ui.secondary.attached.menu {
  box-shadow: none;
}
.ui.vertical.secondary.menu .item:not(.dropdown) > .menu {
  margin: ;
}
.ui.vertical.secondary.menu .item:not(.dropdown) > .menu > .item {
  margin: ;
  padding: ;
}
.ui.secondary.vertical.menu > .item {
  border: none;
  margin: ;
  border-radius:  !important;
}
.ui.secondary.vertical.menu > .header.item {
  border-radius: 0em;
}
.ui.vertical.secondary.menu .item > .menu .item {
  background-color: transparent;
}
.ui.secondary.inverted.menu {
  background-color: transparent;
}
.ui.secondary.pointing.menu {
  margin-left: 0em;
  margin-right: 0em;
  border-bottom:  solid ;
}
.ui.secondary.pointing.menu .item {
  border-bottom-color: transparent;
  border-bottom-style: solid;
  border-radius: 0em;
  align-self: flex-end;
  margin: 0em 0em -;
  padding:  ;
  border-bottom-width: ;
  transition: ;
}
.ui.secondary.pointing.menu .header.item {
  color:  !important;
}
.ui.secondary.pointing.menu .text.item {
  box-shadow: none !important;
}
.ui.secondary.pointing.menu .item:after {
  display: none;
}
.ui.secondary.pointing.menu .dropdown.item:hover,
.ui.secondary.pointing.menu .link.item:hover,
.ui.secondary.pointing.menu a.item:hover {
  background-color: transparent;
  color: ;
}
.ui.secondary.pointing.menu .dropdown.item:active,
.ui.secondary.pointing.menu .link.item:active,
.ui.secondary.pointing.menu a.item:active {
  background-color: transparent;
  border-color: ;
}
.ui.secondary.pointing.menu .active.item {
  background-color: transparent;
  box-shadow: none;
  border-color: ;
  font-weight: ;
  color: ;
}
.ui.secondary.pointing.menu .active.item:hover {
  border-color: ;
  color: ;
}
.ui.secondary.pointing.menu .active.dropdown.item {
  border-color: ;
}
.ui.secondary.vertical.pointing.menu {
  border-bottom-width: 0px;
  border-right-width: ;
  border-right-style: solid;
  border-right-color: ;
}
.ui.secondary.vertical.pointing.menu .item {
  border-bottom: none;
  border-right-style: solid;
  border-right-color: transparent;
  border-radius: 0em !important;
  margin: ;
  border-right-width: ;
}
.ui.secondary.vertical.pointing.menu .active.item {
  border-color: ;
}
.ui.secondary.inverted.pointing.menu {
  border-color: ;
}
.ui.secondary.inverted.pointing.menu {
  border-width: ;
  border-color: ;
}
.ui.secondary.inverted.pointing.menu .item {
  color: ;
}
.ui.secondary.inverted.pointing.menu .header.item {
  color:  !important;
}
.ui.secondary.inverted.pointing.menu .item:hover {
  color: ;
}
.ui.secondary.inverted.pointing.menu .active.item {
  border-color: ;
  color: ;
}
.ui.text.menu {
  background: none transparent;
  border-radius: 0px;
  box-shadow: none;
  border: none;
  margin: ;
}
.ui.text.menu .item {
  border-radius: 0px;
  box-shadow: none;
  align-self: center;
  margin: ;
  padding: ;
  font-weight: ;
  color: ;
  transition: ;
}
.ui.text.menu .item:before,
.ui.text.menu .menu .item:before {
  display: none !important;
}
.ui.text.menu .header.item {
  background-color: transparent;
  opacity: 1;
  color: ;
  font-size: ;
  text-transform: ;
  font-weight: ;
}
.ui.text.menu .item > img:not(.ui) {
  margin: 0em;
}
.ui.text.item.menu .item {
  margin: 0em;
}
.ui.vertical.text.menu {
  margin: ;
}
.ui.vertical.text.menu:first-child {
  margin-top: 0rem;
}
.ui.vertical.text.menu:last-child {
  margin-bottom: 0rem;
}
.ui.vertical.text.menu .item {
  margin: ;
}
.ui.vertical.text.menu .item > i.icon {
  float: ;
  margin: ;
}
.ui.vertical.text.menu .header.item {
  margin: ;
}
.ui.vertical.text.menu .item:not(.dropdown) > .menu {
  margin: ;
}
.ui.vertical.text.menu .item:not(.dropdown) > .menu > .item {
  margin: ;
  padding: ;
}
.ui.text.menu .item:hover {
  opacity: 1;
  background-color: transparent;
}
.ui.text.menu .active.item {
  background-color: transparent;
  border: none;
  box-shadow: none;
  font-weight: ;
  color: ;
}
.ui.text.menu .active.item:hover {
  background-color: transparent;
}
.ui.text.pointing.menu .active.item:after {
  box-shadow: none;
}
.ui.text.attached.menu {
  box-shadow: none;
}
.ui.inverted.text.menu,
.ui.inverted.text.menu .item,
.ui.inverted.text.menu .item:hover,
.ui.inverted.text.menu .active.item {
  background-color: transparent !important;
}
.ui.fluid.text.menu {
  margin-left: 0em;
  margin-right: 0em;
}
.ui.vertical.icon.menu {
  display: inline-block;
  width: auto;
}
.ui.icon.menu .item {
  height: auto;
  text-align: ;
  color: ;
}
.ui.icon.menu .item > .icon:not(.dropdown) {
  margin: 0;
  opacity: 1;
}
.ui.icon.menu .icon:before {
  opacity: 1;
}
.ui.menu .icon.item > .icon {
  width: auto;
  margin: 0em auto;
}
.ui.vertical.icon.menu .item > .icon:not(.dropdown) {
  display: block;
  opacity: 1;
  margin: 0em auto;
  float: none;
}
.ui.inverted.icon.menu .item {
  color: ;
}
.ui.labeled.icon.menu {
  text-align: center;
}
.ui.labeled.icon.menu  .item {
  min-width: ;
  flex-direction: column;
}
.ui.labeled.icon.menu .item > .icon:not(.dropdown) {
  height: 1em;
  display: block;
  font-size:  !important;
  margin: 0em auto  !important;
}
.ui.fluid.labeled.icon.menu > .item {
  min-width: 0em;
}
@media only screen and (max-width: ) {
  .ui.stackable.menu {
    flex-direction: column;
  }
  .ui.stackable.menu .item {
    width: 100% !important;
  }
  .ui.stackable.menu .item:before {
    position: absolute;
    content: '';
    top: auto;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: ;
    background: ;
    height: 1px;
  }
}
.ui.menu .red.active.item,
.ui.red.menu .active.item {
  border-color:  !important;
  color:  !important;
}
.ui.menu .orange.active.item,
.ui.orange.menu .active.item {
  border-color:  !important;
  color:  !important;
}
.ui.menu .yellow.active.item,
.ui.yellow.menu .active.item {
  border-color:  !important;
  color:  !important;
}
.ui.menu .olive.active.item,
.ui.olive.menu .active.item {
  border-color:  !important;
  color:  !important;
}
.ui.menu .green.active.item,
.ui.green.menu .active.item {
  border-color:  !important;
  color:  !important;
}
.ui.menu .teal.active.item,
.ui.teal.menu .active.item {
  border-color:  !important;
  color:  !important;
}
.ui.menu .blue.active.item,
.ui.blue.menu .active.item {
  border-color:  !important;
  color:  !important;
}
.ui.menu .violet.active.item,
.ui.violet.menu .active.item {
  border-color:  !important;
  color:  !important;
}
.ui.menu .purple.active.item,
.ui.purple.menu .active.item {
  border-color:  !important;
  color:  !important;
}
.ui.menu .pink.active.item,
.ui.pink.menu .active.item {
  border-color:  !important;
  color:  !important;
}
.ui.menu .brown.active.item,
.ui.brown.menu .active.item {
  border-color:  !important;
  color:  !important;
}
.ui.menu .grey.active.item,
.ui.grey.menu .active.item {
  border-color:  !important;
  color:  !important;
}
.ui.inverted.menu {
  border: ;
  background: ;
  box-shadow: ;
}
.ui.inverted.menu .item,
.ui.inverted.menu .item > a:not(.ui) {
  background: ;
  color: ;
}
.ui.inverted.menu .item.menu {
  background: ;
}
.ui.inverted.menu .item:before {
  background: ;
}
.ui.vertical.inverted.menu .item:before {
  background: ;
}
.ui.vertical.inverted.menu .menu .item,
.ui.vertical.inverted.menu .menu .item a:not(.ui) {
  color: ;
}
.ui.inverted.menu .header.item {
  margin: 0em;
  background: ;
  box-shadow: none;
}
.ui.inverted.menu .item.disabled,
.ui.inverted.menu .item.disabled:hover {
  color: ;
}
.ui.link.inverted.menu .item:hover,
.ui.inverted.menu .dropdown.item:hover,
.ui.inverted.menu .link.item:hover,
.ui.inverted.menu a.item:hover {
  background: ;
  color: ;
}
.ui.vertical.inverted.menu .item .menu a.item:hover,
.ui.vertical.inverted.menu .item .menu .link.item:hover {
  background: ;
  color: ;
}
.ui.inverted.menu a.item:active,
.ui.inverted.menu .link.item:active,
.ui.inverted.menu a.item:active {
  background: ;
  color: ;
}
.ui.inverted.menu .active.item {
  background: ;
  color:  !important;
}
.ui.inverted.vertical.menu .item .menu .active.item {
  background: ;
  color: ;
}
.ui.inverted.pointing.menu .active.item:after {
  background:  !important;
  margin: 0em !important;
  box-shadow: none !important;
  border: none !important;
}
.ui.inverted.menu .active.item:hover {
  background: ;
  color:  !important;
}
.ui.inverted.pointing.menu .active.item:hover:after {
  background:  !important;
}
.ui.floated.menu {
  float: left;
  margin: 0rem  0rem 0rem;
}
.ui.floated.menu .item:last-child:before {
  display: none;
}
.ui.right.floated.menu {
  float: right;
  margin: 0rem 0rem 0rem ;
}
.ui.inverted.menu .red.active.item,
.ui.inverted.red.menu {
  background-color: ;
}
.ui.inverted.red.menu .item:before {
  background-color: ;
}
.ui.inverted.red.menu .active.item {
  background-color:  !important;
}
.ui.inverted.menu .orange.active.item,
.ui.inverted.orange.menu {
  background-color: ;
}
.ui.inverted.orange.menu .item:before {
  background-color: ;
}
.ui.inverted.orange.menu .active.item {
  background-color:  !important;
}
.ui.inverted.menu .yellow.active.item,
.ui.inverted.yellow.menu {
  background-color: ;
}
.ui.inverted.yellow.menu .item:before {
  background-color: ;
}
.ui.inverted.yellow.menu .active.item {
  background-color:  !important;
}
.ui.inverted.menu .olive.active.item,
.ui.inverted.olive.menu {
  background-color: ;
}
.ui.inverted.olive.menu .item:before {
  background-color: ;
}
.ui.inverted.olive.menu .active.item {
  background-color:  !important;
}
.ui.inverted.menu .green.active.item,
.ui.inverted.green.menu {
  background-color: ;
}
.ui.inverted.green.menu .item:before {
  background-color: ;
}
.ui.inverted.green.menu .active.item {
  background-color:  !important;
}
.ui.inverted.menu .teal.active.item,
.ui.inverted.teal.menu {
  background-color: ;
}
.ui.inverted.teal.menu .item:before {
  background-color: ;
}
.ui.inverted.teal.menu .active.item {
  background-color:  !important;
}
.ui.inverted.menu .blue.active.item,
.ui.inverted.blue.menu {
  background-color: ;
}
.ui.inverted.blue.menu .item:before {
  background-color: ;
}
.ui.inverted.blue.menu .active.item {
  background-color:  !important;
}
.ui.inverted.menu .violet.active.item,
.ui.inverted.violet.menu {
  background-color: ;
}
.ui.inverted.violet.menu .item:before {
  background-color: ;
}
.ui.inverted.violet.menu .active.item {
  background-color:  !important;
}
.ui.inverted.menu .purple.active.item,
.ui.inverted.purple.menu {
  background-color: ;
}
.ui.inverted.purple.menu .item:before {
  background-color: ;
}
.ui.inverted.purple.menu .active.item {
  background-color:  !important;
}
.ui.inverted.menu .pink.active.item,
.ui.inverted.pink.menu {
  background-color: ;
}
.ui.inverted.pink.menu .item:before {
  background-color: ;
}
.ui.inverted.pink.menu .active.item {
  background-color:  !important;
}
.ui.inverted.menu .brown.active.item,
.ui.inverted.brown.menu {
  background-color: ;
}
.ui.inverted.brown.menu .item:before {
  background-color: ;
}
.ui.inverted.brown.menu .active.item {
  background-color:  !important;
}
.ui.inverted.menu .grey.active.item,
.ui.inverted.grey.menu {
  background-color: ;
}
.ui.inverted.grey.menu .item:before {
  background-color: ;
}
.ui.inverted.grey.menu .active.item {
  background-color:  !important;
}
.ui.fitted.menu .item,
.ui.fitted.menu .item .menu .item,
.ui.menu .fitted.item {
  padding: 0em;
}
.ui.horizontally.fitted.menu .item,
.ui.horizontally.fitted.menu .item .menu .item,
.ui.menu .horizontally.fitted.item {
  padding-top: ;
  padding-bottom: ;
}
.ui.vertically.fitted.menu .item,
.ui.vertically.fitted.menu .item .menu .item,
.ui.menu .vertically.fitted.item {
  padding-left: ;
  padding-right: ;
}
.ui.borderless.menu .item:before,
.ui.borderless.menu .item .menu .item:before,
.ui.menu .borderless.item:before {
  background: none !important;
}
.ui.compact.menu {
  display: inline-flex;
  margin: 0em;
  vertical-align: middle;
}
.ui.compact.vertical.menu {
  display: inline-block;
}
.ui.compact.menu .item:last-child {
  border-radius: 0em   0em;
}
.ui.compact.menu .item:last-child:before {
  display: none;
}
.ui.compact.vertical.menu {
  width: auto !important;
}
.ui.compact.vertical.menu .item:last-child::before {
  display: block;
}
.ui.menu.fluid,
.ui.vertical.menu.fluid {
  width: 100% !important;
}
.ui.item.menu,
.ui.item.menu .item {
  width: 100%;
  padding-left: 0em !important;
  padding-right: 0em !important;
  margin-left: 0em !important;
  margin-right: 0em !important;
  text-align: center;
  justify-content: center;
}
.ui.item.menu .item:last-child:before {
  display: none;
}
.ui.menu.two.item .item {
  width: 50%;
}
.ui.menu.three.item .item {
  width: 33.333%;
}
.ui.menu.four.item .item {
  width: 25%;
}
.ui.menu.five.item .item {
  width: 20%;
}
.ui.menu.six.item .item {
  width: 16.666%;
}
.ui.menu.seven.item .item {
  width: 14.285%;
}
.ui.menu.eight.item .item {
  width: 12.500%;
}
.ui.menu.nine.item .item {
  width: 11.11%;
}
.ui.menu.ten.item .item {
  width: 10.0%;
}
.ui.menu.eleven.item .item {
  width: 9.09%;
}
.ui.menu.twelve.item .item {
  width: 8.333%;
}
.ui.menu.fixed {
  position: fixed;
  z-index: 101;
  margin: 0em;
  width: 100%;
}
.ui.menu.fixed,
.ui.menu.fixed .item:first-child,
.ui.menu.fixed .item:last-child {
  border-radius: 0px !important;
}
.ui.fixed.menu,
.ui[class*="top fixed"].menu {
  top: 0px;
  left: 0px;
  right: auto;
  bottom: auto;
}
.ui[class*="top fixed"].menu {
  border-top: none;
  border-left: none;
  border-right: none;
}
.ui[class*="right fixed"].menu {
  border-top: none;
  border-bottom: none;
  border-right: none;
  top: 0px;
  right: 0px;
  left: auto;
  bottom: auto;
  width: auto;
  height: 100%;
}
.ui[class*="bottom fixed"].menu {
  border-bottom: none;
  border-left: none;
  border-right: none;
  bottom: 0px;
  left: 0px;
  top: auto;
  right: auto;
}
.ui[class*="left fixed"].menu {
  border-top: none;
  border-bottom: none;
  border-left: none;
  top: 0px;
  left: 0px;
  right: auto;
  bottom: auto;
  width: auto;
  height: 100%;
}
.ui.fixed.menu + .ui.grid {
  padding-top: ;
}
.ui.pointing.menu .item:after {
  visibility: hidden;
  position: absolute;
  content: '';
  top: 100%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) rotate(45deg);
  background: none;
  margin:  / 2 0em 0em;
  width: ;
  height: ;
  border: none;
  border-bottom: ;
  border-right: ;
  z-index: ;
  transition: ;
}
.ui.vertical.pointing.menu .item:after {
  position: absolute;
  top: 50%;
  right: 0%;
  bottom: auto;
  left: auto;
  transform: translateX(50%) translateY(-50%) rotate(45deg);
  margin: 0em - / 2 0em 0em;
  border: none;
  border-top: ;
  border-right: ;
}
.ui.pointing.menu .active.item:after {
  visibility: visible;
}
.ui.pointing.menu .active.dropdown.item:after {
  visibility: hidden;
}
.ui.pointing.menu .dropdown.active.item:after,
.ui.pointing.menu .active.item .menu .active.item:after {
  display: none;
}
.ui.pointing.menu .active.item:hover:after {
  background-color: ;
}
.ui.pointing.menu .active.item:after {
  background-color: ;
}
.ui.pointing.menu .active.item:hover:after {
  background-color: ;
}
.ui.vertical.pointing.menu .active.item:hover:after {
  background-color: ;
}
.ui.vertical.pointing.menu .active.item:after {
  background-color: ;
}
.ui.vertical.pointing.menu .menu .active.item:after {
  background-color: ;
}
.ui.attached.menu {
  top: 0px;
  bottom: 0px;
  border-radius: 0px;
  margin: 0em ;
  width: ;
  max-width: ;
  box-shadow: ;
}
.ui.attached + .ui.attached.menu:not(.top) {
  border-top: none;
}
.ui[class*="top attached"].menu {
  bottom: 0px;
  margin-bottom: 0em;
  top: ;
  margin-top: ;
  border-radius:   0em 0em;
}
.ui.menu[class*="top attached"]:first-child {
  margin-top: 0em;
}
.ui[class*="bottom attached"].menu {
  bottom: 0px;
  margin-top: 0em;
  top: ;
  margin-bottom: ;
  box-shadow: ;
  border-radius: 0em 0em  ;
}
.ui[class*="bottom attached"].menu:last-child {
  margin-bottom: 0em;
}
.ui.top.attached.menu > .item:first-child {
  border-radius:  0em 0em 0em;
}
.ui.bottom.attached.menu > .item:first-child {
  border-radius: 0em 0em 0em ;
}
.ui.attached.menu:not(.tabular) {
  border: ;
}
.ui.attached.inverted.menu {
  border: none;
}
.ui.attached.tabular.menu {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}
.ui.small.menu {
  font-size: ;
}
.ui.small.vertical.menu {
  width: ;
}
.ui.menu {
  font-size: ;
}
.ui.vertical.menu {
  width: ;
}
.ui.large.menu {
  font-size: ;
}
.ui.large.vertical.menu {
  width: ;
}
.ui.huge.menu {
  font-size: ;
}
.ui.huge.vertical.menu {
  width: ;
}
