@import multiple '../../theme.config';
.ui.table {
  width: 100%;
  background: ;
  margin: ;
  border: ;
  box-shadow: ;
  border-radius: ;
  text-align: ;
  color: ;
  border-collapse: ;
  border-spacing: ;
}
.ui.table:first-child {
  margin-top: 0em;
}
.ui.table:last-child {
  margin-bottom: 0em;
}
.ui.table th,
.ui.table td {
  transition: ;
}
.ui.table thead {
  box-shadow: ;
}
.ui.table thead th {
  cursor: auto;
  background: ;
  text-align: ;
  color: ;
  padding:  ;
  vertical-align: ;
  font-style: ;
  font-weight: ;
  text-transform: ;
  border-bottom: ;
  border-left: ;
}
.ui.table thead tr > th:first-child {
  border-left: none;
}
.ui.table thead tr:first-child > th:first-child {
  border-radius:  0em 0em 0em;
}
.ui.table thead tr:first-child > th:last-child {
  border-radius: 0em  0em 0em;
}
.ui.table thead tr:first-child > th:only-child {
  border-radius:   0em 0em;
}
.ui.table tfoot {
  box-shadow: ;
}
.ui.table tfoot th {
  cursor: auto;
  border-top: ;
  background: ;
  text-align: ;
  color: ;
  padding:  ;
  vertical-align: ;
  font-style: ;
  font-weight: ;
  text-transform: ;
}
.ui.table tfoot tr > th:first-child {
  border-left: none;
}
.ui.table tfoot tr:first-child > th:first-child {
  border-radius: 0em 0em 0em ;
}
.ui.table tfoot tr:first-child > th:last-child {
  border-radius: 0em 0em  0em;
}
.ui.table tfoot tr:first-child > th:only-child {
  border-radius: 0em 0em  ;
}
.ui.table tr td {
  border-top: ;
}
.ui.table tr:first-child td {
  border-top: none;
}
.ui.table td {
  padding:  ;
  text-align: ;
}
.ui.table > .icon {
  vertical-align: ;
}
.ui.table > .icon:only-child {
  margin: 0em;
}
.ui.table.segment {
  padding: 0em;
}
.ui.table.segment:after {
  display: none;
}
.ui.table.segment.stacked:after {
  display: block;
}
@media only screen and (max-width: ) {
  .ui.table:not(.unstackable) {
    width: 100%;
  }
  .ui.table:not(.unstackable) tbody,
  .ui.table:not(.unstackable) tr,
  .ui.table:not(.unstackable) tr > th,
  .ui.table:not(.unstackable) tr > td {
    display: block !important;
    width: auto !important;
  }
  .ui.table:not(.unstackable) {
    padding: 0em;
  }
  .ui.table:not(.unstackable) thead {
    display: ;
  }
  .ui.table:not(.unstackable) tfoot {
    display: ;
  }
  .ui.table:not(.unstackable) tr {
    padding-top: ;
    padding-bottom: ;
    box-shadow: ;
  }
  .ui.table:not(.unstackable) tr > th,
  .ui.table:not(.unstackable) tr > td {
    background: none;
    border: none !important;
    padding:   !important;
    box-shadow: ;
  }
  .ui.table:not(.unstackable) th:first-child,
  .ui.table:not(.unstackable) td:first-child {
    font-weight: bold;
  }
  .ui.definition.table:not(.unstackable) thead th:first-child {
    box-shadow: none !important;
  }
}
.ui.table th .image,
.ui.table th .image img,
.ui.table td .image,
.ui.table td .image img {
  max-width: none;
}
.ui.structured.table {
  border-collapse: collapse;
}
.ui.structured.table thead th {
  border-left: ;
  border-right: ;
}
.ui.structured.sortable.table thead th {
  border-left: ;
  border-right: ;
}
.ui.structured.basic.table th {
  border-left: ;
  border-right: ;
}
.ui.structured.celled.table tr th,
.ui.structured.celled.table tr td {
  border-left: ;
  border-right: ;
}
.ui.definition.table thead:not(.full-width) th:first-child {
  pointer-events: none;
  background: ;
  font-weight: ;
  color: ;
  box-shadow: - - 0px  ;
}
.ui.definition.table tfoot:not(.full-width) th:first-child {
  pointer-events: none;
  background: ;
  font-weight: ;
  color: ;
  box-shadow:   0px  ;
}
.ui.celled.definition.table thead:not(.full-width) th:first-child {
  box-shadow: 0px - 0px  ;
}
.ui.celled.definition.table tfoot:not(.full-width) th:first-child {
  box-shadow: 0px  0px  ;
}
.ui.definition.table tr td:first-child {
  background: ;
  font-weight: ;
  color: ;
}
.ui.definition.table thead:not(.full-width) th:nth-child(2) {
  border-left:  solid ;
}
.ui.definition.table tfoot:not(.full-width) th:nth-child(2) {
  border-left:  solid ;
}
.ui.definition.table td:nth-child(2) {
  border-left:  solid ;
}
.ui.table tr.positive,
.ui.table td.positive {
  box-shadow: ;
}
.ui.table tr.positive,
.ui.table td.positive {
  background:  !important;
  color:  !important;
}
.ui.table tr.negative,
.ui.table td.negative {
  box-shadow: ;
}
.ui.table tr.negative,
.ui.table td.negative {
  background:  !important;
  color:  !important;
}
.ui.table tr.error,
.ui.table td.error {
  box-shadow: ;
}
.ui.table tr.error,
.ui.table td.error {
  background:  !important;
  color:  !important;
}
.ui.table tr.warning,
.ui.table td.warning {
  box-shadow: ;
}
.ui.table tr.warning,
.ui.table td.warning {
  background:  !important;
  color:  !important;
}
.ui.table tr.active,
.ui.table td.active {
  box-shadow: ;
}
.ui.table tr.active,
.ui.table td.active {
  background:  !important;
  color:  !important;
}
.ui.table tr.disabled td,
.ui.table tr td.disabled,
.ui.table tr.disabled:hover,
.ui.table tr:hover td.disabled {
  pointer-events: none;
  color: ;
}
@media only screen and (max-width: ) {
  .ui[class*="tablet stackable"].table,
  .ui[class*="tablet stackable"].table tbody,
  .ui[class*="tablet stackable"].table tr,
  .ui[class*="tablet stackable"].table tr > th,
  .ui[class*="tablet stackable"].table tr > td {
    display: block !important;
    width: 100% !important;
  }
  .ui[class*="tablet stackable"].table {
    padding: 0em;
  }
  .ui[class*="tablet stackable"].table thead {
    display: ;
  }
  .ui[class*="tablet stackable"].table tfoot {
    display: ;
  }
  .ui[class*="tablet stackable"].table tr {
    padding-top: ;
    padding-bottom: ;
    box-shadow: ;
  }
  .ui[class*="tablet stackable"].table tr > th,
  .ui[class*="tablet stackable"].table tr > td {
    background: none;
    border: none !important;
    padding:  ;
    box-shadow: ;
  }
  .ui.definition[class*="tablet stackable"].table thead th:first-child {
    box-shadow: none !important;
  }
}
.ui.table[class*="left aligned"],
.ui.table [class*="left aligned"] {
  text-align: left;
}
.ui.table[class*="center aligned"],
.ui.table [class*="center aligned"] {
  text-align: center;
}
.ui.table[class*="right aligned"],
.ui.table [class*="right aligned"] {
  text-align: right;
}
.ui.table[class*="top aligned"],
.ui.table [class*="top aligned"] {
  vertical-align: top;
}
.ui.table[class*="middle aligned"],
.ui.table [class*="middle aligned"] {
  vertical-align: middle;
}
.ui.table[class*="bottom aligned"],
.ui.table [class*="bottom aligned"] {
  vertical-align: bottom;
}
.ui.table th.collapsing,
.ui.table td.collapsing {
  width: 1px;
  white-space: nowrap;
}
.ui.fixed.table {
  table-layout: fixed;
}
.ui.fixed.table th,
.ui.fixed.table td {
  overflow: hidden;
  text-overflow: ellipsis;
}
.ui.selectable.table tbody tr:hover,
.ui.table tbody tr td.selectable:hover {
  background:  !important;
  color:  !important;
}
.ui.selectable.inverted.table tbody tr:hover,
.ui.inverted.table tbody tr td.selectable:hover {
  background:  !important;
  color:  !important;
}
.ui.table tbody tr td.selectable {
  padding: 0em;
}
.ui.table tbody tr td.selectable > a:not(.ui) {
  display: block;
  color: inherit;
  padding:  ;
}
.ui.selectable.table tr.error:hover,
.ui.table tr td.selectable.error:hover,
.ui.selectable.table tr:hover td.error {
  background:  !important;
  color:  !important;
}
.ui.selectable.table tr.warning:hover,
.ui.table tr td.selectable.warning:hover,
.ui.selectable.table tr:hover td.warning {
  background:  !important;
  color:  !important;
}
.ui.selectable.table tr.active:hover,
.ui.table tr td.selectable.active:hover,
.ui.selectable.table tr:hover td.active {
  background:  !important;
  color:  !important;
}
.ui.selectable.table tr.positive:hover,
.ui.table tr td.selectable.positive:hover,
.ui.selectable.table tr:hover td.positive {
  background:  !important;
  color:  !important;
}
.ui.selectable.table tr.negative:hover,
.ui.table tr td.selectable.negative:hover,
.ui.selectable.table tr:hover td.negative {
  background:  !important;
  color:  !important;
}
.ui.attached.table {
  top: 0px;
  bottom: 0px;
  border-radius: 0px;
  margin: 0em ;
  width: ;
  max-width: ;
  box-shadow: ;
  border: ;
}
.ui.attached + .ui.attached.table:not(.top) {
  border-top: none;
}
.ui[class*="top attached"].table {
  bottom: 0px;
  margin-bottom: 0em;
  top: ;
  margin-top: ;
  border-radius:   0em 0em;
}
.ui.table[class*="top attached"]:first-child {
  margin-top: 0em;
}
.ui[class*="bottom attached"].table {
  bottom: 0px;
  margin-top: 0em;
  top: ;
  margin-bottom: ;
  box-shadow: ;
  border-radius: 0em 0em  ;
}
.ui[class*="bottom attached"].table:last-child {
  margin-bottom: 0em;
}
.ui.striped.table > tr:nth-child(2n),
.ui.striped.table tbody tr:nth-child(2n) {
  background-color: ;
}
.ui.inverted.striped.table > tr:nth-child(2n),
.ui.inverted.striped.table tbody tr:nth-child(2n) {
  background-color: ;
}
.ui.table[class*="single line"],
.ui.table [class*="single line"] {
  white-space: nowrap;
}
.ui.table[class*="single line"],
.ui.table [class*="single line"] {
  white-space: nowrap;
}
.ui.red.table {
  border-top:  solid ;
}
.ui.inverted.red.table {
  background-color:  !important;
  color:  !important;
}
.ui.orange.table {
  border-top:  solid ;
}
.ui.inverted.orange.table {
  background-color:  !important;
  color:  !important;
}
.ui.yellow.table {
  border-top:  solid ;
}
.ui.inverted.yellow.table {
  background-color:  !important;
  color:  !important;
}
.ui.olive.table {
  border-top:  solid ;
}
.ui.inverted.olive.table {
  background-color:  !important;
  color:  !important;
}
.ui.green.table {
  border-top:  solid ;
}
.ui.inverted.green.table {
  background-color:  !important;
  color:  !important;
}
.ui.teal.table {
  border-top:  solid ;
}
.ui.inverted.teal.table {
  background-color:  !important;
  color:  !important;
}
.ui.blue.table {
  border-top:  solid ;
}
.ui.inverted.blue.table {
  background-color:  !important;
  color:  !important;
}
.ui.violet.table {
  border-top:  solid ;
}
.ui.inverted.violet.table {
  background-color:  !important;
  color:  !important;
}
.ui.purple.table {
  border-top:  solid ;
}
.ui.inverted.purple.table {
  background-color:  !important;
  color:  !important;
}
.ui.pink.table {
  border-top:  solid ;
}
.ui.inverted.pink.table {
  background-color:  !important;
  color:  !important;
}
.ui.brown.table {
  border-top:  solid ;
}
.ui.inverted.brown.table {
  background-color:  !important;
  color:  !important;
}
.ui.grey.table {
  border-top:  solid ;
}
.ui.inverted.grey.table {
  background-color:  !important;
  color:  !important;
}
.ui.black.table {
  border-top:  solid ;
}
.ui.inverted.black.table {
  background-color:  !important;
  color:  !important;
}
.ui.one.column.table td {
  width: ;
}
.ui.two.column.table td {
  width: ;
}
.ui.three.column.table td {
  width: ;
}
.ui.four.column.table td {
  width: ;
}
.ui.five.column.table td {
  width: ;
}
.ui.six.column.table td {
  width: ;
}
.ui.seven.column.table td {
  width: ;
}
.ui.eight.column.table td {
  width: ;
}
.ui.nine.column.table td {
  width: ;
}
.ui.ten.column.table td {
  width: ;
}
.ui.eleven.column.table td {
  width: ;
}
.ui.twelve.column.table td {
  width: ;
}
.ui.thirteen.column.table td {
  width: ;
}
.ui.fourteen.column.table td {
  width: ;
}
.ui.fifteen.column.table td {
  width: ;
}
.ui.sixteen.column.table td {
  width: ;
}
.ui.table th.one.wide,
.ui.table td.one.wide {
  width: ;
}
.ui.table th.two.wide,
.ui.table td.two.wide {
  width: ;
}
.ui.table th.three.wide,
.ui.table td.three.wide {
  width: ;
}
.ui.table th.four.wide,
.ui.table td.four.wide {
  width: ;
}
.ui.table th.five.wide,
.ui.table td.five.wide {
  width: ;
}
.ui.table th.six.wide,
.ui.table td.six.wide {
  width: ;
}
.ui.table th.seven.wide,
.ui.table td.seven.wide {
  width: ;
}
.ui.table th.eight.wide,
.ui.table td.eight.wide {
  width: ;
}
.ui.table th.nine.wide,
.ui.table td.nine.wide {
  width: ;
}
.ui.table th.ten.wide,
.ui.table td.ten.wide {
  width: ;
}
.ui.table th.eleven.wide,
.ui.table td.eleven.wide {
  width: ;
}
.ui.table th.twelve.wide,
.ui.table td.twelve.wide {
  width: ;
}
.ui.table th.thirteen.wide,
.ui.table td.thirteen.wide {
  width: ;
}
.ui.table th.fourteen.wide,
.ui.table td.fourteen.wide {
  width: ;
}
.ui.table th.fifteen.wide,
.ui.table td.fifteen.wide {
  width: ;
}
.ui.table th.sixteen.wide,
.ui.table td.sixteen.wide {
  width: ;
}
.ui.sortable.table thead th {
  cursor: pointer;
  white-space: nowrap;
  border-left: ;
  color: ;
}
.ui.sortable.table thead th:first-child {
  border-left: none;
}
.ui.sortable.table thead th.sorted,
.ui.sortable.table thead th.sorted:hover {
  user-select: none;
}
.ui.sortable.table thead th:after {
  display: none;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  content: '';
  height: 1em;
  width: ;
  opacity: ;
  margin: 0em 0em 0em ;
  font-family: ;
}
.ui.sortable.table thead th.ascending:after {
  content: ;
}
.ui.sortable.table thead th.descending:after {
  content: ;
}
.ui.sortable.table th.disabled:hover {
  cursor: auto;
  color: ;
}
.ui.sortable.table thead th:hover {
  background: ;
  color: ;
}
.ui.sortable.table thead th.sorted {
  background: ;
  color: ;
}
.ui.sortable.table thead th.sorted:after {
  display: inline-block;
}
.ui.sortable.table thead th.sorted:hover {
  background: ;
  color: ;
}
.ui.inverted.sortable.table thead th.sorted {
  background: ;
  color: ;
}
.ui.inverted.sortable.table thead th:hover {
  background: ;
  color: ;
}
.ui.inverted.sortable.table thead th {
  border-left-color: ;
  border-right-color: ;
}
.ui.inverted.table {
  background: ;
  color: ;
  border: ;
}
.ui.inverted.table th {
  background-color: ;
  border-color:  !important;
  color: ;
}
.ui.inverted.table tr td {
  border-color:  !important;
}
.ui.inverted.table tr.disabled td,
.ui.inverted.table tr td.disabled,
.ui.inverted.table tr.disabled:hover td,
.ui.inverted.table tr:hover td.disabled {
  pointer-events: none;
  color: ;
}
.ui.inverted.definition.table tfoot:not(.full-width) th:first-child,
.ui.inverted.definition.table thead:not(.full-width) th:first-child {
  background: ;
}
.ui.inverted.definition.table tr td:first-child {
  background: ;
  color: ;
}
.ui.collapsing.table {
  width: auto;
}
.ui.basic.table {
  background: ;
  border: ;
  box-shadow: ;
}
.ui.basic.table thead,
.ui.basic.table tfoot {
  box-shadow: none;
}
.ui.basic.table th {
  background: ;
  border-left: ;
}
.ui.basic.table tbody tr {
  border-bottom: ;
}
.ui.basic.table td {
  background: ;
}
.ui.basic.striped.table tbody tr:nth-child(2n) {
  background-color:  !important;
}
.ui[class*="very basic"].table {
  border: none;
}
.ui[class*="very basic"].table:not(.sortable):not(.striped) th,
.ui[class*="very basic"].table:not(.sortable):not(.striped) td {
  padding: ;
}
.ui[class*="very basic"].table:not(.sortable):not(.striped) th:first-child,
.ui[class*="very basic"].table:not(.sortable):not(.striped) td:first-child {
  padding-left: 0em;
}
.ui[class*="very basic"].table:not(.sortable):not(.striped) th:last-child,
.ui[class*="very basic"].table:not(.sortable):not(.striped) td:last-child {
  padding-right: 0em;
}
.ui[class*="very basic"].table:not(.sortable):not(.striped) thead tr:first-child th {
  padding-top: 0em;
}
.ui.celled.table tr th,
.ui.celled.table tr td {
  border-left: ;
}
.ui.celled.table tr th:first-child,
.ui.celled.table tr td:first-child {
  border-left: none;
}
.ui.padded.table th {
  padding-left: ;
  padding-right: ;
}
.ui.padded.table th,
.ui.padded.table td {
  padding:  ;
}
.ui[class*="very padded"].table th {
  padding-left: ;
  padding-right: ;
}
.ui[class*="very padded"].table td {
  padding:  ;
}
.ui.compact.table th {
  padding-left: ;
  padding-right: ;
}
.ui.compact.table td {
  padding:  ;
}
.ui[class*="very compact"].table th {
  padding-left: ;
  padding-right: ;
}
.ui[class*="very compact"].table td {
  padding:  ;
}
.ui.small.table {
  font-size: ;
}
.ui.table {
  font-size: ;
}
.ui.large.table {
  font-size: ;
}
