@import url(mixins.less);
//@import url('@{stylesheet_directory_uri}/less/gridlist/mixins.less');

.gridlist-toggle {
	display: block;
	clear:both;
	//width:4em;
	border:1px solid #bebebe !important;
	padding:0 !important;
	margin-bottom:1.5em;
	//.vertical_gradient(#eee,#aaa);
	.border_radius(2px);
	line-height: 1em !important;
	// -webkit-box-shadow:
	// 	inset 0 1px #eee,
	// 	inset 0 -1px #999,
	// 	0 1px 2px rgba(0,0,0,0.3);
	// box-shadow:
	// 	inset 0 1px #eee,
	// 	inset 0 -1px #999,
	// 	0 1px 2px rgba(0,0,0,0.3);
	a {
		display: inline-block;
		width:2em;
		.borderbox;
		text-align: center;
		// .text_shadow(0,1px,0,#fff);
		text-decoration:none !important;
		font-weight: normal !important;
		font-family: sans-serif !important;
		font-size:1em !important;
		line-height: 1.5em !important;
		color: #585858;
		// .text_shadow(0,1px,0,#eee);
		// -webkit-box-shadow:
		// 	inset 0 0 5px rgba(255,255,255,0.7),
		// 	inset 0 0 0 1px rgba(255,255,255,0.4);
		// box-shadow:
		// 	inset 0 0 5px rgba(255,255,255,0.7),
		// 	inset 0 0 0 1px rgba(255,255,255,0.4);
		&#grid {
			border-right:1px solid #bebebe;
		}
		em {
			display: none;
		}
		&:hover {
			-webkit-transition:background ease-in-out .3s;

			color: #828282 !important;
			background: #ebebeb;
		}
		&.active {
			background: #ebebeb;
			color: #828282;
			// .text_shadow(0,1px,0,#000);
			// -webkit-box-shadow:
			// 	inset 0 1px 2px #444,
			// 	inset 0 -1px 0 #777;
			// -moz-box-shadow:
			// 	inset 0 1px 2px #444,
			// 	inset 0 -1px 0 #777;
		}
	}
}