.gridlist-toggle {
  display: block;
  clear: both;
  border: 1px solid #bebebe !important;
  padding: 0 !important;
  margin-bottom: 1.5em;
  line-height: 1em !important;
}
.gridlist-toggle a {
  display: inline-block;
  width: 2em;
  text-align: center;
  text-decoration: none !important;
  font-weight: normal !important;
  font-family: sans-serif !important;
  font-size: 1em !important;
  line-height: 1.5em !important;
  color: #585858;
}
.gridlist-toggle a#grid {
  border-right: 1px solid #bebebe;
}
.gridlist-toggle a em {
  display: none;
}
.gridlist-toggle a:hover {
  -webkit-transition: background ease-in-out .3s;
  color: #828282 !important;
  background: #ebebeb;
}
.gridlist-toggle a.active {
  background: #ebebeb;
  color: #828282;
}
