@font-face {
  font-family: 'icon-font';
  src: url('icon-font.eot?63589922');
  src: url('icon-font.eot?63589922#iefix') format('embedded-opentype'),
       url('icon-font.woff?63589922') format('woff'),
       url('icon-font.ttf?63589922') format('truetype'),
       url('icon-font.svg?63589922#icon-font') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'icon-font';
    src: url('icon-font.svg?63589922#icon-font') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  text-transform: none;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
	font: normal normal normal 28px/1em "icon-font";
	color: #ececec;
}
 
.icon-user:before { content: '\f007'; } /* '' */
.icon-anchor:before { content: '\e819'; } /* '' */
.icon-heart-filled:before { content: '\e803'; } /* '' */
.icon-star:before { content: '\e804'; } /* '' */
.icon-star-filled:before { content: '\e805'; } /* '' */
.icon-ok:before { content: '\e801'; } /* '' */
.icon-cancel:before { content: '\e806'; } /* '' */
.icon-info:before { content: '\e800'; } /* '' */
.icon-attach:before { content: '\e807'; } /* '' */
.icon-flag:before { content: '\e81b'; } /* '' */
.icon-flag-filled:before { content: '\e808'; } /* '' */
.icon-thumbs-up:before { content: '\e809'; } /* '' */
.icon-thumbs-down:before { content: '\e80a'; } /* '' */
.icon-pencil:before { content: '\e80b'; } /* '' */
.icon-pen:before { content: '\e80c'; } /* '' */
.icon-heart:before { content: '\e802'; } /* '' */
.icon-bell:before { content: '\e80e'; } /* '' */
.icon-address:before { content: '\e80f'; } /* '' */
.icon-location-outline:before { content: '\e810'; } /* '' */
.icon-location:before { content: '\e811'; } /* '' */
.icon-basket:before { content: '\e812'; } /* '' */
.icon-calendar:before { content: '\e813'; } /* '' */
.icon-stopwatch:before { content: '\e814'; } /* '' */
.icon-lightbulb:before { content: '\e815'; } /* '' */
.icon-contrast:before { content: '\e81c'; } /* '' */
.icon-key:before { content: '\e81a'; } /* '' */
.icon-wine:before { content: '\e816'; } /* '' */
.icon-coffee:before { content: '\e817'; } /* '' */
.icon-beer:before { content: '\e818'; } /* '' */
.icon-chat-alt:before { content: '\e80d'; } /* '' */