.post-edit-link {
  display: inline-block;
  font-size: 12px;
  text-decoration: none;
  background: rgba(0,0,0,0.6);
  color: rgba(255,255,255,0.8) !important;
  padding: 0 10px;
  line-height: 100%;
  vertical-align: middle;
  height: 20px;
  line-height: 20px;
  border-radius: 10px;
  text-shadow: 0 0 1px rgba(0,0,0,0.8);
  box-shadow: -1px -1px 0 rgba(255,255,255,0.15);
  opacity: 0;
  text-transform: none;
  letter-spacing: 0;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-transition: opacity 250ms linear;
  -webkit-transition: opacity 250ms linear;
  transition: opacity 250ms linear;
}
li.product:hover .post-edit-link,
.block-type-link_to_post:hover .post-edit-link,
.block-type-featured-posts:hover .post-edit-link,
.block-type-content:hover .post-edit-link {
  opacity: .6;
}
.widget-area img {
  max-width: 100%;
  height: auto;
}
