@import multiple '../../theme.config';
.ui.ad {
  display: block;
  overflow: ;
  margin: ;
}
.ui.ad:first-child {
  margin: 0em;
}
.ui.ad:last-child {
  margin: 0em;
}
.ui.ad iframe {
  margin: 0em;
  padding: 0em;
  border: none;
  overflow: hidden;
}
.ui.leaderboard.ad {
  width: 728px;
  height: 90px;
}
.ui[class*="medium rectangle"].ad {
  width: 300px;
  height: 250px;
}
.ui[class*="large rectangle"].ad {
  width: 336px;
  height: 280px;
}
.ui[class*="half page"].ad {
  width: 300px;
  height: 600px;
}
.ui.square.ad {
  width: 250px;
  height: 250px;
}
.ui[class*="small square"].ad {
  width: 200px;
  height: 200px;
}
.ui[class*="small rectangle"].ad {
  width: 180px;
  height: 150px;
}
.ui[class*="vertical rectangle"].ad {
  width: 240px;
  height: 400px;
}
.ui.button.ad {
  width: 120px;
  height: 90px;
}
.ui[class*="square button"].ad {
  width: 125px;
  height: 125px;
}
.ui[class*="small button"].ad {
  width: 120px;
  height: 60px;
}
.ui.skyscraper.ad {
  width: 120px;
  height: 600px;
}
.ui[class*="wide skyscraper"].ad {
  width: 160px;
}
.ui.banner.ad {
  width: 468px;
  height: 60px;
}
.ui[class*="vertical banner"].ad {
  width: 120px;
  height: 240px;
}
.ui[class*="top banner"].ad {
  width: 930px;
  height: 180px;
}
.ui[class*="half banner"].ad {
  width: 234px;
  height: 60px;
}
.ui[class*="large leaderboard"].ad {
  width: 970px;
  height: 90px;
}
.ui.billboard.ad {
  width: 970px;
  height: 250px;
}
.ui.panorama.ad {
  width: 980px;
  height: 120px;
}
.ui.netboard.ad {
  width: 580px;
  height: 400px;
}
.ui[class*="large mobile banner"].ad {
  width: 320px;
  height: 100px;
}
.ui[class*="mobile leaderboard"].ad {
  width: 320px;
  height: 50px;
}
.ui.mobile.ad {
  display: none;
}
@media only screen and (max-width: ) {
  .ui.mobile.ad {
    display: block;
  }
}
.ui.centered.ad {
  margin-left: auto;
  margin-right: auto;
}
.ui.test.ad {
  position: relative;
  background: ;
}
.ui.test.ad:after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  text-align: center;
  transform: translateX(-50%) translateY(-50%);
  content: ;
  color: ;
  font-size: ;
  font-weight: ;
}
.ui.mobile.test.ad:after {
  font-size: ;
}
.ui.test.ad[data-text]:after {
  content: attr(data-text);
}
