@import multiple '../../theme.config';
.ui.cards > .card,
.ui.card {
  max-width: 100%;
  position: relative;
  display: ;
  flex-direction: column;
  width: ;
  min-height: ;
  background: ;
  padding: ;
  border: ;
  border-radius: ;
  box-shadow: ;
  transition: ;
  z-index: ;
}
.ui.card {
  margin: ;
}
.ui.cards > .card a,
.ui.card a {
  cursor: pointer;
}
.ui.card:first-child {
  margin-top: 0em;
}
.ui.card:last-child {
  margin-bottom: 0em;
}
.ui.cards {
  display: ;
  margin: ;
  flex-wrap: wrap;
}
.ui.cards > .card {
  display: ;
  margin: ;
  float: ;
}
.ui.cards:after,
.ui.card:after {
  display: block;
  content: ' ';
  height: 0px;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
.ui.cards ~ .ui.cards {
  margin-top: ;
}
.ui.cards > .card > :first-child,
.ui.card > :first-child {
  border-radius:   0em 0em !important;
  border-top: none !important;
}
.ui.cards > .card > :last-child,
.ui.card > :last-child {
  border-radius: 0em 0em   !important;
}
.ui.cards > .card > :only-child,
.ui.card > :only-child {
  border-radius:  !important;
}
.ui.cards > .card > .image,
.ui.card > .image {
  position: relative;
  display: block;
  flex: 0 0 auto;
  padding: ;
  background: ;
}
.ui.cards > .card > .image > img,
.ui.card > .image > img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: inherit;
}
.ui.cards > .card > .image:not(.ui) > img,
.ui.card > .image:not(.ui) > img {
  border: ;
}
.ui.cards > .card > .content,
.ui.card > .content {
  flex-grow: 1;
  border: ;
  border-top: ;
  background: ;
  margin: ;
  padding: ;
  box-shadow: ;
  font-size: ;
  border-radius: ;
}
.ui.cards > .card > .content:after,
.ui.card > .content:after {
  display: block;
  content: ' ';
  height: 0px;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
.ui.cards > .card > .content > .header,
.ui.card > .content > .header {
  display: block;
  margin: ;
  font-family: ;
  color: ;
}
.ui.cards > .card > .content > .header:not(.ui),
.ui.card > .content > .header:not(.ui) {
  font-weight: ;
  font-size: ;
  margin-top: ;
  line-height: ;
}
.ui.cards > .card > .content > .meta + .description,
.ui.cards > .card > .content > .header + .description,
.ui.card > .content > .meta + .description,
.ui.card > .content > .header + .description {
  margin-top: ;
}
.ui.cards > .card  [class*="left floated"],
.ui.card [class*="left floated"] {
  float: left;
}
.ui.cards > .card [class*="right floated"],
.ui.card [class*="right floated"] {
  float: right;
}
.ui.cards > .card  [class*="left aligned"],
.ui.card [class*="left aligned"] {
  text-align: left;
}
.ui.cards > .card [class*="center aligned"],
.ui.card [class*="center aligned"] {
  text-align: center;
}
.ui.cards > .card [class*="right aligned"],
.ui.card [class*="right aligned"] {
  text-align: right;
}
.ui.cards > .card .content img,
.ui.card .content img {
  display: inline-block;
  vertical-align: ;
  width: ;
}
.ui.cards > .card img.avatar,
.ui.cards > .card .avatar img,
.ui.card img.avatar,
.ui.card .avatar img {
  width: ;
  height: ;
  border-radius: ;
}
.ui.cards > .card > .content > .description,
.ui.card > .content > .description {
  clear: both;
  color: ;
}
.ui.cards > .card > .content p,
.ui.card > .content p {
  margin: 0em 0em ;
}
.ui.cards > .card > .content p:last-child,
.ui.card > .content p:last-child {
  margin-bottom: 0em;
}
.ui.cards > .card .meta,
.ui.card .meta {
  font-size: ;
  color: ;
}
.ui.cards > .card .meta *,
.ui.card .meta * {
  margin-right: ;
}
.ui.cards > .card .meta :last-child,
.ui.card .meta :last-child {
  margin-right: 0em;
}
.ui.cards > .card .meta [class*="right floated"],
.ui.card .meta [class*="right floated"] {
  margin-right: 0em;
  margin-left: ;
}
.ui.cards > .card > .content a:not(.ui),
.ui.card > .content a:not(.ui) {
  color: ;
  transition: ;
}
.ui.cards > .card > .content a:not(.ui):hover,
.ui.card > .content a:not(.ui):hover {
  color: ;
}
.ui.cards > .card > .content > a.header,
.ui.card > .content > a.header {
  color: ;
}
.ui.cards > .card > .content > a.header:hover,
.ui.card > .content > a.header:hover {
  color: ;
}
.ui.cards > .card .meta > a:not(.ui),
.ui.card .meta > a:not(.ui) {
  color: ;
}
.ui.cards > .card .meta > a:not(.ui):hover,
.ui.card .meta > a:not(.ui):hover {
  color: ;
}
.ui.cards > .card > .buttons,
.ui.card > .buttons,
.ui.cards > .card > .button,
.ui.card > .button {
  margin: ;
  width: ;
}
.ui.cards > .card .dimmer,
.ui.card .dimmer {
  background-color: ;
  z-index: ;
}
.ui.cards > .card > .content .star.icon,
.ui.card > .content .star.icon {
  cursor: pointer;
  opacity: ;
  transition: ;
}
.ui.cards > .card > .content .star.icon:hover,
.ui.card > .content .star.icon:hover {
  opacity: ;
  color: ;
}
.ui.cards > .card > .content .active.star.icon,
.ui.card > .content .active.star.icon {
  color: ;
}
.ui.cards > .card > .content .like.icon,
.ui.card > .content .like.icon {
  cursor: pointer;
  opacity: ;
  transition: ;
}
.ui.cards > .card > .content .like.icon:hover,
.ui.card > .content .like.icon:hover {
  opacity: ;
  color: ;
}
.ui.cards > .card > .content .active.like.icon,
.ui.card > .content .active.like.icon {
  color: ;
}
.ui.cards > .card > .extra,
.ui.card > .extra {
  max-width: 100%;
  min-height: 0em !important;
  flex-grow: 0;
  border-top:  !important;
  position: ;
  background: ;
  width: ;
  margin: ;
  padding: ;
  top: ;
  left: ;
  color: ;
  box-shadow: ;
  transition: ;
}
.ui.cards > .card > .extra a:not(.ui),
.ui.card > .extra a:not(.ui) {
  color: ;
}
.ui.cards > .card > .extra a:not(.ui):hover,
.ui.card > .extra a:not(.ui):hover {
  color: ;
}
.ui.centered.cards {
  justify-content: center;
}
.ui.centered.card {
  margin-left: auto;
  margin-right: auto;
}
.ui.fluid.card {
  width: 100%;
  max-width: 9999px;
}
.ui.cards a.card,
.ui.link.cards .card,
a.ui.card,
.ui.link.card {
  transform: none;
}
.ui.cards a.card:hover,
.ui.link.cards .card:hover,
a.ui.card:hover,
.ui.link.card:hover {
  cursor: pointer;
  z-index: ;
  background: ;
  border: ;
  box-shadow: ;
  transform: ;
}
.ui.red.cards > .card,
.ui.cards > .red.card,
.ui.red.card {
  box-shadow: , 0px  0px 0px , ;
}
.ui.red.cards > .card:hover,
.ui.cards > .red.card:hover,
.ui.red.card:hover {
  box-shadow: , 0px  0px 0px , ;
}
.ui.orange.cards > .card,
.ui.cards > .orange.card,
.ui.orange.card {
  box-shadow: , 0px  0px 0px , ;
}
.ui.orange.cards > .card:hover,
.ui.cards > .orange.card:hover,
.ui.orange.card:hover {
  box-shadow: , 0px  0px 0px , ;
}
.ui.yellow.cards > .card,
.ui.cards > .yellow.card,
.ui.yellow.card {
  box-shadow: , 0px  0px 0px , ;
}
.ui.yellow.cards > .card:hover,
.ui.cards > .yellow.card:hover,
.ui.yellow.card:hover {
  box-shadow: , 0px  0px 0px , ;
}
.ui.olive.cards > .card,
.ui.cards > .olive.card,
.ui.olive.card {
  box-shadow: , 0px  0px 0px , ;
}
.ui.olive.cards > .card:hover,
.ui.cards > .olive.card:hover,
.ui.olive.card:hover {
  box-shadow: , 0px  0px 0px , ;
}
.ui.green.cards > .card,
.ui.cards > .green.card,
.ui.green.card {
  box-shadow: , 0px  0px 0px , ;
}
.ui.green.cards > .card:hover,
.ui.cards > .green.card:hover,
.ui.green.card:hover {
  box-shadow: , 0px  0px 0px , ;
}
.ui.teal.cards > .card,
.ui.cards > .teal.card,
.ui.teal.card {
  box-shadow: , 0px  0px 0px , ;
}
.ui.teal.cards > .card:hover,
.ui.cards > .teal.card:hover,
.ui.teal.card:hover {
  box-shadow: , 0px  0px 0px , ;
}
.ui.blue.cards > .card,
.ui.cards > .blue.card,
.ui.blue.card {
  box-shadow: , 0px  0px 0px , ;
}
.ui.blue.cards > .card:hover,
.ui.cards > .blue.card:hover,
.ui.blue.card:hover {
  box-shadow: , 0px  0px 0px , ;
}
.ui.violet.cards > .card,
.ui.cards > .violet.card,
.ui.violet.card {
  box-shadow: , 0px  0px 0px , ;
}
.ui.violet.cards > .card:hover,
.ui.cards > .violet.card:hover,
.ui.violet.card:hover {
  box-shadow: , 0px  0px 0px , ;
}
.ui.purple.cards > .card,
.ui.cards > .purple.card,
.ui.purple.card {
  box-shadow: , 0px  0px 0px , ;
}
.ui.purple.cards > .card:hover,
.ui.cards > .purple.card:hover,
.ui.purple.card:hover {
  box-shadow: , 0px  0px 0px , ;
}
.ui.pink.cards > .card,
.ui.cards > .pink.card,
.ui.pink.card {
  box-shadow: , 0px  0px 0px , ;
}
.ui.pink.cards > .card:hover,
.ui.cards > .pink.card:hover,
.ui.pink.card:hover {
  box-shadow: , 0px  0px 0px , ;
}
.ui.brown.cards > .card,
.ui.cards > .brown.card,
.ui.brown.card {
  box-shadow: , 0px  0px 0px , ;
}
.ui.brown.cards > .card:hover,
.ui.cards > .brown.card:hover,
.ui.brown.card:hover {
  box-shadow: , 0px  0px 0px , ;
}
.ui.grey.cards > .card,
.ui.cards > .grey.card,
.ui.grey.card {
  box-shadow: , 0px  0px 0px , ;
}
.ui.grey.cards > .card:hover,
.ui.cards > .grey.card:hover,
.ui.grey.card:hover {
  box-shadow: , 0px  0px 0px , ;
}
.ui.black.cards > .card,
.ui.cards > .black.card,
.ui.black.card {
  box-shadow: , 0px  0px 0px , ;
}
.ui.black.cards > .card:hover,
.ui.cards > .black.card:hover,
.ui.black.card:hover {
  box-shadow: , 0px  0px 0px , ;
}
.ui.one.cards {
  margin-left: ;
  margin-right: ;
}
.ui.one.cards > .card {
  width: ;
}
.ui.two.cards {
  margin-left: ;
  margin-right: ;
}
.ui.two.cards > .card {
  width: ;
  margin-left: ;
  margin-right: ;
}
.ui.three.cards {
  margin-left: ;
  margin-right: ;
}
.ui.three.cards > .card {
  width: ;
  margin-left: ;
  margin-right: ;
}
.ui.four.cards {
  margin-left: ;
  margin-right: ;
}
.ui.four.cards > .card {
  width: ;
  margin-left: ;
  margin-right: ;
}
.ui.five.cards {
  margin-left: ;
  margin-right: ;
}
.ui.five.cards > .card {
  width: ;
  margin-left: ;
  margin-right: ;
}
.ui.six.cards {
  margin-left: ;
  margin-right: ;
}
.ui.six.cards > .card {
  width: ;
  margin-left: ;
  margin-right: ;
}
.ui.seven.cards {
  margin-left: ;
  margin-right: ;
}
.ui.seven.cards > .card {
  width: ;
  margin-left: ;
  margin-right: ;
}
.ui.eight.cards {
  margin-left: ;
  margin-right: ;
}
.ui.eight.cards > .card {
  width: ;
  margin-left: ;
  margin-right: ;
  font-size: 11px;
}
.ui.nine.cards {
  margin-left: ;
  margin-right: ;
}
.ui.nine.cards > .card {
  width: ;
  margin-left: ;
  margin-right: ;
  font-size: 10px;
}
.ui.ten.cards {
  margin-left: ;
  margin-right: ;
}
.ui.ten.cards > .card {
  width: ;
  margin-left: ;
  margin-right: ;
}
@media only screen and (max-width: ) {
  .ui.two.doubling.cards {
    margin-left: ;
    margin-right: ;
  }
  .ui.two.doubling.cards .card {
    width: ;
    margin-left: ;
    margin-right: ;
  }
  .ui.three.doubling.cards {
    margin-left: ;
    margin-right: ;
  }
  .ui.three.doubling.cards .card {
    width: ;
    margin-left: ;
    margin-right: ;
  }
  .ui.four.doubling.cards {
    margin-left: ;
    margin-right: ;
  }
  .ui.four.doubling.cards .card {
    width: ;
    margin-left: ;
    margin-right: ;
  }
  .ui.five.doubling.cards {
    margin-left: ;
    margin-right: ;
  }
  .ui.five.doubling.cards .card {
    width: ;
    margin-left: ;
    margin-right: ;
  }
  .ui.six.doubling.cards {
    margin-left: ;
    margin-right: ;
  }
  .ui.six.doubling.cards .card {
    width: ;
    margin-left: ;
    margin-right: ;
  }
  .ui.seven.doubling.cards {
    margin-left: ;
    margin-right: ;
  }
  .ui.seven.doubling.cards .card {
    width: ;
    margin-left: ;
    margin-right: ;
  }
  .ui.eight.doubling.cards {
    margin-left: ;
    margin-right: ;
  }
  .ui.eight.doubling.cards .card {
    width: ;
    margin-left: ;
    margin-right: ;
  }
  .ui.nine.doubling.cards {
    margin-left: ;
    margin-right: ;
  }
  .ui.nine.doubling.cards .card {
    width: ;
    margin-left: ;
    margin-right: ;
  }
  .ui.ten.doubling.cards {
    margin-left: ;
    margin-right: ;
  }
  .ui.ten.doubling.cards .card {
    width: ;
    margin-left: ;
    margin-right: ;
  }
}
@media only screen and (min-width: ) and (max-width: ) {
  .ui.two.doubling.cards {
    margin-left: ;
    margin-right: ;
  }
  .ui.two.doubling.cards .card {
    width: ;
    margin-left: ;
    margin-right: ;
  }
  .ui.three.doubling.cards {
    margin-left: ;
    margin-right: ;
  }
  .ui.three.doubling.cards .card {
    width: ;
    margin-left: ;
    margin-right: ;
  }
  .ui.four.doubling.cards {
    margin-left: ;
    margin-right: ;
  }
  .ui.four.doubling.cards .card {
    width: ;
    margin-left: ;
    margin-right: ;
  }
  .ui.five.doubling.cards {
    margin-left: ;
    margin-right: ;
  }
  .ui.five.doubling.cards .card {
    width: ;
    margin-left: ;
    margin-right: ;
  }
  .ui.six.doubling.cards {
    margin-left: ;
    margin-right: ;
  }
  .ui.six.doubling.cards .card {
    width: ;
    margin-left: ;
    margin-right: ;
  }
  .ui.eight.doubling.cards {
    margin-left: ;
    margin-right: ;
  }
  .ui.eight.doubling.cards .card {
    width: ;
    margin-left: ;
    margin-right: ;
  }
  .ui.eight.doubling.cards {
    margin-left: ;
    margin-right: ;
  }
  .ui.eight.doubling.cards .card {
    width: ;
    margin-left: ;
    margin-right: ;
  }
  .ui.nine.doubling.cards {
    margin-left: ;
    margin-right: ;
  }
  .ui.nine.doubling.cards .card {
    width: ;
    margin-left: ;
    margin-right: ;
  }
  .ui.ten.doubling.cards {
    margin-left: ;
    margin-right: ;
  }
  .ui.ten.doubling.cards .card {
    width: ;
    margin-left: ;
    margin-right: ;
  }
}
@media only screen and (max-width: ) {
  .ui.stackable.cards {
    display: block !important;
  }
  .ui.stackable.cards .card:first-child {
    margin-top: 0em !important;
  }
  .ui.stackable.cards > .card {
    display: block !important;
    height: auto !important;
    margin:  ;
    padding: 0 !important;
    width:  !important;
  }
}
.ui.cards > .card {
  font-size: ;
}
