@import multiple '../../theme.config';
.ui.feed {
  margin: ;
}
.ui.feed:first-child {
  margin-top: 0em;
}
.ui.feed:last-child {
  margin-bottom: 0em;
}
.ui.feed > .event {
  display: flex;
  flex-direction: row;
  width: ;
  padding: ;
  margin: ;
  background: ;
  border-top: ;
}
.ui.feed > .event:first-child {
  border-top: 0px;
  padding-top: 0em;
}
.ui.feed > .event:last-child {
  padding-bottom: 0em;
}
.ui.feed > .event > .label {
  display: block;
  flex: 0 0 auto;
  width: ;
  height: ;
  align-self: ;
  text-align: ;
}
.ui.feed > .event > .label .icon {
  opacity: ;
  font-size: ;
  width: ;
  padding: ;
  background: ;
  border: ;
  border-radius: ;
  color: ;
}
.ui.feed > .event > .label img {
  width: ;
  height: ;
  border-radius: ;
}
.ui.feed > .event > .label + .content {
  margin: ;
}
.ui.feed > .event > .content {
  display: block;
  flex: 1 1 auto;
  align-self: ;
  text-align: ;
  word-wrap: ;
}
.ui.feed > .event:last-child > .content {
  padding-bottom: ;
}
.ui.feed > .event > .content a {
  cursor: pointer;
}
.ui.feed > .event > .content .date {
  margin: ;
  padding: ;
  color: ;
  font-weight: ;
  font-size: ;
  font-style: ;
}
.ui.feed > .event > .content .summary {
  margin: ;
  font-size: ;
  font-weight: ;
  color: ;
}
.ui.feed > .event > .content .summary img {
  display: inline-block;
  width: ;
  height: ;
  margin: ;
  border-radius: ;
  vertical-align: ;
}
.ui.feed > .event > .content .user {
  display: inline-block;
  font-weight: ;
  margin-right: ;
  vertical-align: baseline;
}
.ui.feed > .event > .content .user img {
  margin: ;
  width: ;
  height: ;
  vertical-align: ;
}
.ui.feed > .event > .content .summary > .date {
  display: ;
  float: ;
  font-weight: ;
  font-size: ;
  font-style: ;
  margin: ;
  padding: ;
  color: ;
}
.ui.feed > .event > .content .extra {
  margin: ;
  background: ;
  padding: ;
  color: ;
}
.ui.feed > .event > .content .extra.images img {
  display: inline-block;
  margin: ;
  width: ;
}
.ui.feed > .event > .content .extra.text {
  padding: ;
  border-left: ;
  font-size: ;
  max-width: ;
  line-height: ;
}
.ui.feed > .event > .content .meta {
  display: ;
  font-size: ;
  margin: ;
  background: ;
  border: ;
  border-radius: ;
  box-shadow: ;
  padding: ;
  color: ;
}
.ui.feed > .event > .content .meta > * {
  position: relative;
  margin-left: ;
}
.ui.feed > .event > .content .meta > *:after {
  content: ;
  color: ;
  top: 0em;
  left: ;
  opacity: 1;
  position: absolute;
  vertical-align: top;
}
.ui.feed > .event > .content .meta .like {
  color: ;
  transition: ;
}
.ui.feed > .event > .content .meta .like:hover .icon {
  color: ;
}
.ui.feed > .event > .content .meta .active.like .icon {
  color: ;
}
.ui.feed > .event > .content .meta > :first-child {
  margin-left: 0em;
}
.ui.feed > .event > .content .meta > :first-child::after {
  display: none;
}
.ui.feed > .event > .content .meta a,
.ui.feed > .event > .content .meta > .icon {
  cursor: ;
  opacity: ;
  color: ;
  transition: ;
}
.ui.feed > .event > .content .meta a:hover,
.ui.feed > .event > .content .meta a:hover .icon,
.ui.feed > .event > .content .meta > .icon:hover {
  color: ;
}
.ui.small.feed {
  font-size: ;
}
.ui.feed {
  font-size: ;
}
.ui.large.feed {
  font-size: ;
}
