@import multiple '../../theme.config';
.ui.statistic {
  display: inline-flex;
  flex-direction: column;
  margin: ;
  max-width: ;
}
.ui.statistic + .ui.statistic {
  margin: 0em 0em 0em ;
}
.ui.statistic:first-child {
  margin-top: 0em;
}
.ui.statistic:last-child {
  margin-bottom: 0em;
}
.ui.statistics {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
.ui.statistics > .statistic {
  display: inline-flex;
  flex: 0 1 auto;
  flex-direction: column;
  margin: ;
  max-width: ;
}
.ui.statistics {
  display: flex;
  margin: ;
}
.ui.statistics:after {
  display: block;
  content: ' ';
  height: 0px;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
.ui.statistics:first-child {
  margin-top: 0em;
}
.ui.statistics:last-child {
  margin-bottom: 0em;
}
.ui.statistics .statistic > .value,
.ui.statistic > .value {
  font-family: ;
  font-size: ;
  font-weight: ;
  line-height: ;
  color: ;
  text-transform: ;
  text-align: ;
}
.ui.statistics .statistic > .label,
.ui.statistic > .label {
  font-family: ;
  font-size: ;
  font-weight: ;
  color: ;
  text-transform: ;
  text-align: ;
}
.ui.statistics .statistic > .label ~ .value,
.ui.statistic > .label ~ .value {
  margin-top: ;
}
.ui.statistics .statistic > .value ~ .label,
.ui.statistic > .value ~ .label {
  margin-top: ;
}
.ui.statistics .statistic > .value .icon,
.ui.statistic > .value .icon {
  opacity: 1;
  width: auto;
  margin: 0em;
}
.ui.statistics .statistic > .text.value,
.ui.statistic > .text.value {
  line-height: ;
  min-height: ;
  font-weight: ;
  text-align: center;
}
.ui.statistics .statistic > .text.value + .label,
.ui.statistic > .text.value + .label {
  text-align: center;
}
.ui.statistics .statistic > .value img,
.ui.statistic > .value img {
  max-height: ;
  vertical-align: ;
}
.ui.ten.statistics {
  margin: ;
}
.ui.ten.statistics .statistic {
  min-width: ;
  margin: ;
}
.ui.nine.statistics {
  margin: ;
}
.ui.nine.statistics .statistic {
  min-width: ;
  margin: ;
}
.ui.eight.statistics {
  margin: ;
}
.ui.eight.statistics .statistic {
  min-width: ;
  margin: ;
}
.ui.seven.statistics {
  margin: ;
}
.ui.seven.statistics .statistic {
  min-width: ;
  margin: ;
}
.ui.six.statistics {
  margin: ;
}
.ui.six.statistics .statistic {
  min-width: ;
  margin: ;
}
.ui.five.statistics {
  margin: ;
}
.ui.five.statistics .statistic {
  min-width: ;
  margin: ;
}
.ui.four.statistics {
  margin: ;
}
.ui.four.statistics .statistic {
  min-width: ;
  margin: ;
}
.ui.three.statistics {
  margin: ;
}
.ui.three.statistics .statistic {
  min-width: ;
  margin: ;
}
.ui.two.statistics {
  margin: ;
}
.ui.two.statistics .statistic {
  min-width: ;
  margin: ;
}
.ui.one.statistics {
  margin: ;
}
.ui.one.statistics .statistic {
  min-width: ;
  margin: ;
}
.ui.horizontal.statistic {
  flex-direction: row;
  align-items: center;
}
.ui.horizontal.statistics {
  flex-direction: column;
  margin: 0em;
  max-width: none;
}
.ui.horizontal.statistics .statistic {
  flex-direction: row;
  align-items: center;
  max-width: none;
  margin: ;
}
.ui.horizontal.statistic > .text.value,
.ui.horizontal.statistics > .statistic > .text.value {
  min-height: 0em !important;
}
.ui.horizontal.statistics .statistic > .value .icon,
.ui.horizontal.statistic > .value .icon {
  width: ;
}
.ui.horizontal.statistics .statistic > .value,
.ui.horizontal.statistic > .value {
  display: inline-block;
  vertical-align: middle;
}
.ui.horizontal.statistics .statistic > .label,
.ui.horizontal.statistic > .label {
  display: inline-block;
  vertical-align: middle;
  margin: 0em 0em 0em ;
}
.ui.red.statistics .statistic > .value,
.ui.statistics .red.statistic > .value,
.ui.red.statistic > .value {
  color: ;
}
.ui.orange.statistics .statistic > .value,
.ui.statistics .orange.statistic > .value,
.ui.orange.statistic > .value {
  color: ;
}
.ui.yellow.statistics .statistic > .value,
.ui.statistics .yellow.statistic > .value,
.ui.yellow.statistic > .value {
  color: ;
}
.ui.olive.statistics .statistic > .value,
.ui.statistics .olive.statistic > .value,
.ui.olive.statistic > .value {
  color: ;
}
.ui.green.statistics .statistic > .value,
.ui.statistics .green.statistic > .value,
.ui.green.statistic > .value {
  color: ;
}
.ui.teal.statistics .statistic > .value,
.ui.statistics .teal.statistic > .value,
.ui.teal.statistic > .value {
  color: ;
}
.ui.blue.statistics .statistic > .value,
.ui.statistics .blue.statistic > .value,
.ui.blue.statistic > .value {
  color: ;
}
.ui.violet.statistics .statistic > .value,
.ui.statistics .violet.statistic > .value,
.ui.violet.statistic > .value {
  color: ;
}
.ui.purple.statistics .statistic > .value,
.ui.statistics .purple.statistic > .value,
.ui.purple.statistic > .value {
  color: ;
}
.ui.pink.statistics .statistic > .value,
.ui.statistics .pink.statistic > .value,
.ui.pink.statistic > .value {
  color: ;
}
.ui.brown.statistics .statistic > .value,
.ui.statistics .brown.statistic > .value,
.ui.brown.statistic > .value {
  color: ;
}
.ui.grey.statistics .statistic > .value,
.ui.statistics .grey.statistic > .value,
.ui.grey.statistic > .value {
  color: ;
}
.ui.inverted.statistics .statistic > .value,
.ui.inverted.statistic .value {
  color: ;
}
.ui.inverted.statistics .statistic > .label,
.ui.inverted.statistic .label {
  color: ;
}
.ui.inverted.red.statistics .statistic > .value,
.ui.statistics .inverted.red.statistic > .value,
.ui.inverted.red.statistic > .value {
  color: ;
}
.ui.inverted.orange.statistics .statistic > .value,
.ui.statistics .inverted.orange.statistic > .value,
.ui.inverted.orange.statistic > .value {
  color: ;
}
.ui.inverted.yellow.statistics .statistic > .value,
.ui.statistics .inverted.yellow.statistic > .value,
.ui.inverted.yellow.statistic > .value {
  color: ;
}
.ui.inverted.olive.statistics .statistic > .value,
.ui.statistics .inverted.olive.statistic > .value,
.ui.inverted.olive.statistic > .value {
  color: ;
}
.ui.inverted.green.statistics .statistic > .value,
.ui.statistics .inverted.green.statistic > .value,
.ui.inverted.green.statistic > .value {
  color: ;
}
.ui.inverted.teal.statistics .statistic > .value,
.ui.statistics .inverted.teal.statistic > .value,
.ui.inverted.teal.statistic > .value {
  color: ;
}
.ui.inverted.blue.statistics .statistic > .value,
.ui.statistics .inverted.blue.statistic > .value,
.ui.inverted.blue.statistic > .value {
  color: ;
}
.ui.inverted.violet.statistics .statistic > .value,
.ui.statistics .inverted.violet.statistic > .value,
.ui.inverted.violet.statistic > .value {
  color: ;
}
.ui.inverted.purple.statistics .statistic > .value,
.ui.statistics .inverted.purple.statistic > .value,
.ui.inverted.purple.statistic > .value {
  color: ;
}
.ui.inverted.pink.statistics .statistic > .value,
.ui.statistics .inverted.pink.statistic > .value,
.ui.inverted.pink.statistic > .value {
  color: ;
}
.ui.inverted.brown.statistics .statistic > .value,
.ui.statistics .inverted.brown.statistic > .value,
.ui.inverted.brown.statistic > .value {
  color: ;
}
.ui.inverted.grey.statistics .statistic > .value,
.ui.statistics .inverted.grey.statistic > .value,
.ui.inverted.grey.statistic > .value {
  color: ;
}
.ui[class*="left floated"].statistic {
  float: left;
  margin: ;
}
.ui[class*="right floated"].statistic {
  float: right;
  margin: ;
}
.ui.floated.statistic:last-child {
  margin-bottom: 0em;
}
.ui.mini.statistics .statistic > .value,
.ui.mini.statistic > .value {
  font-size: ;
}
.ui.mini.horizontal.statistics .statistic > .value,
.ui.mini.horizontal.statistic > .value {
  font-size: ;
}
.ui.mini.statistics .statistic > .text.value,
.ui.mini.statistic > .text.value {
  font-size: ;
}
.ui.tiny.statistics .statistic > .value,
.ui.tiny.statistic > .value {
  font-size: ;
}
.ui.tiny.horizontal.statistics .statistic > .value,
.ui.tiny.horizontal.statistic > .value {
  font-size: ;
}
.ui.tiny.statistics .statistic > .text.value,
.ui.tiny.statistic > .text.value {
  font-size: ;
}
.ui.small.statistics .statistic > .value,
.ui.small.statistic > .value {
  font-size: ;
}
.ui.small.horizontal.statistics .statistic > .value,
.ui.small.horizontal.statistic > .value {
  font-size: ;
}
.ui.small.statistics .statistic > .text.value,
.ui.small.statistic > .text.value {
  font-size: ;
}
.ui.statistics .statistic > .value,
.ui.statistic > .value {
  font-size: ;
}
.ui.horizontal.statistics .statistic > .value,
.ui.horizontal.statistic > .value {
  font-size: ;
}
.ui.statistics .statistic > .text.value,
.ui.statistic > .text.value {
  font-size: ;
}
.ui.large.statistics .statistic > .value,
.ui.large.statistic > .value {
  font-size: ;
}
.ui.large.horizontal.statistics .statistic > .value,
.ui.large.horizontal.statistic > .value {
  font-size: ;
}
.ui.large.statistics .statistic > .text.value,
.ui.large.statistic > .text.value {
  font-size: ;
}
.ui.huge.statistics .statistic > .value,
.ui.huge.statistic > .value {
  font-size: ;
}
.ui.huge.horizontal.statistics .statistic > .value,
.ui.huge.horizontal.statistic > .value {
  font-size: ;
}
.ui.huge.statistics .statistic > .text.value,
.ui.huge.statistic > .text.value {
  font-size: ;
}
